/* this stylesheet focuses on the app menu.
(the menu opened by the PanelUI hamburger button at the far right end of the toolbar) */

/* add icons to non-iconized appmenu items */
.subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-icon {
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
}

#appMenu-save-file-button {
    list-style-image: url(chrome://userchrome/content/skin/save.svg);
}

#appMenu-save-file-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-open-file-button {
    list-style-image: url(chrome://userchrome/content/skin/open.svg);
}

#appMenu-open-file-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-more-button {
    list-style-image: url(chrome://userchrome/content/devtools/tool-application.svg);
}

#appMenu-more-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-developer-button {
    list-style-image: url(chrome://userchrome/content/devtools/tool-webconsole.svg);
}

#appMenu-developer-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-characterencoding-button {
    list-style-image: url(chrome://userchrome/content/skin/characterEncoding.svg);
}

#appMenu-characterencoding-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-workoffline-button {
    list-style-image: url(chrome://userchrome/content/skin/readerMode.svg);
}

#appMenu-workoffline-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-help-button {
    list-style-image: url(chrome://userchrome/content/skin/tip.svg) !important;
}

/* appmenu buttons border radius */
.subviewbutton-back {
    border-radius: 2px !important;
}

#appMenu-multiView .subviewbutton-back .toolbarbutton-icon {
    height: revert !important;
    width: revert !important;
}

#appMenu-multiView .panel-header {
    padding-block: 6px 0 !important;
    padding-inline: 2px !important;
}

#appMenu-multiView .panel-header > h1 {
    font-size: 1.1em !important;
    font-weight: 600 !important;
    margin-block: 0 !important;
}

/* appmenu what's new checkbox */
#panelMenu-toggleWhatsNew {
    fill: currentColor !important;
}

#panelMenu-toggleWhatsNew .checkbox-check {
    background: none !important;
    border-width: 2px !important;
    border-color: rgb(169, 169, 169) !important;
}

#panelMenu-toggleWhatsNew:hover {
    fill: var(--toolbarbutton-icon-fill-attention) !important;
}

#panelMenu-toggleWhatsNew:hover .checkbox-check {
    border-color: var(--toolbarbutton-icon-fill-attention) !important;
}

/* appmenu text encoding */
#PanelUI-characterEncodingView toolbarbutton[checked="true"] {
    color: currentColor !important;
}

/* appmenu disabled buttons */
#appMenu-edit-controls toolbarbutton[disabled="true"] {
    opacity: 0.4 !important;
    color: inherit !important;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"])
    > toolbarbutton {
    border-radius: 3px !important;
}

#appMenu-zoomReduce-button,
#appMenu-zoomEnlarge-button {
    border-radius: 50% !important;
    min-width: 24px !important;
    width: 24px !important;
    height: 24px !important;
}

#appMenu-zoomReset-button {
    border-radius: 100px !important;
    border-color: var(--arrowpanel-dimmed) !important;
    min-height: 20px !important;
    height: 20px !important;
}

#appMenu-zoomReset-button:not([disabled]):is(:hover, :focus) {
    border-color: transparent !important;
}

/* separator between the navbar widgets and the panelUI hamburger button, if you want it */
/* :root:not([uidensity="compact"], [chromehidden~="toolbar"]) #PanelUI-button {
    margin-inline-start: 3px;
    border-inline-start: 1px solid;
    border-image: linear-gradient( transparent 5px, var(--toolbarseparator-color) 5px, var(--toolbarseparator-color) calc(100% - 5px), transparent calc(100% - 5px) );
    border-image-slice: 1;
    padding-inline-start: 3px;
}

:root:not([chromehidden~="toolbar"]) #PanelUI-button {
    border-image-source: linear-gradient(transparent 4px, var(--toolbarseparator-color, hsla(240, 100%, 89%, 0.2)) 40%, var(--toolbarseparator-color, hsla(240, 100%, 89%, 0.2)) 60%, transparent calc(100% - 4px)) !important;
} */

#PanelUI-menu-button {
    padding-inline: var(--toolbarbutton-outer-padding)
        calc(var(--toolbarbutton-outer-padding) + 3px) !important;
}

#PanelUI-menu-button[badge-status=""] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
    display: none !important;
}

#PanelUI-menu-button[badge-status^="update"] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
    background: hsl(125, 81%, 57%) url(chrome://userchrome/content/update-icon-inverted.svg)
        no-repeat center/contain !important;
    background-clip: border-box !important;
    fill: hsl(118, 89%, 24%) !important;
    border: 1px solid transparent !important;
    border-radius: 100% !important;
    -moz-context-properties: fill !important;
    padding: 0 !important;
    margin-inline: auto -4px !important;
    margin-block: -7px auto !important;
}

#PanelUI-menu-button[badge-status^="update"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    fill: transparent !important;
    background-color: hsl(227, 19%, 48%) !important;
}

#PanelUI-menu-button[badge-status^="update"]:is(:hover, [open])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    background-color: hsl(125, 81%, 57%) !important;
    fill: hsl(118, 89%, 24%) !important;
}

.panel-banner-item[notificationid^="update"]::after {
    display: none !important;
}

.panel-banner-item[notificationid^="update"] > .toolbarbutton-icon {
    background: hsl(125, 81%, 57%) url(chrome://userchrome/content/update-icon-inverted.svg)
        no-repeat center/contain !important;
    background-clip: border-box !important;
    fill: hsl(118, 89%, 24%) !important;
    border: 1px solid transparent;
    border-radius: 100% !important;
    -moz-context-properties: fill !important;
    min-width: 16px !important;
    min-height: 16px !important;
    width: unset !important;
    height: unset !important;
    box-sizing: content-box !important;
    padding: 0 !important;
}

.panel-banner-item:is([notificationid="update-available"], [notificationid="update-downloading"])
    > .toolbarbutton-icon,
#PanelUI-menu-button:is([badge-status="update-available"], [badge-status="update-downloading"])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    transform: scaleY(-1);
}

.panel-banner-item[notificationid="update-restart"] > .toolbarbutton-icon,
#PanelUI-menu-button[badge-status="update-restart"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    background: hsl(125, 81%, 57%) url(chrome://userchrome/content/check.svg) no-repeat
        center/contain !important;
    fill: hsl(118, 89%, 24%) !important;
    transform: none !important;
}

.panel-banner-item[notificationid="update-unsupported"] > .toolbarbutton-icon,
#PanelUI-menu-button[badge-status="update-unsupported"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge,
#PanelUI-menu-button[badge-status="update-unsupported"]:is(:hover, [open])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    background: hsl(44, 95%, 60%) url(chrome://userchrome/content/check-partial.svg) no-repeat
        center/contain !important;
    fill: hsl(32, 52%, 35%) !important;
    transform: none !important;
}

#PanelUI-menu-button[badge-status] .toolbarbutton-badge {
    filter: none !important;
}

#PanelUI-menu-button[badge-status="fxa-needs-authentication"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    background: url(chrome://userchrome/content/skin/controlcenter/warning.svg) no-repeat
        center/contain !important;
    stroke: hsl(32, 52%, 35%) !important;
    fill: hsl(44, 95%, 60%) !important;
    -moz-context-properties: fill, stroke !important;
    margin: -7px 0 0 !important;
    margin-inline-end: -6px !important;
}

#PanelUI-menu-button[badge-status="addon-alert"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    background: url(chrome://userchrome/content/material/extension.svg) no-repeat center/contain !important;
    stroke: hsl(32, 52%, 35%) !important;
    fill: hsl(44, 95%, 60%) !important;
    -moz-context-properties: fill, stroke !important;
    margin: -8px 0 0 !important;
    margin-inline-end: -6px !important;
}

#PanelUI-menu-button[badge-status="fxa-needs-authentication"] {
    list-style-image: url(chrome://userchrome/content/skin/menu-triangular-badged.svg) !important;
}

#PanelUI-menu-button[badge-status="addon-alert"],
#PanelUI-menu-button[badge-status="update-unsupported"] {
    list-style-image: url(chrome://userchrome/content/skin/menu-badged.svg) !important;
}

#PanelUI-menu-button[badge-status="addon-alert"]:not(:hover, [open])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    fill: hsl(227, 19%, 48%) !important;
}

#PanelUI-menu-button[badge-status="fxa-needs-authentication"]:not(:hover, [open])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    fill: hsl(227, 19%, 48%) !important;
    stroke: transparent !important;
}

#PanelUI-menu-button[badge-status="extension-new-tab"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge,
#PanelUI-menu-button[badge-status="download-success"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    display: none;
}

@media (-moz-proton) {
    #appMenu-multiView
        :is(.toolbarbutton-1, toolbarbutton.subviewbutton, .navigable.subviewbutton):not([disabled], [open]):focus,
    .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):focus,
    .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"])
        > toolbarbutton:not([disabled], [open]):focus {
        box-shadow: var(--panelview-toolbarbutton-focus-box-shadow);
        background-color: var(--panelview-toolbarbutton-hover-bgcolor) !important;
        color: var(--panelview-toolbarbutton-hover-color) !important;
    }

    #appMenu-multiView
        :is(.toolbarbutton-1, toolbarbutton.subviewbutton, .navigable.subviewbutton):not([disabled], [open]):focus:active,
    .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):focus:active,
    .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"])
        > toolbarbutton:not([disabled], [open]):focus:active {
        background-color: var(--panelview-toolbarbutton-active-bgcolor) !important;
        color: var(--panelview-toolbarbutton-active-color) !important;
    }

    .PanelUI-subView .subviewbutton-nav::after {
        color: var(--panel-shortcut-color) !important;
        fill-opacity: 1 !important;
    }

    /* add icons to non-iconized appmenu items */
    .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-icon {
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
    }

    #appMenu-save-file-button2 {
        list-style-image: url(chrome://userchrome/content/skin/save.svg);
    }

    #appMenu-more-button2 {
        list-style-image: url(chrome://userchrome/content/skin/developer.svg);
    }

    #appMenu-help-button2 {
        list-style-image: url(chrome://userchrome/content/skin/tip.svg);
    }

    #appMenu-new-window-button2 {
        list-style-image: url(chrome://userchrome/content/skin/new-window.svg);
    }

    #appMenu-new-tab-button2 {
        list-style-image: url(chrome://userchrome/content/skin/new-tab.svg);
    }

    #appMenu-new-private-window-button2 {
        list-style-image: url(chrome://userchrome/content/skin/privateBrowsing.svg);
    }

    #appMenu-print-button2 {
        list-style-image: url(chrome://userchrome/content/print.svg);
    }

    #appMenu-passwords-button {
        list-style-image: url(chrome://userchrome/content/skin/login.svg);
    }

    #appMenu-bookmarks-button {
        list-style-image: url(chrome://userchrome/content/skin/bookmark.svg);
    }

    #appMenu-history-button {
        list-style-image: url(chrome://userchrome/content/skin/history.svg);
    }

    #appMenu-downloads-button {
        list-style-image: url(chrome://userchrome/content/downloads/download-icons.svg#arrow-with-bar);
    }

    #appMenu-extensions-themes-button {
        list-style-image: url(chrome://userchrome/content/material/extension.svg);
    }

    #appMenu-find-button2,
    #panelMenu_searchBookmarks {
        list-style-image: url(chrome://userchrome/content/search-glass.svg);
    }

    #panelMenu_bookmarkingTools {
        list-style-image: url(chrome://userchrome/content/skin/developer.svg);
    }

    #panelMenu_viewBookmarksToolbar {
        list-style-image: url(chrome://userchrome/content/skin/bookmarks-toolbar.svg);
    }

    #panelMenuBookmarkThisPage[data-l10n-id="bookmarks-current-tab"] {
        list-style-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg);
    }

    #panelMenuBookmarkThisPage[data-l10n-id="bookmarks-bookmark-edit-panel"] {
        list-style-image: url(chrome://userchrome/content/skin/bookmark.svg);
    }

    #PanelUI-fxa-menu-remotetabs-button,
    #appMenuRecentlyClosedTabs {
        list-style-image: url(chrome://userchrome/content/skin/tab.svg);
    }

    #appMenuClearRecentHistory {
        list-style-image: url(chrome://userchrome/content/skin/forget.svg);
    }

    #appMenuRestoreLastSession {
        list-style-image: url(chrome://userchrome/content/skin/restore-session.svg);
    }

    #appMenuRecentlyClosedWindows {
        list-style-image: url(chrome://userchrome/content/skin/window.svg);
    }

    #appMenu-settings-button {
        list-style-image: url(chrome://userchrome/content/settings.svg);
    }

    #appMenu-advanced-settings-button {
        list-style-image: url(chrome://userchrome/content/material/tune.svg);
    }

    #appmenu-moreTools-button {
        list-style-image: url(chrome://browser/skin/customize.svg);
    }

    #appMenu-quit-button2 {
        list-style-image: url(chrome://userchrome/content/skin/quit.svg);
    }

    /* #appMenu-fxa-label2:before {
        -moz-context-properties: fill, fill-opacity;
        content: "";
        background-image:  var(--avatar-image-url);
        background-size: contain;
        background-position: center;
        border-radius: 16px;
        width: 16px;
        height: 16px;
        fill: currentColor;
        display: -moz-box;
    } */

    #appMenu-fxa-label2:before {
        -moz-context-properties: fill, fill-opacity;
        content: url(chrome://userchrome/content/fxa/avatar-big.svg);
        fill: currentColor;
        display: -moz-box;
    }

    #fxa-manage-account-button {
        padding-block: 0 !important;
        min-height: 43px !important;
        box-sizing: border-box;
    }

    #fxa-manage-account-button #fxa-menu-avatar {
        list-style-image: var(--avatar-image-url);
        display: -moz-inline-box;
        -moz-box-ordinal-group: 2;
        margin-inline-start: 8px;
        height: 28px !important;
        width: 28px !important;
        -moz-context-properties: fill, fill-opacity;
        fill: var(--arrowpanel-color);
    }

    :root[fxastatus="signedin"] #fxa-menu-avatar,
    :root[fxastatus="signedin"] #fxa-avatar-image {
        border-radius: 50%;
    }

    #fxa-menu-header-description,
    #fxa-menu-header-title {
        margin-block: 0 !important;
    }

    #appMenu-save-file-button2 > .toolbarbutton-text,
    #appMenu-more-button2 > .toolbarbutton-text,
    #appMenu-help-button2 > .toolbarbutton-text,
    #appMenu-new-window-button2 > .toolbarbutton-text,
    #appMenu-new-tab-button2 > .toolbarbutton-text,
    #appMenu-new-private-window-button2 > .toolbarbutton-text,
    #appMenu-print-button2 > .toolbarbutton-text,
    #appMenu-passwords-button > .toolbarbutton-text,
    #appMenu-bookmarks-button > .toolbarbutton-text,
    #appMenu-history-button > .toolbarbutton-text,
    #appMenu-downloads-button > .toolbarbutton-text,
    #appMenu-extensions-themes-button > .toolbarbutton-text,
    #appMenu-find-button2 > .toolbarbutton-text,
    #panelMenu_searchBookmarks > .toolbarbutton-text,
    #panelMenuBookmarkThisPage > .toolbarbutton-text,
    #panelMenu_viewBookmarksToolbar > .toolbarbutton-text,
    #panelMenu_bookmarkingTools > .toolbarbutton-text,
    #PanelUI-fxa-menu-remotetabs-button > .toolbarbutton-text,
    #appMenuRecentlyClosedTabs > .toolbarbutton-text,
    #appMenuClearRecentHistory > .toolbarbutton-text,
    #appMenuRestoreLastSession > .toolbarbutton-text,
    #appMenuRecentlyClosedWindows > .toolbarbutton-text,
    #appMenu-settings-button > .toolbarbutton-text,
    #appMenu-advanced-settings-button > .toolbarbutton-text,
    #appmenu-moreTools-button > .toolbarbutton-text,
    #appMenu-quit-button2 > .toolbarbutton-text,
    #appMenu-zoom-controls2 > .toolbarbutton-text,
    #appMenu-fxa-status2 #appMenu-header-description {
        padding-inline-start: 8px !important;
    }

    #appMenu-zoom-controls2::before {
        content: "" !important;
        display: block;
        width: 16px;
        height: 16px;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
        background-image: url(chrome://userchrome/content/fxa/add-device.svg);
    }

    /* appmenu buttons border radius */
    .subviewbutton-back {
        border-radius: var(--arrowpanel-menuitem-border-radius) !important;
    }

    :is(#appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2)
        > .toolbarbutton-icon {
        background-color: unset !important;
        fill: currentColor !important;
        -moz-context-properties: fill, fill-opacity !important;
        padding: 0 !important;
    }

    #appMenu-zoom-controls2
        :is(#appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2, #appMenu-zoomReset-button2):not([disabled], [open], :active):is(:hover, :focus) {
        background-color: var(--arrowpanel-dimmed) !important;
        border-color: transparent !important;
    }

    #appMenu-zoom-controls2
        :is(#appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2, #appMenu-zoomReset-button2):not([disabled]):is([open], :hover:active) {
        background-color: var(--arrowpanel-dimmed-further) !important;
    }

    #appMenu-zoom-controls2 toolbarbutton {
        margin-inline: 4px !important;
        border: 1px solid transparent !important;
        min-height: 20px !important;
        min-width: 20px !important;
        width: unset !important;
        padding: 4px !important;
    }

    #appMenu-zoom-controls2 .toolbarbutton-icon {
        width: 12px !important;
        height: 12px !important;
    }

    #appMenu-zoom-controls2 #appMenu-zoomReset-button2 {
        border: 1px solid var(--desaturate-dimmed) !important;
        height: 20px !important;
        border-radius: 10px !important;
        padding: 0 4px !important;
        height: 20px !important;
        min-height: 20px !important;
    }

    #appMenu-zoom-controls2 #appMenu-zoomReset-button2 .toolbarbutton-text {
        margin-block: 1px !important;
        margin-inline: 6px !important;
        background: none !important;
    }

    #appMenu-fxa-status2 > #appMenu-fxa-label2 {
        padding-block: calc(var(--arrowpanel-menuitem-padding) + 2px) !important;
        font-weight: unset !important;
    }

    #appMenu-fxa-status2 > #appMenu-fxa-label2 label {
        font-weight: unset !important;
    }

    .panel-banner-item {
        padding: calc(var(--arrowpanel-menuitem-padding) + 2px) var(--arrowpanel-menuitem-padding) !important;
        margin: var(--arrowpanel-menuitem-margin) !important;
    }

    #appMenu-proton-update-banner {
        margin: var(--arrowpanel-menuitem-margin) !important;
        margin-bottom: 4px !important;
        -moz-box-align: center !important;
        --panel-banner-item-color: black;
        --panel-banner-item-background-color: hsla(96, 65%, 75%, 0.5);
        --panel-banner-item-hover-bgcolor: hsla(96, 65%, 75%, 0.8);
        --panel-banner-item-active-bgcolor: hsl(96, 65%, 75%);
    }

    :root[lwt-popup-brighttext] #appMenu-proton-update-banner {
        --panel-banner-item-color: #f9f9fa;
        --panel-banner-item-background-color: rgba(48, 230, 11, 0.1);
        --panel-banner-item-hover-bgcolor: rgba(48, 230, 11, 0.15);
        --panel-banner-item-active-bgcolor: rgba(48, 230, 11, 0.2);
    }

    #appMenu-popup toolbarseparator {
        margin-inline: var(--arrowpanel-menuitem-inline-margin) !important;
    }

    #appMenu-fxa-separator {
        opacity: 0.7 !important;
    }

    .addon-banner-item > .toolbarbutton-icon,
    .panel-banner-item > .toolbarbutton-icon {
        -moz-box-ordinal-group: 0 !important;
    }

    .panel-banner-item[notificationid^="update"] > .toolbarbutton-text {
        line-height: 18px !important;
    }
}
