/* add icons to non-iconized appmenu items */
.subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-icon {
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
}

#appMenu-save-file-button {
    list-style-image: url(chrome://userchrome/content/skin/save.svg);
}

#appMenu-save-file-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-open-file-button {
    list-style-image: url(chrome://userchrome/content/skin/open.svg);
}

#appMenu-open-file-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-more-button {
    list-style-image: url(chrome://userchrome/content/devtools/tool-application.svg);
}

#appMenu-more-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-developer-button {
    list-style-image: url(chrome://userchrome/content/devtools/tool-webconsole.svg);
}

#appMenu-developer-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-characterencoding-button {
    list-style-image: url(chrome://userchrome/content/skin/characterEncoding.svg);
}

#appMenu-characterencoding-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-workoffline-button {
    list-style-image: url(chrome://userchrome/content/skin/readerMode.svg);
}

#appMenu-workoffline-button > .toolbarbutton-text {
    padding: 0 !important;
    padding-inline-start: 8px !important;
}

#appMenu-help-button {
    list-style-image: url(chrome://userchrome/content/skin/tip.svg) !important;
}

/* appmenu buttons border radius */
.subviewbutton-back {
    border-radius: 2px !important;
}

/* appmenu what's new checkbox */
#panelMenu-toggleWhatsNew {
    fill: currentColor !important;
}

#panelMenu-toggleWhatsNew .checkbox-check {
    background: none !important;
    border-width: 2px !important;
    border-color: rgb(169, 169, 169) !important;
}

#panelMenu-toggleWhatsNew:hover {
    fill: var(--toolbarbutton-icon-fill-attention) !important;
}

#panelMenu-toggleWhatsNew:hover .checkbox-check {
    border-color: var(--toolbarbutton-icon-fill-attention) !important;
}

/* appmenu text encoding */
#PanelUI-characterEncodingView toolbarbutton[checked="true"] {
    color: currentColor !important;
}

/* appmenu disabled buttons */
#appMenu-edit-controls toolbarbutton[disabled="true"] {
    opacity: 0.4 !important;
    color: inherit !important;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"])
    > toolbarbutton {
    border-radius: 3px !important;
}

#appMenu-zoomReduce-button,
#appMenu-zoomEnlarge-button {
    border-radius: 50% !important;
    min-width: 24px !important;
    width: 24px !important;
    height: 24px !important;
}

#appMenu-zoomReset-button {
    border-radius: 100px !important;
    border-color: var(--arrowpanel-dimmed) !important;
    min-height: 20px !important;
    height: 20px !important;
}

#appMenu-zoomReset-button:not([disabled]):is(:hover, :focus) {
    border-color: transparent !important;
}

/* separator between the navbar widgets and the panelUI hamburger button, if you want it */
/* :root:not([uidensity="compact"], [chromehidden~="toolbar"]) #PanelUI-button {
    margin-inline-start: 3px;
    border-inline-start: 1px solid;
    border-image: linear-gradient( transparent 5px, var(--toolbarseparator-color) 5px, var(--toolbarseparator-color) calc(100% - 5px), transparent calc(100% - 5px) );
    border-image-slice: 1;
    padding-inline-start: 3px;
}

:root:not([chromehidden~="toolbar"]) #PanelUI-button {
    border-image-source: linear-gradient(transparent 4px, var(--toolbarseparator-color, hsla(240, 100%, 89%, 0.2)) 40%, var(--toolbarseparator-color, hsla(240, 100%, 89%, 0.2)) 60%, transparent calc(100% - 4px)) !important;
} */

#PanelUI-menu-button {
    padding-inline: var(--toolbarbutton-outer-padding) calc(var(--toolbarbutton-outer-padding) * 2) !important;
}

#PanelUI-menu-button[badge-status=""] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
    display: none !important;
}

#PanelUI-menu-button[badge-status^="update"] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
    background: var(--update-badge-bg)
        url("data:image/svg+xml;utf8,<svg fill='context-fill' fill-opacity='context-fill-opacity' stroke='context-stroke' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'><path d='M7.707 3.293l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L4 2.414l2.293 2.293a.997.997 0 001.414 0 1 1 0 000-1.414z'/></svg>")
        no-repeat center !important;
    fill: transparent !important;
    background-size: 72% !important;
    -moz-context-properties: fill !important;
    padding: 0 !important;
}

#PanelUI-menu-button[badge-status^="addon"] > .toolbarbutton-badge-stack > .toolbarbutton-badge,
#PanelUI-menu-button[badge-status^="extension"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    display: none !important;
    background: var(--update-badge-bg)
        url(chrome://userchrome/content/skin/addon-install-installed.svg) !important;
    background-color: transparent !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    box-shadow: none !important;
    width: 11.5px !important;
    min-width: 0px !important;
    height: 12px !important;
    margin: -6px 0 0 !important;
    margin-inline-end: -5px !important;
    stroke: transparent !important;
    fill: currentColor !important;
    -moz-context-properties: fill, stroke !important;
}

#PanelUI-menu-button[badge-status^="update"]:is(:hover, [open])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    fill: var(--update-badge-color) !important;
}

.panel-banner-item[notificationid^="update"]::after {
    background: var(--update-badge-bg)
        url("data:image/svg+xml;utf8,<svg fill='context-fill' fill-opacity='context-fill-opacity' stroke='context-stroke' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'><path d='M7.707 3.293l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L4 2.414l2.293 2.293a.997.997 0 001.414 0 1 1 0 000-1.414z'/></svg>")
        no-repeat center !important;
    fill: var(--update-badge-color) !important;
    background-size: 72% !important;
    background-position: 45% 50% !important;
    -moz-context-properties: fill !important;
    padding: 0 !important;
}

#PanelUI-menu-button[badge-status]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    filter: brightness(0.65) sepia(1) hue-rotate(185deg) !important;
}

#PanelUI-menu-button[badge-status^="update"]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    /*     filter: brightness(0.65) sepia(1) hue-rotate(185deg) !important; */
    filter: none !important;
    background-color: var(--update-badge-inactive) !important;
}

#PanelUI-menu-button[badge-status^="update"]:is(:hover, [open])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge:-moz-window-inactive {
    background-color: var(--update-badge-bg) !important;
}

@supports (-moz-bool-pref("browser.proton.enabled")) {
    #appMenu-multiView
        :is(.toolbarbutton-1, toolbarbutton.subviewbutton, .navigable.subviewbutton):not([disabled], [open]):focus,
    .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):focus,
    .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"])
        > toolbarbutton:not([disabled], [open]):focus {
        box-shadow: var(--panelview-toolbarbutton-focus-box-shadow);
        background-color: var(--panelview-toolbarbutton-hover-bgcolor) !important;
        color: var(--panelview-toolbarbutton-hover-color) !important;
    }

    #appMenu-multiView
        :is(.toolbarbutton-1, toolbarbutton.subviewbutton, .navigable.subviewbutton):not([disabled], [open]):focus:active,
    .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):focus:active,
    .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"])
        > toolbarbutton:not([disabled], [open]):focus:active {
        background-color: var(--panelview-toolbarbutton-active-bgcolor) !important;
        color: var(--panelview-toolbarbutton-active-color) !important;
    }

    /* add icons to non-iconized appmenu items */
    .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-icon {
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
    }

    #appMenu-save-file-button2 {
        list-style-image: url(chrome://userchrome/content/skin/save.svg);
    }

    #appMenu-more-button2 {
        list-style-image: url(chrome://userchrome/content/skin/developer.svg);
    }

    #appMenu-help-button2 {
        list-style-image: url(chrome://userchrome/content/skin/tip.svg);
    }

    #appMenu-new-window-button2 {
        list-style-image: url(chrome://userchrome/content/skin/new-window.svg);
    }

    #appMenu-new-tab-button2 {
        list-style-image: url(chrome://userchrome/content/skin/new-tab.svg);
    }

    #appMenu-new-private-window-button2 {
        list-style-image: url(chrome://userchrome/content/skin/privateBrowsing.svg);
    }

    #appMenu-print-button2 {
        list-style-image: url(chrome://userchrome/content/print.svg);
    }

    #appMenu-passwords-button {
        list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M12 4a4 4 0 00-3.86 3H1a1 1 0 000 2v1a1 1 0 002 0V9h1v1a1 1 0 002 0V9h2.14A4 4 0 1012 4zm0 6a2 2 0 112-2 2 2 0 01-2 2z'/></svg>");
    }

    #appMenu-bookmarks-button {
        list-style-image: url(chrome://userchrome/content/skin/bookmark.svg);
    }

    #appMenu-history-button {
        list-style-image: url(chrome://userchrome/content/skin/history.svg);
    }

    #appMenu-downloads-button {
        list-style-image: url(chrome://userchrome/content/downloads/download-icons.svg#arrow-with-bar);
    }

    #appMenu-extensions-themes-button {
        list-style-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='16' height='16' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M7 2.1H3.7c-.9 0-1.6.7-1.6 1.6V7C.9 7 0 7.9 0 9s.9 2.1 2.1 2.1v3.3c0 .9.7 1.6 1.6 1.6h3.1c0-2.2 1.8-2.5 2.2-2.5s2.2.2 2.2 2.5h3.1c.9 0 1.6-.7 1.6-1.6v-3.1c-2.2 0-2.5-1.8-2.5-2.2 0-.4.2-2.2 2.5-2.2V3.7c0-.9-.7-1.6-1.6-1.6H11C11.1.9 10.2 0 9 0S7 .9 7 2.1z'/></svg>") !important;
    }

    #appMenu-find-button2,
    #panelMenu_searchBookmarks {
        list-style-image: url(chrome://userchrome/content/search-glass.svg);
    }

    #panelMenu_bookmarkingTools {
        list-style-image: url(chrome://userchrome/content/skin/developer.svg);
    }

    #panelMenu_viewBookmarksToolbar {
        list-style-image: url(chrome://userchrome/content/skin/bookmarks-toolbar.svg);
    }

    #panelMenuBookmarkThisPage[data-l10n-id="bookmarks-current-tab"] {
        list-style-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg);
    }

    #panelMenuBookmarkThisPage[data-l10n-id="bookmarks-bookmark-edit-panel"] {
        list-style-image: url(chrome://userchrome/content/skin/bookmark.svg);
    }

    #PanelUI-fxa-menu-remotetabs-button,
    #appMenuRecentlyClosedTabs {
        list-style-image: url(chrome://userchrome/content/skin/tab.svg);
    }

    #appMenuClearRecentHistory {
        list-style-image: url(chrome://userchrome/content/skin/forget.svg);
    }

    #appMenuRestoreLastSession {
        list-style-image: url(chrome://userchrome/content/skin/restore-session.svg);
    }

    #appMenuRecentlyClosedWindows {
        list-style-image: url(chrome://userchrome/content/skin/window.svg);
    }

    #appMenu-settings-button {
        list-style-image: url(chrome://userchrome/content/settings.svg);
    }

    #appMenu-advanced-settings-button {
        list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M1 12.667c0 .428.35.778.778.778h3.889v-1.556H1.778a.78.78 0 00-.778.778zm0-9.334c0 .428.35.778.778.778h7V2.556h-7A.78.78 0 001 3.333zm7.778 10.889v-.778h5.444c.428 0 .778-.35.778-.778s-.35-.778-.778-.778H8.778v-.778A.78.78 0 008 10.332a.78.78 0 00-.778.778v3.111c0 .429.35.779.778.779a.78.78 0 00.778-.778zM4.111 6.444v.778H1.778A.78.78 0 001 8c0 .428.35.778.778.778h2.333v.778c0 .428.35.778.778.778s.778-.35.778-.778V6.444c0-.428-.35-.778-.778-.778s-.778.351-.778.778zM15 8a.78.78 0 00-.778-.778h-7v1.556h7A.78.78 0 0015 8zm-3.889-2.333a.78.78 0 00.778-.778v-.778h2.333c.428 0 .778-.35.778-.778s-.35-.778-.778-.778h-2.333v-.777A.78.78 0 0011.111 1a.78.78 0 00-.778.778v3.111c0 .428.35.778.778.778z'/></svg>") !important;
    }

    #appmenu-moreTools-button {
        list-style-image: url(chrome://userchrome/content/skin/customize.svg);
    }

    #appMenu-quit-button2 {
        list-style-image: url(chrome://userchrome/content/skin/quit.svg);
    }

    #appMenu-fxa-label2:before {
        -moz-context-properties: fill, fill-opacity;
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm0 2.29c1.89 0 3.43 1.54 3.43 3.43S9.89 9.14 8 9.14 4.57 7.61 4.57 5.71 6.11 2.29 8 2.29zm4.7 8.92c-1.8 2.59-5.36 3.24-7.95 1.44-.56-.39-1.05-.88-1.44-1.44-.29-.44-.24-1.02.13-1.41 1.13-1.39 2.82.49 4.56.49s3.43-1.87 4.63-.48c.34.39.37.97.07 1.4z'/></svg>");
        fill: currentColor;
        display: -moz-box;
    }

    #appMenu-save-file-button2 > .toolbarbutton-text,
    #appMenu-more-button2 > .toolbarbutton-text,
    #appMenu-help-button2 > .toolbarbutton-text,
    #appMenu-new-window-button2 > .toolbarbutton-text,
    #appMenu-new-tab-button2 > .toolbarbutton-text,
    #appMenu-new-private-window-button2 > .toolbarbutton-text,
    #appMenu-print-button2 > .toolbarbutton-text,
    #appMenu-passwords-button > .toolbarbutton-text,
    #appMenu-bookmarks-button > .toolbarbutton-text,
    #appMenu-history-button > .toolbarbutton-text,
    #appMenu-downloads-button > .toolbarbutton-text,
    #appMenu-extensions-themes-button > .toolbarbutton-text,
    #appMenu-find-button2 > .toolbarbutton-text,
    #panelMenu_searchBookmarks > .toolbarbutton-text,
    #panelMenuBookmarkThisPage > .toolbarbutton-text,
    #panelMenu_viewBookmarksToolbar > .toolbarbutton-text,
    #panelMenu_bookmarkingTools > .toolbarbutton-text,
    #PanelUI-fxa-menu-remotetabs-button > .toolbarbutton-text,
    #appMenuRecentlyClosedTabs > .toolbarbutton-text,
    #appMenuClearRecentHistory > .toolbarbutton-text,
    #appMenuRestoreLastSession > .toolbarbutton-text,
    #appMenuRecentlyClosedWindows > .toolbarbutton-text,
    #appMenu-settings-button > .toolbarbutton-text,
    #appMenu-advanced-settings-button > .toolbarbutton-text,
    #appmenu-moreTools-button > .toolbarbutton-text,
    #appMenu-quit-button2 > .toolbarbutton-text,
    #appMenu-zoom-controls2 > .toolbarbutton-text,
    #appMenu-fxa-status2 #appMenu-header-description {
        padding-inline-start: 8px !important;
    }

    #appMenu-zoom-controls2::before {
        content: "" !important;
        display: block;
        width: 16px;
        height: 16px;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
        background-image: url(chrome://userchrome/content/fxa/add-device.svg);
    }

    /* appmenu buttons border radius */
    .subviewbutton-back {
        border-radius: var(--arrowpanel-menuitem-border-radius) !important;
    }

    :is(#appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2)
        > .toolbarbutton-icon {
        background-color: unset !important;
        fill: currentColor !important;
        -moz-context-properties: fill, fill-opacity !important;
        padding: 0 !important;
    }

    #appMenu-zoom-controls2
        :is(#appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2, #appMenu-zoomReset-button2):not([disabled], [open], :active):is(:hover, :focus) {
        background-color: var(--arrowpanel-dimmed) !important;
        border-color: transparent !important;
    }

    #appMenu-zoom-controls2
        :is(#appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2, #appMenu-zoomReset-button2):not([disabled]):is([open], :hover:active) {
        background-color: var(--arrowpanel-dimmed-further) !important;
    }

    #appMenu-zoom-controls2 toolbarbutton {
        margin-inline: 4px !important;
        border: 1px solid transparent !important;
        min-height: 20px !important;
        min-width: 20px !important;
        width: unset !important;
        padding: 4px !important;
    }

    #appMenu-zoom-controls2 .toolbarbutton-icon {
        width: 12px !important;
        height: 12px !important;
    }

    #appMenu-zoom-controls2 #appMenu-zoomReset-button2 {
        border: 1px solid var(--desaturate-dimmed) !important;
        height: 20px !important;
        border-radius: 10px !important;
        padding: 0 4px !important;
        height: 20px !important;
        min-height: 20px !important;
    }

    #appMenu-zoom-controls2 #appMenu-zoomReset-button2 .toolbarbutton-text {
        margin-block: 1px !important;
        margin-inline: 6px !important;
        background: none !important;
    }

    #appMenu-fxa-status2 > #appMenu-fxa-label2 {
        padding-block: calc(var(--arrowpanel-menuitem-padding) + 2px) !important;
        font-weight: unset !important;
    }

    #appMenu-fxa-status2 > #appMenu-fxa-label2 label {
        font-weight: unset !important;
    }

    .panel-banner-item {
        padding-block: calc(var(--arrowpanel-menuitem-padding) + 2px) !important;
        margin: var(--arrowpanel-menuitem-margin) !important;
    }

    #appMenu-proton-update-banner {
        padding-block: calc(var(--arrowpanel-menuitem-padding) + 2px) !important;
        margin: var(--arrowpanel-menuitem-margin) !important;
        margin-bottom: 4px !important;
        --panel-banner-item-color: black;
        --panel-banner-item-background-color: hsla(96, 65%, 75%, 0.5);
        --panel-banner-item-hover-bgcolor: hsla(96, 65%, 75%, 0.8);
        --panel-banner-item-active-bgcolor: hsl(96, 65%, 75%);
    }

    :root[lwt-popup-brighttext] #appMenu-proton-update-banner {
        --panel-banner-item-color: #f9f9fa;
        --panel-banner-item-background-color: rgba(48, 230, 11, 0.1);
        --panel-banner-item-hover-bgcolor: rgba(48, 230, 11, 0.15);
        --panel-banner-item-active-bgcolor: rgba(48, 230, 11, 0.2);
    }

    #appMenu-popup toolbarseparator {
        margin-inline: 6px !important;
    }

    #appMenu-fxa-separator {
        opacity: 0.7 !important;
    }

    .panel-banner-item {
        padding-inline: var(--arrowpanel-menuitem-padding) !important;
    }

    .addon-banner-item > .toolbarbutton-icon,
    .panel-banner-item > .toolbarbutton-icon {
        -moz-box-ordinal-group: 0 !important;
    }

    .panel-banner-item[notificationid^="update"]::after {
        display: none !important;
    }

    .panel-banner-item[notificationid^="update"] > .toolbarbutton-text {
        line-height: 18px !important;
    }

    .panel-banner-item[notificationid^="update"] > .toolbarbutton-icon {
        background: hsl(118, 89%, 24%) url(chrome://userchrome/content/update-icon.svg) no-repeat
            center/contain !important;
        fill: hsl(125, 81%, 57%) !important;
        width: 16px !important;
        height: 16px !important;
        margin-block: 1px !important;
        -moz-context-properties: fill !important;
        padding: 0 !important;
    }

    .panel-banner-item[notificationid="update-available"] > .toolbarbutton-icon,
    .panel-banner-item[notificationid="update-downloading"] > .toolbarbutton-icon {
        transform: scaleY(-1);
    }

    .panel-banner-item[notificationid="update-restart"] > .toolbarbutton-icon {
        background: hsl(125, 81%, 57%)
            url(chrome://userchrome/content/notifications/popup-subitem.svg) no-repeat 0 1px/18px !important;
        fill: hsl(118, 89%, 24%) !important;
        transform: none !important;
    }

    .panel-banner-item[notificationid="update-unsupported"] > .toolbarbutton-icon {
        fill: hsl(44, 95%, 60%) !important;
        background-color: hsl(32, 52%, 35%) !important;
    }

    #PanelUI-menu-button[badge-status^="update"]
        > .toolbarbutton-badge-stack
        > .toolbarbutton-badge {
        background-size: contain !important;
        background-position: center !important;
        background-image: url(chrome://userchrome/content/devtools/error.svg) !important;
        fill: hsl(125, 81%, 57%) !important;
        background-color: hsl(118, 89%, 24%) !important;
        -moz-context-properties: fill !important;
        padding: 0 !important;
    }

    #PanelUI-menu-button[badge-status^="update"]:is(:hover, [open])
        > .toolbarbutton-badge-stack
        > .toolbarbutton-badge {
        background-image: url(chrome://userchrome/content/devtools/error.svg) !important;
        fill: hsl(125, 81%, 57%) !important;
        background-color: hsl(118, 89%, 24%) !important;
    }

    #PanelUI-menu-button[badge-status^="update"]
        > .toolbarbutton-badge-stack
        > .toolbarbutton-badge:-moz-window-inactive {
        fill: hsl(227, 19%, 48%) !important;
        background-color: hsl(227, 19%, 48%) !important;
    }

    #PanelUI-menu-button[badge-status^="update"]:is(:hover, [open])
        > .toolbarbutton-badge-stack
        > .toolbarbutton-badge:-moz-window-inactive {
        background-color: hsl(118, 89%, 24%) !important;
        fill: hsl(125, 81%, 57%) !important;
    }
}
