#main-window #editBookmarkPanel input:focus {
    background-color: var(--ui-textbox-focus-bgcolor) !important;
}

#main-window #editBMPanel_tagsField,
#main-window #editBMPanel_namePicker,
#editBookmarkPanel input {
    appearance: none !important;
    -moz-user-select: text !important;
    user-select: text !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    color: #fff !important;
    border: none !important;
    padding-block: 2px !important;
    padding-inline: 6px !important;
    outline: none !important;
    border-radius: 2px !important;
    min-height: 24px !important;
    box-sizing: border-box !important;
}

/* 'add bookmark' popup menu formatting */
#editBookmarkPanel {
    min-width: 25em !important;
}

#editBookmarkPanelRows {
    padding-inline: 14px !important;
    padding-block: 8px 0 !important;
}

#editBookmarkPanelBottomContent {
    padding-inline: 10px !important;
    padding-block: 6px 8px !important;
}

#editBookmarkPanelRows > vbox {
    margin-block: 0 !important;
    padding-block: 8px 0 !important;
}

#editBookmarkPanel menulist {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    line-height: normal;
    padding-block: 2px !important;
    padding-inline: 3px 5px !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    min-height: 24px !important;
    box-shadow: none !important;
    margin: 0 !important;
}

#editBookmarkPanel menulist[open="true"] {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#editBookmarkPanel menulist[open="true"] menupopup {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

#main-window #editBMPanel_folderTree {
    min-width: unset !important;
    max-width: 27em !important;
}

#editBookmarkPanel tree {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    overflow: hidden !important;
    margin: 0 !important;
}

#editBookmarkPanel richlistbox {
    border-radius: 2px !important;
    overflow: hidden !important;
    margin: 0 !important;
}

#editBookmarkPanel treechildren::-moz-tree-row(hover),
#editBookmarkPanel treechildren::-moz-tree-cell(hover) {
    appearance: none !important;
    background-color: var(--ebmp-hover-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
}

#editBookmarkPanel treechildren::-moz-tree-row(selected),
#editBookmarkPanel treechildren::-moz-tree-cell(selected) {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

#editBookmarkPanel treechildren::-moz-tree-row(selected):hover,
#editBookmarkPanel treechildren::-moz-tree-cell(selected):hover {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
}

/* #editBookmarkPanel treechildren::-moz-tree-row(hover)(selected),
#editBookmarkPanel treechildren::-moz-tree-cell(hover)(selected) {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
} */

#editBookmarkPanel treechildren::-moz-tree-cell-text(selected),
#editBookmarkPanel treechildren::-moz-tree-image(selected),
#editBookmarkPanel treechildren::-moz-tree-twisty(selected) {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

#editBMPanel_newFolderBox {
    margin-block: 6px 0 !important;
}

#editBookmarkPanel menuitem,
#editBookmarkPanel menu {
    appearance: none !important;
    background-color: hsl(232, 24%, 32%) !important;
    line-height: normal !important;
    padding-bottom: 3px;
    padding-inline-start: 2px !important;
    padding-left: 0px !important;
    padding-right: 2px;
    padding-top: 2px;
    color: #fff !important;
    border: none !important;
}

#editBookmarkPanel menupopup {
    padding: 0px !important;
    appearance: none !important;
    background-color: hsl(232, 24%, 32%) !important;
    line-height: normal !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    overflow: hidden !important;
    --menupopup-inner-padding: 0 !important;
    --context-menuitem-border-radius: 0 !important;
}

#editBookmarkPanel menulist menupopup {
    margin: 0 !important;
    --menupopup-border-radius: 0 0 2px 2px !important;
}

/* this goes in userChrome.au.css */
#editBookmarkPanelDropMarker,
#editBMPanel_folderMenuList::part(dropmarker) {
    appearance: none !important;
    list-style-image: url(chrome://userchrome/content/devtools/select-arrow.svg) !important;
    margin-block: 0 !important;
}

#editBookmarkPanel #editBookmarkPanelContent button {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    line-height: normal;
    padding: 2px;
    margin: 0 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
}

#editBookmarkPanel #editBookmarkPanelContent button:is(:hover, :focus-visible) {
    appearance: none !important;
    background-color: var(--ebmp-hover-bgcolor) !important;
}

/* #editBookmarkPanel #editBookmarkPanelContent button:hover:active {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
} */

#editBookmarkPanelBottomButtons {
    margin: 0 14px 14px 14px !important;
    gap: 8px !important;
    min-width: unset !important;
}

#editBookmarkPanel .panel-footer > button.editBookmarkPanelBottomButton {
    border: none !important;
    flex-grow: 5 !important;
    margin: 0 !important;
    padding-inline: 0 !important;
    flex-basis: 25% !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

#editBookmarkPanel .panel-footer > button.editBookmarkPanelBottomButton[default] {
    flex-grow: 3 !important;
}

#editBookmarkPanelDoneButton {
    background-color: hsl(251, 59%, 44%) !important;
}

#editBookmarkPanelDoneButton:is(:hover, :focus-visible) {
    background-color: hsl(248, 80%, 56%) !important;
}

#editBookmarkPanelDoneButton:is(:hover, :focus-visible):active {
    background-color: hsl(247, 80%, 58%) !important;
}

#editBookmarkPanelRemoveButton {
    background-color: hsl(233, 28%, 24%) !important;
}

#editBookmarkPanelRemoveButton:is(:hover, :focus-visible) {
    background-color: hsl(234, 30%, 28%) !important;
}

#editBookmarkPanelRemoveButton:is(:hover, :focus-visible):active {
    background-color: hsl(234, 30%, 30%) !important;
}

#editBMPanel_tagsField {
    display: -moz-inline-box !important;
}

#editBookmarkPanel #editBookmarkPanelContent .expander-up,
#editBookmarkPanel #editBookmarkPanelContent .expander-down {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    padding: 0 !important;
    min-width: 24px !important;
    min-height: 24px !important;
    box-sizing: border-box !important;
    margin-left: 6px !important;
    color: #fff !important;
    border: none !important;
    transform: none !important;
}

#editBookmarkPanel .expander-down image {
    list-style-image: url(chrome://userchrome/content/devtools/arrowhead-down.svg) !important;
    width: 17px !important;
}

#editBookmarkPanel .expander-up image {
    list-style-image: url(chrome://userchrome/content/devtools/arrowhead-up.svg) !important;
    width: 17px !important;
}

#editBookmarkPanel :is(menu, menuitem) {
    padding-left: 0 !important;
    padding-block: 2px !important;
}

#editBookmarkPanel .in-menulist :is(menu, menuitem) {
    min-height: 24px !important;
    height: 24px !important;
}

#editBookmarkPanel .in-menulist .menuitem-iconic .menu-iconic-text {
    padding-inline: 0 !important;
}

#editBookmarkPanel
    .in-menulist
    :is(menu, menuitem):is(:hover, :focus-visible, [_moz-menuactive="true"]):not([disabled="true"]) {
    appearance: none !important;
    background-color: hsl(232, 21%, 40%) !important;
    color: #fff !important;
    border: none !important;
}

#editBookmarkPanel menulist:is(:focus-visible, [open="true"]) {
    appearance: none !important;
    background-color: hsl(232, 24%, 32%) !important;
}

#editBookmarkPanel menuseparator {
    display: none !important;
}

#editBookmarkPanel richlistbox,
:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistitem {
    appearance: none !important;
    -moz-user-select: text !important;
    user-select: text !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    color: #fff !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistitem {
    padding-inline-start: 2px !important;
    padding-top: 1px !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistitem image {
    appearance: none !important;
    background-color: transparent !important;
    border: none !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    width: 12px !important;
    padding: 1px !important;
    opacity: 0.8 !important;
    margin-right: 0 !important;
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSAyYy0xLjY1NCAwLTMgMS4zNDYtMyAzdjE0YzAgMS42NTQgMS4zNDYgMyAzIDNoMTRjMS42NTQgMCAzLTEuMzQ2IDMtM3YtMTRjMC0xLjY1NC0xLjM0Ni0zLTMtM2gtMTR6bTE5IDN2MTRjMCAyLjc2MS0yLjIzOCA1LTUgNWgtMTRjLTIuNzYyIDAtNS0yLjIzOS01LTV2LTE0YzAtMi43NjEgMi4yMzgtNSA1LTVoMTRjMi43NjIgMCA1IDIuMjM5IDUgNXoiIGZpbGw9ImNvbnRleHQtZmlsbCIgZmlsbC1vcGFjaXR5PSJjb250ZXh0LWZpbGwtb3BhY2l0eSIvPjwvc3ZnPg==");
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistitem[checked="true"] image {
    appearance: none !important;
    background-color: transparent !important;
    border: none !important;
    width: 12px !important;
    padding: 1px !important;
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAuMDQxIDE3bC00LjUtNC4zMTkgMS4zOTUtMS40MzUgMy4wOCAyLjkzNyA3LjAyMS03LjE4MyAxLjQyMiAxLjQwOS04LjQxOCA4LjU5MXptLTUuMDQxLTE1Yy0xLjY1NCAwLTMgMS4zNDYtMyAzdjE0YzAgMS42NTQgMS4zNDYgMyAzIDNoMTRjMS42NTQgMCAzLTEuMzQ2IDMtM3YtMTRjMC0xLjY1NC0xLjM0Ni0zLTMtM2gtMTR6bTE5IDN2MTRjMCAyLjc2MS0yLjIzOCA1LTUgNWgtMTRjLTIuNzYyIDAtNS0yLjIzOS01LTV2LTE0YzAtMi43NjEgMi4yMzgtNSA1LTVoMTRjMi43NjIgMCA1IDIuMjM5IDUgNXoiIGZpbGw9ImNvbnRleHQtZmlsbCIgZmlsbC1vcGFjaXR5PSJjb250ZXh0LWZpbGwtb3BhY2l0eSIvPjwvc3ZnPg==") !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistitem:hover > image {
    opacity: 1 !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) checkbox {
    margin-inline-start: 0 !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) checkbox .checkbox-check {
    appearance: none !important;
    min-width: 10px !important;
    min-height: 10px !important;
    width: 14px !important;
    height: 14px !important;
    margin-inline: 4px !important;
    border: 1px solid var(--in-content-box-border-color) !important;
    border-radius: 2px !important;
    background-color: var(--arrowpanel-dimmed) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    line-height: 20px !important;
    box-shadow: none !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) checkbox .checkbox-check[checked] {
    background-image: url(chrome://userchrome/content/check.svg) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    color: hsl(0, 0%, 100%) !important;
    background-color: var(--purple-35) !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel)
    checkbox:is(:hover, :focus-visible)
    .checkbox-check:not(:disabled) {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel)
    checkbox:is(:hover, :focus-visible)
    .checkbox-check[checked]:not(:disabled) {
    background-color: var(--purple-45) !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) .checkbox-label {
    margin: 0 !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel)
    richlistitem:is(:hover, [_moz-menuactive="true"]) {
    background-color: hsl(232, 21%, 40%) !important;
}

#editBookmarkPanelImage,
#editBookmarkPanel html {
    height: 140px !important;
}

#editBookmarkPanelFavicon[src] {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    padding: 5px;
    background: hsla(232, 24%, 26%, 50%) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px !important;
    margin-top: 10px;
    margin-inline-start: 10px;
    margin-bottom: -52px;
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
}

/* bookmarks popup scroll buttons */
.BMB-special-scrollbutton-up,
.BMB-special-scrollbutton-down {
    visibility: visible !important;
    position: absolute !important;
    display: block !important;
}

/* hide scrollbuttons until bookmarksPopupShadowRoot.uc.js initializes the customizations, to avoid flickering */
link[href="chrome://global/skin/arrowscrollbox.css"] ~ :is(#scrollbutton-up, #scrollbutton-down):not(.BMB-special-scrollbutton-up, .BMB-special-scrollbutton-down) {
    display: none !important;
    visibility: collapse !important;
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
    opacity: 0 !important;
}

:is(.BMB-special-scrollbutton-up, .BMB-special-scrollbutton-down) > .toolbarbutton-icon {
    transform: none !important;
}

.BMB-special-scrollbutton-up > .toolbarbutton-icon {
    margin-block: 0 !important;
    height: 10px !important;
}

.BMB-special-scrollbutton-down > .toolbarbutton-icon {
    height: 10px !important;
}

.BMB-special-scrollbutton-up,
.BMB-special-scrollbutton-up:not([disabled="true"]):hover {
    -moz-appearance: none;
    position: absolute !important;
    min-width: 21.5px !important;
    padding-inline: 1px !important;
    padding-block: 5px 6px !important;
    margin-block: -4px -18px !important;
    margin-inline: 5vw !important;
    background-color: hsl(233, 28%, 24%) !important;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25), 0px 0px 5px -1px rgba(0, 0, 0, 0.125) !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    transition: 0.2s ease-in-out opacity !important;
    transform-style: flat !important;
    backface-visibility: hidden !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill-opacity: 1 !important;
}

.BMB-special-scrollbutton-down,
.BMB-special-scrollbutton-down:not([disabled="true"]):hover {
    -moz-appearance: none;
    position: absolute !important;
    min-width: 21.5px !important;
    padding-inline: 1px !important;
    padding-block: 6px !important;
    margin-block: -18px -4px !important;
    margin-inline: 5vw !important;
    background-color: hsl(233, 28%, 24%) !important;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25), 0px 0px 5px -1px rgba(0, 0, 0, 0.125) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    transition: 0.2s ease-in-out opacity !important;
    transform-style: flat !important;
    backface-visibility: hidden !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill-opacity: 1 !important;
}

.BMB-special-scrollbutton-down:is(:not(:hover), [disabled="true"]) {
    list-style-image: url(chrome://userchrome/content/scrollbutton-down.svg) !important;
}

.BMB-special-scrollbutton-down:not([disabled="true"]):hover {
    list-style-image: url(chrome://userchrome/content/scrollbutton-down-hover.svg) !important;
}

.BMB-special-scrollbutton-up:is(:not(:hover), [disabled="true"]) {
    list-style-image: url(chrome://userchrome/content/scrollbutton-up.svg) !important;
}

.BMB-special-scrollbutton-up:not([disabled="true"]):hover {
    list-style-image: url(chrome://userchrome/content/scrollbutton-up-hover.svg) !important;
}

:is(.BMB-special-scrollbutton-up, .BMB-special-scrollbutton-down)[disabled="true"] {
    opacity: 0 !important;
    pointer-events: none !important;
}

:is(.BMB-special-scrollbutton-up, .BMB-special-scrollbutton-down):not([disabled="true"]):hover {
    opacity: 1 !important;
}

/* bookmarks toolbar button's popup */
@-moz-document url(chrome://browser/content/browser.xhtml)
{
    menuitem.menuitem-iconic#BMB_viewBookmarksToolbar {
        list-style-image: url(chrome://browser/skin/places/bookmarksToolbar.svg) !important;
        -moz-context-properties: fill, fill-opacity;
    }

    menuitem.menuitem-iconic#BMB_viewBookmarksToolbar[data-l10n-args*='{"isVisible":true}'] {
        fill-opacity: 0.5;
    }

    menupopup {
        --nested-margin: -4px !important;
    }

    .panel-subview-footer.openintabs-menuitem {
        display: none !important;
    }

    #BMB_bookmarksPopup menupopup {
        margin-block-start: var(--nested-margin) !important;
    }

    #BMB_bookmarksPopup :is(menu, menuitem) {
        margin: var(--arrowpanel-menuitem-margin) !important;
        min-height: 24px !important;
        padding: var(--arrowpanel-menuitem-padding) !important;
        border-radius: var(--arrowpanel-menuitem-border-radius) !important;
    }

    #BMB_bookmarksPopup menupopup :is(menuitem, menu) .menu-iconic-icon {
        margin-inline: unset;
    }
}

@media (-moz-proton) {
    /* #BMB_bookmarksPopup menupopup[placespopup="true"] {
        padding-top: 0 !important;
    } */

    #BMB_bookmarksPopup {
        --panel-separator-color: var(--desaturate-dimmed) !important;
    }

    #BMB_bookmarksPopup .subviewbutton:not(.menuitem-iconic) .menu-text {
        padding-inline-start: 22px !important;
    }

    #BMB_bookmarksPopup .subviewbutton > .menu-iconic-left {
        margin-inline-end: 6px !important;
    }

    #BMB_bookmarksShowAllTop {
        display: none !important;
    }

    #BMB_viewBookmarksSidebar {
        list-style-image: url(chrome://userchrome/content/skin/sidebars-right.svg) !important;
    }

    #BMB_bookmarkThisPage[data-l10n-id="bookmarks-current-tab"] {
        list-style-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg) !important;
    }

    #BMB_bookmarkThisPage[data-l10n-id="bookmarks-bookmark-edit-panel"] {
        list-style-image: url(chrome://userchrome/content/skin/bookmark.svg) !important;
    }

    #BMB_bookmarksPopup #BMB_bookmarksShowAll .menu-text {
        padding-inline-start: 2px !important;
    }

    #BMB_bookmarksShowAll:before {
        content: "" !important;
        position: relative !important;
        display: -moz-inline-box !important;
        width: 16px !important;
        height: 16px !important;
        padding-inline: 0 !important;
        margin-inline: 0 4px !important;
        fill: currentColor !important;
        background-image: url(chrome://userchrome/content/skin/library.svg) !important;
        transform: scaleX(-1);
        -moz-context-properties: fill, fill-opacity, stroke !important;
    }

    #BMB_bookmarksShowAll :is(.menu-accel, .menu-iconic-accel)[value] {
        margin-inline: 10px 4px !important;
        padding-block: 0 !important;
    }

    menuitem#bookmarksShowAll .menu-text,
    menuitem#menu_bookmarkThisPage .menu-text {
        padding-inline-start: 0 !important;
    }

    menuitem#bookmarksShowAll:before {
        content: "" !important;
        position: relative !important;
        display: -moz-inline-box !important;
        width: 16px !important;
        height: 16px !important;
        padding-inline: 0 !important;
        margin-inline: 6px !important;
        fill: currentColor !important;
        background-image: url(chrome://userchrome/content/skin/library.svg) !important;
        transform: scaleX(-1);
        -moz-context-properties: fill, fill-opacity, stroke !important;
    }

    menuitem#menu_bookmarkThisPage:before {
        content: "" !important;
        position: relative !important;
        display: -moz-inline-box !important;
        width: 16px !important;
        height: 16px !important;
        padding-inline: 0 !important;
        margin-inline: 6px !important;
        fill: currentColor !important;
        background-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg) !important;
        transform: scaleX(-1);
        -moz-context-properties: fill, fill-opacity, stroke !important;
    }

    menuitem#menu_bookmarkThisPage[data-l10n-id="menu-bookmark-edit"]:before {
        background-image: url(chrome://userchrome/content/skin/bookmark.svg) !important;
    }

    #bookmarksMenuPopup > menuseparator.small-separator {
        display: none;
    }
}
