/* this stylesheet exclusively deals with the bookmarks toolbar popup panel and the "edit bookmark" panel and dialog. */

#main-window #editBookmarkPanel input:focus {
    background-color: var(--ui-textbox-focus-bgcolor) !important;
}

#main-window #editBMPanel_tagsField,
#main-window #editBMPanel_namePicker,
#editBookmarkPanel input {
    appearance: none !important;
    -moz-user-select: text !important;
    user-select: text !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    color: #fff !important;
    border: none !important;
    padding-block: 2px !important;
    padding-inline: 6px !important;
    outline: none !important;
    border-radius: 2px !important;
    min-height: 24px !important;
    box-sizing: border-box !important;
}

#main-window #editBookmarkPanel input::placeholder {
    color: var(--panel-description-color) !important;
    opacity: 1 !important;
}

/* 'add bookmark' popup menu formatting */
#editBookmarkPanel {
    min-width: 25em !important;
    --panel-width: 25em !important;
}

#editBookmarkPanelRows {
    padding-inline: 14px !important;
    padding-block: 8px 0 !important;
}

#editBookmarkPanelBottomContent {
    padding-inline: 10px !important;
    padding-block: 6px 8px !important;
}

#editBookmarkPanelRows > vbox {
    margin-block: 0 !important;
    padding-block: 8px 0 !important;
}

#editBookmarkPanel menulist {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    line-height: normal;
    padding-block: 2px !important;
    padding-inline: 3px 5px !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    min-height: 24px !important;
    box-shadow: none !important;
    margin: 0 !important;
}

#editBookmarkPanel menulist[open="true"] {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#editBookmarkPanel menulist[open="true"] menupopup {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

#main-window #editBMPanel_folderTree {
    min-width: unset !important;
    max-width: 27em !important;
}

#editBookmarkPanel tree {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    overflow: hidden !important;
    margin: 0 !important;
    font-weight: var(--uc-font-weight-thin, 400);
}

#editBookmarkPanel richlistbox[id] {
    border-radius: 2px !important;
    overflow: hidden !important;
    margin: 0 !important;
}

#editBookmarkPanel treechildren::-moz-tree-row(hover),
#editBookmarkPanel treechildren::-moz-tree-cell(hover) {
    appearance: none !important;
    background-color: var(--ebmp-hover-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
}

#editBookmarkPanel treechildren::-moz-tree-row(selected),
#editBookmarkPanel treechildren::-moz-tree-cell(selected) {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

#editBookmarkPanel treechildren::-moz-tree-row(selected):hover,
#editBookmarkPanel treechildren::-moz-tree-cell(selected):hover {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
}

/* #editBookmarkPanel treechildren::-moz-tree-row(hover)(selected),
#editBookmarkPanel treechildren::-moz-tree-cell(hover)(selected) {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
} */

#editBookmarkPanel treechildren::-moz-tree-cell-text(selected),
#editBookmarkPanel treechildren::-moz-tree-image(selected),
#editBookmarkPanel treechildren::-moz-tree-twisty(selected) {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
    line-height: normal;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

#editBMPanel_newFolderBox {
    margin-block: 6px 0 !important;
}

#editBookmarkPanel menuitem,
#editBookmarkPanel menu {
    appearance: none !important;
    background-color: hsl(232, 24%, 32%) !important;
    line-height: normal !important;
    padding-bottom: 3px;
    padding-inline-start: 2px !important;
    padding-left: 0px !important;
    padding-right: 2px;
    padding-top: 2px;
    color: #fff !important;
    border: none !important;
}

#editBookmarkPanel menupopup {
    padding: 0px !important;
    appearance: none !important;
    background-color: hsl(232, 24%, 32%) !important;
    line-height: normal !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    overflow: hidden !important;
    --menupopup-inner-padding: 0 !important;
    --context-menuitem-border-radius: 0 !important;
}

#editBookmarkPanel menulist menupopup {
    margin: 0 !important;
    --menupopup-border-radius: 0 0 2px 2px !important;
}

/* this goes in userChrome.au.css */
#editBookmarkPanelDropMarker,
#editBMPanel_folderMenuList::part(dropmarker) {
    appearance: none !important;
    list-style-image: url(chrome://userchrome/content/devtools/select-arrow.svg) !important;
    margin-block: 0 !important;
}

#editBookmarkPanel #editBookmarkPanelContent button {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    line-height: normal;
    padding-inline: 10px;
    min-height: 24px;
    margin: 0 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
}

#editBookmarkPanel #editBookmarkPanelContent button:is(:hover, :focus-visible) {
    appearance: none !important;
    background-color: var(--ebmp-hover-bgcolor) !important;
}

/* #editBookmarkPanel #editBookmarkPanelContent button:hover:active {
    appearance: none !important;
    background-color: var(--ebmp-focus-bgcolor) !important;
} */

#editBookmarkPanelBottomButtons {
    margin: 0 14px 14px 14px !important;
    gap: 8px !important;
    min-width: unset !important;
}

#editBookmarkPanel .panel-footer > button.editBookmarkPanelBottomButton {
    border: none !important;
    flex-grow: 5 !important;
    margin: 0 !important;
    padding-inline: 0 !important;
    flex-basis: 25% !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

#editBookmarkPanel .panel-footer > button.editBookmarkPanelBottomButton[default] {
    flex-grow: 3 !important;
}

#editBMPanel_tagsField {
    display: -moz-inline-box !important;
}

#editBookmarkPanel #editBookmarkPanelContent .expander-up,
#editBookmarkPanel #editBookmarkPanelContent .expander-down {
    appearance: none !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    padding: 0 !important;
    min-width: 24px !important;
    min-height: 24px !important;
    box-sizing: border-box !important;
    margin-left: 6px !important;
    color: #fff !important;
    border: none !important;
    transform: none !important;
}

#editBookmarkPanel #editBookmarkPanelContent :is(.expander-up, .expander-down) .button-box {
    padding: 0 !important;
}

#editBookmarkPanel .expander-down image {
    list-style-image: url(chrome://userchrome/content/devtools/arrowhead-down.svg) !important;
    width: 17px !important;
}

#editBookmarkPanel .expander-up image {
    list-style-image: url(chrome://userchrome/content/devtools/arrowhead-up.svg) !important;
    width: 17px !important;
}

#editBookmarkPanel :is(menu, menuitem) {
    padding-left: 0 !important;
    padding-block: 2px !important;
}

#editBookmarkPanel .in-menulist :is(menu, menuitem) {
    min-height: 24px !important;
    height: 24px !important;
    margin: 0 !important;
}

#editBookmarkPanel .in-menulist .menuitem-iconic .menu-iconic-text {
    padding-inline: 0 !important;
}

#editBookmarkPanel .in-menulist :is(menu, menuitem)[_moz-menuactive="true"]:not([disabled="true"]) {
    appearance: none !important;
    background-color: hsl(232, 21%, 40%) !important;
    color: #fff !important;
    border: none !important;
}

#editBookmarkPanel menulist:is(:focus-visible, [open="true"]) {
    appearance: none !important;
    background-color: hsl(232, 24%, 32%) !important;
}

#editBookmarkPanel :is(toolbarseparator, menuseparator) {
    display: none !important;
}

#editBookmarkPanel richlistbox[id],
#editBookmarkPanel richlistbox[id] richlistitem {
    appearance: none !important;
    -moz-user-select: text !important;
    user-select: text !important;
    background-color: var(--ui-textbox-bgcolor) !important;
    color: #fff !important;
}

#bookmarkpropertiesdialog #editBMPanel_tagsSelector {
    padding: revert !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistbox[id] richlistitem {
    padding-inline-start: 2px !important;
    padding-top: 1px !important;
}

#bookmarkpropertiesdialog richlistbox[id] richlistitem {
    margin-bottom: revert !important;
    padding-block: 2.5px !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistbox[id] richlistitem image {
    appearance: none !important;
    background-color: transparent !important;
    border: none !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    width: 12px !important;
    padding: 1px !important;
    opacity: 0.8 !important;
    margin-right: 0 !important;
    list-style-image: url(chrome://userchrome/content/monotone-checkbox.svg);
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistbox[id] richlistitem label {
    margin-inline: 6px 5px !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel)
    richlistbox[id]
    richlistitem[checked="true"]
    image {
    appearance: none !important;
    background-color: transparent !important;
    border: none !important;
    width: 12px !important;
    padding: 1px !important;
    list-style-image: url(chrome://userchrome/content/monotone-checkbox-checked.svg) !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) richlistbox[id] richlistitem:hover > image {
    opacity: 1 !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) checkbox {
    margin-inline-start: 0 !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) checkbox .checkbox-check {
    appearance: none !important;
    min-width: 10px !important;
    min-height: 10px !important;
    width: 14px !important;
    height: 14px !important;
    margin-inline: 4px !important;
    border: 1px solid var(--in-content-box-border-color) !important;
    border-radius: 2px !important;
    background-color: var(--arrowpanel-dimmed) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    line-height: 20px !important;
    box-shadow: none !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) checkbox .checkbox-check[checked] {
    background-image: url(chrome://userchrome/content/check.svg) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    color: hsl(0, 0%, 100%) !important;
    background-color: var(--purple-35) !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel)
    checkbox:is(:hover, :focus-visible)
    .checkbox-check:not(:disabled) {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel)
    checkbox:is(:hover, :focus-visible)
    .checkbox-check[checked]:not(:disabled) {
    background-color: var(--purple-45) !important;
}

:is(#bookmarkpropertiesdialog, #editBookmarkPanel) .checkbox-label {
    margin: 0 !important;
}

#editBookmarkPanel richlistbox[id] richlistitem:is(:hover, [selected="true"], [current="true"]) {
    background-color: hsl(232, 21%, 40%) !important;
}

richlistbox[id]:not(#categories) > richlistitem[selected] {
    --in-content-button-background: revert !important;
    --in-content-button-background-hover: revert !important;
    --in-content-button-background-active: revert !important;
    --in-content-button-text-color-hover: revert !important;
}

#bookmarkpropertiesdialog
    richlistbox[id]
    richlistitem:is(:hover, [selected="true"], [current="true"]) {
    background-color: var(--in-content-button-background) !important;
}

#editBookmarkPanelImage,
#editBookmarkPanel html {
    height: 140px !important;
}

#editBookmarkPanelFavicon[src] {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    padding: 5px;
    background: hsla(232, 24%, 26%, 50%) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px !important;
    margin-top: 10px;
    margin-inline-start: 10px;
    margin-bottom: -52px;
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
}

/* bookmarks toolbar button's popup */
@-moz-document url(chrome://browser/content/browser.xhtml)
{
    menuitem.menuitem-iconic#BMB_viewBookmarksToolbar {
        list-style-image: url(chrome://browser/skin/places/bookmarksToolbar.svg) !important;
        -moz-context-properties: fill, fill-opacity;
    }

    menuitem.menuitem-iconic#BMB_viewBookmarksToolbar[data-l10n-args*='{"isVisible":true}'] {
        fill-opacity: 0.5;
    }

    .panel-subview-footer.openintabs-menuitem {
        display: none !important;
    }

    #BMB_bookmarksPopup menupopup {
        margin-block-start: var(--menupopup-child-margin-block-start) !important;
    }

    #BMB_bookmarksPopup :is(menu, menuitem) {
        margin: var(--arrowpanel-menuitem-margin) !important;
        min-height: var(--subviewbutton-height) !important;
        padding: 0 var(--arrowpanel-menuitem-padding) !important;
        border-radius: var(--arrowpanel-menuitem-border-radius) !important;
    }

    #BMB_bookmarksPopup menuseparator {
        margin: var(--panel-separator-margin) !important;
    }

    #BMB_bookmarksPopup menupopup :is(menuitem, menu) .menu-iconic-icon {
        margin-inline: unset;
    }
}

#BMB_bookmarksPopup {
    --panel-separator-color: var(--desaturate-dimmed) !important;
}

#BMB_bookmarksPopup .subviewbutton:not(.menuitem-iconic) .menu-text {
    padding-inline-start: 22px !important;
}

#BMB_bookmarksPopup .subviewbutton > .menu-iconic-left {
    margin-inline-end: 6px !important;
}

#BMB_bookmarksShowAllTop {
    display: none !important;
}

#BMB_viewBookmarksSidebar {
    list-style-image: url(chrome://userchrome/content/skin/sidebars-right.svg) !important;
}

#BMB_bookmarkThisPage[data-l10n-id="bookmarks-current-tab"] {
    list-style-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg) !important;
}

#BMB_bookmarkThisPage[data-l10n-id="bookmarks-bookmark-edit-panel"] {
    list-style-image: url(chrome://userchrome/content/skin/bookmark.svg) !important;
}

#BMB_bookmarksPopup #BMB_bookmarksShowAll .menu-text {
    padding-inline-start: 2px !important;
}

#BMB_bookmarksShowAll:before {
    content: "" !important;
    position: relative !important;
    display: -moz-inline-box !important;
    width: 16px !important;
    height: 16px !important;
    padding-inline: 0 !important;
    margin-inline: 0 4px !important;
    fill: currentColor !important;
    background-image: url(chrome://userchrome/content/skin/library.svg) !important;
    transform: scaleX(-1);
    -moz-context-properties: fill, fill-opacity, stroke !important;
}

#BMB_bookmarksShowAll :is(.menu-accel, .menu-iconic-accel)[value] {
    margin-inline: 10px 4px !important;
    padding-block: 0 !important;
}

menuitem#bookmarksShowAll .menu-text,
menuitem#menu_bookmarkThisPage .menu-text {
    padding-inline-start: 0 !important;
}

menuitem#bookmarksShowAll:before {
    content: "" !important;
    position: relative !important;
    display: -moz-inline-box !important;
    width: 16px !important;
    height: 16px !important;
    padding-inline: 0 !important;
    margin-inline: 6px !important;
    fill: currentColor !important;
    background-image: url(chrome://userchrome/content/skin/library.svg) !important;
    transform: scaleX(-1);
    -moz-context-properties: fill, fill-opacity, stroke !important;
}

menuitem#menu_bookmarkThisPage:before {
    content: "" !important;
    position: relative !important;
    display: -moz-inline-box !important;
    width: 16px !important;
    height: 16px !important;
    padding-inline: 0 !important;
    margin-inline: 6px !important;
    fill: currentColor !important;
    background-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg) !important;
    transform: scaleX(-1);
    -moz-context-properties: fill, fill-opacity, stroke !important;
}

menuitem#menu_bookmarkThisPage[data-l10n-id="menu-bookmark-edit"]:before {
    background-image: url(chrome://userchrome/content/skin/bookmark.svg) !important;
}

#bookmarksMenuPopup > menuseparator.small-separator {
    display: none;
}
