/* this stylesheet adds icons to context menu items that don't already have them,
and replaces some icons that may already exist. */

menupopup
    menuitem:is([type="checkbox"], [type="radio"], [checked])
    :is(.menu-text, .menu-iconic-text),
#context-inspect-a11y:not(.menuitem-iconic) .menu-text,
#context-inspect:not(.menuitem-iconic) .menu-text,
#context-viewsource:not(.menuitem-iconic) .menu-text,
#context-viewinfo:not(.menuitem-iconic) .menu-text,
#context-viewbgimage:not(.menuitem-iconic) .menu-text,
#context-savepage:not(.menuitem-iconic) .menu-text,
#context-sendpagetodevice:not(.menuitem-iconic) > .menu-text,
#context-selectall:not(.menuitem-iconic) .menu-text,
#context-sendlinktodevice:not(.menuitem-iconic) > .menu-text,
#context-viewimageinfo:not(.menuitem-iconic) .menu-text,
#context-setDesktopBackground:not(.menuitem-iconic) .menu-text,
#context-sendaudio:not(.menuitem-iconic) > .menu-text,
#context-sendimage:not(.menuitem-iconic) > .menu-text,
#context-sendvideo:not(.menuitem-iconic) > .menu-text,
#context-saveimage:not(.menuitem-iconic) .menu-text,
#context-saveaudio:not(.menuitem-iconic) .menu-text,
#context-savevideo:not(.menuitem-iconic) .menu-text,
#context-savelink:not(.menuitem-iconic) .menu-text,
#context-savelinktopocket:not(.menuitem-iconic) .menu-text,
#context-pocket:not(.menuitem-iconic) .menu-text,
#context-take-screenshot:not(.menuitem-iconic) .menu-text,
#context-saveframe:not(.menuitem-iconic) .menu-text,
#context-viewimage:not(.menuitem-iconic) .menu-text,
#context-copy:not(.menuitem-iconic) .menu-text,
#context-copyaudiourl:not(.menuitem-iconic) .menu-text,
#context-copyemail:not(.menuitem-iconic) .menu-text,
#context-copyimage:not(.menuitem-iconic) .menu-text,
#context-copyimage-contents:not(.menuitem-iconic) .menu-text,
#context-copylink:not(.menuitem-iconic) .menu-text,
#context-copyvideourl:not(.menuitem-iconic) .menu-text,
#context-bookmarkframe:not(.menuitem-iconic) .menu-text,
#context-bookmarklink:not(.menuitem-iconic) .menu-text,
#context-bookmarkpage:not(.menuitem-iconic) .menu-text,
#context-openframe:not(.menuitem-iconic) .menu-text,
#context-openframeintab:not(.menuitem-iconic) .menu-text,
#context-openlink:not(.menuitem-iconic) .menu-text,
#context-openlinkincontainertab:not(.menuitem-iconic) .menu-text,
#context-openlinkincurrent:not(.menuitem-iconic) .menu-text,
#context-openlinkintab:not(.menuitem-iconic) .menu-text,
#context-openlinkinunloadedtab:not(.menuitem-iconic) .menu-text,
#context_openANewTab:not(.menuitem-iconic) .menu-text,
#context-openlinkinusercontext-menu:not(.menuitem-iconic) > .menu-text,
#context-openlinkprivate:not(.menuitem-iconic) .menu-text,
#context-searchselect:not(.menuitem-iconic) .menu-text,
#context-searchselect-private:not(.menuitem-iconic) .menu-text,
#context-viewpartialsource-selection:not(.menuitem-iconic) .menu-text,
#context-undo:not(.menuitem-iconic) .menu-text,
#context-redo:not(.menuitem-iconic) .menu-text,
#context-cut:not(.menuitem-iconic) .menu-text,
#context-paste:not(.menuitem-iconic) .menu-text,
#context-delete:not(.menuitem-iconic) .menu-text,
#context-keywordfield:not(.menuitem-iconic) .menu-text,
#context-printframe:not(.menuitem-iconic) .menu-text,
#context-print-selection:not(.menuitem-iconic) .menu-text,
#context-viewframesource:not(.menuitem-iconic) .menu-text,
#context-viewframeinfo:not(.menuitem-iconic) .menu-text,
#context-frameOsPid:not(.menuitem-iconic) .menu-text,
#context-reload:not(.menuitem-iconic) .menu-text,
#context-reloadframe:not(.menuitem-iconic) .menu-text,
#context-reloadimage:not(.menuitem-iconic) .menu-text,
#context-showonlythisframe:not(.menuitem-iconic) .menu-text,
#contentAreaContextMenu #frame:not(.menuitem-iconic) > .menu-text,
#context-video-saveimage:not(.menuitem-iconic) .menu-text,
#context-media-pause:not(.menuitem-iconic) .menu-text,
#context-media-play:not(.menuitem-iconic) .menu-text,
#context-media-mute:not(.menuitem-iconic) .menu-text,
#context-media-unmute:not(.menuitem-iconic) .menu-text,
#context-video-fullscreen:not(.menuitem-iconic) .menu-text,
#context-leave-dom-fullscreen:not(.menuitem-iconic) .menu-text,
#context-media-playbackrate:not(.menuitem-iconic) > .menu-text,
#context-media-showcontrols:not(.menuitem-iconic) .menu-text,
#context-media-hidecontrols:not(.menuitem-iconic) .menu-text,
#context-viewvideo:not(.menuitem-iconic) .menu-text,
#context_moveToStart:not(.menuitem-iconic) .menu-text,
#context_moveToEnd:not(.menuitem-iconic) .menu-text,
#context_openTabInWindow:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Undo"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Redo"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Cut"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Copy"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Paste"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Paste & Search"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Paste and Go"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Delete"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Select All"]:not(.menuitem-iconic) .menu-text,
.searchbar-clear-history:not(.menuitem-iconic) .menu-text,
#spell-check-enabled:not(.menuitem-iconic) .menu-iconic-text,
:is(#spell-add-to-dictionary, #spell-add-dictionaries, #spell-add-dictionaries-main, #spell-dictionaries):not(.menuitem-iconic)
    .menu-text,
#context_reopenInContainer:not(.menuitem-iconic) > .menu-text,
#context_reloadTab:not(.menuitem-iconic) .menu-text,
#context_reloadSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_toggleMuteTab:not(.menuitem-iconic) .menu-text,
#context_toggleMuteSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_pinTab:not(.menuitem-iconic) .menu-text,
#context_pinSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_unpinTab:not(.menuitem-iconic) .menu-text,
#context_unpinSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_duplicateTab:not(.menuitem-iconic) .menu-text,
#context_duplicateTabs:not(.menuitem-iconic) .menu-text,
#context-markAsRead:not(.menuitem-iconic) .menu-text,
#context-markAsUnread:not(.menuitem-iconic) .menu-text,
#context_selectAllTabs:not(.menuitem-iconic) .menu-text,
#context_bookmarkTab:not(.menuitem-iconic) .menu-text,
#context_bookmarkSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_moveTabOptions:not(.menuitem-iconic) > .menu-text,
#context_sendTabToDevice:not(.menuitem-iconic) > .menu-text,
#context_shareTabURL:not(.menuitem-iconic) > .menu-text,
#context_closeTabOptions:not(.menuitem-iconic) > .menu-text,
#context_undoCloseTab:not(.menuitem-iconic) .menu-text,
#context_closeTab:not(.menuitem-iconic) .menu-text,
#discardTab:not(.menuitem-iconic) .menu-text,
#historyUndoWindowMenu3:not(.menuitem-iconic) > .menu-text,
#tabContextUndoList:not(.menuitem-iconic) > .menu-text,
#ContextUndoList:not(.menuitem-iconic) > .menu-text,
#tabContextMenu menuitem[label^="Restore All"]:not(.menuitem-iconic) .menu-text,
:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target:is([clientType="phone"], [clientType="mobile"], [clientType="desktop"]):not(.menuitem-iconic)
    .menu-text,
#userScriptsMenu > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Auto-fill"]
    > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Username"]
    > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Password"]
    > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label*="Generate Password"]
    > .menu-text,
:is(menu, menuitem)[id^="multithreaded-download-manager"]:is([label="Open in new tab"], [label="Open in new window"], [label="Open in sidebar"])
    > .menu-iconic-text,
menuitem.viewCustomizeToolbar > .menu-text,
menuitem.customize-context-removeFromToolbar > .menu-text,
menuitem.customize-context-removeFromPanel > .menu-text,
menuitem.customize-context-moveToToolbar > .menu-text,
menuitem.customize-context-moveToPanel > .menu-text,
menuitem.customize-context-manageExtension > .menu-text,
menu.customize-context-debugExtension > .menu-text,
menuitem[class^="customize-context-open"] > .menu-text,
menuitem.pageActionContextMenuItem.manageExtensionItem > .menu-text,
menuitem.customize-context-removeExtension > .menu-text,
menuitem.pageActionContextMenuItem.removeExtensionItem > .menu-text,
menuitem.customize-context-reportExtension > .menu-text {
    display: -moz-inline-box !important;
    margin-inline: 0 !important;
    padding-inline: 0 2px !important;
}

#context_openTabInWindow:not(.menuitem-iconic)::before,
#context-video-saveimage:not(.menuitem-iconic)::before,
#context-media-playbackrate:not(.menuitem-iconic)::before,
#context-viewvideo:not(.menuitem-iconic)::before,
#context-media-showcontrols:not(.menuitem-iconic)::before,
#context-media-hidecontrols:not(.menuitem-iconic)::before,
#context-printframe:not(.menuitem-iconic)::before,
#context-print-selection:not(.menuitem-iconic)::before,
#context-frameOsPid:not(.menuitem-iconic)::before,
#context-reload:not(.menuitem-iconic)::before,
#context-reloadimage:not(.menuitem-iconic)::before,
#context-reloadframe:not(.menuitem-iconic)::before,
#context-inspect:not(.menuitem-iconic)::before,
#context-inspect-a11y:not(.menuitem-iconic)::before,
#context-viewsource:not(.menuitem-iconic)::before,
#context-viewpartialsource-selection:not(.menuitem-iconic)::before,
#context-viewframesource:not(.menuitem-iconic)::before,
#context-viewinfo:not(.menuitem-iconic)::before,
#context-viewimageinfo:not(.menuitem-iconic)::before,
#context-viewframeinfo:not(.menuitem-iconic)::before,
#context-viewbgimage:not(.menuitem-iconic)::before,
#context-setDesktopBackground:not(.menuitem-iconic)::before,
#context-savepage:not(.menuitem-iconic)::before,
#context-sendpagetodevice:not(.menuitem-iconic)::before,
#context-sendlinktodevice:not(.menuitem-iconic)::before,
#context-selectall:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Select All"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Copy"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Cut"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste & Search"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste and Go"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Delete"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Undo"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Redo"]:not(.menuitem-iconic)::before,
.searchbar-clear-history:not(.menuitem-iconic)::before,
#context-sendimage:not(.menuitem-iconic)::before,
#context-sendvideo:not(.menuitem-iconic)::before,
#context-sendaudio:not(.menuitem-iconic)::before,
#context-saveaudio:not(.menuitem-iconic)::before,
#context-saveframe:not(.menuitem-iconic)::before,
#context-saveimage:not(.menuitem-iconic)::before,
#context-savelink:not(.menuitem-iconic)::before,
#context-savevideo:not(.menuitem-iconic)::before,
#context-savelinktopocket:not(.menuitem-iconic)::before,
#context-pocket:not(.menuitem-iconic)::before,
#context-take-screenshot:not(.menuitem-iconic)::before,
#context-viewimage:not(.menuitem-iconic)::before,
#context-copy:not(.menuitem-iconic)::before,
#context-copyimage-contents:not(.menuitem-iconic)::before,
#context-cut:not(.menuitem-iconic)::before,
#context-paste:not(.menuitem-iconic)::before,
#context-delete:not(.menuitem-iconic)::before,
#context-copyemail:not(.menuitem-iconic)::before,
#context-copyaudiourl:not(.menuitem-iconic)::before,
#context-copyimage:not(.menuitem-iconic)::before,
#context-copylink:not(.menuitem-iconic)::before,
#context-copyvideourl:not(.menuitem-iconic)::before,
#context-bookmarkframe:not(.menuitem-iconic)::before,
#context-bookmarklink:not(.menuitem-iconic)::before,
#context-bookmarkpage:not(.menuitem-iconic)::before,
#context-openlinkintab:not(.menuitem-iconic)::before,
#context-openlinkinunloadedtab:not(.menuitem-iconic)::before,
#context_openANewTab:not(.menuitem-iconic)::before,
#context-openlinkincontainertab:not(.menuitem-iconic)::before,
#context-openlinkinusercontext-menu:not(.menuitem-iconic)::before,
#context-openframeintab:not(.menuitem-iconic)::before,
#context-openlinkincurrent:not(.menuitem-iconic)::before,
#context-openlink:not(.menuitem-iconic)::before,
#context-openframe:not(.menuitem-iconic)::before,
#context-openlinkprivate:not(.menuitem-iconic)::before,
#context-searchselect:not(.menuitem-iconic)::before,
#context-searchselect-private:not(.menuitem-iconic)::before,
#context-undo:not(.menuitem-iconic)::before,
#context-redo:not(.menuitem-iconic)::before,
#context-keywordfield:not(.menuitem-iconic)::before,
#context_reopenInContainer:not(.menuitem-iconic)::before,
:is(#context_reloadTab, #context_reloadSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_toggleMuteTab, #context_toggleMuteSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_pinTab, #context_pinSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_unpinTab, #context_unpinSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_duplicateTab, #context_duplicateTabs):not(.menuitem-iconic)::before,
#context-markAsRead::before,
#context-markAsUnread::before,
:is(#context_bookmarkTab, #context_bookmarkSelectedTabs):not(.menuitem-iconic)::before,
#context_selectAllTabs:not(.menuitem-iconic)::before,
#context_moveTabOptions:not(.menuitem-iconic)::before,
#context_sendTabToDevice:not(.menuitem-iconic)::before,
#context_shareTabURL:not(.menuitem-iconic)::before,
#context_closeTabOptions:not(.menuitem-iconic)::before,
#context_undoCloseTab:not(.menuitem-iconic)::before,
#context_closeTab:not(.menuitem-iconic)::before,
#discardTab:not(.menuitem-iconic)::before,
#historyUndoWindowMenu3:not(.menuitem-iconic)::before,
#tabContextUndoList:not(.menuitem-iconic)::before,
#ContextUndoList:not(.menuitem-iconic)::before,
#tabContextMenu menuitem[label^="Restore All"]::before,
:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target:is([clientType="phone"], [clientType="mobile"], [clientType="desktop"])::before,
:is(#spell-add-to-dictionary, #spell-add-dictionaries, #spell-add-dictionaries-main, #spell-dictionaries)::before,
#context-showonlythisframe:not(.menuitem-iconic)::before,
#contentAreaContextMenu #frame:not(.menuitem-iconic)::before,
#context-media-pause:not(.menuitem-iconic)::before,
#context-media-play:not(.menuitem-iconic)::before,
#context-media-mute:not(.menuitem-iconic)::before,
#context-media-unmute:not(.menuitem-iconic)::before,
#context-video-fullscreen:not(.menuitem-iconic)::before,
#context-leave-dom-fullscreen:not(.menuitem-iconic)::before,
#context_moveToStart:not(.menuitem-iconic)::before,
#context_moveToEnd:not(.menuitem-iconic)::before,
#userScriptsMenu::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Auto-fill"]::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Username"]::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Password"]::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label*="Generate Password"]::before,
:is(menu, menuitem)[id^="multithreaded-download-manager"]:is([label="Open in new tab"], [label="Open in new window"], [label="Open in sidebar"])::before,
menuitem.viewCustomizeToolbar::before,
menuitem.customize-context-removeFromToolbar::before,
menuitem.customize-context-removeFromPanel::before,
menuitem.customize-context-moveToToolbar::before,
menuitem.customize-context-moveToPanel::before,
menuitem.customize-context-manageExtension::before,
menu.customize-context-debugExtension::before,
menuitem[class^="customize-context-open"]::before,
menuitem.pageActionContextMenuItem.manageExtensionItem::before,
menuitem.customize-context-removeExtension::before,
menuitem.pageActionContextMenuItem.removeExtensionItem::before,
menuitem.customize-context-reportExtension::before {
    content: "" !important;
    position: relative !important;
    display: -moz-inline-box !important;
    width: 16px !important;
    height: 16px !important;
    padding-inline: 0px !important;
    margin-inline: var(--context-iconic-margin) !important;
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke !important;
    background-position: center !important;
    background-size: 16px !important;
    background-repeat: no-repeat !important;
}

#context_moveToStart:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/back.svg) !important;
}

#context_moveToEnd:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/forward.svg) !important;
}

#context_openTabInWindow:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/new-window.svg) !important;
}

#context-video-saveimage:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

#context-media-pause:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/pauseButton.svg) !important;
}

#context-media-play:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/playButton.svg) !important;
}

#context-media-mute:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/audioMutedButton.svg) !important;
}

#context-media-unmute:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/audioUnmutedButton.svg) !important;
}

#context-video-fullscreen:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/fullscreenEnterButton.svg) !important;
}

#context-leave-dom-fullscreen:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/fullscreenExitButton.svg) !important;
}

#context-media-playbackrate:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/performance.svg) !important;
}

#context-viewvideo:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/tab-play.svg) !important;
}

:is(#context-media-showcontrols, #context-media-hidecontrols):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/material/tune.svg) !important;
}

#context-showonlythisframe:not(.menuitem-iconic)::before,
#contentAreaContextMenu #frame:not(.menuitem-iconic)::before {
    fill-opacity: 0.3 !important;
    background-image: url(chrome://userchrome/content/devtools/command-frames.svg) !important;
}

:is(#context-printframe, #context-print-selection):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/print.svg) !important;
}

#context-frameOsPid:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-memory.svg) !important;
}

:is(#context-reloadframe, #context-reload, #context-reloadimage):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/reload.svg) !important;
}

#context-inspect:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-inspector.svg);
}

/* hide "Inspect Accessibility Properties" */
#context-inspect-a11y {
    display: none !important;
}

/* or just shorten the label */
#context-inspect-a11y:not(.menuitem-iconic)::before {
    background-position: left center !important;
    content: "Inspect Accessibility" !important;
    padding-inline-start: 22px !important;
    background-image: url(chrome://userchrome/content/devtools/tool-accessibility.svg) !important;
}

#context-inspect-a11y .menu-text {
    visibility: collapse !important;
}

:is(#context-viewframesource, #context-viewpartialsource-selection, #context-viewsource):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-dom.svg) !important;
}

:is(#context-viewframeinfo, #context-viewinfo, #context-viewimageinfo):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/info.svg) !important;
}

:is(#context-setDesktopBackground, #context-viewbgimage):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

#context-savepage:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/document.svg) !important;
}

:is(#context-sendlinktodevice, #context-sendpagetodevice):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/send-to-device.svg) !important;
}

#context-selectall:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Select All"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/glyph-highlights-16.svg);
}

:is(#context-sendaudio, #context-sendimage, #context-sendvideo):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/mail.svg) !important;
}

:is(#context-savevideo, #context-saveaudio, #context-saveframe, #context-saveimage, #context-savelink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/save.svg) !important;
}

#context-savelinktopocket:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/pocket.svg) !important;
}

#context-pocket:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/pocket.svg) !important;
}

#context-take-screenshot:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/command-screenshot.svg) !important;
}

#context-viewimage:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

:is(#context-copyimage-contents, #context-copy):not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Copy"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-copy.svg) !important;
}

#context-cut:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Cut"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-cut.svg) !important;
}

#context-paste:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-paste.svg) !important;
}

.textbox-contextmenu
    menuitem:is([label="Paste and Go"], [label="Paste & Search"]):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-paste-and-go.svg);
}

#context-delete:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Delete"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/close.svg) !important;
}

.searchbar-clear-history:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/clear.svg) !important;
}

#context-copyemail:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/mail.svg) !important;
}

:is(#context-copyvideourl, #context-copyaudiourl, #context-copyimage, #context-copylink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/link.svg) !important;
}

:is(#context-bookmarkpage, #context-bookmarkframe, #context-bookmarklink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg) !important;
}

:is(#context-openframeintab, #context-openlinkintab, #context_openANewTab):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/new-tab.svg) !important;
}

#context-openlinkinunloadedtab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/quit.svg) !important;
}

#context-openlinkincurrent:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/tab.svg) !important;
}

#context-openlinkincontainertab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/container-go.svg) !important;
}

#context-openlinkinusercontext-menu:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/container-plus.svg) !important;
}

:is(#context-openframe, #context-openlink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/new-window.svg) !important;
}

#context-openlinkprivate:not(.menuitem-iconic)::before,
#context-searchselect-private:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/privateBrowsing.svg) !important;
}

#context-searchselect:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/search-glass.svg) !important;
}

#context-undo:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Undo"]:not(.menuitem-iconic)::before,
#context_undoCloseTab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/undo.svg) !important;
}

#context-redo:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Redo"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/undo.svg) !important;
    transform: rotate(180deg);
}

#context-keywordfield:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/filter.svg) !important;
}

#context_reopenInContainer:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/container-go.svg) !important;
}

:is(#context_reloadTab, #context_reloadSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/reload.svg);
}

:is(#context_toggleMuteTab, #context_toggleMuteSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/tab-audio-muted.svg) !important;
}

:is(#context_toggleMuteTab, #context_toggleMuteSelectedTabs)[muted="true"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/tab-audio-playing.svg) !important;
}

:is(#context_pinTab, #context_pinSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/pin-tab.svg);
}

:is(#context_unpinTab, #context_unpinSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/unpin-tab.svg);
}

:is(#context_duplicateTab, #context_duplicateTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/duplicate-tab.svg);
}

#context-markAsUnread::before {
    background-image: url(chrome://userchrome/content/skin/mark-tab-unread.svg);
}

#context-markAsRead::before {
    background-image: url(chrome://userchrome/content/skin/mark-tab-read.svg);
}

#context_selectAllTabs:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-styleeditor.svg);
}

:is(#context_bookmarkTab, #context_bookmarkSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg);
}

#context_moveTabOptions:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/move-tab.svg);
}

#context_sendTabToDevice:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/send-to-device.svg);
}

#context_shareTabURL:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/share.svg);
    scale: 0.9;
}

#context_closeTabOptions:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/close-tabs.svg);
}

#context_closeTab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/stop.svg) !important;
}

#discardTab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/quit.svg);
}

#historyUndoWindowMenu3:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/window.svg);
}

#tabContextUndoList:not(.menuitem-iconic)::before,
#ContextUndoList:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/tab.svg);
}

#tabContextMenu menuitem[label^="Restore All"]::before {
    background-image: url(chrome://userchrome/content/skin/restore-session.svg);
}

:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target:is([clientType="phone"], [clientType="mobile"])::before {
    background-image: url(chrome://userchrome/content/skin/device-phone.svg);
}

:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target[clientType="desktop"]::before {
    background-image: url(chrome://userchrome/content/skin/device-desktop.svg);
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Auto-fill"]::before {
    background-image: url(chrome://userchrome/content/formfill.svg);
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Username"]::before {
    background-image: url(chrome://userchrome/content/fxa/avatar-empty.svg);
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Password"]::before {
    background-image: url(chrome://userchrome/content/skin/login.svg);
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label*="Generate Password"]::before {
    background-image: url(chrome://userchrome/content/generate-password.svg);
}

:is(menu, menuitem)[id^="multithreaded-download-manager"]:is([label="Open in new tab"], [label="Open in new window"], [label="Open in sidebar"])
    .menu-iconic-left {
    display: none;
}

:is(menu, menuitem)[id^="multithreaded-download-manager"][label="Open in new tab"]::before {
    background-image: url(chrome://userchrome/content/skin/tab.svg) !important;
}

:is(menu, menuitem)[id^="multithreaded-download-manager"][label="Open in new window"]::before {
    background-image: url(chrome://userchrome/content/skin/window.svg) !important;
}

:is(menu, menuitem)[id^="multithreaded-download-manager"][label="Open in sidebar"]::before {
    background-image: url(chrome://userchrome/content/skin/sidebars-right.svg) !important;
}

#userScriptsMenu::before {
    background-image: url(chrome://userchrome/content/material/javascript.svg);
}

#toolbar-context-menu #toggle_PersonalToolbar {
    display: none !important;
}

:is(#spell-add-to-dictionary, #spell-add-dictionaries, #spell-add-dictionaries-main)::before {
    background-image: url(chrome://userchrome/content/skin/readerMode.svg) !important;
}

#spell-dictionaries::before {
    background-image: url(chrome://userchrome/content/places/defaultFavicon.svg) !important;
}

menuitem.viewCustomizeToolbar::before {
    background-image: url(chrome://browser/skin/customize.svg);
}

menuitem.customize-context-removeFromToolbar::before,
menuitem.customize-context-removeFromPanel::before {
    background-image: url(chrome://userchrome/content/undo.svg);
}

menuitem.customize-context-moveToToolbar::before {
    background-image: url(chrome://userchrome/content/skin/unpin-tab.svg);
}

menuitem.customize-context-moveToPanel::before {
    background-image: url(chrome://userchrome/content/skin/pin-tab.svg);
}

menuitem.customize-context-manageExtension::before,
menuitem.pageActionContextMenuItem.manageExtensionItem::before {
    background-image: url(chrome://userchrome/content/skin/developer.svg);
}

menu.customize-context-debugExtension::before {
    background-image: url(chrome://devtools/skin/images/debugging-workers.svg);
}

menuitem.customize-context-openManifest::before {
    background-image: url(chrome://userchrome/content/devtools/tool-styleeditor.svg);
}

menuitem.customize-context-openPopup::before {
    background-image: url(chrome://userchrome/content/devtools/command-noautohide.svg);
}

menuitem.customize-context-openOptions::before {
    background-image: url(chrome://userchrome/content/settings.svg);
}

menuitem.customize-context-openInspector::before {
    background-image: url(chrome://userchrome/content/devtools/tool-inspector.svg);
}

menuitem.customize-context-removeExtension::before,
menuitem.pageActionContextMenuItem.removeExtensionItem::before {
    background-image: url(chrome://userchrome/content/material/extension-blocked.svg);
}

menuitem.customize-context-reportExtension::before {
    background-image: url(chrome://devtools/skin/images/alert.svg);
}
