/* add icons to non-iconized context menu items */
menupopup
    menuitem:is([type="checkbox"], [type="radio"], [checked])
    :is(.menu-text, .menu-iconic-text),
#context-inspect-a11y:not(.menuitem-iconic) .menu-text,
#context-inspect:not(.menuitem-iconic) .menu-text,
#context-viewsource:not(.menuitem-iconic) .menu-text,
#context-viewinfo:not(.menuitem-iconic) .menu-text,
#context-viewbgimage:not(.menuitem-iconic) .menu-text,
#context-savepage:not(.menuitem-iconic) .menu-text,
#context-sendpagetodevice:not(.menuitem-iconic) > .menu-text,
#context-selectall:not(.menuitem-iconic) .menu-text,
#context-sendlinktodevice:not(.menuitem-iconic) > .menu-text,
#context-viewimageinfo:not(.menuitem-iconic) .menu-text,
#context-setDesktopBackground:not(.menuitem-iconic) .menu-text,
#context-sendaudio:not(.menuitem-iconic) > .menu-text,
#context-sendimage:not(.menuitem-iconic) > .menu-text,
#context-sendvideo:not(.menuitem-iconic) > .menu-text,
#context-saveimage:not(.menuitem-iconic) .menu-text,
#context-saveaudio:not(.menuitem-iconic) .menu-text,
#context-savevideo:not(.menuitem-iconic) .menu-text,
#context-savelink:not(.menuitem-iconic) .menu-text,
#context-savelinktopocket:not(.menuitem-iconic) .menu-text,
#context-pocket:not(.menuitem-iconic) .menu-text,
#context-take-screenshot:not(.menuitem-iconic) .menu-text,
#context-saveframe:not(.menuitem-iconic) .menu-text,
#context-viewimage:not(.menuitem-iconic) .menu-text,
#context-copy:not(.menuitem-iconic) .menu-text,
#context-copyaudiourl:not(.menuitem-iconic) .menu-text,
#context-copyemail:not(.menuitem-iconic) .menu-text,
#context-copyimage:not(.menuitem-iconic) .menu-text,
#context-copyimage-contents:not(.menuitem-iconic) .menu-text,
#context-copylink:not(.menuitem-iconic) .menu-text,
#context-copyvideourl:not(.menuitem-iconic) .menu-text,
#context-bookmarkframe:not(.menuitem-iconic) .menu-text,
#context-bookmarklink:not(.menuitem-iconic) .menu-text,
#context-bookmarkpage:not(.menuitem-iconic) .menu-text,
#context-openframe:not(.menuitem-iconic) .menu-text,
#context-openframeintab:not(.menuitem-iconic) .menu-text,
#context-openlink:not(.menuitem-iconic) .menu-text,
#context-openlinkincontainertab:not(.menuitem-iconic) .menu-text,
#context-openlinkincurrent:not(.menuitem-iconic) .menu-text,
#context-openlinkintab:not(.menuitem-iconic) .menu-text,
#context_openANewTab:not(.menuitem-iconic) .menu-text,
#context-openlinkinusercontext-menu:not(.menuitem-iconic) > .menu-text,
#context-openlinkprivate:not(.menuitem-iconic) .menu-text,
#context-searchselect:not(.menuitem-iconic) .menu-text,
#context-searchselect-private:not(.menuitem-iconic) .menu-text,
#context-viewpartialsource-selection:not(.menuitem-iconic) .menu-text,
#context-undo:not(.menuitem-iconic) .menu-text,
#context-redo:not(.menuitem-iconic) .menu-text,
#context-cut:not(.menuitem-iconic) .menu-text,
#context-paste:not(.menuitem-iconic) .menu-text,
#context-delete:not(.menuitem-iconic) .menu-text,
#context-keywordfield:not(.menuitem-iconic) .menu-text,
#context-printframe:not(.menuitem-iconic) .menu-text,
#context-print-selection:not(.menuitem-iconic) .menu-text,
#context-viewframesource:not(.menuitem-iconic) .menu-text,
#context-viewframeinfo:not(.menuitem-iconic) .menu-text,
#context-frameOsPid:not(.menuitem-iconic) .menu-text,
#context-reload:not(.menuitem-iconic) .menu-text,
#context-reloadframe:not(.menuitem-iconic) .menu-text,
#context-reloadimage:not(.menuitem-iconic) .menu-text,
#context-showonlythisframe:not(.menuitem-iconic) .menu-text,
#contentAreaContextMenu #frame:not(.menuitem-iconic) > .menu-text,
#context-video-saveimage:not(.menuitem-iconic) .menu-text,
#context-media-pause:not(.menuitem-iconic) .menu-text,
#context-media-play:not(.menuitem-iconic) .menu-text,
#context-media-mute:not(.menuitem-iconic) .menu-text,
#context-media-unmute:not(.menuitem-iconic) .menu-text,
#context-video-fullscreen:not(.menuitem-iconic) .menu-text,
#context-leave-dom-fullscreen:not(.menuitem-iconic) .menu-text,
#context-media-playbackrate:not(.menuitem-iconic) > .menu-text,
#context-media-showcontrols:not(.menuitem-iconic) .menu-text,
#context-media-hidecontrols:not(.menuitem-iconic) .menu-text,
#context-viewvideo:not(.menuitem-iconic) .menu-text,
#context_moveToStart:not(.menuitem-iconic) .menu-text,
#context_moveToEnd:not(.menuitem-iconic) .menu-text,
#context_openTabInWindow:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Undo"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Redo"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Cut"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Copy"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Paste"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Paste & Search"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Paste and Go"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Delete"]:not(.menuitem-iconic) .menu-text,
.textbox-contextmenu menuitem[label="Select All"]:not(.menuitem-iconic) .menu-text,
.searchbar-clear-history:not(.menuitem-iconic) .menu-text,
#spell-check-enabled:not(.menuitem-iconic) .menu-iconic-text,
:is(#spell-add-to-dictionary, #spell-add-dictionaries, #spell-add-dictionaries-main, #spell-dictionaries):not(.menuitem-iconic)
    .menu-text,
#context_reopenInContainer:not(.menuitem-iconic) > .menu-text,
#context_reloadTab:not(.menuitem-iconic) .menu-text,
#context_reloadSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_toggleMuteTab:not(.menuitem-iconic) .menu-text,
#context_toggleMuteSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_pinTab:not(.menuitem-iconic) .menu-text,
#context_pinSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_unpinTab:not(.menuitem-iconic) .menu-text,
#context_unpinSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_duplicateTab:not(.menuitem-iconic) .menu-text,
#context_duplicateTabs:not(.menuitem-iconic) .menu-text,
#context_selectAllTabs:not(.menuitem-iconic) .menu-text,
#context_bookmarkTab:not(.menuitem-iconic) .menu-text,
#context_bookmarkSelectedTabs:not(.menuitem-iconic) .menu-text,
#context_moveTabOptions:not(.menuitem-iconic) > .menu-text,
#context_sendTabToDevice:not(.menuitem-iconic) > .menu-text,
#context_shareTabURL:not(.menuitem-iconic) > .menu-text,
#context_closeTabOptions:not(.menuitem-iconic) > .menu-text,
#context_undoCloseTab:not(.menuitem-iconic) .menu-text,
#context_closeTab:not(.menuitem-iconic) .menu-text,
#discardTab:not(.menuitem-iconic) .menu-text,
#historyUndoWindowMenu3:not(.menuitem-iconic) > .menu-text,
#tabContextUndoList:not(.menuitem-iconic) > .menu-text,
#ContextUndoList:not(.menuitem-iconic) > .menu-text,
#tabContextMenu menuitem[label^="Restore All"]:not(.menuitem-iconic) .menu-text,
:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target:is([clientType="phone"], [clientType="mobile"], [clientType="desktop"]):not(.menuitem-iconic)
    .menu-text,
#userScriptsMenu > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Auto-fill"]
    > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Username"]
    > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Password"]
    > .menu-text,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label*="Generate Password"]
    > .menu-text {
    display: -moz-inline-box !important;
    margin-inline: var(--context-margin-inline) !important;
    padding-inline: var(--context-padding-inline) !important;
}

#context_openTabInWindow:not(.menuitem-iconic)::before,
#context-video-saveimage:not(.menuitem-iconic)::before,
#context-media-playbackrate:not(.menuitem-iconic)::before,
#context-viewvideo:not(.menuitem-iconic)::before,
#context-media-showcontrols:not(.menuitem-iconic)::before,
#context-media-hidecontrols:not(.menuitem-iconic)::before,
#context-printframe:not(.menuitem-iconic)::before,
#context-print-selection:not(.menuitem-iconic)::before,
#context-frameOsPid:not(.menuitem-iconic)::before,
#context-reload:not(.menuitem-iconic)::before,
#context-reloadimage:not(.menuitem-iconic)::before,
#context-reloadframe:not(.menuitem-iconic)::before,
#context-inspect:not(.menuitem-iconic)::before,
#context-inspect-a11y:not(.menuitem-iconic)::before,
#context-viewsource:not(.menuitem-iconic)::before,
#context-viewpartialsource-selection:not(.menuitem-iconic)::before,
#context-viewframesource:not(.menuitem-iconic)::before,
#context-viewinfo:not(.menuitem-iconic)::before,
#context-viewimageinfo:not(.menuitem-iconic)::before,
#context-viewframeinfo:not(.menuitem-iconic)::before,
#context-viewbgimage:not(.menuitem-iconic)::before,
#context-setDesktopBackground:not(.menuitem-iconic)::before,
#context-savepage:not(.menuitem-iconic)::before,
#context-sendpagetodevice:not(.menuitem-iconic)::before,
#context-sendlinktodevice:not(.menuitem-iconic)::before,
#context-selectall:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Select All"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Copy"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Cut"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste & Search"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste and Go"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Delete"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Undo"]:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Redo"]:not(.menuitem-iconic)::before,
.searchbar-clear-history:not(.menuitem-iconic)::before,
#context-sendimage:not(.menuitem-iconic)::before,
#context-sendvideo:not(.menuitem-iconic)::before,
#context-sendaudio:not(.menuitem-iconic)::before,
#context-saveaudio:not(.menuitem-iconic)::before,
#context-saveframe:not(.menuitem-iconic)::before,
#context-saveimage:not(.menuitem-iconic)::before,
#context-savelink:not(.menuitem-iconic)::before,
#context-savevideo:not(.menuitem-iconic)::before,
#context-savelinktopocket:not(.menuitem-iconic)::before,
#context-pocket:not(.menuitem-iconic)::before,
#context-take-screenshot:not(.menuitem-iconic)::before,
#context-viewimage:not(.menuitem-iconic)::before,
#context-copy:not(.menuitem-iconic)::before,
#context-copyimage-contents:not(.menuitem-iconic)::before,
#context-cut:not(.menuitem-iconic)::before,
#context-paste:not(.menuitem-iconic)::before,
#context-delete:not(.menuitem-iconic)::before,
#context-copyemail:not(.menuitem-iconic)::before,
#context-copyaudiourl:not(.menuitem-iconic)::before,
#context-copyimage:not(.menuitem-iconic)::before,
#context-copylink:not(.menuitem-iconic)::before,
#context-copyvideourl:not(.menuitem-iconic)::before,
#context-bookmarkframe:not(.menuitem-iconic)::before,
#context-bookmarklink:not(.menuitem-iconic)::before,
#context-bookmarkpage:not(.menuitem-iconic)::before,
#context-openlinkintab:not(.menuitem-iconic)::before,
#context_openANewTab:not(.menuitem-iconic)::before,
#context-openlinkincontainertab:not(.menuitem-iconic)::before,
#context-openlinkinusercontext-menu:not(.menuitem-iconic)::before,
#context-openframeintab:not(.menuitem-iconic)::before,
#context-openlinkincurrent:not(.menuitem-iconic)::before,
#context-openlink:not(.menuitem-iconic)::before,
#context-openframe:not(.menuitem-iconic)::before,
#context-openlinkprivate:not(.menuitem-iconic)::before,
#context-searchselect:not(.menuitem-iconic)::before,
#context-searchselect-private:not(.menuitem-iconic)::before,
#context-undo:not(.menuitem-iconic)::before,
#context-redo:not(.menuitem-iconic)::before,
#context-keywordfield:not(.menuitem-iconic)::before,
#context_reopenInContainer:not(.menuitem-iconic)::before,
:is(#context_reloadTab, #context_reloadSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_toggleMuteTab, #context_toggleMuteSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_pinTab, #context_pinSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_unpinTab, #context_unpinSelectedTabs):not(.menuitem-iconic)::before,
:is(#context_duplicateTab, #context_duplicateTabs):not(.menuitem-iconic)::before,
:is(#context_bookmarkTab, #context_bookmarkSelectedTabs):not(.menuitem-iconic)::before,
#context_selectAllTabs:not(.menuitem-iconic)::before,
#context_moveTabOptions:not(.menuitem-iconic)::before,
#context_sendTabToDevice:not(.menuitem-iconic)::before,
#context_shareTabURL:not(.menuitem-iconic)::before,
#context_closeTabOptions:not(.menuitem-iconic)::before,
#context_undoCloseTab:not(.menuitem-iconic)::before,
#context_closeTab:not(.menuitem-iconic)::before,
#discardTab:not(.menuitem-iconic)::before,
#historyUndoWindowMenu3:not(.menuitem-iconic)::before,
#tabContextUndoList:not(.menuitem-iconic)::before,
#ContextUndoList:not(.menuitem-iconic)::before,
#tabContextMenu menuitem[label^="Restore All"]::before,
:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target:is([clientType="phone"], [clientType="mobile"], [clientType="desktop"])::before,
:is(#spell-add-to-dictionary, #spell-add-dictionaries, #spell-add-dictionaries-main, #spell-dictionaries)::before,
#context-showonlythisframe:not(.menuitem-iconic)::before,
#contentAreaContextMenu #frame:not(.menuitem-iconic)::before,
#context-media-pause:not(.menuitem-iconic)::before,
#context-media-play:not(.menuitem-iconic)::before,
#context-media-mute:not(.menuitem-iconic)::before,
#context-media-unmute:not(.menuitem-iconic)::before,
#context-video-fullscreen:not(.menuitem-iconic)::before,
#context-leave-dom-fullscreen:not(.menuitem-iconic)::before,
#context_moveToStart:not(.menuitem-iconic)::before,
#context_moveToEnd:not(.menuitem-iconic)::before,
#userScriptsMenu::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Auto-fill"]::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Username"]::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Password"]::before,
#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label*="Generate Password"]::before {
    content: "" !important;
    position: relative !important;
    display: -moz-inline-box !important;
    width: 16px !important;
    height: 16px !important;
    padding-inline: 0px !important;
    margin-inline: 6px -6px !important;
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke !important;
    background-position: center !important;
    background-size: 16px !important;
    background-repeat: no-repeat !important;
}

#context_moveToStart:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15 7H3.414l4.293-4.293a1 1 0 00-1.414-1.414l-6 6a1 1 0 000 1.414l6 6a1 1 0 001.414-1.414L3.414 9H15a1 1 0 000-2z'/></svg>") !important;
}

#context_moveToEnd:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/forward.svg) !important;
}

#context_openTabInWindow:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/new-window.svg) !important;
}

#context-video-saveimage:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

#context-media-pause:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/pauseButton.svg) !important;
}

#context-media-play:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/playButton.svg) !important;
}

#context-media-mute:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/audioMutedButton.svg) !important;
}

#context-media-unmute:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/audioUnmutedButton.svg) !important;
}

#context-video-fullscreen:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/fullscreenEnterButton.svg) !important;
}

#context-leave-dom-fullscreen:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/fullscreenExitButton.svg) !important;
}

#context-media-playbackrate:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/performance.svg) !important;
}

#context-viewvideo:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M15.926 12.3a.551.551 0 00-.202-.202l-4.969-2.869a.552.552 0 00-.828.476v5.743c0 .305.247.552.552.552a.557.557 0 00.276-.074l4.969-2.871a.554.554 0 00.202-.755z'/><path d='M11.255 8.363L14 9.948V5a2 2 0 00-2-2H4a2 2 0 00-2 2v6H1a1 1 0 000 2h7.927V9.701c.001-.27.073-.536.207-.769a1.556 1.556 0 012.121-.569z'/></svg>") !important;
}

:is(#context-media-showcontrols, #context-media-hidecontrols):not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M1 12.667c0 .428.35.778.778.778h3.889v-1.556H1.778a.78.78 0 00-.778.778zm0-9.334c0 .428.35.778.778.778h7V2.556h-7A.78.78 0 001 3.333zm7.778 10.889v-.778h5.444c.428 0 .778-.35.778-.778s-.35-.778-.778-.778H8.778v-.778A.78.78 0 008 10.332a.78.78 0 00-.778.778v3.111c0 .429.35.779.778.779a.78.78 0 00.778-.778zM4.111 6.444v.778H1.778A.78.78 0 001 8c0 .428.35.778.778.778h2.333v.778c0 .428.35.778.778.778s.778-.35.778-.778V6.444c0-.428-.35-.778-.778-.778s-.778.351-.778.778zM15 8a.78.78 0 00-.778-.778h-7v1.556h7A.78.78 0 0015 8zm-3.889-2.333a.78.78 0 00.778-.778v-.778h2.333c.428 0 .778-.35.778-.778s-.35-.778-.778-.778h-2.333v-.777A.78.78 0 0011.111 1a.78.78 0 00-.778.778v3.111c0 .428.35.778.778.778z'/></svg>") !important;
}

#context-showonlythisframe:not(.menuitem-iconic)::before,
#contentAreaContextMenu #frame:not(.menuitem-iconic)::before {
    fill-opacity: 0.3 !important;
    background-image: url(chrome://userchrome/content/devtools/command-frames.svg) !important;
}

:is(#context-printframe, #context-print-selection):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/print.svg) !important;
}

#context-frameOsPid:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-memory.svg) !important;
}

:is(#context-reloadframe, #context-reload, #context-reloadimage):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/reload.svg) !important;
}

#context-inspect:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-inspector.svg);
}

#context-inspect-a11y:not(.menuitem-iconic)::before {
    background-position: left center !important;
    content: "Inspect Accessibility" !important;
    padding-inline-start: 23px !important;
    background-image: url(chrome://userchrome/content/devtools/tool-accessibility.svg) !important;
}

#context-inspect-a11y .menu-text {
    visibility: collapse !important;
}

:is(#context-viewframesource, #context-viewpartialsource-selection, #context-viewsource):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-dom.svg) !important;
}

:is(#context-viewframeinfo, #context-viewinfo, #context-viewimageinfo):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/info.svg) !important;
}

:is(#context-setDesktopBackground, #context-viewbgimage):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

#context-savepage:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/document.svg) !important;
}

:is(#context-sendlinktodevice, #context-sendpagetodevice):not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M12 0H4a2 2 0 00-2 2v2a1 1 0 001 1 1 1 0 001-1V2.5a.5.5 0 01.5-.5h7a.5.5 0 01.5.5v10a.5.5 0 01-.5.5h-7a.5.5 0 01-.5-.5V11a1 1 0 00-1-1 1 1 0 00-1 1v3a2 2 0 002 2h8a2 2 0 002-2V2a2 2 0 00-2-2zM9 15H7v-1h2z'/><path fill='context-fill' fill-opacity='context-fill-opacity' d='M5.146 10.146a.5.5 0 10.707.707l3-3a.5.5 0 000-.708l-3-3a.5.5 0 00-.707.707L7.293 7H.5a.5.5 0 000 1h6.793z'/></svg>") !important;
}

#context-selectall:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Select All"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/glyph-highlights-16.svg);
}

:is(#context-sendaudio, #context-sendimage, #context-sendvideo):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/mail.svg) !important;
}

:is(#context-savevideo, #context-saveaudio, #context-saveframe, #context-saveimage, #context-savelink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/save.svg) !important;
}

#context-savelinktopocket:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/pocket.svg) !important;
}

#context-pocket:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/pocket.svg) !important;
}

#context-take-screenshot:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/command-screenshot.svg) !important;
}

#context-viewimage:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

:is(#context-copyimage-contents, #context-copy):not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Copy"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-copy.svg) !important;
}

#context-cut:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Cut"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-cut.svg) !important;
}

#context-paste:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Paste"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-paste.svg) !important;
}

.textbox-contextmenu
    menuitem:is([label="Paste and Go"], [label="Paste & Search"]):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/edit-paste-and-go.svg);
}

#context-delete:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Delete"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/close.svg) !important;
}

.searchbar-clear-history:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/clear.svg) !important;
}

#context-copyemail:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/mail.svg) !important;
}

:is(#context-copyvideourl, #context-copyaudiourl, #context-copyimage, #context-copylink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/link.svg) !important;
}

:is(#context-bookmarkpage, #context-bookmarkframe, #context-bookmarklink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg) !important;
}

:is(#context-openframeintab, #context-openlinkintab, #context_openANewTab):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/new-tab.svg) !important;
}

#context-openlinkincurrent:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15 11h-1V5a2 2 0 00-2-2H4a2 2 0 00-2 2v6H1a1 1 0 000 2h14a1 1 0 100-2z'/></svg>") !important;
}

:is(#context-openlinkincontainertab, #context-openlinkinusercontext-menu):not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg height='16' width='16' xmlns='http://www.w3.org/2000/svg'><g fill='context-fill' fill-opacity='context-fill-opacity'><rect height='6' rx='1' width='6' x='1' y='1'/><path d='M15 3v2H9V3z'/><path d='M11 1h2v6h-2z'/><rect height='6' rx='1' width='6' x='1' y='9'/><rect height='6' rx='1' width='6' x='9' y='9'/></g></svg>") !important;
}

#allTabsMenu-containerTabsButton {
    list-style-image: url("data:image/svg+xml;utf8,<svg height='16' width='16' xmlns='http://www.w3.org/2000/svg'><g fill='context-fill' fill-opacity='context-fill-opacity'><rect height='6' rx='1' width='6' x='1' y='1'/><path d='M15 3v2H9V3z'/><path d='M11 1h2v6h-2z'/><rect height='6' rx='1' width='6' x='1' y='9'/><rect height='6' rx='1' width='6' x='9' y='9'/></g></svg>");
}

#allTabsMenu-containerTabsButton .toolbarbutton-text {
    padding-inline-start: 8px;
}

:is(#context-openframe, #context-openlink):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/new-window.svg) !important;
}

#context-openlinkprivate:not(.menuitem-iconic)::before,
#context-searchselect-private:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/privateBrowsing.svg) !important;
}

#context-searchselect:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/search-glass.svg) !important;
}

#context-undo:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Undo"]:not(.menuitem-iconic)::before,
#context_undoCloseTab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/undo.svg) !important;
}

#context-redo:not(.menuitem-iconic)::before,
.textbox-contextmenu menuitem[label="Redo"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/undo.svg) !important;
    transform: rotate(180deg);
}

#context-keywordfield:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/filter.svg) !important;
}

#context_reopenInContainer:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'><g fill='context-fill' fill-opacity='context-fill-opacity' fill-rule='evenodd'><rect height='6' rx='1' width='6' x='1' y='1'/><path d='m11 1h2v6h-2z' transform='matrix(0 1 -1 0 16 -8)'/><path d='m11 1h2v6h-2z'/><rect height='6' rx='1' width='6' x='1' y='9'/><rect height='6' rx='1' width='6' x='9' y='9'/></g></svg>") !important;
}

:is(#context_reloadTab, #context_reloadSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/reload.svg);
}

:is(#context_toggleMuteTab, #context_toggleMuteSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/tab-audio-muted.svg) !important;
}

:is(#context_toggleMuteTab, #context_toggleMuteSelectedTabs)[muted="true"]:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/tab-audio-playing.svg) !important;
}

:is(#context_pinTab, #context_pinSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/pin-tab.svg);
}

:is(#context_unpinTab, #context_unpinSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/unpin-tab.svg);
}

:is(#context_duplicateTab, #context_duplicateTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/new-tab.svg) !important;
}

#context_selectAllTabs:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/devtools/tool-styleeditor.svg) !important;
}

:is(#context_bookmarkTab, #context_bookmarkSelectedTabs):not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/bookmark-hollow.svg) !important;
}

#context_moveTabOptions:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg height='17' viewBox='0 0 512 512' width='17' xmlns='http://www.w3.org/2000/svg'><path d='m192 424a23.928 23.928 0 0 1 -16.971-7.029l-144-144a24 24 0 0 1 0-33.942l144-144a24 24 0 0 1 33.942 33.942l-127.03 127.029 127.03 127.029a24 24 0 0 1 -16.971 40.971zm144.971-7.029 144-144a24 24 0 0 0 0-33.942l-144-144a24 24 0 0 0 -33.942 33.942l127.03 127.029-127.03 127.029a24 24 0 0 0 33.942 33.942z' fill='context-fill' fill-opacity='context-fill-opacity'/></svg>") !important;
}

#context_sendTabToDevice:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M12 0H4a2 2 0 00-2 2v2a1 1 0 001 1 1 1 0 001-1V2.5a.5.5 0 01.5-.5h7a.5.5 0 01.5.5v10a.5.5 0 01-.5.5h-7a.5.5 0 01-.5-.5V11a1 1 0 00-1-1 1 1 0 00-1 1v3a2 2 0 002 2h8a2 2 0 002-2V2a2 2 0 00-2-2zM9 15H7v-1h2z'/><path fill='context-fill' fill-opacity='context-fill-opacity' d='M5.146 10.146a.5.5 0 10.707.707l3-3a.5.5 0 000-.708l-3-3a.5.5 0 00-.707.707L7.293 7H.5a.5.5 0 000 1h6.793z'/></svg>") !important;
}

#context_shareTabURL:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/share.svg);
    scale: 0.9;
}

#context_closeTabOptions:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path d='M14.3 10l-1.8 1.8-1.8-1.8c-.2-.2-.5-.2-.7 0s-.2.5 0 .7l1.8 1.8-1.8 1.8c-.2.2-.2.5 0 .7s.5.2.7 0l1.8-1.8 1.8 1.8c.2.2.5.2.7 0s.2-.5 0-.7l-1.8-1.8 1.8-1.8c.2-.2.2-.5 0-.7s-.5-.2-.7 0z' fill='context-fill' fill-opacity='context-fill-opacity'/><path d='M16 12c0-.2-.1-.5-.2-.6l-1.1 1.1.5.5c.4-.1.8-.5.8-1zm-5.6.5L9 11.1c-.4-.4-.4-1 0-1.4l.7-.7c.4-.4 1-.4 1.4 0l1.4 1.4L13.9 9s.1 0 .1-.1V5c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v6H1c-.6 0-1 .4-1 1s.4 1 1 1h8.9l.5-.5z' fill='context-fill' fill-opacity='context-fill-opacity'/></svg>") !important;
}

#context_closeTab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/stop.svg) !important;
}

#discardTab:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/quit.svg);
}

#historyUndoWindowMenu3:not(.menuitem-iconic)::before {
    background-image: url(chrome://userchrome/content/skin/window.svg);
}

#tabContextUndoList:not(.menuitem-iconic)::before,
#ContextUndoList:not(.menuitem-iconic)::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15 11h-1V5a2 2 0 00-2-2H4a2 2 0 00-2 2v6H1a1 1 0 000 2h14a1 1 0 100-2z'/></svg>");
}

#tabContextMenu menuitem[label^="Restore All"]::before {
    background-image: url(chrome://userchrome/content/skin/restore-session.svg);
}

:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target:is([clientType="phone"], [clientType="mobile"])::before {
    background-image: url(chrome://userchrome/content/skin/device-phone.svg);
}

:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice)
    .sendtab-target[clientType="desktop"]::before {
    background-image: url(chrome://userchrome/content/skin/device-desktop.svg);
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Auto-fill"]::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><g fill='context-fill'><path d='M7.281 5H8.75A.25.25 0 009 4.75V.984a.984.984 0 00-1.969 0V4.75a.25.25 0 00.25.25z'/><path d='M13.5 2H11a1 1 0 000 2h2.5a.5.5 0 01.5.5v7a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-7a.5.5 0 01.5-.5H5a1 1 0 000-2H2.5A2.5 2.5 0 000 4.5v7A2.5 2.5 0 002.5 14h11a2.5 2.5 0 002.5-2.5v-7A2.5 2.5 0 0013.5 2z'/><rect x='3' y='6' width='4' height='4' rx='.577' ry='.577'/><path d='M9.5 7h3a.5.5 0 000-1h-3a.5.5 0 000 1zm0 1a.5.5 0 000 1h2a.5.5 0 000-1z'/></g></svg>");
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Username"]::before {
    background-image: url(chrome://userchrome/content/fxa/avatar-empty.svg);
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label="Copy Password"]::before {
    background-image: url(chrome://userchrome/content/skin/login.svg);
}

#contentAreaContextMenu
    :is(.menu-iconic, .menuitem-iconic)[label="Bitwarden"]
    :is(menu, menuitem)[label*="Generate Password"]::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0.5 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M3.4 8.8c.3.5 1 .7 1.6.4l1.8-1v2.1c0 .7.5 1.2 1.2 1.2s1.2-.5 1.2-1.2V8.1l1.8 1c.6.3 1.3.1 1.6-.4.3-.6.1-1.3-.4-1.6l-1.8-1 1.8-1c.6-.3.8-1.1.4-1.6-.3-.6-1-.8-1.6-.5L9.2 4V1.9C9.2 1.2 8.7.7 8 .7s-1.2.6-1.2 1.2V4L5 3c-.6-.3-1.3-.1-1.6.4-.3.6-.2 1.3.4 1.6l1.8 1-1.8 1c-.6.5-.7 1.2-.4 1.8zm9.8 4.1H2.8c-.7 0-1.2.5-1.2 1.2s.5 1.2 1.2 1.2h10.4c.7 0 1.2-.5 1.2-1.2s-.5-1.2-1.2-1.2z'/></svg>");
}

#userScriptsMenu::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='context-fill' fill-opacity='context-fill-opacity' width='16' height='16'><path d='M5 3.55h1.98v5.66c0 2.51-1.2 3.39-3.12 3.39-.47 0-1.07-.08-1.46-.21l.22-1.61c.28.1.64.16 1.02.16.84 0 1.36-.38 1.36-1.74V3.55zm3.7 6.87c.54.28 1.36.54 2.22.54.9 0 1.4-.37 1.4-.95 0-.54-.43-.87-1.49-1.24C9.37 8.24 8.4 7.44 8.4 6.15c0-1.5 1.27-2.65 3.33-2.65 1 0 1.73.21 2.26.46l-.45 1.58a4.13 4.13 0 00-1.83-.42c-.87 0-1.28.42-1.28.86 0 .56.49.81 1.63 1.26 1.56.57 2.28 1.37 2.28 2.63 0 1.48-1.13 2.73-3.55 2.73-1 0-1.99-.28-2.49-.55l.4-1.63z'/></svg>");
}

#toolbar-context-menu #toggle_PersonalToolbar {
    display: none !important;
}

:is(#spell-add-to-dictionary, #spell-add-dictionaries, #spell-add-dictionaries-main)::before {
    background-image: url(chrome://userchrome/content/skin/readerMode.svg) !important;
}

#spell-dictionaries::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15.84 7.416c-.107-.305-.262-.567-.467-.787s-.455-.391-.75-.515-.63-.185-1.007-.185c-1.046 0-1.94.34-2.68 1.017l.283.496c.046.08.107.146.182.2a.449.449 0 00.27.082c.125 0 .24-.03.345-.088.104-.058.218-.124.342-.198a1.922 1.922 0 011.064-.285c.346 0 .611.103.793.31.182.208.273.527.273.957v.377c-.732.017-1.345.088-1.839.213s-.888.284-1.185.474c-.297.19-.51.404-.637.64a1.498 1.498 0 00-.192.718c0 .289.046.542.138.76.092.217.221.399.386.545.165.147.363.257.593.33.23.073.481.11.753.11.23 0 .44-.02.628-.057s.366-.094.533-.17c.167-.075.33-.168.486-.278.157-.111.317-.24.48-.386l.138.458c.042.134.105.222.188.266a.75.75 0 00.346.066H16V8.42a3.02 3.02 0 00-.16-1.004zm-1.352 3.408c-.113.117-.225.218-.336.304s-.226.158-.345.216c-.12.059-.246.103-.38.132s-.28.044-.439.044c-.26 0-.47-.059-.63-.176-.161-.117-.242-.311-.242-.583 0-.138.039-.266.116-.383s.208-.22.392-.307c.184-.088.428-.16.731-.217s.681-.095 1.133-.116v1.086zM3.564 3.413L0 12.486h1.311a.594.594 0 00.558-.383l.678-1.85h3.759l.678 1.85a.57.57 0 00.565.383h1.304L5.29 3.413H3.564zM2.98 9.06l1.105-3.005c.054-.138.11-.3.166-.483.056-.184.114-.383.173-.596a11.556 11.556 0 00.345 1.066L5.873 9.06H2.98z'/></svg>") !important;
}
