#fullscr-toggler {
    pointer-events: none;
    display: none !important;
}

/* disable autohide menu */
#autohide-context {
    display: none !important;
}

:root:not([sizemode="normal"]) :-moz-any(#TabsToolbar, #nav-bar, #PersonalToolbar) {
    -moz-window-dragging: no-drag !important;
}

:root[inFullscreen]:not([customizing]) #navigator-toolbox {
    margin-top: calc(0.5px - var(--urlbar-container-height) - var(--tab-min-height)) !important;
    transition: all 0.25s ease-in-out 0s !important;
    transition-delay: 0s !important;
    opacity: 0 !important;
    z-index: 2147483647 !important;
    -webkit-transform-style: preserve-3d !important;
    -webkit-backface-visibility: hidden !important;
    -moz-transform-style: preserve-3d !important;
    -moz-backface-visibility: hidden !important;
    transform-style: preserve-3d !important;
    backface-visibility: hidden !important;
}

:root[inFullscreen]:not([customizing]) #navigator-toolbox::after {
    height: 2px !important;
}

/* hides the nav-bar in fullscreen, but reveals it when hovering or focusing the nav-bar, or when nav-bar related popups are opened.
requires fullscreenNavBar.uc.js to set attributes: popup-status and urlbar-status. */
:root[customizing] #navigator-toolbox,
:root[inFullscreen]:not([customizing])
    > body
    > box:is(:focus-within, :hover, [popup-status], [urlbar-status])
    #navigator-toolbox {
    margin-top: 0 !important;
    transition: all 0.25s cubic-bezier(0.26, 1, 0.8, 1) 0s !important;
    opacity: 1 !important;
}

:root[inFullscreen] #navigator-toolbox {
    position: fixed !important;
    display: block;
}

:root[inFullscreen]:not([customizing]) #sidebar-box {
    top: 0 !important;
}

/* uncomment out these rules if you want the sidebar to move up and down with the navbar */
/* :root[inFullscreen]:not([customizing])
    > body
    > box:not(:focus-within, :hover, [popup-status], [urlbar-status])
    ~ #browser
    #sidebar-box {
    top: 0 !important;
    transition: all 0.25s ease-in-out 0s !important;
}

:root[inFullscreen]:not([customizing]) #sidebar-box {
    top: calc(var(--urlbar-container-height) + var(--tab-min-height)) !important;
    padding-top: calc(var(--urlbar-container-height) + var(--tab-min-height)) !important;
    margin-top: calc(0px - var(--urlbar-container-height) - var(--tab-min-height)) !important;
    transition: all 0.25s cubic-bezier(.26,1,.8,1) 0s !important;
    transform-style: flat !important;
    backface-visibility: hidden !important;
} */

:root[inFullscreen]:not([customizing]) #browser findbar {
    top: 8px !important;
    transition: all 0.25s ease-in-out 0s !important;
    padding-top: calc(var(--urlbar-container-height) + var(--tab-min-height)) !important;
    margin-top: calc(0px - var(--urlbar-container-height) - var(--tab-min-height)) !important;
}

:root[inFullscreen]:not([customizing])
    > body
    > box:is(:focus-within, :hover, [popup-status], [urlbar-status])
    ~ #browser
    findbar {
    transition: all 0.25s cubic-bezier(0.26, 1, 0.8, 1) 0s !important;
    margin-top: 0 !important;
}

:root[inFullscreen]:not([customizing])
    > body
    > box:is(:focus-within, :hover, [popup-status], [urlbar-status])
    ~ #browser
    findbar[hidden] {
    margin-top: -21px !important;
}

.tabbrowser-tab:hover:not([selected]) .tab-label-container {
    opacity: 1 !important;
}

:root[customizing][inFullscreen] #customization-container {
    margin-top: calc(var(--urlbar-container-height) + var(--tab-min-height)) !important;
}

/* DOM fullscreen, e.g. hitting the fullscreen button on youtube */
:root[inDOMFullscreen] #navigator-toolbox,
:root[inDOMFullscreen] #fullscr-toggler,
:root[inDOMFullscreen] #sidebar-box,
:root[inDOMFullscreen] #sidebar-splitter {
    visibility: visible !important;
}
