/* this stylesheet is where our basic custom variables are defined, especially colors.
this is required by almost every other stylesheet, both chrome and content.
plaintext documents use just uc-low-globals.css,
but other than that these variables should be available everywhere. */

@import url(chrome://userchrome/content/layout/uc-low-globals.css);

:root,
tooltip {
    --ui-text-30: rgba(255, 255, 255, 0.3);
    --ui-text-40: rgba(255, 255, 255, 0.4);
    --ui-text-50: rgba(255, 255, 255, 0.5);
    --ui-text-60: rgba(255, 255, 255, 0.6);
    --ui-text-70: rgba(255, 255, 255, 0.7);
    --ui-text-80: rgba(255, 255, 255, 0.8);
    --ui-text-90: rgba(255, 255, 255, 0.9);
    --ui-text-100: #fff;

    --uc-arrowpanel-darker: hsla(236, 70%, 73%, 0.17);
    --uc-arrowpanel-faint: hsla(236, 100%, 83%, 0.1);
    --uc-arrowpanel-dimmed: hsla(236, 100%, 83%, 0.17);
    --uc-arrowpanel-dimmed-further: hsla(236, 100%, 83%, 0.25);
    --uc-arrowpanel-dimmed-even-further: hsla(236, 100%, 85%, 0.3);
    --uc-desaturate-faint: hsla(236, 60%, 83%, 0.1);
    --uc-desaturate-dimmed: hsla(236, 60%, 83%, 0.17);
    --uc-desaturate-dimmed-further: hsla(236, 60%, 83%, 0.25);
    --uc-desaturate-dimmed-even-further: hsla(236, 60%, 85%, 0.3);
    --uc-panel-button-solid: hsl(234, 24%, 35%);
    --uc-panel-box-solid: hsl(233, 29%, 18%);
    --uc-menu-border-color: hsl(233, 23%, 20%);
    --blurred-dialog-border-color: hsla(240, 7%, 20%, 0.8);
    --uc-smooth-timing-function: cubic-bezier(0.07, 0.78, 0.21, 0.95);
    --uc-content-text-a50: hsla(236, 100%, 85%, 0.5);
    --uc-content-text-a80: rgba(255, 255, 255, 0.8);
    --uc-accent-color: hsl(233, 61%, 8%);
    --uc-toolbar-bgcolor: hsl(233, 42%, 15%);
    --uc-toolbar-color: var(--ui-text-100);
    --uc-arrowpanel-background: hsl(233, 36%, 11%);
    --uc-arrowpanel-color: hsl(213, 43%, 89%);
    --arrowpanel-dimmed-menu-hover-solid: hsl(234, 27%, 23%);
    --button-solid-hover-background: hsl(232, 29%, 26%);
    --button-solid-active-background: hsl(234, 26%, 30%);
    --button-solid-checked-background: hsl(232, 31%, 23%);

    --menupopup-inner-box-margin: 0px;
    --menupopup-shadow: none;
    --panel-shadow: none;
    --menupopup-margin: calc(0px - var(--menupopup-inner-box-margin));
    --menupopup-background: transparent;
    --menupopup-child-margin-block-start: calc(-4px - var(--menupopup-inner-box-margin));
    --menupopup-child-margin-inline-start: var(--menupopup-margin);
    --menupopup-padding: 0px;
    --menupopup-inner-padding-magnitude: 4px;
    --menupopup-inner-padding: var(--menupopup-inner-padding-magnitude) 0;
    --context-margin-inline: -14px 0px;
    --context-padding-inline: 27px 0px;
    --context-checkbox-margin: 6px 7px;
    --context-iconic-margin: 5px 6px;
    --context-iconic-special-margin: 4px -2px;
    --menupopup-border-radius: 5px;
    --context-menuitem-border-radius: 3px;
    --menu-right-bg: none;
    --menu-right-img: url(chrome://userchrome/content/menu-arrow.svg);
    --menu-right-margin: 4px;
    --menu-right-size: 14px;
    --menu-separator-margin: 4px;

    --uc-font-weight-bold: 600;
    --uc-font-weight-thin: 400;
    --subdialog-font-size: 1em !important;

    --autocomplete-background: hsl(233, 33%, 17%);
    --ui-secondary-bg: hsl(234, 39%, 10%);
    --tooltip-bgcolor: hsl(233, 36%, 11%);
    --tooltip-color: white;
    --tooltip-border-radius: 2px;
    --tooltip-border-color: var(--uc-menu-border-color);
    --tooltip-box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
    --webextension-panel-border-radius: 5px;

    --statuspanel-color: hsla(0, 0%, 100%, 0.85);
    --noise-texture: url(chrome://userchrome/content/texture/lightnoise.png);
    --acrylic-blur: blur(15px);
    --acrylic-texture: url(chrome://userchrome/content/texture/lightnoise.png);
    --acrylic-blue: hsla(233.3, 39.1%, 9%, 0.58);
    --blur-bgcolor: var(--acrylic-blue);
    --transparent-img-background: center/16px repeat hsla(0, 0%, 80%)
        url(chrome://userchrome/content/checker.svg);
    --general-button-border-radius: 2.6px;
    --dialog-bgcolor: hsla(240, 5.9%, 6.7%, 0.85);
    --dialog-box-bgcolor: hsla(232, 100%, 75%, 8%);
    --dialog-box-bgcolor-dim: hsla(240, 100%, 70%, 3%);
    --dialog-box-border-color: hsla(232, 100%, 85%, 0.2);
    --dialog-box-border-hover: hsla(232, 100%, 85%, 0.3);
    --alertbox-bgcolor: hsla(0, 0%, 14%, 0.97);
    --notification-menu-color: var(--in-parent-page-color);
    --context-menu-disabled-color: hsla(213, 43%, 89%, 0.5);

    /* this url is for the icon that displays in the identity box when entering text in the urlbar, and on the new tab page.
    you can replace it with chrome://userchrome/content/search-glass.svg if you don't use google */
    --default-search-identity-icon: url(chrome://userchrome/content/engines/google.svg);
    --identity-box-solid-bg: hsl(235, 33%, 23%);
    --identity-box-hover-bg: hsl(234, 30%, 26%);
    --secure-color: hsl(119, 80%, 60%);
    --insecure-text-color: hsla(0, 100%, 50%, 0.867);
    --warning-color: hsl(355, 100%, 66%);
    --uc-warning-background: hsla(2, 100%, 66%, 25%);
    --low-warning-background: hsla(48, 100%, 66%, 0.2);
    --low-warning-color: hsl(40, 100%, 57%);
    --low-warning-border-color: hsla(35, 70%, 76%, 0.2);
    --protection-idle-color: hsl(205, 100%, 67%);
    --protection-active-color: hsl(358, 98%, 66%);
    --update-badge-bg: hsl(125, 81%, 57%);
    --update-badge-color: hsl(118, 89%, 24%);
    --update-badge-inactive: hsl(227, 19%, 48%);
    --attention-color: hsl(224, 100%, 71%);

    --global-selection-bgcolor: hsla(245, 100%, 76%, 0.5);
    --global-selection-color: white;
    --url-selection-bgcolor: hsla(245, 100%, 76%, 0.5);
    --url-selection-color: white;
    --ui-selection-bgcolor: hsla(0, 0%, 100%, 0.9);
    --ui-selection-color: hsl(236, 20%, 16%);
    --content-selection-bgcolor: var(--ui-text-80);
    --content-selection-color: hsl(240, 4%, 10%);

    /* controls the color of the search highlights in about:preferences */
    --solid-selection-bgcolor: var(--pink-action);
    /* controls the color of the little tooltips that appear on search highlighted buttons in about:preferences */
    --aboutPrefs-find-tags: var(--purple-35);

    --badge-color-dark: hsl(236, 13%, 42%);
    --badge-color-light: var(--lwt-toolbarbutton-icon-fill-attention);

    --tab-background: var(--lwt-accent-color);
    --tab-selected: var(--toolbar-bgcolor);
    --tab-hover: linear-gradient(180deg, hsl(231, 49%, 11%), hsl(233, 55%, 8%));
    --tab-pinned: linear-gradient(0deg, var(--toolbar-bgcolor), var(--lwt-accent-color));
    --tab-multi: linear-gradient(180deg, hsl(231, 50%, 11%), hsl(233, 53%, 8%));
    --tab-multi-hover: linear-gradient(180deg, hsl(231, 47%, 13%), hsl(233, 51%, 10%));
    --tab-pinned-hover: var(--toolbar-bgcolor);
    --tab-focused-highlight: hsl(231, 36%, 24%);
    --tab-focused-hover: linear-gradient(
        0deg,
        var(--toolbar-bgcolor),
        color-mix(in srgb, var(--tab-focused-highlight) 50%, var(--toolbar-bgcolor))
    );
    --multiselected-color: hsl(241, 50%, 51%);

    --titlebar-gradient: radial-gradient(
        circle at 100% 0%,
        hsl(231, 48%, 12%),
        var(--uc-accent-color) 140px
    );

    --search-box-color: hsl(229, 32%, 23%);
    --search-box-focus: hsl(229, 27%, 27%);
    --search-box-null: hsl(230, 30%, 20%);
    --textbox-button-hidden: hsla(240, 100%, 89%, 0);
    --confirmation-hint-bgcolor: hsl(240, 60%, 59%);
    --picture-in-picture-toggle-bgcolor: hsl(244, 100%, 63%);

    --urlbar-base-font-weight: 400;
    --urlbar-result-strong-font-weight: 400;
    --urlbar-results-bgcolor: var(--ui-secondary-bg);
    /* the width of a search one-off button in the urlbar */
    --urlbar-one-offs-engine-width: 28px;
    /* how long the scrolling one-offs slider should be. 8 means it's long enough for 8 buttons to be visible without scrolling. */
    --urlbar-one-offs-engines-per-scroll: 8;
    /* don't change this unless you know what you're doing. multiplies the one-off button width by the number per scroll to yield the total width */
    --urlbar-one-offs-width: calc(
        var(--urlbar-one-offs-engine-width) * var(--urlbar-one-offs-engines-per-scroll)
    );
    --loading-throbber-fill: hsl(222, 100%, 75%);
    --sanitize-border-color: hsla(0, 0%, 5%, 0.2);
    --menu-separator-color: hsl(233, 25%, 23%);
    --user-urlbar-container-height: 38px;
    --user-menubar-searchbar-width: 256px;
    --menuitem-height: 26px;
    --subviewbutton-height: 28px;
    --findbar-height: 22px;
    --urlbar-element-top-adjust-magnitude: 0.6px;
    --default-identity-icon: url(chrome://userchrome/content/info-filled.svg);
    /* icon used for screenshot buttons. I prefer the second one, but use the first one it if you prefer the vanilla icon */
    /* --screenshot-icon: url(chrome://userchrome/content/skin/screenshot.svg); */
    --screenshot-icon: url(chrome://userchrome/content/devtools/command-screenshot.svg);

    /* download items in the downloads panel have a gradient background on hover rather than a solid color.
    since they're so big, a solid color would look a little jarring unless it was very dim.
    however, gradients this dark and subtle may not look good on all monitors. it depends on a lot of factors.
    if you experience banding, (solid bands of color instead of a continuous smooth color transition)
    just override --download-button-hover-bg with a solid color variable, e.g. var(--arrowpanel-faint) */
    --download-button-hue: 236.86;
    --download-button-hover-bg: linear-gradient(
        to right,
        hsla(var(--download-button-hue), 100%, 81%, 0.15) 7.1%,
        hsla(var(--download-button-hue), 94%, 80%, 0.13) 20.9%,
        hsla(var(--download-button-hue), 94%, 80%, 0.1) 34.1%,
        hsla(var(--download-button-hue), 97%, 78.94%, 0.07) 47.1%,
        hsla(var(--download-button-hue), 96%, 78.94%, 0.04) 60%,
        hsla(var(--download-button-hue), 95%, 76.94%, 0.02) 80%,
        hsla(var(--download-button-hue), 90%, 73.94%, 0.005) 96.3%
    );

    --pink-action: hsl(340, 73%, 58%);
    --purple-30: hsl(244, 100%, 70%) !important;
    --purple-30-a50: hsla(240, 100%, 70%, 0.5) !important;
    --purple-35: hsl(245, 100%, 65%) !important;
    --purple-40: hsl(250, 100%, 60%) !important;
    --purple-40-a10: hsla(250, 100%, 60%, 0.1) !important;
    --purple-40-a30: hsla(250, 100%, 60%, 0.5) !important;
    --purple-45: hsl(250, 87%, 55%) !important;
    --purple-50: hsl(256, 87%, 50%) !important;
    --purple-55: hsl(256, 87%, 45%) !important;
    --purple-50-a30: hsla(256, 87%, 50%, 0.3) !important;
    --purple-60: hsl(258, 95%, 40%) !important;
    --purple-70: hsl(256, 97%, 30%) !important;
    --purple-80: hsl(254, 100%, 20%) !important;

    --in-parent-page-background: transparent;
    --in-parent-page-color: hsl(212, 43%, 90%);
    --in-parent-box-background: var(--dialog-box-bgcolor);
    --in-parent-box-background-dim: var(--dialog-box-bgcolor-dim);
    --in-parent-box-border-color: var(--dialog-box-border-color);
    --in-parent-button-background: var(--arrowpanel-faint);
    --in-parent-button-background-hover: var(--arrowpanel-dimmed);
    --in-parent-button-background-active: var(--arrowpanel-dimmed-further);
    --in-parent-item-selected: var(--purple-40);
    --in-parent-item-hover: var(--arrowpanel-dimmed);
    --in-parent-border-highlight: var(--purple-40);
    --in-parent-border-hover: var(--dialog-box-border-hover);
    --in-parent-border-focus: var(--purple-40);
    --in-parent-border-active: var(--purple-40);
    --in-parent-border-active-shadow: var(--purple-40-a30);
    --in-parent-category-outline-focus: 1px solid transparent;
    --in-parent-link-color: var(--purple-35);
    --in-parent-link-color-hover: var(--purple-30);
    --in-parent-link-color-active: var(--purple-30);
    --in-parent-primary-button-background: var(--purple-40);
    --in-parent-primary-button-background-hover: var(--purple-35);
    --in-parent-primary-button-background-active: var(--purple-30);
    --in-parent-primary-button-text-color: var(--in-parent-page-color);

    --content-principal-page-background: hsl(270, 3%, 12%);
    --content-principal-page-color: var(--in-parent-page-color);
    --content-principal-box-background: hsl(300, 2%, 16%);
    --content-principal-box-background-odd: hsl(320, 3%, 21%);
    --content-principal-box-background-dim: hsl(300, 2%, 12%);
    --content-principal-box-border-color: hsla(270, 7%, 98%, 0.1);
    --content-principal-button-background: hsla(0, 20%, 90%, 0.08);
    --content-principal-button-background-hover: hsla(0, 20%, 90%, 0.15);
    --content-principal-button-background-active: hsla(0, 20%, 90%, 0.19);
    --content-principal-button-background-solid: hsl(270, 2%, 20%);
    --content-principal-border-hover: var(--content-principal-button-background-hover);

    --uc-checkbox-border-color: var(--in-parent-box-border-color);
    --uc-checkbox-checked-border-color: transparent;
    --uc-checkbox-unchecked-bgcolor: var(--in-parent-button-background);
    --uc-checkbox-unchecked-hover-bgcolor: var(--in-parent-button-background-hover);
    --uc-checkbox-unchecked-active-bgcolor: var(--in-parent-button-background-active);
    --uc-checkbox-checked-bgcolor: var(--in-parent-primary-button-background);
    --uc-checkbox-checked-color: var(--in-parent-primary-button-text-color);
    --uc-checkbox-checked-hover-bgcolor: var(--in-parent-primary-button-background-hover);
    --uc-checkbox-checked-active-bgcolor: var(--in-parent-primary-button-background-active);
}

menupopup,
.in-menulist,
#ContentSelectDropdown,
popupnotification,
#customization-container,
#mainPopupSet panel {
    --checkbox-border-color: var(--uc-checkbox-border-color) !important;
    --checkbox-checked-border-color: var(--uc-checkbox-checked-border-color) !important;
    --checkbox-unchecked-bgcolor: var(--uc-checkbox-unchecked-bgcolor) !important;
    --checkbox-unchecked-hover-bgcolor: var(--uc-checkbox-unchecked-hover-bgcolor) !important;
    --checkbox-unchecked-active-bgcolor: var(--uc-checkbox-unchecked-active-bgcolor) !important;
    --checkbox-checked-bgcolor: var(--uc-checkbox-checked-bgcolor) !important;
    --checkbox-checked-color: var(--uc-checkbox-checked-color) !important;
    --checkbox-checked-hover-bgcolor: var(--uc-checkbox-checked-hover-bgcolor) !important;
    --checkbox-checked-active-bgcolor: var(--uc-checkbox-checked-active-bgcolor) !important;
}

#protections-popup {
    --button-primary-bgcolor: var(--purple-45) !important;
    --button-primary-hover-bgcolor: var(--purple-35) !important;
    --button-primary-active-bgcolor: var(--purple-30) !important;
    --protections-popup-switch-off-background: color-mix(in srgb, currentColor 15%, transparent);
    --protections-popup-switch-off-hover-background-custom: color-mix(
        in srgb,
        currentColor 20%,
        transparent
    );
    --protections-popup-switch-off-active-background-custom: color-mix(
        in srgb,
        currentColor 23%,
        transparent
    );
    --protections-popup-switch-off-hover-border-custom: color-mix(
        in srgb,
        currentColor 5%,
        transparent
    );
    --protections-popup-switch-on-background: var(--purple-40);
    --protections-popup-switch-on-hover-background-custom: var(--purple-50);
    --protections-popup-switch-on-active-background-custom: var(--purple-55);
    --protections-popup-switch-on-hover-border-custom: var(--purple-40);
}

:root[lwt-popup-brighttext] #protections-popup {
    --protections-popup-switch-off-background: hsl(233, 15%, 32%);
    --protections-popup-switch-off-hover-background-custom: hsl(233, 18%, 27%);
    --protections-popup-switch-off-active-background-custom: hsl(233, 19%, 24.5%);
    --protections-popup-switch-off-hover-border-custom: hsl(233, 15%, 32%);
}

/* SF Pro is a bit heavier than Segoe UI so adjust font weights on certain elements */
@supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
    :root {
        --uc-font-weight-bold: 500;
        --uc-font-weight-thin: 300;
    }
}

@supports -moz-bool-pref("userChrome.css.menupopup-shadows") {
    :root {
        --menupopup-inner-box-margin: 8px !important;
        --menupopup-shadow: var(--tooltip-box-shadow) !important;
        --panel-shadow: var(--tooltip-box-shadow) !important;
    }
}
