:root,
tooltip {
    --subdialog-font-size: 1em !important;
    --in-content-bg-dark: rgb(25, 25, 27);
    --ui-secondary-bg: hsl(234, 39%, 10%);
    --tooltip-bgcolor: hsl(233, 36%, 11%);
    --tooltip-color: white;
    --tooltip-border-radius: 2px;
    --statuspanel-color: hsla(0, 0%, 100%, 0.85);
    --acrylic-blur: blur(10px);
    --acrylic-texture: url(chrome://userchrome/content/texture/lightnoise.png);
    --acrylic-blue: hsla(233.3, 39.1%, 9%, 0.58);
    --blur-bgcolor: hsla(233, 39%, 9%, 0.58);
    --general-button-border-radius: 2.6px;
    --dialog-bgcolor: hsla(240, 5.9%, 6.7%, 0.6);
    --dialog-box-bgcolor: hsla(232, 100%, 75%, 8%);
    --dialog-box-bgcolor-dim: hsla(240, 100%, 70%, 3%);
    --dialog-box-border-color: hsla(232, 100%, 85%, 0.2);
    --dialog-box-border-hover: hsla(232, 100%, 85%, 0.3);
    --alertbox-bgcolor: hsla(0, 0%, 7%, 0.97);
    --notification-menu-color: hsl(212, 43%, 90%);
    --identity-box-solid-bg: hsla(236, 52%, 18%, 0.4);
    --identity-box-hover-bg: hsla(236, 49%, 25%, 0.4);
    --secure-color: hsl(119, 80%, 60%);
    --insecure-text-color: hsla(0, 100%, 50%, 0.867);
    --warning-color: hsl(355, 100%, 66%);
    --warning-background: hsla(2, 100%, 66%, 25%);
    --protection-idle-color: hsl(205, 100%, 67%);
    --protection-active-color: hsl(358, 98%, 66%);
    --update-badge-bg: hsl(125, 81%, 57%);
    --update-badge-color: hsl(118, 89%, 24%);
    --update-badge-inactive: hsl(227, 19%, 48%);
    --attention-color: hsl(224, 100%, 71%);
    --global-selection-bgcolor: rgba(142, 132, 255, 0.5);
    --global-selection-color: white;
    --url-selection-bgcolor: rgba(142, 132, 255, 0.5);
    --url-selection-color: white;
    --ui-selection-bgcolor: rgba(255, 255, 255, 0.9);
    --ui-selection-color: hsl(236, 20%, 16%);
    --content-selection-bgcolor: rgba(255, 255, 255, 0.8);
    --content-selection-color: rgb(25, 25, 27);
    --plaintext-color: rgba(255, 255, 255, 0.932);
    --ui-text-80: rgba(255, 255, 255, 0.8);
    --context-menu-disabled-color: hsla(213, 43%, 89%, 0.5);
    --badge-color-dark: hsl(236, 13%, 42%);
    --badge-color-light: var(--lwt-toolbarbutton-icon-fill-attention);
    /* --tab-hover: linear-gradient(0deg, hsl(231, 42%, 15%), hsl(233, 61%, 8%));
    --tab-pinned: linear-gradient(0deg, hsl(231, 50%, 11%), hsl(232, 70%, 6%));
    --tab-multi: linear-gradient(0deg, hsl(231, 42%, 15%), hsl(232, 70%, 6%)); */
    --tab-hover: linear-gradient(180deg, hsl(231, 49%, 11%), hsl(233, 55%, 8%));
    --tab-pinned: linear-gradient(0deg, var(--toolbar-bgcolor), var(--lwt-accent-color));
    --tab-multi: linear-gradient(180deg, hsl(231, 50%, 11%), hsl(233, 53%, 8%));
    --tab-multi-hover: linear-gradient(180deg, hsl(231, 47%, 13%), hsl(233, 51%, 10%));
    --tab-pinned-hover: var(--toolbar-bgcolor);
    --tab-focused-highlight: hsl(231, 36%, 24%);
    --tab-focused-hover: linear-gradient(
        0deg,
        var(--toolbar-bgcolor),
        color-mix(in srgb, var(--tab-focused-highlight) 50%, var(--toolbar-bgcolor))
    );
    --multiselected-color: hsl(241, 50%, 51%);
    --titlebar-gradient: radial-gradient(
        circle at 100% 0%,
        hsl(231, 48%, 12%),
        hsl(233, 61%, 8%) 140px
    );
    --search-box-color: hsl(229, 32%, 23%);
    --search-box-focus: hsl(229, 27%, 27%);
    --search-box-null: hsl(230, 30%, 20%);
    --textbox-button-hidden: hsla(240, 100%, 89%, 0);
    --urlbar-results-bgcolor: hsl(233, 32%, 10%);
    --confirmation-hint-bgcolor: hsl(240, 60%, 59%);
    --urlbar-bookmark-icon-color: hsl(250, 100%, 64%);
    --tab-throbber-fill: rgba(255, 255, 255, 0.6);
    --sanitize-border-color: hsla(0, 0%, 5%, 0.2);
    --menu-separator-color: hsl(233, 25%, 23%);
    --user-urlbar-container-height: 38px;
    --user-menubar-searchbar-width: 256px;
    --urlbar-element-top-adjust-magnitude: 0.6px;
    /* used to adjust the vertical position of the urlbar results and urlbar input field, so it looks even on 150% window scaling */
    /* --default-identity-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M8 1C4.136 1 1 4.136 1 8s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zm0 11.404a.938.938 0 01-.936-.936V7.723c0-.515.421-.936.936-.936s.936.421.936.936v3.745a.938.938 0 01-.936.936zm0-6.552a1.128 1.128 0 110-2.256 1.128 1.128 0 110 2.256z'/></svg>"); */
    --default-identity-icon: url(chrome://userchrome/content/info-filled.svg);
    /* --screenshot-icon: url(chrome://userchrome/content/skin/screenshot.svg); */
    --screenshot-icon: url(chrome://userchrome/content/devtools/command-screenshot.svg);
    /* I prefer this one, but use the one above if you prefer the vanilla icon */
    --protection-header-gradient-color-1: hsl(318, 73%, 69%);
    --protection-header-gradient-color-2: hsl(265, 100%, 69%);
    --protection-header-gradient-color-3: hsl(217, 90%, 39%);
    --protection-header-arrow-color: hsl(220, 80%, 42%);
    --download-button-hue: 235.86;
    --download-button-hover-bg: linear-gradient(
        to right,
        hsla(var(--download-button-hue), 100%, 82.94%, 0.092) 7.1%,
        hsla(var(--download-button-hue), 100%, 82.94%, 0.075) 20.9%,
        hsla(var(--download-button-hue), 100%, 82.94%, 0.069) 34.1%,
        hsla(var(--download-button-hue), 100%, 82.94%, 0.04) 47.1%,
        hsla(var(--download-button-hue), 100%, 82.94%, 0.025) 60%,
        hsla(var(--download-button-hue), 95%, 76.94%, 0.02) 73%,
        hsla(var(--download-button-hue), 90%, 73.94%, 0.015) 86.3%
    );
    --purple-30: hsl(244, 100%, 70%) !important;
    --purple-30-a50: hsla(240, 100%, 70%, 0.5) !important;
    --purple-35: hsl(245, 100%, 65%) !important;
    --purple-40: hsl(250, 100%, 60%) !important;
    --purple-40-a10: hsla(250, 100%, 60%, 0.1) !important;
    --purple-40-a30: hsla(250, 100%, 60%, 0.5) !important;
    --purple-45: hsl(250, 90%, 55%) !important;
    --purple-50: hsl(256, 100%, 50%) !important;
    --purple-50-a30: hsla(256, 100%, 50%, 0.3) !important;
    --purple-60: hsl(258, 100%, 40%) !important;
    --purple-70: hsl(256, 100%, 30%) !important;
    --purple-80: hsl(254, 100%, 20%) !important;
    --in-parent-page-background: transparent;
    --in-parent-page-color: var(--notification-menu-color);
    --in-parent-box-background: var(--dialog-box-bgcolor);
    --in-parent-box-background-dim: var(--dialog-box-bgcolor-dim);
    --in-parent-box-border-color: var(--dialog-box-border-color);
    --in-parent-button-background: var(--arrowpanel-dimmed);
    --in-parent-button-background-hover: var(--arrowpanel-dimmed-further);
    --in-parent-button-background-active: var(--arrowpanel-dimmed-even-further);
    --in-parent-item-selected: var(--purple-40);
    --in-parent-item-hover: var(--arrowpanel-dimmed);
    --in-parent-border-highlight: var(--purple-40);
    --in-parent-border-hover: var(--dialog-box-border-hover);
    --in-parent-border-focus: var(--purple-40);
    --in-parent-border-active: var(--purple-40);
    --in-parent-border-active-shadow: var(--purple-40-a30);
    --in-parent-category-outline-focus: 1px solid transparent;
    --in-parent-link-color: var(--purple-35);
    --in-parent-link-color-hover: var(--purple-30);
    --in-parent-link-color-active: var(--purple-30);
    --in-parent-primary-button-background: var(--purple-40);
    --in-parent-primary-button-background-hover: var(--purple-35);
    --in-parent-primary-button-background-active: var(--purple-30);
    --in-parent-primary-button-text-color: var(--in-parent-page-color);
    --uc-checkbox-border-color: var(--in-parent-box-border-color);
    --uc-checkbox-checked-border-color: transparent;
    --uc-checkbox-unchecked-bgcolor: var(--in-parent-button-background);
    --uc-checkbox-unchecked-hover-bgcolor: var(--in-parent-button-background-hover);
    --uc-checkbox-unchecked-active-bgcolor: var(--in-parent-button-background-active);
    --uc-checkbox-checked-bgcolor: var(--in-parent-primary-button-background);
    --uc-checkbox-checked-color: var(--in-parent-primary-button-text-color);
    --uc-checkbox-checked-hover-bgcolor: var(--in-parent-primary-button-background-hover);
    --uc-checkbox-checked-active-bgcolor: var(--in-parent-primary-button-background-active);
}

menupopup,
.in-menulist,
#ContentSelectDropdown,
popupnotification {
    --checkbox-border-color: var(--uc-checkbox-border-color) !important;
    --checkbox-checked-border-color: var(--uc-checkbox-checked-border-color) !important;
    --checkbox-unchecked-bgcolor: var(--uc-checkbox-unchecked-bgcolor) !important;
    --checkbox-unchecked-hover-bgcolor: var(--uc-checkbox-unchecked-hover-bgcolor) !important;
    --checkbox-unchecked-active-bgcolor: var(--uc-checkbox-unchecked-active-bgcolor) !important;
    --checkbox-checked-bgcolor: var(--uc-checkbox-checked-bgcolor) !important;
    --checkbox-checked-color: var(--uc-checkbox-checked-color) !important;
    --checkbox-checked-hover-bgcolor: var(--uc-checkbox-checked-hover-bgcolor) !important;
    --checkbox-checked-active-bgcolor: var(--uc-checkbox-checked-active-bgcolor) !important;
}

#protections-popup {
    --protections-popup-switch-off-hover-background-custom: hsl(240, 1%, 79%);
    --protections-popup-switch-off-active-background-custom: hsl(240, 1%, 70%);
    --protections-popup-switch-off-hover-border-custom: hsl(240, 9%, 98%);
    --protections-popup-switch-on-hover-background-custom: hsl(216, 100%, 39%);
    --protections-popup-switch-on-active-background-custom: hsl(218, 100%, 34%);
    --protections-popup-switch-on-hover-border-custom: hsl(214, 100%, 44%);
}

:root[lwt-popup-brighttext] #protections-popup {
    --protections-popup-switch-off-hover-background-custom: hsl(240, 2%, 33%);
    --protections-popup-switch-off-active-background-custom: hsl(240, 3%, 29%);
    --protections-popup-switch-off-hover-border-custom: hsl(240, 3%, 37%);
}
