/* remove line under navigation toolbar */
#navigator-toolbox:-moz-lwtheme,
:root:not([sizemode="normal"]) #navigator-toolbox {
    border: none !important;
}

/* fix a silly bug */
#mainPopupSet {
    height: 0;
}

/* makes the flexible space in toolbar customization way smaller */
toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"],
toolbarspring {
    max-width: none !important;
    -moz-box-flex: 1 !important;
}

/* toolbar button badges */
:is(#nav-bar-customization-target, #widget-overflow)
    toolbarbutton:not([attention="warning"])
    .toolbarbutton-badge {
    background-color: var(--badge-color-dark) !important;
    color: var(--lwt-toolbarbutton-icon-fill, currentColor) !important;
    box-shadow: 0 1px 2px hsla(0, 0%, 100%, 0.1) inset, 0 -1px 2px hsla(0, 0%, 0%, 0.2) inset,
        0 1px 1px hsla(240, 3%, 12%, 0.15), 0 1px 3px hsla(240, 3%, 12%, 0.2) !important;
    padding-top: 1px !important;
    font-size: xx-small !important;
    line-height: 8.4px !important;
    min-width: 0px !important;
    justify-self: right !important;
    margin-right: -6.4px !important;
    margin-top: -5.5px !important;
}

:is(#nav-bar-customization-target, #widget-overflow)
    toolbarbutton[attention="warning"]
    .toolbarbutton-badge {
    margin-right: -4.4px !important;
    margin-top: -4px !important;
}

#back-button,
#forward-button,
#stop-reload-button {
    appearance: none !important;
    margin: 0 !important;
    padding: 0 var(--toolbarbutton-outer-padding) !important;
    -moz-box-pack: center !important;
}

/* #back-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15 7H3.414l4.293-4.293a1 1 0 00-1.414-1.414l-6 6a1 1 0 000 1.414l6 6a1 1 0 001.414-1.414L3.414 9H15a1 1 0 000-2z'/></svg>") !important;
}

#forward-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15.707 7.293l-6-6a1 1 0 00-1.414 1.414L12.586 7H1a1 1 0 000 2h11.586l-4.293 4.293a1 1 0 101.414 1.414l6-6a1 1 0 000-1.414z'/></svg>") !important;
}

#reload-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15 1a1 1 0 00-1 1v2.418A6.995 6.995 0 108 15a6.954 6.954 0 004.95-2.05 1 1 0 00-1.414-1.414A5.019 5.019 0 1112.549 6H10a1 1 0 000 2h5a1 1 0 001-1V2a1 1 0 00-1-1z'/></svg>") !important;
}

#stop-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M9.414 8l5.293-5.293a1 1 0 00-1.414-1.414L8 6.586 2.707 1.293a1 1 0 00-1.414 1.414L6.586 8l-5.293 5.293a1 1 0 101.414 1.414L8 9.414l5.293 5.293a1 1 0 001.414-1.414z'/></svg>") !important;
}

@keyframes reload-to-stop-custom {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-450px);
    }
}

@keyframes stop-to-reload-custom {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-450px);
    }
}

#reload-button > .toolbarbutton-animatable-box,
#stop-button > .toolbarbutton-animatable-box {
    top: calc(50% - 10px) !important;
    margin-inline-start: calc(
        (16px + 2 * var(--toolbarbutton-inner-padding) - 18px) / 2
    ) !important;
    width: 18px !important;
    height: 20px !important;
}

#stop-reload-button[animate]
    > #reload-button
    > .toolbarbutton-animatable-box
    > .toolbarbutton-animatable-image {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='468' height='20' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z'/><svg x='18'><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z'/></svg><svg x='36'><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z'/></svg><svg x='54'><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z'/></svg><svg x='72'><defs><mask id='prefix__a' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(1.177 18.622) scale(6.7782)'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__a)'/></svg><svg x='90'><defs><mask id='prefix__b' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(1.133 18.622) scale(6.49626)'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__b)'/></svg><svg x='108'><defs><mask id='prefix__c' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(1.075 18.622) scale(6.1231)'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__c)'/></svg><svg x='126'><defs><mask id='prefix__d' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.996 18.622) scale(5.61712)'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__d)'/></svg><svg x='144'><defs><mask id='prefix__f' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.884 18.622) scale(4.89783)'/></mask><mask id='prefix__e' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(1.097 1.705) scale(7.12503)'/></mask></defs><g mask='url(%23prefix__e)'><path d='M9 11.413l5.293 5.293a.999.999 0 001.414-.024 1.001 1.001 0 000-1.39l-5.293-5.293'/><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265'/></g><path d='M7.687 9.906l-5.394 5.387a1 1 0 00-.025 1.414 1 1 0 001.439 0l5.394-5.387m1.212-1.232l5.393-5.381a.999.999 0 00-.024-1.414 1.001 1.001 0 00-1.39 0L8.899 8.674' mask='url(%23prefix__f)'/></svg><svg x='162'><defs><mask id='prefix__h' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.71 18.622) scale(3.7902)'/></mask><mask id='prefix__g' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(1.07 1.705) scale(6.95173)'/></mask></defs><g mask='url(%23prefix__g)'><path d='M9 11.413l5.293 5.293a.999.999 0 001.414-.024 1.001 1.001 0 000-1.39l-5.293-5.293'/><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265'/></g><path d='M7.687 9.906l-5.394 5.387a1 1 0 00-.025 1.414 1 1 0 001.439 0l5.394-5.387m1.212-1.232l5.393-5.381a.999.999 0 00-.024-1.414 1.001 1.001 0 00-1.39 0L8.899 8.674' mask='url(%23prefix__h)'/></svg><svg x='180'><defs><mask id='prefix__j' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.454 18.622) scale(2.13915)'/></mask><mask id='prefix__i' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(1.034 1.705) scale(6.72397)'/></mask></defs><g mask='url(%23prefix__i)'><path d='M9 11.413l5.293 5.293a.999.999 0 001.414-.024 1.001 1.001 0 000-1.39l-5.293-5.293'/><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265'/></g><path d='M7.687 9.906l-5.394 5.387a1 1 0 00-.025 1.414 1 1 0 001.439 0l5.394-5.387m1.212-1.232l5.393-5.381a.999.999 0 00-.024-1.414 1.001 1.001 0 00-1.39 0L8.899 8.674' mask='url(%23prefix__j)'/></svg><svg x='198'><defs><mask id='prefix__k' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.987 1.705) scale(6.42492)'/></mask></defs><g mask='url(%23prefix__k)'><path d='M9 11.413l5.293 5.293a.999.999 0 001.414-.024 1.001 1.001 0 000-1.39l-5.293-5.293'/><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265'/></g></svg><svg x='216'><defs><mask id='prefix__l' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.925 1.705) scale(6.02764)'/></mask></defs><g mask='url(%23prefix__l)'><path d='M9 11.413l5.293 5.293a.999.999 0 001.414-.024 1.001 1.001 0 000-1.39l-5.293-5.293'/><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265'/></g></svg><svg x='234'><defs><mask id='prefix__m' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.84 1.705) scale(5.48475)'/></mask></defs><g mask='url(%23prefix__m)'><path d='M9 11.413l5.293 5.293a.999.999 0 001.414-.024 1.001 1.001 0 000-1.39l-5.293-5.293'/><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265'/></g></svg><svg x='252'><defs><mask id='prefix__n' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.718 1.705) scale(4.70182)'/></mask></defs><g mask='url(%23prefix__n)'><path d='M9 11.413l5.293 5.293a.999.999 0 001.414-.024 1.001 1.001 0 000-1.39l-5.293-5.293'/><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265'/></g></svg><svg x='270'><defs><mask id='prefix__o' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.527 1.705) scale(3.47447)'/></mask></defs><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265' mask='url(%23prefix__o)'/></svg><svg x='288'><defs><mask id='prefix__p' mask-type='alpha' fill='%23fff'><path d='M0-2.906A2.907 2.907 0 012.906 0 2.907 2.907 0 010 2.906 2.907 2.907 0 01-2.906 0 2.907 2.907 0 010-2.906z' transform='translate(.267 1.705) scale(1.80625)'/></mask></defs><path d='M10.973 10.558L3.707 3.293a1 1 0 00-1.414.024 1.001 1.001 0 000 1.39l7.266 7.265' mask='url(%23prefix__p)'/></svg><svg x='306'><path d='M6.148 16.38a6.996 6.996 0 005.708-12.773 6.997 6.997 0 00-6.878.664 6.954 6.954 0 00-2.874 4.522 1 1 0 101.97.345 5.02 5.02 0 112.352 5.113' opacity='.066'/></svg><svg x='324'><path d='M4.934 13.615l.584.08a.231.231 0 00.062-.458l-1.144-.155a.231.231 0 00-.26.198l-.155 1.144a.231.231 0 00.457.062l.075-.554' opacity='.231'/><path d='M3.416 14.202a6.995 6.995 0 0011.177-8.415 6.997 6.997 0 00-6.34-2.747A6.954 6.954 0 003.55 5.606a1 1 0 101.557 1.255 5.02 5.02 0 11-.417 5.612' opacity='.186'/></svg><svg x='342'><path d='M3.778 11.038l.737.506a.35.35 0 00.397-.578l-1.444-.993a.35.35 0 00-.488.09l-.993 1.445a.35.35 0 00.578.397l.48-.699' opacity='.351'/><path d='M2.08 10.974a6.996 6.996 0 0013.854-1.953 6.997 6.997 0 00-4.219-5.473 6.954 6.954 0 00-5.358-.03 1 1 0 10.755 1.852 5.02 5.02 0 11-3.081 4.71' opacity='.322'/></svg><svg x='360'><path d='M4.073 8.272l.576 1.051a.47.47 0 00.825-.451L4.345 6.81a.47.47 0 00-.638-.187L1.645 7.752a.47.47 0 00.451.825l.998-.546' opacity='.47'/><path d='M2.473 7.503a6.995 6.995 0 0013.068 4.996 6.997 6.997 0 00-1.042-6.83 6.954 6.954 0 00-4.674-2.62 1 1 0 10-.236 1.986 5.02 5.02 0 11-4.976 2.63' opacity='.464'/></svg><svg x='378'><path d='M5.703 6.065l.05 1.503a.59.59 0 001.179-.04l-.098-2.946a.59.59 0 00-.609-.57l-2.947.097a.59.59 0 00.04 1.18l1.424-.048' opacity='.59'/><path d='M4.497 4.656a6.995 6.995 0 00-.839 9.857 6.995 6.995 0 009.857.84 6.997 6.997 0 002.393-6.482 6.954 6.954 0 00-2.821-4.555A1 1 0 1011.92 5.94a5.02 5.02 0 11-5.627-.107' opacity='.607'/></svg><svg x='396'><path d='M8.198 5.001l-.761 1.64a.71.71 0 001.287.597l1.493-3.217a.71.71 0 00-.345-.942L6.655 1.586a.71.71 0 00-.597 1.287l1.556.722' opacity='.709'/><path d='M7.646 3.145a6.995 6.995 0 002.714 13.724 6.997 6.997 0 005.232-4.514 6.954 6.954 0 00-.265-5.35 1 1 0 10-1.807.856 5.02 5.02 0 11-4.872-2.817' opacity='.747'/></svg><svg x='414'><path d='M10.865 5.35L9.207 6.66a.83.83 0 001.027 1.3l3.253-2.57a.83.83 0 00.136-1.164L11.053.974a.83.83 0 00-1.3 1.028l1.243 1.573' opacity='.829'/><path d='M11.133 3.346a6.993 6.993 0 00-8.795 4.527 6.995 6.995 0 004.527 8.796 6.997 6.997 0 006.763-1.417 6.954 6.954 0 002.358-4.811 1 1 0 10-1.996-.126 5.02 5.02 0 11-2.9-4.823' opacity='.877'/></svg><svg x='432'><path d='M12.97 6.998l-2.37.482a.949.949 0 00.38 1.86l4.647-.948a.949.949 0 00.74-1.118l-.947-4.648a.949.949 0 00-1.859.379l.458 2.247' opacity='.949'/><path d='M14.087 5.21A6.993 6.993 0 004.2 4.915a6.994 6.994 0 00-.296 9.888 6.997 6.997 0 006.604 2.033 6.954 6.954 0 004.392-3.069 1 1 0 10-1.685-1.076 5.02 5.02 0 11-.204-5.624' opacity='.981'/></svg><svg x='450'><path d='M13.548 7.997l-2.549.001a1 1 0 00.001 2l5-.003a1 1 0 00.999-1l-.003-5a1 1 0 00-2 .002l.002 2.417'/><path d='M14.998 6.414a6.995 6.995 0 00-9.594-2.412 6.995 6.995 0 00-2.413 9.594A6.997 6.997 0 009.004 17a6.954 6.954 0 004.95-2.053 1 1 0 10-1.415-1.413 5.02 5.02 0 111.01-5.537'/></svg></svg>") !important;
    width: 468px !important;
}

#stop-reload-button[animate]
    > #reload-button:not([displaystop])
    > .toolbarbutton-animatable-box
    > .toolbarbutton-animatable-image {
    animation-name: reload-to-stop-custom !important;
}

#reload-button:not([displaystop])
    > .toolbarbutton-animatable-box
    > .toolbarbutton-animatable-image {
    animation-timing-function: steps(25) !important;
    animation-duration: 417ms !important;
}

#stop-reload-button[animate]
    > #reload-button[displaystop]
    + #stop-button
    > .toolbarbutton-animatable-box
    > .toolbarbutton-animatable-image {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='468' height='20' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M13.55 8H11a1 1 0 000 2h5a1 1 0 001-1V4a1 1 0 00-2 0v2.418'/><path d='M15 6.418A6.992 6.992 0 005.408 4a6.995 6.995 0 00-2.42 9.592A6.997 6.997 0 009 17a6.954 6.954 0 004.95-2.05 1 1 0 10-1.414-1.414A5.02 5.02 0 1113.55 8'/><svg x='18'><path d='M13.735 8.606l-1.72-.78a.74.74 0 00-.61 1.35l3.37 1.53a.74.74 0 00.98-.37l1.532-3.372a.74.74 0 00-1.35-.612l-.74 1.63'/><path d='M15.91 8.954a6.996 6.996 0 00-13.833 2.097 6.997 6.997 0 004.275 5.43 6.954 6.954 0 005.357-.025 1 1 0 10-.775-1.844 5.02 5.02 0 113.032-4.74'/></svg><svg x='36'><path d='M14.088 9.318l-.89-.845a.482.482 0 00-.663.7l1.747 1.656a.482.482 0 00.68-.02l1.657-1.746a.482.482 0 00-.7-.662l-.8.844'/><path d='M15.79 11.646a6.993 6.993 0 00-5.15-8.444 6.994 6.994 0 00-8.446 5.15 6.997 6.997 0 001.903 6.644A6.954 6.954 0 009.067 17a1 1 0 10-.02-2 5.02 5.02 0 114.6-3.242'/></svg><svg x='54'><path d='M14.43 10.23l-.315-.47a.222.222 0 00-.37.247l.618.923a.222.222 0 00.308.062l.925-.618a.222.222 0 00-.247-.37l-.447.3'/><path d='M14.664 14.093A6.995 6.995 0 003.322 5.9a6.997 6.997 0 00-.752 6.87 6.954 6.954 0 003.843 3.735 1 1 0 10.74-1.858 5.02 5.02 0 115.485-1.26'/></svg><svg x='72'><defs><filter id='prefix__a'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 -1 1'/></filter><mask id='prefix__b' mask-type='alpha' fill='%23fff'><g filter='url(%23prefix__a)'><path d='M8.85 10.044l-1.465 8.154s4.614.676 4.642.584c.03-.092 3.69-3.364 3.69-3.364L8.85 10.044z'/></g></mask></defs><path d='M12.694 15.932a6.994 6.994 0 002.237-9.636 6.992 6.992 0 00-9.634-2.238A6.997 6.997 0 002 10.132a6.954 6.954 0 002.144 4.91 1 1 0 101.387-1.44 5.02 5.02 0 115.555.91' mask='url(%23prefix__b)' opacity='.943'/></svg><svg x='90'><defs><filter id='prefix__c'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 -1 1'/></filter><mask id='prefix__d' mask-type='alpha' fill='%23fff'><g filter='url(%23prefix__c)'><path d='M8.85 10.044L5.634 17.05s5.448 2.043 5.504 1.86c.057-.185 4.615-3.567 4.615-3.567l-6.903-5.3z'/></g></mask></defs><path d='M10.175 16.888a6.993 6.993 0 005.717-8.073 6.994 6.994 0 00-8.073-5.717A6.997 6.997 0 002.47 7.474a6.954 6.954 0 00.125 5.356 1 1 0 101.83-.808 5.02 5.02 0 114.796 2.943' mask='url(%23prefix__d)' opacity='.749'/></svg><svg x='108'><defs><filter id='prefix__e'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 -1 1'/></filter><mask id='prefix__f' mask-type='alpha' fill='%23fff'><g filter='url(%23prefix__e)'><path d='M8.85 10.044L3.883 15.9s6.28 3.412 6.366 3.136c.084-.276 5.537-3.767 5.537-3.767L8.85 10.043z'/></g></mask></defs><path d='M7.482 16.82a6.995 6.995 0 008.346-5.31 6.993 6.993 0 00-5.31-8.346 6.997 6.997 0 00-6.605 2.028 6.954 6.954 0 00-1.91 5.005 1 1 0 102-.056 5.02 5.02 0 113.327 4.54' mask='url(%23prefix__f)' opacity='.485'/></svg><svg x='126'><defs><filter id='prefix__g'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 -1 1'/></filter><mask id='prefix__h' mask-type='alpha' fill='%23fff'><g filter='url(%23prefix__g)'><path d='M8.85 10.044L2.13 14.75s7.116 4.78 7.23 4.413c.113-.368 6.462-3.968 6.462-3.968l-6.972-5.15z'/></g></mask></defs><path d='M5.014 15.74a6.995 6.995 0 007.977-11.493 6.997 6.997 0 00-6.882-.623 6.954 6.954 0 00-3.662 3.91 1 1 0 101.872.705 5.02 5.02 0 111.363 5.46' mask='url(%23prefix__h)' opacity='.256'/></svg><svg x='144'><defs><mask id='prefix__k' mask-type='alpha' fill='%23fff'><path d='M.31-4.362a6.07 6.07 0 016.067 6.067A6.07 6.07 0 01.31 7.772a6.07 6.07 0 01-6.067-6.067A6.07 6.07 0 01.31-4.362z'/></mask><mask id='prefix__j' mask-type='alpha' fill='%23fff'><g filter='url(%23prefix__i)'><path d='M8.85 10.044L.38 13.6s7.95 6.15 8.09 5.69c.142-.46 7.386-4.17 7.386-4.17L8.85 10.044z'/></g></mask><filter id='prefix__i'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 -1 1'/></filter></defs><path d='M3.14 13.805a6.993 6.993 0 009.675 2.056 6.994 6.994 0 002.057-9.675 6.997 6.997 0 00-6.135-3.18 6.954 6.954 0 00-4.87 2.235A1 1 0 105.333 6.6a5.02 5.02 0 11-.804 5.57' mask='url(%23prefix__j)' opacity='.104'/><g mask='url(%23prefix__k)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g></svg><svg x='162'><defs><mask id='prefix__n' mask-type='alpha' fill='%23fff'><path d='M.556-8.94A10.648 10.648 0 0111.2 1.705 10.648 10.648 0 01.557 12.35 10.648 10.648 0 01-10.09 1.705 10.648 10.648 0 01.557-8.94z'/></mask><mask id='prefix__m' mask-type='alpha' fill='%23fff'><g filter='url(%23prefix__l)'><path d='M8.85 10.044l-9.2 1.394s7.603 8.78 7.773 8.227c.17-.553 8.467-4.62 8.467-4.62l-7.04-5z'/></g></mask><filter id='prefix__l'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 -1 1'/></filter></defs><path d='M2.135 11.305a6.994 6.994 0 008.18 5.563 6.993 6.993 0 005.564-8.178 6.997 6.997 0 00-4.477-5.265 6.954 6.954 0 00-5.353.227 1 1 0 10.843 1.813 5.02 5.02 0 11-2.852 4.852' mask='url(%23prefix__m)' opacity='.023'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975' mask='url(%23prefix__n)'/></svg><svg x='180'><defs><mask id='prefix__o' mask-type='alpha' fill='%23fff'><path d='M.728-12.144a13.854 13.854 0 0113.85 13.85A13.854 13.854 0 01.727 15.553a13.854 13.854 0 01-13.85-13.85A13.854 13.854 0 01.73-12.143z'/></mask></defs><g mask='url(%23prefix__o)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g></svg><svg x='198'><defs><mask id='prefix__p' mask-type='alpha' fill='%23fff'><path d='M.842-14.252A15.963 15.963 0 0116.8 1.705 15.963 15.963 0 01.84 17.662 15.963 15.963 0 01-15.115 1.705 15.963 15.963 0 01.842-14.252z'/></mask></defs><g mask='url(%23prefix__p)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g></svg><svg x='216'><defs><mask id='prefix__q' mask-type='alpha' fill='%23fff'><path d='M.922-15.747A17.458 17.458 0 0118.374 1.705 17.458 17.458 0 01.922 19.157 17.458 17.458 0 01-16.53 1.705 17.458 17.458 0 01.922-15.747z'/></mask></defs><g mask='url(%23prefix__q)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g></svg><svg x='234'><defs><mask id='prefix__r' mask-type='alpha' fill='%23fff'><path d='M.982-16.86A18.57 18.57 0 0119.546 1.706 18.57 18.57 0 01.982 20.27 18.57 18.57 0 01-17.582 1.704 18.57 18.57 0 01.982-16.86z'/></mask></defs><g mask='url(%23prefix__r)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g></svg><svg x='252'><defs><mask id='prefix__s' mask-type='alpha' fill='%23fff'><path d='M1.027-17.71A19.42 19.42 0 0120.44 1.706 19.42 19.42 0 011.028 21.12 19.42 19.42 0 01-18.387 1.704 19.42 19.42 0 011.027-17.71z'/></mask></defs><g mask='url(%23prefix__s)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g></svg><svg x='270'><defs><mask id='prefix__u' mask-type='alpha' fill='%23fff'><path d='M.46 12.297a6.327 6.327 0 016.325 6.325A6.327 6.327 0 01.46 24.947a6.327 6.327 0 01-6.325-6.325A6.327 6.327 0 01.46 12.297z'/></mask><mask id='prefix__t' mask-type='alpha' fill='%23fff'><path d='M1.062-18.366a20.077 20.077 0 0120.07 20.07 20.077 20.077 0 01-20.07 20.072 20.077 20.077 0 01-20.07-20.07A20.077 20.077 0 011.06-18.367z'/></mask></defs><g mask='url(%23prefix__t)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g><path d='M7.71 9.883l-5.417 5.41a1 1 0 00-.025 1.414 1 1 0 001.44 0l5.417-5.41m1.2-1.152l5.38-5.438a1 1 0 00-.023-1.414 1 1 0 00-1.39 0L8.912 8.73' mask='url(%23prefix__u)'/></svg><svg x='288'><defs><mask id='prefix__w' mask-type='alpha' fill='%23fff'><path d='M.704 7.752a10.874 10.874 0 0110.87 10.87 10.874 10.874 0 01-10.87 10.87 10.874 10.874 0 01-10.87-10.87A10.874 10.874 0 01.704 7.752z'/></mask><mask id='prefix__v' mask-type='alpha' fill='%23fff'><path d='M1.09-18.874a20.586 20.586 0 0120.58 20.58A20.586 20.586 0 011.09 22.283a20.586 20.586 0 01-20.58-20.58A20.586 20.586 0 011.09-18.873z'/></mask></defs><g mask='url(%23prefix__v)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g><path d='M7.71 9.883l-5.417 5.41a1 1 0 00-.025 1.414 1 1 0 001.44 0l5.417-5.41m1.2-1.152l5.38-5.438a1 1 0 00-.023-1.414 1 1 0 00-1.39 0L8.912 8.73' mask='url(%23prefix__w)'/></svg><svg x='306'><defs><mask id='prefix__y' mask-type='alpha' fill='%23fff'><path d='M.87 4.63a13.998 13.998 0 0113.995 13.99A13.998 13.998 0 01.87 32.615a13.998 13.998 0 01-13.99-13.993A13.998 13.998 0 01.87 4.63z'/></mask><mask id='prefix__x' mask-type='alpha' fill='%23fff'><path d='M1.11-19.264a20.976 20.976 0 0120.97 20.97A20.976 20.976 0 011.11 22.673a20.976 20.976 0 01-20.97-20.97A20.976 20.976 0 011.11-19.263z'/></mask></defs><g mask='url(%23prefix__x)'><path d='M8.12 10.527l6.173 6.18a1 1 0 001.414-.025 1 1 0 000-1.39l-6.173-6.18'/><path d='M9.706 9.268l-6-5.975a1 1 0 00-1.413.024 1 1 0 000 1.39l6 5.975'/></g><path d='M7.71 9.883l-5.417 5.41a1 1 0 00-.025 1.414 1 1 0 001.44 0l5.417-5.41m1.2-1.152l5.38-5.438a1 1 0 00-.023-1.414 1 1 0 00-1.39 0L8.912 8.73' mask='url(%23prefix__y)'/></svg><svg x='324'><defs><mask id='prefix__z' mask-type='alpha' fill='%23fff'><path d='M.982 2.565A16.062 16.062 0 0117.04 18.622 16.062 16.062 0 01.98 34.68a16.062 16.062 0 01-16.055-16.06A16.062 16.062 0 01.982 2.565z'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__z)'/></svg><svg x='342'><defs><mask id='prefix__A' mask-type='alpha' fill='%23fff'><path d='M1.06 1.097a17.53 17.53 0 0117.525 17.525A17.53 17.53 0 011.06 36.147a17.53 17.53 0 01-17.525-17.525A17.53 17.53 0 011.06 1.097z'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__A)'/></svg><svg x='360'><defs><mask id='prefix__B' mask-type='alpha' fill='%23fff'><path d='M1.12.003a18.626 18.626 0 0118.62 18.62A18.626 18.626 0 011.12 37.24 18.626 18.626 0 01-17.5 18.623 18.626 18.626 0 011.12.002z'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__B)'/></svg><svg x='378'><defs><mask id='prefix__C' mask-type='alpha' fill='%23fff'><path d='M1.164-.834A19.463 19.463 0 0120.62 18.622 19.463 19.463 0 011.164 38.078a19.463 19.463 0 01-19.456-19.456A19.463 19.463 0 011.164-.834z'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__C)'/></svg><svg x='396'><defs><mask id='prefix__D' mask-type='alpha' fill='%23fff'><path d='M1.2-1.482a20.11 20.11 0 0120.104 20.104A20.11 20.11 0 011.2 38.726a20.11 20.11 0 01-20.104-20.104A20.11 20.11 0 011.2-1.482z'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__D)'/></svg><svg x='414'><defs><mask id='prefix__E' mask-type='alpha' fill='%23fff'><path d='M1.226-1.982A20.61 20.61 0 0121.83 18.622 20.61 20.61 0 011.226 39.226a20.61 20.61 0 01-20.604-20.604A20.61 20.61 0 011.226-1.982z'/></mask></defs><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__E)'/></svg><svg x='432'><mask id='prefix__F' mask-type='alpha' fill='%23fff'><path d='M1.15-20.02A21.733 21.733 0 0122.878 1.704 21.733 21.733 0 011.15 23.43 21.733 21.733 0 01-20.574 1.706 21.733 21.733 0 011.15-20.02z'/></mask><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__F)'/></svg><svg x='450'><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z' mask='url(%23prefix__F)'/></svg></svg>") !important;
    width: 468px !important;
}

#stop-reload-button[animate]
    > #reload-button[displaystop]
    + #stop-button
    > .toolbarbutton-animatable-box
    > .toolbarbutton-animatable-image {
    animation-name: stop-to-reload-custom !important;
}

#reload-button[displaystop]
    + #stop-button
    > .toolbarbutton-animatable-box
    > .toolbarbutton-animatable-image {
    animation-timing-function: steps(25) !important;
    animation-duration: 417ms !important;
}

#reload-button > .toolbarbutton-animatable-box > .toolbarbutton-animatable-image,
#reload-button[displaystop]
    + #stop-button
    > .toolbarbutton-animatable-box
    > .toolbarbutton-animatable-image {
    transform: translateX(-450px) !important;
}

#home-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15.707 7.293l-7-7a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L2 8.414V14a2 2 0 002 2h8a2 2 0 002-2V8.414l.293.293a1 1 0 001.414-1.414zM8 11.5a.5.5 0 11.5.5.5.5 0 01-.5-.5zm4 1.5a1 1 0 01-1 1h-1V9a1 1 0 00-1-1H7a1 1 0 00-1 1v5H5a1 1 0 01-1-1V6.414l4-4 4 4z'/></svg>") !important;
}

#bookmarks-toolbar-button,
#bookmarks-toolbar-placeholder {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M13 1H3a3 3 0 00-3 3v8a3 3 0 003 3h11a2 2 0 002-2V4a3 3 0 00-3-3zm1 11a1 1 0 01-1 1H3a1 1 0 01-1-1V4a1 1 0 011-1h10a1 1 0 011 1z'/><path d='M9.466 6.269l-.964-1.934-.185-.305-.662.028-1.101 2.211-2.039.364-.329.084-.184.613L5.67 9.123 5.365 11.3l-.023.351.552.356 2.116-1.102 1.844.96.319.138.525-.395-.347-2.485 1.462-1.573.214-.268-.227-.596-2.334-.417z'/></svg>") !important;
}

#bookmarks-menu-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M14 16H2a1 1 0 01-1-1v-2a1 1 0 012 0v1h10v-1a1 1 0 012 0v2a1 1 0 01-1 1zm-.039-11.718a.9.9 0 00-.723-.609l-3.063-.445L8.805.456a.934.934 0 00-1.605 0L5.83 3.228l-3.063.445A.893.893 0 002.27 5.2l2.217 2.156-.523 3.044a.894.894 0 001.3.942L8 9.907l2.74 1.439a.888.888 0 00.416.1.9.9 0 00.526-.172.893.893 0 00.355-.874l-.522-3.047 2.22-2.153a.893.893 0 00.226-.918zm-4.367 2.45l.376 2.189L8 7.888 6.035 8.921l.376-2.189-1.592-1.55 2.2-.319L8 2.872l.983 1.991 2.2.319z'/></svg>") !important;
}

#history-panelmenu {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M8 0a8 8 0 108 8 8.009 8.009 0 00-8-8zm0 14a6 6 0 116-6 6.007 6.007 0 01-6 6zm3.5-6H8V4.5a.5.5 0 00-1 0v4a.5.5 0 00.5.5h4a.5.5 0 000-1z'/></svg>") !important;
}

#downloads-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><g fill='context-fill' fill-opacity='context-fill-opacity'><path d='M7.293 12.725a1 1 0 001.414 0l5-5a1 1 0 00-1.414-1.413L9 9.605V1.019a1 1 0 00-2 0v8.586L3.707 6.312a1 1 0 00-1.414 1.413l5 5zM13 14a1 1 0 110 2H3a1 1 0 110-2z'/></g></svg>") !important;
}

#downloads-indicator-progress-outer {
    width: 16px;
    height: 16px;
    background-size: 16px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path d='M13 14a1 1 0 110 2H3a1 1 0 110-2z' fill='context-fill' fill-opacity='context-fill-opacity'/></svg>")
        center no-repeat !important;
}

#downloads-button[attention="success"]
    > .toolbarbutton-badge-stack
    > #downloads-indicator-anchor
    > #downloads-indicator-icon,
#downloads-button[attention="success"]
    > .toolbarbutton-badge-stack
    > #downloads-indicator-anchor
    > #downloads-indicator-progress-outer {
    -moz-context-properties: fill, fill-opacity;
    fill: var(--toolbarbutton-icon-fill-attention);
    fill-opacity: 1;
}

#downloads-button[progress]
    > .toolbarbutton-badge-stack
    > #downloads-indicator-anchor
    > #downloads-indicator-progress-outer {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path d='M14 14a1 1 0 110 2H2a1 1 0 110-2' fill='context-fill' fill-opacity='.2'/></svg>")
        center no-repeat !important;
}

#downloads-indicator-icon {
    -moz-context-properties: fill, fill-opacity;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path d='M7.293 12.725a1 1 0 001.414 0l5-5a1 1 0 00-1.414-1.413L9 9.605V1.019a1 1 0 00-2 0v8.586L3.707 6.312a1 1 0 00-1.414 1.413l5 5z' fill='context-fill' fill-opacity='context-fill-opacity'/></svg>") !important;
    width: 16px;
    height: 16px;
}

#downloads-indicator-progress-inner {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path d='M14 14a1 1 0 110 2H2a1 1 0 110-2' fill='context-fill' fill-opacity='context-fill-opacity'/></svg>")
        left no-repeat !important;
    margin-inline-end: 16px;
    -moz-context-properties: fill;
    fill: var(--toolbarbutton-icon-fill-attention);
    background-size: 16px;
    animation-play-state: paused;
    animation-delay: 1s;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-name: indicatorArrowProgress;
}

#downloads-notification-anchor[notification="start"] > #downloads-indicator-notification {
    opacity: 1;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1344' height='98'><svg width='42' height='98'/><svg width='42' height='98' x='42'/><svg width='42' height='98' x='84'><path fill='context-fill' d='M18.52 44.464a3.51 3.51 0 004.962 0l17.546-17.546a3.51 3.51 0 00-4.962-4.959L24.51 33.515V3.385a3.51 3.51 0 00-7.019 0v30.13L5.935 21.96a3.51 3.51 0 00-4.962.088 3.506 3.506 0 000 4.87l17.546 17.547z' opacity='.333'/></svg><svg width='42' height='98' x='126'><path fill='context-fill' d='M18.586 44.84a3.414 3.414 0 004.828 0l17.07-17.071a3.414 3.414 0 00-4.827-4.825L24.414 34.187V4.873a3.414 3.414 0 00-6.828 0v29.314L6.343 22.944a3.414 3.414 0 00-4.828.086 3.41 3.41 0 000 4.739l17.071 17.07z' opacity='.667'/></svg><svg width='42' height='98' x='168'><path fill='context-fill' d='M18.655 45.224a3.317 3.317 0 004.69 0L39.93 28.639a3.317 3.317 0 00-4.69-4.687L24.317 34.875V6.395a3.317 3.317 0 00-6.634 0v28.48L6.761 23.952a3.317 3.317 0 00-4.69.083 3.314 3.314 0 000 4.604l16.584 16.585z'/></svg><svg width='42' height='98' x='210'><path fill='context-fill' d='M18.724 45.613a3.219 3.219 0 004.551 0L39.368 29.52a3.219 3.219 0 00-4.55-4.548l-10.6 10.599V7.936a3.219 3.219 0 00-6.437 0v27.635L7.183 24.972a3.219 3.219 0 00-4.551.08 3.215 3.215 0 000 4.468l16.092 16.093z'/></svg><svg width='42' height='98' x='252'><path fill='context-fill' d='M18.795 46.005a3.12 3.12 0 004.41 0l15.599-15.598A3.12 3.12 0 0034.393 26L24.12 36.272V9.488a3.12 3.12 0 00-6.24 0v26.784L7.609 26a3.12 3.12 0 00-4.41.078 3.116 3.116 0 000 4.33l15.597 15.597z'/></svg><svg width='42' height='98' x='294'><path fill='context-fill' d='M18.865 46.398a3.02 3.02 0 004.27 0l15.101-15.1a3.02 3.02 0 00-4.27-4.268l-9.946 9.945v-25.93a3.02 3.02 0 00-6.04 0v25.93L8.034 27.03a3.02 3.02 0 00-4.27.075 3.017 3.017 0 000 4.192l15.1 15.101z'/></svg><svg width='42' height='98' x='336'><path fill='context-fill' d='M18.935 46.79a2.92 2.92 0 004.13 0L37.67 32.188a2.92 2.92 0 00-4.13-4.127l-9.618 9.618V12.601a2.92 2.92 0 00-5.841 0v25.077L8.462 28.06a2.92 2.92 0 00-4.13.073 2.918 2.918 0 000 4.054l14.603 14.604z'/></svg><svg width='42' height='98' x='378'><path fill='context-fill' d='M19.005 47.184a2.821 2.821 0 003.99 0L37.1 33.077a2.821 2.821 0 00-3.99-3.986l-9.29 9.29V14.157a2.821 2.821 0 00-5.642 0v24.224l-9.291-9.29a2.821 2.821 0 00-3.99.07 2.819 2.819 0 000 3.916l14.107 14.107z'/></svg><svg width='42' height='98' x='420'><path fill='context-fill' d='M19.076 47.576a2.722 2.722 0 003.849 0l13.61-13.61a2.722 2.722 0 00-3.848-3.847l-8.964 8.964V15.71a2.722 2.722 0 00-5.445 0v23.373l-8.964-8.964a2.722 2.722 0 00-3.849.068 2.72 2.72 0 000 3.778l13.61 13.611z'/></svg><svg width='42' height='98' x='462'><path fill='context-fill' d='M19.145 47.967a2.623 2.623 0 003.71 0L35.97 34.851a2.623 2.623 0 00-3.71-3.707l-8.638 8.639V17.259a2.623 2.623 0 00-5.246 0v22.524l-8.639-8.639a2.623 2.623 0 00-3.71.066 2.62 2.62 0 000 3.64l13.117 13.117z'/></svg><svg width='42' height='98' x='504'><path fill='context-fill' d='M19.215 48.357a2.525 2.525 0 003.57 0L35.41 35.733a2.525 2.525 0 00-3.57-3.568l-8.315 8.314V18.801a2.525 2.525 0 00-5.05 0V40.48l-8.314-8.314a2.525 2.525 0 00-3.57.063 2.522 2.522 0 000 3.505l12.624 12.624z'/></svg><svg width='42' height='98' x='546'><path fill='context-fill' d='M19.284 48.744a2.427 2.427 0 003.432 0L34.85 36.609a2.427 2.427 0 00-3.431-3.429l-7.992 7.992V20.335a2.427 2.427 0 00-4.854 0v20.837l-7.992-7.992a2.427 2.427 0 00-3.432.06 2.424 2.424 0 000 3.37l12.135 12.134z'/></svg><svg width='42' height='98' x='588'><path fill='context-fill' d='M19.353 49.129a2.33 2.33 0 003.294 0L34.295 37.48a2.33 2.33 0 00-3.294-3.292L23.33 41.86V21.858a2.33 2.33 0 00-4.66 0V41.86L11 34.19a2.33 2.33 0 00-3.295.058 2.327 2.327 0 000 3.234l11.648 11.648z'/></svg><svg width='42' height='98' x='630'><path fill='context-fill' d='M19.421 49.51a2.233 2.233 0 003.158 0l11.164-11.164a2.233 2.233 0 00-3.157-3.155l-7.353 7.353V23.37a2.233 2.233 0 00-4.466 0v19.173l-7.353-7.353a2.233 2.233 0 00-3.158.055 2.23 2.23 0 000 3.1L19.421 49.51z'/></svg><svg width='42' height='98' x='672'><path fill='context-fill' d='M19.488 49.888a2.137 2.137 0 003.022 0l10.686-10.686a2.137 2.137 0 00-3.022-3.02l-7.038 7.038V24.87a2.137 2.137 0 00-4.274 0v18.35l-7.038-7.038a2.137 2.137 0 00-3.022.053 2.135 2.135 0 000 2.967l10.686 10.686z'/></svg><svg width='42' height='98' x='714'><path fill='context-fill' d='M19.556 50.262a2.042 2.042 0 002.888 0l10.211-10.211a2.042 2.042 0 00-2.888-2.886l-6.725 6.726V26.355a2.042 2.042 0 00-4.085 0v17.536l-6.725-6.726a2.042 2.042 0 00-2.888.051 2.04 2.04 0 000 2.835l10.212 10.211z'/></svg><svg width='42' height='98' x='756'><path fill='context-fill' d='M19.623 50.633a1.948 1.948 0 002.755 0l9.742-9.743a1.948 1.948 0 00-2.755-2.753l-6.416 6.417v-16.73a1.948 1.948 0 00-3.897 0v16.73l-6.417-6.417a1.948 1.948 0 00-2.755.049 1.947 1.947 0 000 2.704l9.743 9.743z'/></svg><svg width='42' height='98' x='798'><path fill='context-fill' d='M19.689 50.998a1.856 1.856 0 002.624 0l9.28-9.279a1.856 1.856 0 00-2.625-2.622l-6.111 6.111V29.274a1.856 1.856 0 00-3.712 0v15.934l-6.112-6.111a1.856 1.856 0 00-2.624.046 1.854 1.854 0 000 2.576L19.69 51z'/></svg><svg width='42' height='98' x='840'><path fill='context-fill' d='M19.753 51.358a1.765 1.765 0 002.495 0l8.823-8.824a1.765 1.765 0 00-2.495-2.493l-5.811 5.81v-15.15a1.765 1.765 0 00-3.53 0v15.15l-5.81-5.81a1.765 1.765 0 00-2.496.044 1.763 1.763 0 000 2.45l8.824 8.823z'/></svg><svg width='42' height='98' x='882'><path fill='context-fill' d='M19.815 51.711a1.675 1.675 0 002.369 0l8.374-8.374a1.675 1.675 0 00-2.368-2.367l-5.515 5.515v-14.38a1.675 1.675 0 00-3.35 0v14.38l-5.516-5.515a1.675 1.675 0 00-2.368.042 1.673 1.673 0 000 2.325l8.374 8.374z'/></svg><svg width='42' height='98' x='924'><path fill='context-fill' d='M19.878 52.057a1.587 1.587 0 002.244 0l7.935-7.935a1.587 1.587 0 00-2.244-2.243l-5.226 5.226V33.48a1.587 1.587 0 00-3.174 0v13.626l-5.226-5.226a1.587 1.587 0 00-2.244.04 1.585 1.585 0 000 2.203l7.935 7.935z'/></svg><svg width='42' height='98' x='966'><path fill='context-fill' d='M19.94 52.395a1.501 1.501 0 002.122 0l7.506-7.507a1.501 1.501 0 00-2.123-2.12l-4.943 4.943V34.82a1.501 1.501 0 00-3.003 0v12.89l-4.943-4.944a1.501 1.501 0 00-2.123.038 1.5 1.5 0 000 2.083l7.506 7.507z'/></svg><svg width='42' height='98' x='1008'><path fill='context-fill' d='M19.997 52.722a1.418 1.418 0 002.005 0l7.09-7.09a1.418 1.418 0 00-2.005-2.004l-4.67 4.67V36.123a1.418 1.418 0 00-2.835 0v12.175l-4.67-4.67a1.418 1.418 0 00-2.004.036 1.417 1.417 0 000 1.968l7.09 7.09z'/></svg><svg width='42' height='98' x='1050'><path fill='context-fill' d='M20.055 53.037a1.338 1.338 0 001.891 0l6.688-6.688a1.338 1.338 0 00-1.891-1.89l-4.405 4.405V37.379a1.338 1.338 0 00-2.675 0v11.485l-4.405-4.405a1.338 1.338 0 00-1.891.033 1.336 1.336 0 000 1.857l6.688 6.688z'/></svg><svg width='42' height='98' x='1092'><path fill='context-fill' d='M20.108 53.337a1.26 1.26 0 001.783 0l6.304-6.304a1.26 1.26 0 00-1.782-1.782l-4.152 4.153V38.578a1.26 1.26 0 00-2.522 0v10.826l-4.152-4.153a1.26 1.26 0 00-1.783.032 1.26 1.26 0 000 1.75l6.304 6.304z'/></svg><svg width='42' height='98' x='1134'><path fill='context-fill' d='M20.16 53.62a1.189 1.189 0 001.68 0l5.944-5.944a1.189 1.189 0 00-1.68-1.68l-3.915 3.914V39.704a1.189 1.189 0 00-2.378 0V49.91l-3.914-3.914a1.189 1.189 0 00-1.681.03 1.188 1.188 0 000 1.65l5.944 5.943z'/></svg><svg width='42' height='98' x='1176'><path fill='context-fill' d='M20.207 53.877a1.123 1.123 0 001.587 0l5.614-5.614a1.123 1.123 0 00-1.588-1.586l-3.697 3.697v-9.64a1.123 1.123 0 00-2.245 0v9.64l-3.697-3.697a1.123 1.123 0 00-1.588.028 1.122 1.122 0 000 1.558l5.614 5.614z'/></svg><svg width='42' height='98' x='1218'><path fill='context-fill' d='M20.247 54.1a1.065 1.065 0 001.506 0l5.325-5.326a1.065 1.065 0 00-1.506-1.505l-3.507 3.508v-9.145a1.065 1.065 0 00-2.13 0v9.145l-3.508-3.508a1.065 1.065 0 00-1.506.027 1.064 1.064 0 000 1.478l5.326 5.326z'/></svg><svg width='42' height='98' x='1260'><path fill='context-fill' d='M20.278 54.272a1.02 1.02 0 001.443 0l5.103-5.102a1.02 1.02 0 00-1.443-1.442l-3.36 3.36v-8.762a1.02 1.02 0 00-2.042 0v8.762l-3.36-3.36a1.02 1.02 0 00-1.443.025 1.02 1.02 0 000 1.417l5.102 5.102z'/></svg><svg width='42' height='98' x='1302'/></svg>")
        0 center no-repeat !important;
    transform: translateX(0px);
    animation-name: downloadsIndicatorNotificationStart;
    animation-duration: 540ms;
    animation-delay: 64ms;
    animation-timing-function: steps(31);
}

#open-file-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M14.859 3.2a1.335 1.335 0 01-1.217.8H13v1h1v8H2V5h8V4h-.642a1.365 1.365 0 01-1.325-1.11L6.584 1.538A2 2 0 005.219 1H2a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-1.141-1.8zM2 3h3.219l1.072 1H2zm7.854-.146L11 1.707V8.5a.5.5 0 001 0V1.707l1.146 1.146a.5.5 0 10.707-.707l-2-2a.5.5 0 00-.707 0l-2 2a.5.5 0 00.707.707z'/></svg>") !important;
}

#screenshot-button {
    list-style-image: url("chrome://browser/skin/screenshot.svg");
}

#save-page-button {
    list-style-image: url("chrome://browser/skin/save.svg");
}

#sync-button {
    list-style-image: url("chrome://browser/skin/tab.svg");
}

#characterencoding-button {
    list-style-image: url("chrome://browser/skin/characterEncoding.svg");
}

#new-window-button {
    list-style-image: url("chrome://browser/skin/new-window.svg");
}

#new-tab-button {
    list-style-image: url("chrome://browser/skin/new-tab.svg");
}

#privatebrowsing-button {
    list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#find-button {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}

#print-button {
    list-style-image: url("chrome://global/skin/icons/print.svg");
} */

#sync-button,
.urlbarView-row[source="tabs"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon,
#urlbar-engine-one-off-item-tabs,
#PanelUI-fxa-menu-remotetabs-button,
#appMenuRecentlyClosedTabs,
.sync-engine-tabs .checkbox-icon,
.sync-engine-tabs.sync-engine-image,
#sidebar-switcher-tabs > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewTabsSidebar"]
    > #sidebar-header
    > #sidebar-switcher-target
    > #sidebar-icon {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M15 11h-1V5a2 2 0 00-2-2H4a2 2 0 00-2 2v6H1a1 1 0 000 2h14a1 1 0 100-2z'/></svg>") !important;
}

:root:not([customizing]) #stop-reload-button > .toolbarbutton-1 {
    opacity: 1 !important;
}

:root:not([customizing])
    #stop-reload-button
    > .toolbarbutton-1:not([checked], [open], :active):hover
    > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background);
}

:root:not([customizing])
    #stop-reload-button
    > .toolbarbutton-1:is(:focus-visible, [checked="true"]):not([open], :hover, :active)
    > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-checked-background);
}

:root:not([customizing])
    #stop-reload-button
    > .toolbarbutton-1:is([open], [checked], :hover:active)
    > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background);
}

/* fix a little visual bug (maybe related to window scaling) where the stop button appears to move half a pixel to the left between animations.
this is because the reload button is replaced with a step animation for a few moments, and the step animation is then replaced with a static stop icon.
the stop icon sticks around until the page finishes loading, then it's hidden again and the step animation returns and plays in reverse.
unfortunately the way the static icon is rendered is not identical to the step animation for every given scaling factor.
to fix this we can just replace the static icon's path entirely with a path pulled directly from the step animation.
i haven't tested this on every scaling factor, if it makes things worse on your setup then just delete or override this. */
#stop-button .toolbarbutton-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M10.414 10l5.293-5.293a1 1 0 00-1.414-1.414L9 8.586 3.707 3.293a1 1 0 00-1.414 1.414L7.586 10l-5.293 5.293a1 1 0 101.414 1.414L9 11.414l5.293 5.293a1 1 0 001.414-1.414z'/></svg>") !important;
    background-repeat: no-repeat;
    background-position: left 5px center;
    list-style-image: none;
}

#nav-bar[brighttext] #panic-button[open] {
    fill: var(--warning-color) !important;
}

#nav-bar-customization-target {
    padding-inline-start: var(--toolbarbutton-outer-padding) !important;
}

#TabsToolbar-customization-target > #back-button {
    margin-inline-start: 2px !important;
}

:root:not([uidensity="compact"])
    :is(#nav-bar-customization-target, #TabsToolbar-customization-target)
    > :is(#stop-reload-button, #wrapper-stop-reload-button) {
    margin-inline: -2px !important;
}

#stop-reload-button {
    pointer-events: none !important;
}

#stop-reload-button > * {
    pointer-events: auto !important;
}

/* navbar shadow */
#navigator-toolbox {
    box-shadow: 0px 0px 8px -5px hsla(240, 4%, 0%, 0.5), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.2) !important;
}

#nav-bar-customization-target {
    overflow: visible !important;
}

toolbar .toolbarbutton-1:not([disabled])[open]:hover > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important;
}

#PersonalToolbar
    .toolbarbutton-1:is(:focus-visible, [checked="true"]):not([disabled], [open], :hover, :active),
toolbarbutton.bookmark-item:not(.subviewbutton):is(:focus-visible, [checked="true"]):not([disabled], [open], :hover, :active),
toolbar
    .toolbarbutton-1:is(:focus-visible, [checked="true"]):not([disabled], [open], :hover, :active)
    > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
    background-color: var(--toolbarbutton-checked-background) !important;
    transition: none !important;
}

toolbar .toolbarbutton-1:not([disabled])[checked]:hover > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#navigator-toolbox {
    z-index: 2 !important;
}

#nav-bar {
    z-index: 11 !important;
}

/* fullscreen button */
#fullscreen-button .toolbarbutton-icon {
    transition: none !important;
    list-style-image: url("chrome://browser/skin/fullscreen.svg") !important;
}

#fullscreen-button[checked="true"] .toolbarbutton-icon {
    background: var(--toolbarbutton-checked-background) !important;
    list-style-image: url("chrome://browser/skin/fullscreen-exit.svg") !important;
}

#fullscreen-button[checked="true"]:hover .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#fullscreen-button[checked="true"]:hover:active .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important;
}

#navigator-toolbox,
#navigator-toolbox > * {
    width: -moz-available;
}

/* proton notifications */
@supports (-moz-bool-pref("browser.proton.infobars.enabled")) {
    #navigator-toolbox > :is(legacy-stack, .notificationbox-stack),
    #navigator-toolbox > named-deck > :is(legacy-stack, .notificationbox-stack),
    #navigator-toolbox > named-deck {
        display: flex !important;
        position: absolute !important;
        width: unset !important;
        border-bottom-right-radius: 4px !important;
        max-height: 74px !important;
    }

    #navigator-toolbox notification {
        width: -moz-fit-content !important;
        display: flex !important;
        overflow: hidden !important;
        border: none !important;
        transition: margin-top 300ms var(--animation-easing-function),
            opacity 300ms var(--animation-easing-function) !important;
    }

    #navigator-toolbox notification .messageText {
        display: inline-block !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }

    #navigator-toolbox notification .messageImage {
        min-width: 24px !important;
    }

    #navigator-toolbox notification .notification-button {
        margin-inline: 4px 0 !important;
    }

    #navigator-toolbox notification .close-icon {
        background: none !important;
        width: 40px !important;
        height: 40px !important;
    }

    #navigator-toolbox notification .close-icon .toolbarbutton-icon {
        border-radius: var(--toolbarbutton-border-radius);
    }

    #navigator-toolbox notification .close-icon:hover .toolbarbutton-icon {
        background-color: color-mix(in srgb, currentColor 10%, transparent);
    }

    #navigator-toolbox notification .close-icon:hover:active .toolbarbutton-icon {
        background-color: color-mix(in srgb, currentColor 20%, transparent);
    }

    #navigator-toolbox notification[type="info"] .text-link {
        color: var(--toolbarbutton-icon-fill-attention) !important;
    }

    #navigator-toolbox notification[type="critical"] .text-link {
        color: black !important;
    }

    #navigator-toolbox notification[type="info"] {
        --notification-background: var(--arrowpanel-background) !important;
    }

    #navigator-toolbox notification[type="critical"] {
        --notification-background: hsl(350.5, 100%, 50%) !important;
        --notification-text: black !important;
    }
}
