.panel-arrowcontent {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) !important;
    box-shadow: var(--panel-shadow) !important;
}

.panel-arrow {
    margin-top: 2px;
}

#identity-popup[type="arrow"][side="top"],
#identity-popup[type="arrow"][side="bottom"],
#permission-popup[type="arrow"][side="top"],
#permission-popup[type="arrow"][side="bottom"],
#protections-popup[type="arrow"][side="top"],
#protections-popup[type="arrow"][side="bottom"],
#notification-popup[type="arrow"][side="top"],
#notification-popup[type="arrow"][side="bottom"] {
    margin-inline: -20.4px !important;
}

#downloadsPanel,
#widget-overflow,
#appMenu-popup,
#customizationui-widget-panel,
#identity-popup,
#protections-popup,
#permission-popup {
    margin-top: -7px !important;
}

#notification-popup {
    margin-top: -1px !important;
}

panel[type="arrow"][side="top"] {
    margin-top: -7px;
}

#confirmation-hint {
    margin-top: -9px;
}

#BMB_bookmarksPopup {
    margin-top: -12px !important;
}

#customization-panelWrapper > .panel-arrowbox > .panel-arrow[side="top"] {
    stroke: var(--arrowpanel-background) !important;
}

.panel-footer > button:not([disabled]):is(:hover, :focus-visible) {
    background-color: var(
        --button-hover-bgcolor,
        color-mix(in srgb, currentColor 17%, transparent)
    );
}

.panel-footer > button:not([disabled]):is(:hover, :focus-visible):active {
    background-color: var(
        --button-active-bgcolor,
        color-mix(in srgb, currentColor 30%, transparent)
    );
}

.protections-popup-category,
.protections-popup-footer-button {
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
    margin-inline: calc(var(--vertical-section-padding) - 4px) !important;
    padding-inline: calc(var(--arrowpanel-menuitem-inline-margin) + 3px) !important;
    padding-block: var(--arrowpanel-menuitem-inline-margin) !important;
    height: unset !important;
    max-height: unset !important;
    min-height: 28px !important;
}

#protections-popup-footer {
	padding-bottom: calc(var(--vertical-section-padding) - 4px) !important;
    margin-bottom: 4px !important;
}

#protections-popup-footer-protection-type-label {
    margin-inline-end: 0 !important;
}

#protections-popup-trackers-blocked-counter-box {
    margin-inline-end: calc(var(--vertical-section-padding) - 4px) !important;
}

#protections-popup-blocking-section-header,
#protections-popup-not-blocking-section-header,
#protections-popup-not-found-section-header {
    margin: 0 !important;
    padding-inline: var(--vertical-section-padding) !important;
    color: var(--panel-description-color);
}

#protections-popup-siteNotWorkingView-header,
#protections-popup-tp-switch-section {
    padding-inline: var(--vertical-section-padding) !important;
}

.protections-popup-category::after {
    content: url(chrome://userchrome/content/menu-arrow.svg) !important;
    scale: none !important;
    translate: none !important;
    transform: translateX(2px) !important;
    display: -moz-inline-box;
}

.protections-popup-category[disabled="true"] {
    background: none !important;
}

.popup-notification-warning:empty,
.addon-webext-perm-list:empty {
    display: none !important;
}

.panel-footer.popup-notification-button-container {
	margin-inline: calc(var(--menupopup-inner-padding-magnitude) * 2) !important;
	margin-block: calc(var(--menupopup-inner-padding-magnitude) * 2) !important;
    gap: calc(var(--menupopup-inner-padding-magnitude) * 2) !important;
}

.panel-footer.popup-notification-button-container > .popup-notification-button {
    margin: 0 !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
    flex: 1 !important;
    font-weight: normal !important;
    border-inline: 0 !important;
}

panel {
    --panel-separator-color: var(--desaturate-dimmed) !important;
}

.popup-notification-button-container > button:not([disabled]):is(:hover:active, [open]) {
    background-color: var(--arrowpanel-dimmed-even-further) !important;
}

.popup-notification-button-container > button:not([disabled]):hover {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

.popup-notification-button-container > button {
    background-color: var(--arrowpanel-dimmed) !important;
}

.popup-notification-button-container > button[disabled] {
    background-color: var(--arrowpanel-dimmed) !important;
    opacity: 0.5;
}

.popup-notification-button-container > button[disabled] .button-text {
    color: white;
}

.popup-notification-primary-button {
    border-inline-end: 1px solid var(--panel-separator-color) !important;
}

.panel-footer > .popup-notification-primary-button:not([disabled]) {
    background-color: hsl(237, 26%, 30%) !important;
}

.panel-footer > .popup-notification-primary-button:not([disabled]):hover {
    background-color: hsl(242, 60%, 56%) !important;
}

.panel-footer > .popup-notification-primary-button:not([disabled]):hover:active {
    background-color: hsl(242, 65%, 60%) !important;
}

popupnotification .popup-notification-checkbox {
    margin-block: 4px !important;
}

popupnotification checkbox .checkbox-check {
    appearance: none !important;
    min-width: 10px !important;
    min-height: 10px !important;
    width: 14px;
    height: 14px;
    margin-inline-end: 4px !important;
    padding: 0.5px;
    border-radius: 2px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
}

popupnotification checkbox .checkbox-check[checked] {
    background-image: url(chrome://userchrome/content/check.svg);
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
}

.addon-installed-notification-content > checkbox,
popupnotification .popup-notification-body > .popup-notification-checkbox {
    margin-inline-start: 0 !important;
}

popupnotification .popup-notification-checkbox .checkbox-check {
    width: 14px !important;
    height: 14px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

popupnotification .popup-notification-checkbox .checkbox-check[checked] {
    background-image: url(chrome://userchrome/content/check.svg) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
}

.popup-notification-learnmore-link {
    margin-block: 2px !important;
}

.popup-subitem {
    margin-inline-start: 27px !important;
    margin-top: 1px;
}

.permission-popup-permission-remove-button {
    appearance: none;
    margin: 0;
    margin-inline-start: 2px;
    border-width: 0;
    min-width: 0;
    padding: 2px;
    background-color: var(--ui-solid-button-bgcolor) !important;
    color: inherit !important;
    opacity: 1 !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: var(--context-menuitem-border-radius) !important;
}

.permission-popup-permission-remove-button > .button-box > .button-icon {
    margin-inline-end: 3px !important;
    width: 14px !important;
    height: 14px !important;
    list-style-image: url(chrome://userchrome/content/close.svg) !important;
}

.permission-popup-permission-remove-button:is(:hover, :focus-visible) {
    background-color: var(--ui-solid-button-hover-bgcolor) !important;
}

.permission-popup-permission-remove-button:is(:hover, :focus-visible):active {
    background-color: var(--ui-solid-button-active-bgcolor) !important;
}

.permission-popup-permission-item > .popup-subitem {
    fill-opacity: 0.8 !important;
}

#addon-webext-permissions-notification {
    padding-top: 5px;
}

/* hides update popups. i use a script for this now, updateNotificationSlayer.uc.js. use that instead, it's MUCH better. */
/* #appMenu-notification-popup {
    display: none !important;
} */

/* popupnotification:is([popupid="update-available"]) {
    display: none !important;
} */

.panel-header > .subviewbutton-back,
.panel-header > .subviewbutton-back > .toolbarbutton-icon {
    -moz-context-properties: fill, fill-opacity !important;
    fill-opacity: 0.6;
}

.panel-header > .subviewbutton-back:hover,
.panel-header > .subviewbutton-back:hover > .toolbarbutton-icon {
    fill-opacity: 0.8;
}

#plugins-notification-icon[extraAttr="inactive"] > .plugin-icon {
    fill: currentColor !important;
}

#plugins-notification-icon[extraAttr="inactive"] > #plugin-icon-badge {
    fill-opacity: 1;
}

.identity-popup-security-connection {
    /* background-position: 2em 40% !important; */
    background-size: 18px auto !important;
    background-image: url(chrome://userchrome/content/connection-mixed-active-loaded.svg) !important;
    font-size: 1.1em;
}

#identity-popup-securityView .identity-popup-connection-secure.security-view,
#identity-popup-securityView .identity-popup-connection-not-secure.security-view {
	margin-inline-start: 28px !important;
}

#identity-popup-securityView .identity-popup-security-connection {
    background-position: 10px center !important;
    padding-block: 4px !important;
}

#identity-popup-mainView .identity-popup-security-connection {
    background-position: 4px center !important;
    padding-block: 4px !important;
}

#identity-popup-mainView .identity-popup-security-connection description {
    margin-inline-start: 10px !important;
}

#identity-popup-security-description {
    font-size: 12px !important;
}

#identity-popup-security-description > description {
    padding-block: 0 !important;
    height: -moz-fit-content !important;
}

#identity-popup[connection="chrome"] .identity-popup-security-connection {
    background-image: url(chrome://branding/content/about-logo.png) !important;
}

#identity-popup[connection="file"] .identity-popup-security-connection {
    background-image: url(chrome://userchrome/content/document.svg) !important;
}

#identity-popup[connection^="secure"] .identity-popup-security-connection {
    background-image: url(chrome://userchrome/content/skin/connection-secure.svg) !important;
    -moz-context-properties: fill;
}

#identity-popup[connection="extension"] .identity-popup-security-connection {
    background-image: url(chrome://userchrome/content/material/extension.svg) !important;
    background-size: 18px auto !important;
    fill: currentColor !important;
}

/* url bar popups */
#identity-popup,
#protections-popup,
.popup-notification-panel {
    fill: currentColor;
    -moz-context-properties: fill, fill-opacity, opacity, stroke, stroke-opacity !important;
}

/* #protections-popup {
    margin-left: -17px !important;
} */

#identity-popup[connection^="secure"] .identity-popup-security-connection,
:root[lwt-popup-brighttext] .identity-popup-connection-secure {
    /*   fill: hsl(114, 100%, 37%) !important; */
    fill: var(--secure-color) !important;
    color: var(--secure-color) !important;
}

#protections-popup-mainView-panel-header-section {
    background: radial-gradient(
        circle farthest-side at top right,
        var(--protection-header-gradient-color-1),
        var(--protection-header-gradient-color-2),
        var(--protection-header-gradient-color-3)
    ) !important;
}

#protections-popup-mainView-panel-header-section + toolbarseparator {
    display: none;
}

#protections-popup-milestones {
    border-radius: 4px !important;
    overflow: hidden !important;
    background: radial-gradient(
        circle farthest-side at top left,
        hsla(318, 73%, 69%, 0.1),
        hsla(265, 100%, 69%, 0.25),
        hsla(217, 90%, 39%, 0.5)
    ) !important;
}

#protections-popup-milestones-content {
    border-radius: 4px !important;
}

:root[lwt-popup-brighttext] #protections-popup-mainView-panel-header {
    --arrowpanel-dimmed: hsla(0, 0%, 0%, 0.125);
    --arrowpanel-dimmed-further: hsla(0, 0%, 0%, 0.175);
    --arrowpanel-dimmed-even-further: hsla(0, 0%, 0%, 0.225);
}

.protections-popup-tp-switch:not([enabled]):is(:hover, :focus-visible) {
    border: 1px solid var(--protections-popup-switch-off-hover-border-custom) !important;
    background: var(--protections-popup-switch-off-hover-background-custom) !important;
}

.protections-popup-tp-switch[enabled]:is(:hover, :focus-visible) {
    border: 1px solid var(--protections-popup-switch-on-hover-border-custom) !important;
    background: var(--protections-popup-switch-on-hover-background-custom) !important;
}

.protections-popup-tp-switch:not([enabled]):is(:hover, :focus-visible):active {
    background: var(--protections-popup-switch-off-active-background-custom) !important;
}

.protections-popup-tp-switch[enabled]:is(:hover, :focus-visible):active {
    background: var(--protections-popup-switch-on-active-background-custom) !important;
}

#identity-popup-mainView .subviewbutton-nav[disabled="true"]::after {
    display: none !important;
}

#identity-popup-mainView .subviewbutton-nav::after {
	margin-inline-start: -2px !important;
}

#identity-popup-security-expander > .button-box {
    border: none !important;
}

#protections-popup-not-blocking-section-why {
    border-radius: 0.1% !important;
}

.identity-popup-warning-box {
    border-radius: 4px !important;
    border-color: transparent !important;
}

.identity-popup-section {
    -moz-box-align: center;
}

.identity-popup-expander {
    width: min-content !important;
    padding: 10px !important;
    box-shadow: none !important;
    list-style-image: url(chrome://userchrome/content/menu-arrow-big.svg) !important;
    transform: none !important;
    background: none !important;
}

.identity-popup-expander:-moz-locale-dir(ltr) {
    transform: scaleX(-1);
}

.identity-popup-expander .button-icon {
    width: 14px !important;
    height: 14px !important;
}

.identity-popup-expander .button-box {
    border-radius: var(--arrowpanel-menuitem-border-radius);
    width: 32px;
    height: 32px;
}

.identity-popup-expander:is(:hover, :focus-visible) .button-box {
    background-color: var(--arrowpanel-dimmed);
}

.identity-popup-expander:is(:hover, :focus-visible):active .button-box {
    background-color: var(--arrowpanel-dimmed-further);
}

#identity-popup-multiView .panel-button {
    appearance: none !important;
    color: currentColor !important;
    fill: currentColor !important;
    background-color: var(--arrowpanel-dimmed) !important;
    border-radius: 3px !important;
    padding: 0.15em 0.4em !important;
    align-self: center !important;
}

#identity-popup-multiView .panel-button:not([disabled]):is(:hover:active, [open]) {
    background-color: var(--arrowpanel-dimmed-even-further) !important;
}

#identity-popup-multiView .panel-button:not([disabled]):hover {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

#identity-popup-multiView .panel-button:not([disabled]) {
    background-color: var(--arrowpanel-dimmed) !important;
}

#identity-popup-multiView .panel-button[disabled="true"] {
    opacity: 0.6 !important;
    pointer-events: none !important;
}

#identity-popup-securityView-body {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

#identity-popup-securityView-body > button {
    width: -moz-available;
}

#identity-popup-securityView-body > :is(description, label, button) {
    margin-block: 0 !important;
    margin-inline-start: 28px !important;
}

#identity-popup-securityView-body > description#identity-popup-content-verifier {
    margin-top: 0 !important;
}

#identity-popup-securityView-body > description#identity-popup-content-owner {
    margin-bottom: revert !important;
    padding-inline-start: 8px;
    margin-top: 0 !important;
}

#identity-popup-securityView-body > description#identity-popup-content-supplemental {
    margin-top: revert !important;
    padding-inline-start: 16px;
}

.panel-view-body-unscrollable {
    overflow-y: scroll !important;
}

#notification-popup menulist {
    color: var(--notification-menu-color) !important;
}

#downloadsListBox {
    margin: 0 !important;
}

#emptyDownloads {
    padding-block: 1.25em !important;
	padding-inline: 20px 30px !important;
}

#downloadsPanel-mainView {
    width: unset !important;
    padding: 0 !important;
}

#downloadsFooterButtons {
    margin: 0 !important;
    border: none !important;
}

#downloadsFooterButtons > button {
    padding-inline: 16px !important;
    padding-block: 10px 11px !important;
    border-radius: 0 !important;
    border-top: 1px solid var(--panel-separator-color) !important;
}

#downloadsFooterButtons > button:hover,
#downloadsPanel[hasdownloads="true"] #downloadsFooterButtons > button:focus-visible {
    background-color: transparent !important;
    background-image: var(--download-button-hover-bg) !important;
}

#downloadsPanel:not([hasdownloads="true"])
    #downloadsFooterButtons
    > button:focus-visible:not(:hover) {
    background-color: transparent !important;
}

#downloadsListBox > .download-state > toolbarseparator {
    visibility: collapse !important;
}

#downloadsListBox > richlistitem {
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-inline-start: 12px !important;
    background: none !important;
}

#downloadsListBox > .download-state {
    min-height: 66px !important;
    height: 66px !important;
    -moz-box-align: center !important;
    border: none !important;
}

.downloadsPanelFooterButton:hover {
    outline: none !important;
}

#downloadsHistory {
    margin-top: 0 !important;
}

#downloadsListBox > richlistitem[state="1"][exists] .downloadMainArea:hover,
#downloadsListBox > richlistitem:not([verdict]) > .downloadButton:hover,
#downloadsListBox > richlistitem[verdict]:hover {
    background-color: unset !important;
}

#downloadsListBox > .download-state:is(:hover, :focus-within) {
    background-image: var(--download-button-hover-bg) !important;
}

#downloadsListBox .downloadContainer {
    min-height: 66px !important;
}

#downloadsListBox > .download-state > .downloadButton {
    min-height: 56px !important;
    min-width: 56px !important;
    margin: 5px !important;
    border-radius: 100% !important;
    -moz-box-align: center !important;
    background: none !important;
    -moz-box-pack: center !important;
}

#downloadsListBox > .download-state > .downloadButton:is(:hover, :focus-visible) .button-box {
    background: var(--arrowpanel-dimmed) !important;
}

#downloadsListBox
    > .download-state
    > .downloadButton:is(:hover, :focus-visible):active
    .button-box {
    background: var(--arrowpanel-dimmed-further) !important;
}

#downloadsListBox > .download-state > .downloadButton .button-box {
    min-width: 35.5px !important;
    max-width: 35.5px !important;
    min-height: 35.5px !important;
    max-height: 35.5px !important;
    border-radius: 100% !important;
}

#downloadsListBox > .download-state > .downloadButton .button-box .button-icon {
    width: 22px !important;
    height: auto !important;
    list-style-image: url(chrome://userchrome/content/places/downloads-folder.svg) !important;
}

/* overflow menu */
#widget-overflow-mainView .panel-subview-body {
    padding-bottom: 0 !important;
}

/* grid overflow menu (i don't have an overflow menu at all thanks to the toolbar button slider script. but just in case) */
/* :root:not([customizing]) #widget-overflow-mainView {
    min-width: 370px !important;
}

:root:not([customizing]) #widget-overflow-mainView>.panel-subview-body {
    padding: 4px !important;
}

:root:not([customizing]) .widget-overflow-list {
    display: grid;
    grid-template-areas: "a a a a a a a a a a a a";
    grid-auto-columns: auto;
}

:root:not([customizing]) #widget-overflow-mainView[visible] .widget-overflow-list {
    max-width: 370px
}

:root:not([customizing]) #widget-overflow-mainView~panelview[visible] {
    max-width: unset !important;
}

:root:not([customizing]) .widget-overflow-list>* {
    padding-block: 8px !important;
}

:root:not([customizing]) .widget-overflow-list>#search-container {
    grid-area: s
}

:root:not([customizing]) .widget-overflow-list .subviewbutton-nav::after,
:root:not([customizing]) .widget-overflow-list .toolbarbutton-text {
    display: none
}

:root:not([customizing]) .widget-overflow-list .toolbarbutton-1 {
    appearance: none !important;
    margin: 2px !important;
    padding: 0 !important;
    -moz-box-pack: center !important;
    display: -moz-box !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
    width: 28px !important;
    height: 28px !important;
}

:root:not([customizing]) .widget-overflow-list .toolbarbutton-1 .toolbarbutton-icon {
    padding: 6px !important;
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

:root:not([customizing]) .widget-overflow-list {
    width: 370px !important;
}

:root:not([customizing]) #widget-overflow-mainView .panel-subview-body {
    width: 370px !important;
}

:root:not([customizing]) #widget-overflow-mainView {
    min-width: 370px !important;
    max-width: 370px !important;
}

:root:not([customizing]) #widget-overflow {
    width: 370px !important;
}

.widget-overflow-arrowbox[pack="end"] {
    margin-right: 4.4px !important;
}

#widget-overflow-list .toolbarbutton-menu-dropmarker {
    display: none !important;
}

#widget-overflow {
    margin-right: -24.4px !important;
}

#widget-overflow .toolbarbutton-badge {
    margin: 0 !important;
    margin-inline-end: 0px !important;
} */

/* specific widget menus */
#PanelUI-webext-_63d150c4-394c-4275-bc32-c464e76a891c_-browser-action-view {
    min-width: 550px !important;
}

#PanelUI-webext-_bee8b1f2-823a-424c-959c-f8f76c8b2306_-browser-action-view {
    min-width: 200px !important;
    width: 230px !important;
}

#PanelUI-webext-multithreaded-download-manager_qw_linux-2g64_local-browser-action-view
    .webextension-popup-browser {
    min-height: 230px !important;
}

#PanelUI-webext-_a6c4a591-f1b2-4f03-b3ff-767e5bedf4e7_-browser-action-view {
    min-width: 700px !important;
}

/* all tabs menu panel */
#customizationui-widget-panel[viewId="allTabsMenu-allTabsView"] .panel-viewcontainer[panelopen] {
    min-height: auto !important;
}

#allTabsMenu-containerTabsView {
    padding-block-end: 4px !important;
}

/* urlbar page action menu */
#pageActionPanel panelview {
    min-width: 18em !important;
}

#pageAction-panel-builtInSeparator {
    display: none;
}

@media (-moz-proton-contextmenus) {
    .menu-right {
        margin-inline-end: 0 !important;
    }

    #identity-popup,
    #permission-popup,
    #protections-popup {
        --panel-separator-margin: 4px !important;
        --popup-width: 436.92px !important;
        line-height: 1.1em !important;
        font-size: var(--panel-font-size);
        --panel-font-size: 1.1em;
    }

    /* ugly small menu separators */
    #widget-overflow-mainView > toolbarseparator,
    #widget-overflow-mainView > .panel-subview-body > toolbarseparator,
    .PanelUI-subView toolbarseparator,
    .cui-widget-panelview menuseparator,
    .cui-widget-panel toolbarseparator {
        margin-inline: 4px !important;
    }

    #identity-popup-clear-sitedata-footer {
        margin-inline: 4px !important;
        margin-block: -4px 8px !important;
    }

    .panel-footer.panel-footer-menulike {
        margin-inline: 4px !important;
        margin-bottom: 4px !important;
        margin-top: -4px !important;
        border-top: 1px solid var(--panel-separator-color);
    }

    #identity-popup-security-httpsonlymode > label {
        margin-top: 0 !important;
    }

    .permission-popup-section {
        padding-bottom: 8px !important;
    }

    #permission-popup-permissions-content {
        padding-inline: 12px 4px !important;
    }

    #identity-popup-securityView-body {
        padding-block: 16px;
    }

    #identity-popup-mainView-panel-header,
    #permission-popup-mainView-panel-header,
    #protections-popup-mainView-panel-header {
        min-height: 32px !important;
        font-size: 14px !important;
        line-height: 14px !important;
        font-weight: normal !important;
    }

    .panel-header > h1,
    .popup-notification-description {
        font-size: 14px !important;
        font-weight: normal !important;
    }
    
    :is(#identity-popup-mainView-panel-header,
    #permission-popup-mainView-panel-header,
    #protections-popup-mainView-panel-header) span,
    .protections-popup-tp-switch-on-header,
    .protections-popup-tp-switch-off-header {
        font-weight: inherit !important;
    }

    #identity-popup-securityView .identity-popup-security-content,
    .identity-popup-section,
    .permission-popup-section,
    .protections-popup-section {
        margin-inline: 4px;
    }
    
    #identity-popup-multiView > .panel-viewcontainer {
        min-height: revert !important;
    }
}
