/* OS-styled javascript modal prompts */
tabmodalprompt {
    background-color: hsla(0, 0%, 4%, 0.5) !important;
}

.tabmodalprompt-mainContainer {
    border-radius: 4px !important;
}

.paymentDialogContainerFrame {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--lwt-text-color, -moz-dialogtext) !important;
}

.tabmodalprompt-mainContainer {
    background-color: hsl(230, 36%, 25%) !important;
    background-color: var(--toolbar-bgcolor) !important;
    border: none !important;
    color: #fff !important;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25), 0px 0px 5px -1px rgba(0, 0, 0, 0.125) !important;
}

.tabmodalprompt-mainContainer textbox {
    border-radius: 3px !important;
}

.tabmodalprompt-buttonSpacer {
    display: none !important;
}

tabmodalprompt input {
    appearance: none !important;
    user-select: text !important;
    -moz-user-select: text !important;
    background-color: var(--desaturate-dimmed) !important;
    color: #fff !important;
    border: none !important;
    padding: 2px 2px 3px;
    padding-inline-start: 4px;
    border-radius: 3px !important;
}

tabmodalprompt input:focus {
    background-color: var(--desaturate-dimmed-further) !important;
}

.tabmodalprompt-buttonContainer button {
    appearance: none !important;
    border-radius: 3px !important;
    background-color: var(--desaturate-dimmed) !important;
    max-width: -moz-fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
    flex: auto !important;
    color: #fff !important;
    padding: 2px !important;
}

.tabmodalprompt-buttonContainer button:hover {
    background-color: var(--desaturate-dimmed-further) !important;
    flex: auto !important;
    color: #fff !important;
}

.tabmodalprompt-buttonContainer button:hover:active {
    background-color: var(--desaturate-dimmed-even-further) !important;
}

.tabmodalprompt-buttonContainer .button-text {
    margin-top: 0.5px !important;
}

.tabmodalprompt-buttonContainer spacer {
    display: none !important;
}

.tabmodalprompt-buttonContainer {
    display: flex !important;
    padding-top: 0 !important;
    background-color: transparent !important;
    border-top: none !important;
}

tabmodalprompt .checkbox-check {
    appearance: none !important;
    background-color: transparent !important;
    border: none !important;
    width: 14px !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    fill: currentColor !important;
    padding: 1px !important;
    opacity: 0.8 !important;
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSAyYy0xLjY1NCAwLTMgMS4zNDYtMyAzdjE0YzAgMS42NTQgMS4zNDYgMyAzIDNoMTRjMS42NTQgMCAzLTEuMzQ2IDMtM3YtMTRjMC0xLjY1NC0xLjM0Ni0zLTMtM2gtMTR6bTE5IDN2MTRjMCAyLjc2MS0yLjIzOCA1LTUgNWgtMTRjLTIuNzYyIDAtNS0yLjIzOS01LTV2LTE0YzAtMi43NjEgMi4yMzgtNSA1LTVoMTRjMi43NjIgMCA1IDIuMjM5IDUgNXoiIGZpbGw9ImNvbnRleHQtZmlsbCIgZmlsbC1vcGFjaXR5PSJjb250ZXh0LWZpbGwtb3BhY2l0eSIvPjwvc3ZnPg==") !important;
}

tabmodalprompt checkbox:hover .checkbox-check {
    opacity: 1 !important;
}

tabmodalprompt .checkbox-check[checked="true"] {
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAuMDQxIDE3bC00LjUtNC4zMTkgMS4zOTUtMS40MzUgMy4wOCAyLjkzNyA3LjAyMS03LjE4MyAxLjQyMiAxLjQwOS04LjQxOCA4LjU5MXptLTUuMDQxLTE1Yy0xLjY1NCAwLTMgMS4zNDYtMyAzdjE0YzAgMS42NTQgMS4zNDYgMyAzIDNoMTRjMS42NTQgMCAzLTEuMzQ2IDMtM3YtMTRjMC0xLjY1NC0xLjM0Ni0zLTMtM2gtMTR6bTE5IDN2MTRjMCAyLjc2MS0yLjIzOCA1LTUgNWgtMTRjLTIuNzYyIDAtNS0yLjIzOS01LTV2LTE0YzAtMi43NjEgMi4yMzgtNSA1LTVoMTRjMi43NjIgMCA1IDIuMjM5IDUgNXoiIGZpbGw9ImNvbnRleHQtZmlsbCIgZmlsbC1vcGFjaXR5PSJjb250ZXh0LWZpbGwtb3BhY2l0eSIvPjwvc3ZnPg==") !important;
}

/* in-content autocomplete popup */
panel#PopupAutoComplete[type="autocomplete-richlistbox"] {
    padding: var(--menupopup-inner-padding) !important;
    background-color: var(--menu-background-color) !important;
    color: var(--menu-color) !important;
    border: none !important;
    border-radius: var(--menupopup-border-radius);
    box-shadow: var(--menupopup-shadow);
}

panel#PopupAutoComplete[type="autocomplete-richlistbox"] > richlistbox {
    background: none !important;
    color: inherit !important;
}

panel#PopupAutoComplete[type="autocomplete-richlistbox"] > richlistbox > richlistitem {
    border-radius: var(--context-menuitem-border-radius) !important;
    min-height: 25px !important;
    padding-inline: 2px !important;
}

/* push notification popup (lower right corner) */
@-moz-document url("chrome://global/content/alerts/alert.xhtml")
{
    #alertBox {
        box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.2) !important;
        color: white !important;
        fill: rgba(255, 255, 255, 0.5) !important;
        border: none !important;
        border-radius: calc(var(--toolbarbutton-border-radius) + 1px) !important;
        background-color: hsla(0, 0%, 7%, 0.97) !important;
        background-image: var(--acrylic-texture) !important;
        backdrop-filter: var(--acrylic-blur) !important;
        animation: none !important;
    }

    #alertBox #alertTitleBox {
        margin-bottom: 5px !important;
        font-weight: normal !important;
    }

    #alertTitleBox * {
        font-weight: normal !important;
        font-size: 14px !important;
    }

    /* #alertSourceLabel {
    font-family: FreeMono, monospace !important;
} */

    #alertTitleLabel {
        margin-left: 5px !important;
    }

    button,
    #alertBox .close-icon {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    #alertSettings {
        border-radius: var(--toolbarbutton-border-radius) !important;
        width: 20px !important;
        height: 20px !important;
        margin-right: 3px !important;
    }

    #alertTitleBox > vbox {
        width: 20px !important;
        height: 20px !important;
    }

    #alertTitleBox .close-icon {
        border-radius: var(--toolbarbutton-border-radius) !important;
        margin: 4px 4px 0 0 !important;
    }

    #alertTitleLabel {
        margin: 0 !important;
        padding-block: 4px 0 !important;
    }

    #alertImage {
        border-radius: var(--toolbarbutton-border-radius);
    }

    #alertSettings:is(:hover, [open], :hover:active),
    #alertBox .close-icon:is(:hover, :hover:active) {
        fill: var(--ui-text-80) !important;
        background: rgba(255, 255, 255, 0.08) !important;
    }

    #alertSettings .button-icon {
        width: 12px !important;
    }

    #alertSettings menupopup {
        appearance: none !important;
        background: rgb(23, 23, 23) !important;
        border: none !important;
        border-radius: 3px !important;
        margin: 0px 0 0 0 !important;
        overflow: hidden !important;
    }

    #alertSettings menupopup menuseparator {
        visibility: hidden !important;
        display: none !important;
    }

    #alertSettings menupopup :is(menuitem, menu) {
        appearance: none !important;
        color: var(--ui-text-80) !important;
        padding: 0 0 0 0 !important;
        min-height: 25px !important;
    }

    #alertSettings menupopup :is(menuitem, menu)[disabled="true"] {
        appearance: none !important;
        color: rgba(255, 255, 255, 0.45) !important;
        background-color: initial !important;
    }

    #alertSettings menupopup menuseparator:not([hidden="true"]) + :is(menu, menuitem) {
        border-image: linear-gradient(
            to right,
            transparent 1%,
            hsl(233, 0%, 23%) 50%,
            transparent 99%
        ) !important;
        border-image-slice: 1 !important;
        border-top-width: 1px !important;
        border-top-style: solid !important;
    }

    #alertSettings menupopup :is(menuitem, menu) image {
        margin-left: 3px;
        margin-right: -3px;
    }

    #alertSettings menupopup {
        padding: 0 !important;
    }

    #alertSettings menupopup .menu-right {
        appearance: none !important;
        padding: 0px !important;
        margin-right: 2px !important;
        width: 12px !important;
        height: 12px !important;
        fill: currentColor !important;
        -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
        background-size: 10px 10px !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='5px' height='5px' viewBox='0 0 492 492' xml:space='preserve'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/></svg>") !important;
    }

    #alertSettings
        menupopup
        :is(menu, menuitem):is(:hover, [_moz-menuactive="true"]):not([disabled="true"]) {
        appearance: none !important;
        background-color: rgba(255, 255, 255, 0.08) !important;
    }
}

#fullscreen-warning {
    background-color: var(--urlbarView-bgcolor) !important;
}

/* for future expansion */
/* @-moz-document regexp("chrome:\/\/(?!devtools).*") {

}

@-moz-document url("chrome://browser/content/places/places.xhtml") {

}

@-moz-document url("chrome://browser/content/aboutDialog.xhtml") {

}

@-moz-document url("chrome://browser/content/places/bookmarkProperties.xhtml"), url("chrome://browser/content/places/bookmarkProperties2.xhtml") {
    
}

@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml") {

}

@-moz-document url("chrome://global/content/appPicker.xhtml") {

}

@-moz-document url("chrome://mozapps/content/handling/dialog.xhtml") {

}

@-moz-document url("chrome://global/content/alerts/alert.xhtml") {

}

@-moz-document url("chrome://global/content/commonDialog.xhtml") {

}

@-moz-document url("chrome://mozapps/content/profile/createProfileWizard.xhtml") {

}

@-moz-document url("chrome://pippki/content/exceptionDialog.xhtml") {

}

@-moz-document url("chrome://browser/content/pageinfo/pageInfo.xhtml") {

}

@-moz-document url("chrome://pippki/content/certViewer.xhtml") {

}

@-moz-document url("chrome://mozapps/content/update/history.xhtml") {
	
}

@-moz-document url("chrome://browser/content/sanitize.xhtml") {

}

 */

@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml")
{
    #controls.playing #playpause {
        background-size: 80% !important;
        background-position: center !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: white !important;
        fill-opacity: 0.8 !important;
        background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-125 -125 762 762' style='enable-background:new 0 0 512 512;' xml:space='preserve'><g><g><path fill='context-fill' fill-opacity='context-fill-opacity' d='M181.333,0H74.667c-17.643,0-32,14.357-32,32v448c0,17.643,14.357,32,32,32h106.667c17.643,0,32-14.357,32-32V32    C213.333,14.357,198.976,0,181.333,0z'/></g></g><g><g><path fill='context-fill' fill-opacity='context-fill-opacity' d='M437.333,0H330.667c-17.643,0-32,14.357-32,32v448c0,17.643,14.357,32,32,32h106.667c17.643,0,32-14.357,32-32V32    C469.333,14.357,454.976,0,437.333,0z'/></g></g></svg>") !important;
    }

    #controls #audio {
        background-size: 80% !important;
        background-position: 35% center !important;
    }

    #close {
        background-color: var(--btn-bg-color) !important;
        fill: currentColor !important;
        -moz-context-properties: fill, fill-opacity !important;
        color: white !important;
        background-image: url(chrome://userchrome/content/close.svg) !important;
        fill-opacity: 1 !important;
        background-size: 100% !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }

    #close:hover {
        opacity: 1 !important;
    }
}

#DateTimePickerPanel {
    --arrowpanel-background: var(--in-content-box-background) !important;
    --arrowpanel-color: var(--lwt-text-color) !important;
    --arrowpanel-border-color: var(--in-content-box-background) !important;
}

@-moz-document url-prefix("chrome://global/content/timepicker.xhtml"),
    url-prefix("chrome://global/content/datepicker.xhtml")
{
    body {
        background-color: var(--in-content-box-background) !important;
    }

    :root {
        --in-content-page-background: var(--toolbar-bgcolor) !important;
        --font-color: var(--lwt-toolbar-field-color) !important;
        --fill-color: var(--arrowpanel-dimmed) !important;
        --border: none !important;
        --border-active-color: var(--in-content-link-color-hover) !important;
        --today-fill-color: var(--lwt-toolbar-field-color) !important;
        --selected-fill-color: var(--in-content-link-color) !important;
        --button-fill-color-active: var(--in-content-link-color) !important;
        --weekend-font-color: var(--urlbar-popup-action-color) !important;
        --today-fill-color: var(--arrowpanel-dimmed-further) !important;
    }

    * {
        scrollbar-width: none !important;
    }

    .month-year {
        color: var(--font-color) !important;
    }

    .month-year-view {
        background-color: var(--in-content-box-background) !important;
        opacity: 1 !important;
    }

    .nav > button:is(.prev, .next) {
        fill-opacity: 0.6 !important;
    }

    .nav > button:is(.prev, .next):hover {
        fill-opacity: 1 !important;
    }

    .month-year-view .spinner > div {
        align-self: center !important;
        padding-block: calc(var(--spinner-item-height) / 5) !important;
        -moz-box-align: center !important;
        -moz-box-pack: center !important;
    }
}

#pictureInPictureToggleContextMenu {
    display: none !important;
}

/* in-content dialogs */
.tab-prompt-dialog.dialogStack {
    z-index: 0 !important; /* to avoid dimming the sidebar and findbar */
}

:is(.tab-prompt-dialog, #window-modal-dialog) .dialogBox {
    margin-top: 0px !important; /* tab-prompt-dialogs are anchored to the top of the browser content area.
    this makes them look like they emerge from under the navbar. */
}

:is(.tab-prompt-dialog, #window-modal-dialog) :is(.dialogBox, .dialogFrame) {
    border-radius: 0 0 5px 5px !important;
}

.content-prompt-dialog :is(.dialogBox, .dialogFrame) {
    border-radius: 5px !important;
}

:is(.tab-prompt-dialog, #window-modal-dialog) .printDialogBox > .dialogFrame {
    border-radius: 0 !important;
}

/* the resizer is on the right side for ltr languages, and on the left side for rtl languages. adjust the border radius accordingly */
:is(.content-prompt-dialog, .tab-prompt-dialog, #window-modal-dialog)
    .dialogBox[resizable="true"]:is(:dir(ltr), :-moz-locale-dir(ltr)),
:is(.content-prompt-dialog, .tab-prompt-dialog, #window-modal-dialog)
    .dialogBox[resizable="true"]
    .dialogFrame:is(:dir(ltr), :-moz-locale-dir(ltr)) {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 0 !important;
}

:is(.content-prompt-dialog, .tab-prompt-dialog, #window-modal-dialog)
    .dialogBox[resizable="true"]:is(:dir(rtl), :-moz-locale-dir(rtl)),
:is(.content-prompt-dialog, .tab-prompt-dialog, #window-modal-dialog)
    .dialogBox[resizable="true"]
    .dialogFrame:is(:dir(rtl), :-moz-locale-dir(rtl)) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 5px !important;
}

/* blur backdrop filter */
:is(.content-prompt-dialog, .tab-prompt-dialog, #window-modal-dialog) .dialogFrame {
    background-color: hsla(240, 5.9%, 6.7%, 0.7) !important;
    background-image: var(--acrylic-texture) !important;
    backdrop-filter: blur(5px) !important;
}

/* hide the background overlay */
.dialogOverlay[topmost="true"],
#window-modal-dialog::backdrop {
    background-color: transparent !important;
}

/* make the box shadow even, i hate offset drop shadows */
:is(.content-prompt-dialog, .tab-prompt-dialog, #window-modal-dialog) .dialogBox {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 0 8px 2px rgba(0, 0, 0, 0.1) !important;
}

/* center text in any dialog box */
.dialog-content-box {
    -moz-box-pack: center;
}

@-moz-document url(chrome://global/content/commonDialog.xhtml),
    url("chrome://mozapps/content/handling/permissionDialog.xhtml"),
    url("chrome://mozapps/content/handling/appChooser.xhtml")
{
    #commonDialogWindow,
    #commonDialogWindow * {
        --in-content-page-background: transparent !important;
        --in-content-page-color: var(--notification-menu-color) !important;
        --in-content-box-background: var(--dialog-box-bgcolor) !important;
        --in-content-box-background-dim: var(--dialog-box-bgcolor-dim) !important;
        --in-content-box-border-color: var(--dialog-box-border-color) !important;
        --in-content-button-background: var(--arrowpanel-dimmed) !important;
        --in-content-button-background-hover: var(--arrowpanel-dimmed-further) !important;
        --in-content-button-background-active: var(--arrowpanel-dimmed-even-further) !important;
        --in-content-item-selected: var(--purple-40) !important;
        --in-content-border-highlight: var(--purple-40) !important;
        --in-content-border-hover: var(--dialog-box-border-hover) !important;
        --in-content-border-focus: var(--purple-40) !important;
        --in-content-border-active: var(--purple-40) !important;
        --in-content-border-active-shadow: var(--purple-40-a30) !important;
        --in-content-category-outline-focus: 1px solid transparent !important;
        --in-content-link-color: var(--purple-35) !important;
        --in-content-link-color-hover: var(--purple-30) !important;
        --in-content-link-color-active: var(--purple-30) !important;
        --in-content-primary-button-background: var(--purple-40) !important;
        --in-content-primary-button-background-hover: var(--purple-35) !important;
        --in-content-primary-button-background-active: var(--purple-30) !important;
        --in-content-primary-button-text-color: var(--in-content-page-color) !important;
        --checkbox-border-color: var(--in-content-box-border-color) !important;
        --checkbox-checked-border-color: transparent !important;
        --checkbox-unchecked-bgcolor: var(--in-content-button-background) !important;
        --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover) !important;
        --checkbox-unchecked-active-bgcolor: var(--in-content-button-background-active) !important;
        --checkbox-checked-bgcolor: var(--in-content-primary-button-background) !important;
        --checkbox-checked-color: var(--in-content-primary-button-text-color) !important;
        --checkbox-checked-hover-bgcolor: var(
            --in-content-primary-button-background-hover
        ) !important;
        --checkbox-checked-active-bgcolor: var(
            --in-content-primary-button-background-active
        ) !important;
        --dropdown-bgcolor: var(--arrowpanel-background) !important;
        --in-content-button-border-radius: var(--general-button-border-radius) !important;
        --in-content-button-vertical-padding: 5px !important;
    }

    #commonDialog::part(content-box) {
        padding-block: 5px;
    }

    dialog[subdialog] .dialogRow {
        margin-block: 0 5px !important;
    }

    .dialog-content-box:not([hidden]) + .dialog-button-box {
        margin-top: 5px;
    }
    
    .dialog-button-box:not([hidden]) {
        display: flex;
        justify-content: end;
    }

    .dialog-button-box > button {
        flex-grow: 0.15;
        flex-wrap: nowrap;
    }

/*     .dialog-button-box > button[dlgtype="cancel"][default="true"]:is(:enabled, :not([disabled="true"])) {
        background-color: var(--in-content-button-background) !important;
    }

    .dialog-button-box > button[dlgtype="cancel"][default="true"]:is(:enabled, :not([disabled="true"])):hover {
        background-color: var(--in-content-button-background-hover) !important;
    }

    .dialog-button-box
        > button[dlgtype="cancel"][default="true"]:is(:enabled, :not([disabled="true"])):hover:active,
    .dialog-button-box > button[dlgtype="cancel"][default="true"][open],
    .dialog-button-box > button[dlgtype="cancel"][default="true"][open]:hover {
        background-color: var(--in-content-primary-button-background-active) !important;
    }

    .dialog-button-box > button[dlgtype="accept"]:is(:enabled, :not([disabled="true"])) {
        background-color: var(--in-content-primary-button-background) !important;
    }

    .dialog-button-box > button[dlgtype="accept"]:is(:enabled, :not([disabled="true"])):hover {
        background-color: var(--in-content-primary-button-background-hover) !important;
    }

    .dialog-button-box
        > button[dlgtype="accept"]:is(:enabled, :not([disabled="true"])):hover:active,
    .dialog-button-box > button[dlgtype="accept"][open],
    .dialog-button-box > button[dlgtype="accept"][open]:hover {
        background-color: var(--in-content-primary-button-background-active) !important;
    } */

    dialog input:-moz-focusring,
    button:-moz-focusring {
        box-shadow: none !important;
    }

    #checkboxContainer checkbox {
        margin-inline-start: 4px !important;
        margin-top: 4px !important;
    }

/*     input[type="checkbox"]:checked {
        background-image: url(chrome://userchrome/content/check.svg) !important;
        background-size: contain !important;
    }

    checkbox[checked] > .checkbox-check,
    input[type="checkbox"]:checked {
        color: var(--in-content-page-color) !important;
        background-color: var(--purple-40) !important;
    }

    checkbox:not([disabled="true"])[checked]:hover > .checkbox-check,
    input[type="checkbox"]:enabled:checked:hover {
        background-color: var(--purple-35) !important;
    }

    checkbox:not([disabled="true"])[checked]:hover:active > .checkbox-check,
    input[type="checkbox"]:enabled:checked:hover:active {
        background-color: var(--purple-30) !important;
    } */

    richlistbox {
        background-color: var(--in-content-box-background-dim) !important;
    }

    richlistitem[selected="true"] {
        background-color: var(--arrowpanel-dimmed) !important;
        color: var(--in-content-page-color) !important;
    }

    richlistitem > button[label] {
        background-color: var(--in-content-primary-button-background) !important;
    }

    richlistitem:not([disabled="true"])
        > button[label]:is(:enabled, :not([disabled="true"])):hover {
        background-color: var(--in-content-primary-button-background-hover) !important;
    }

    richlistitem:not([disabled="true"])
        > button[label]:is(:enabled, :not([disabled="true"])):hover:active,
    richlistitem > button[label][open],
    richlistitem > button[label][open]:hover {
        background-color: var(--in-content-primary-button-background-active) !important;
    }

    richlistitem[selected="true"] > button[label] {
        border-color: var(--in-content-box-border-color) !important;
    }

    select:not([size], [multiple]) > option {
        background-color: var(--dropdown-bgcolor) !important;
    }

    button, select, input[type="color"], menulist {
        min-height: 28px !important;
    }

    input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"]),
    textarea {
        padding-block: 5px !important;
    }

    input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]):focus,
    textarea:focus,
    search-textbox[focused] {
        border-color: var(--in-content-focus-outline-color) !important;
    }

    input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"])::selection,
    textarea::selection {
        background-color: var(--ui-selection-bgcolor) !important;
        color: var(--ui-selection-color) !important;
    }

    input[type=number] {
        overflow: hidden !important;
        overflow-clip-box: padding-box !important;
        border-radius: var(--in-content-button-border-radius) !important;
        background-clip: padding-box !important;
        border-right: none !important;
    }

    input[type=number]::-moz-number-spin-box {
        border-top-right-radius: var(--in-content-button-border-radius) !important;
        border-bottom-right-radius: var(--in-content-button-border-radius) !important;
        border-right: 1px solid var(--in-content-box-border-color) !important;
        border-left: none !important;
        width: calc(1em + 0.67px) !important;
    }

    input[type=number]:hover,
    input[type=number]:hover::-moz-number-spin-box {
        border-color: var(--in-content-border-hover) !important;
    }

    input[type=number]:focus,
    input[type=number]:focus::-moz-number-spin-box {
        border-color: var(--in-content-focus-outline-color) !important;
    }
}

@-moz-document url("chrome://mozapps/content/handling/permissionDialog.xhtml"),
    url("chrome://mozapps/content/handling/appChooser.xhtml"),
    url-prefix("chrome://global/content/print.html"),
    url("chrome://browser/content/places/bookmarkProperties.xhtml"),
    url("chrome://browser/content/places/bookmarkProperties2.xhtml")
{
    :root,
    window,
    dialog {
        --in-content-page-background: transparent !important;
        --in-content-page-color: var(--notification-menu-color) !important;
        --in-content-box-background: var(--dialog-box-bgcolor) !important;
        --in-content-box-background-dim: var(--dialog-box-bgcolor-dim) !important;
        --in-content-box-border-color: var(--dialog-box-border-color) !important;
        --in-content-button-background: var(--arrowpanel-dimmed) !important;
        --in-content-button-background-hover: var(--arrowpanel-dimmed-further) !important;
        --in-content-button-background-active: var(--arrowpanel-dimmed-even-further) !important;
        --in-content-item-selected: var(--purple-40) !important;
        --in-content-item-hover: var(--arrowpanel-dimmed) !important;
        --in-content-border-highlight: var(--purple-40) !important;
        --in-content-border-hover: var(--dialog-box-border-hover) !important;
        --in-content-border-focus: var(--purple-40) !important;
        --in-content-border-active: var(--purple-40) !important;
        --in-content-border-active-shadow: var(--purple-40-a30) !important;
        --in-content-category-outline-focus: 1px solid transparent !important;
        --in-content-link-color: var(--purple-35) !important;
        --in-content-link-color-hover: var(--purple-30) !important;
        --in-content-link-color-active: var(--purple-30) !important;
        --in-content-primary-button-background: var(--purple-40) !important;
        --in-content-primary-button-background-hover: var(--purple-35) !important;
        --in-content-primary-button-background-active: var(--purple-30) !important;
        --in-content-primary-button-text-color: var(--in-content-page-color) !important;
        --checkbox-border-color: var(--in-content-box-border-color) !important;
        --checkbox-checked-border-color: transparent !important;
        --checkbox-unchecked-bgcolor: var(--in-content-button-background) !important;
        --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover) !important;
        --checkbox-unchecked-active-bgcolor: var(--in-content-button-background-active) !important;
        --checkbox-checked-bgcolor: var(--in-content-primary-button-background) !important;
        --checkbox-checked-color: var(--in-content-primary-button-text-color) !important;
        --checkbox-checked-hover-bgcolor: var(
            --in-content-primary-button-background-hover
        ) !important;
        --checkbox-checked-active-bgcolor: var(
            --in-content-primary-button-background-active
        ) !important;
        --dropdown-bgcolor: var(--arrowpanel-background) !important;
        --in-content-button-border-radius: var(--general-button-border-radius) !important;
        --in-content-button-vertical-padding: 5px !important;
    }

    input[type="checkbox"]:checked {
        background-image: url(chrome://userchrome/content/check.svg) !important;
        background-size: contain !important;
    }

    input[type="radio"],
    .radio-check {
        appearance: none;
        border: 1px solid var(--in-content-box-border-color);
        border-radius: 100%;
        margin-block: 3px;
        margin-inline: 0 10px;
        background-color: var(--in-content-button-background);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain !important;
        flex-shrink: 0;
    }

    select:not([size], [multiple]) > option {
        background-color: var(--dropdown-bgcolor) !important;
    }

    .expander-up,
    .expander-down {
        min-height: 24px !important;
        min-width: 24px !important;
        margin-inline-start: 4px !important;
    }

    #editBMPanel_tagsSelector {
        margin-inline: 4px !important;
    }

    #editBookmarkPanelRows {
        padding-inline: 0 !important;
        padding-block: 0 8px !important;
    }

    menulist,
    input[type="text"] {
        margin-inline: 4px !important;
        padding-block: 0 !important;
        padding-inline: 6px !important;
        margin-block: 0 !important;
        min-height: 24px !important;
        box-sizing: border-box !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
    }

    menulist {
        padding-inline: 4px 2px !important;
    }

    richlistbox {
        border-radius: var(--toolbarbutton-border-radius) !important;
    }

    tree {
        margin-inline: 4px !important;
    }

    button {
        border-radius: var(--toolbarbutton-border-radius) !important;
    }

    button, select, input[type="color"], menulist {
        min-height: 26px !important;
        line-height: 26px !important;
    }

    input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"]),
    textarea {
        padding-block: 5px !important;
    }

    input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]):focus,
    textarea:focus,
    search-textbox[focused] {
        border-color: var(--in-content-focus-outline-color) !important;
    }

    input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"])::selection,
    textarea::selection {
        background-color: var(--ui-selection-bgcolor) !important;
        color: var(--ui-selection-color) !important;
    }

    input[type=number] {
        overflow: hidden !important;
        overflow-clip-box: padding-box !important;
        border-radius: var(--in-content-button-border-radius) !important;
        background-clip: padding-box !important;
        border-right: none !important;
    }

    input[type=number]::-moz-number-spin-box {
        border-top-right-radius: var(--in-content-button-border-radius) !important;
        border-bottom-right-radius: var(--in-content-button-border-radius) !important;
        border-right: 1px solid var(--in-content-box-border-color) !important;
        border-left: none !important;
        width: calc(1em + 0.67px) !important;
    }

    input[type=number]:hover,
    input[type=number]:hover::-moz-number-spin-box {
        border-color: var(--in-content-border-hover) !important;
    }

    input[type=number]:focus,
    input[type=number]:focus::-moz-number-spin-box {
        border-color: var(--in-content-focus-outline-color) !important;
    }
}

@-moz-document url-prefix("chrome://global/content/print.html")
{
    :root {
        --in-content-page-background: rgb(28, 27, 34) !important;
        --dropdown-bgcolor: var(--in-content-page-background) !important;
    }
}
