/* this does nothing on its own — it requires searchModeIndicatorIcons.uc.js.
when you switch to a one-off search engine in the urlbar, or otherwise enable search mode,
this changes the identity icon to one matching the search engine.
I recommend using this addon to add new search engines:
https://addons.mozilla.org/en-US/firefox/addon/add-custom-search-engine */

/* for search engines I haven't added icons for, use a search glass icon.
if you want to request an icon for a search engine you use,
send me the engine name (the name that shows up in the identity box label when you enter search mode with it)
and the URL to the search engine so I can find a suitable icon and set a rule for it. */
#urlbar[searchmode=""][pageproxystate="invalid"]
    #identity-box
    > #identity-icon-box
    > #identity-icon,
#urlbar[searchmode=""][pageproxystate="valid"] #identity-box > #identity-icon-box > #identity-icon,
#urlbar[searchmode=""] #identity-icon-box > #identity-icon,
#urlbar[pageproxystate="invalid"]
    #identity-box
    > #identity-icon-box[engine]:not([engine="Other"])
    > #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box
    > #identity-icon-box[engine]:not([engine="Other"])
    > #identity-icon,
#urlbar #identity-icon-box[engine]:not([engine="Other"]) > #identity-icon {
    list-style-image: var(--search-engine-icon, url(chrome://userchrome/content/search-glass.svg)) !important;
}

/* built-in history, tabs, bookmarks pseudo-engines */
#identity-icon-box[engine="History"] {
    --search-engine-icon: url(chrome://userchrome/content/skin/history.svg) !important;
}

#identity-icon-box[engine="Tabs"] {
    --search-engine-icon: url(chrome://userchrome/content/skin/tab.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Bookmarks"]
    #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Bookmarks"] #identity-icon,
#identity-icon-box[engine="Bookmarks"] #identity-icon {
    --search-engine-icon: url(chrome://userchrome/content/skin/bookmark.svg) !important;
    margin-top: -0.6px !important;
}

/* for google */
#identity-icon-box[engine="Google"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/google.svg) !important;
}

/* duckduckgo */
#identity-icon-box:is([engine="DuckDuckGo"], [engine="DuckDuckGo Search"]) {
    --search-engine-icon: url(chrome://userchrome/content/engines/duckduckgo.svg) !important;
}

/* bing */
#identity-icon-box:is([engine="Bing"], [engine="Bing Search"]) {
    --search-engine-icon: url(chrome://userchrome/content/engines/bing.svg) !important;
}

/* baidu */
#identity-icon-box:is([engine="Baidu"], [engine="Baidu Search"], [engine="百度"]) {
    --search-engine-icon: url(chrome://userchrome/content/engines/baidu.svg) !important;
}

/* google images */
#identity-icon-box[engine="Google Images"] {
    --search-engine-icon: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

/* youtube */
#identity-icon-box[engine="YouTube"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/youtube.svg) !important;
}

/* porn */
#identity-icon-box[engine="XVIDEOS"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/xxx.svg) !important;
}

/* etc... */
#identity-icon-box[engine="GitHub"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/github.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine^="Wikipedia"]
    #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box
    #identity-icon-box[engine^="Wikipedia"]
    #identity-icon,
#urlbar[searchmode]
    > #urlbar-input-container
    > #identity-box
    #identity-icon-box[engine^="Wikipedia"]
    #identity-icon {
    width: 20px !important;
    padding-inline: 1px !important;
    margin-inline: -2px !important;
    margin-block: 1px 0 !important;
    --search-engine-icon: url(chrome://userchrome/content/engines/wiki.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box:is([engine="Amazon"], [engine="Amazon.com"])
    #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box
    #identity-icon-box:is([engine="Amazon"], [engine="Amazon.com"])
    #identity-icon,
#identity-icon-box:is([engine="Amazon"], [engine="Amazon.com"]) #identity-icon {
    margin-top: 1.4px !important;
    --search-engine-icon: url(chrome://userchrome/content/engines/amazon.svg) !important;
}

#identity-icon-box[engine="DoorDash"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/doordash.svg) !important;
}

#identity-icon-box[engine="eBay"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/ebay.svg) !important;
}

#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="Netflix"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Netflix"] #identity-icon,
#identity-icon-box[engine="Netflix"] #identity-icon {
    height: 18px !important;
    --search-engine-icon: url(chrome://userchrome/content/engines/netflix.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Google Maps"]
    #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box
    #identity-icon-box[engine="Google Maps"]
    #identity-icon,
#identity-icon-box[engine="Google Maps"] #identity-icon {
    height: 17px !important;
    --search-engine-icon: url(chrome://userchrome/content/engines/maps.svg) !important;
}

#identity-icon-box[engine="Google Drive"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/drive.svg) !important;
}

#identity-icon-box[engine="Gmail"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/mail.svg) !important;
}

#identity-icon-box[engine="Gatherer"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/gatherer.svg) !important;
}

#identity-icon-box[engine="Scryfall"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/scryfall.svg) !important;
}

#identity-icon-box[engine="Searchfox"] {
    --search-engine-icon: url(chrome://userchrome/content/engines/searchfox.svg) !important;
}
