.search-panel-one-offs {
    margin: 0 !important;
    border-top: 0px solid transparent !important;
    line-height: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    width: -moz-fit-content !important;
    background-color: var(--urlbar-results-bgcolor) !important;
    display: -moz-box !important;
    height: -moz-fit-content !important;
    scrollbar-width: none !important;
    padding-left: 2px !important;
    padding-right: 0.5px !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

.search-one-offs {
    width: -moz-fit-content !important;
    position: relative !important;
    border: none !important;
    margin-top: -1.7px !important;
    min-height: 33px !important;
    padding: 0 !important;
}

.search-panel-header {
    display: none !important;
}

.search-one-offs-context-menu {
    display: none !important;
}

.searchbar-engine-one-off-item {
    min-width: 27px !important;
    height: 27px !important;
    padding: 0 !important;
    border-radius: 3px !important;
    margin-left: 2px !important;
    margin-right: 1px !important;
    background-size: 0px !important;
    position: relative !important;
}

.searchbar-engine-one-off-item .button-icon {
    height: 17px !important;
    width: 17px !important;
}

#urlbar-engine-one-off-item-bookmarks:not([selected]) {
    fill: currentColor !important;
}

/* replace google search icon since updates keep resetting the custom icon in search.json.mozlz4 */
.searchbar-engine-one-off-item[image="moz-extension://cd4aad93-9726-49dd-a5cd-9e5f5c4d76f4/favicon.ico"] .button-icon {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 48 48'><defs><path id='prefix__a' d='M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z'/></defs><clipPath id='prefix__b'><use xlink:href='%23prefix__a' overflow='visible'/></clipPath><path clip-path='url(%23prefix__b)' fill='%23FBBC05' d='M0 37V11l17 13z'/><path clip-path='url(%23prefix__b)' fill='%23EA4335' d='M0 11l17 13 7-6.1L48 14V0H0z'/><path clip-path='url(%23prefix__b)' fill='%2334A853' d='M0 37l30-23 7.9 1L48 0v48H0z'/><path clip-path='url(%23prefix__b)' fill='%234285F4' d='M48 48L17 24l-4-3 35-10z'/></svg>") no-repeat !important;
    width: 17px !important;
    height: 17px !important;
    padding-left: 17px; /* Equal to width of new image */
}

.search-panel-one-offs {
    min-width: 0 !important;
}

.urlbarView .search-panel-one-offs {
    background: none !important;
    width: -moz-fit-content !important;
    margin: 0 !important;
    padding-right: 0 !important;
}

.search-panel-one-offs, .search-panel-one-offs-container {
    min-width: max-content !important;
    max-width: max-content !important;
    width: max-content !important;
}

#urlbar[breakout][breakout-extend] .search-one-offs,
#urlbar[breakout][breakout-extend-disabled][open] .search-one-offs {
    display: flex !important;
}

#urlbar .search-one-offs:not([hidden]) {
    display: flex !important;
}

/* search one-offs in urlbar */
.urlbarView .search-one-offs {
    position: absolute !important;
    top: -35px !important;
    right: 0.6px !important;
    max-width: 244.4px !important;
    scroll-behavior: smooth !important;
    scrollbar-width: none !important;
    float: right !important;
    left: auto !important;
    cursor: default !important;
    box-sizing: border-box !important;
    border-right: 5px solid transparent !important;
    align-items: center !important;
}

.urlbarView .search-panel-one-offs {
    padding-left: 0 !important;
}

.search-panel-one-offs {
    cursor: default !important;
}

#urlbar-engine-one-off-item-tabs .button-icon {
    fill: white !important;
}

#urlbar:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) #urlbar-input {
    position: relative !important;
    margin-right: 240px !important;
    padding-right: 1px !important;
    height: 33px !important;
    background-color: var(--lwt-toolbar-field-background-color, rgba(255, 255, 255, 0.8));
/*     for transform animation on search one-offs */
    margin-right: 244px !important;
}

#urlbar[textoverflow]:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) #urlbar-input {
    margin-right: 244px !important;
}

#urlbar[textoverflow="both"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input {
    mask-image: linear-gradient(to right, transparent, black 3ch, black calc(100% - 3ch), transparent);
}

#urlbar[textoverflow="right"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input {
    mask-image: linear-gradient(to left, transparent, black 3ch);
}

#urlbar[textoverflow="left"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input {
    mask-image: linear-gradient(to right, transparent, black 3ch);
}

#urlbar[textoverflow="both"][usertyping="true"] #urlbar-input {
    mask-image: linear-gradient(to right, transparent, black 3ch, black calc(100% - 55px), transparent calc(100% - 5px)) !important;
}

#urlbar[textoverflow="right"][usertyping="true"] #urlbar-input {
    mask-image: linear-gradient(to left, transparent 5px, black 55px) !important;
}

#urlbar .search-one-offs:not([scrolledtostart], [scrolledtoend]) {
    mask-image: linear-gradient(to right, transparent 10px, black 30px);
}

#urlbar .search-panel-one-offs {
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out !important;
    opacity: 0 !important;
    transform: translateX(90px) !important;
    transform-style: preserve-3d !important;
    backface-visibility: hidden !important;
    transform-origin: right !important;
    pointer-events: none !important;
}

#urlbar .search-one-offs, #urlbar .search-one-offs * {
    pointer-events: none !important;
}

#urlbar:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) .search-panel-one-offs {
    opacity: 1 !important;
    transform: none !important;
}

#userContext-icons, #userContext-icons>* {
    pointer-events: none !important;
}

/* #page-action-buttons,
#urlbar-input-container > .urlbar-icon {
    pointer-events: none !important;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out !important;
} */

#urlbar:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) #page-action-buttons,
#urlbar:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) #urlbar-input-container > .urlbar-icon {
/*     opacity: 0 !important;
    pointer-events: none !important;
    transform-style: flat !important;
    backface-visibility: hidden !important;
    transform: translateX(50px) scale(0.5) !important;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out !important; */
    display: none !important;
}

#urlbar #page-action-buttons,
#urlbar #urlbar-input-container > .urlbar-icon {
    animation: slideinUrlbar 0.1s linear 0s;
    transform-style: preserve-3d !important;
    backface-visibility: hidden !important;
    transform-origin: right !important;
}

@keyframes slideinUrlbar {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: none;
    }
}

#urlbar-go-button {
    display: none !important;
}

#page-action-buttons > *:not([hidden]) {
	display: -moz-box !important;
}

#urlbar[searchmode] #page-action-buttons * {
    pointer-events: none !important;
}

#urlbar[searchmode] #page-action-buttons {
    opacity: 0 !important;
}

#urlbar:not([usertyping], [searchmode], [open][pageproxystate="invalid"]) #pageActionButton {
	display: -moz-inline-box !important;
}

#urlbar:not([usertyping], [searchmode], [open][pageproxystate="invalid"]) #star-button-box {
	display: -moz-box !important;
}

#urlbar:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) .search-one-offs *,
#urlbar:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) .search-one-offs {
    pointer-events: auto !important;
}

#urlbar:not([open]) > .urlbarView {
    display: block !important;
}

#urlbar:not([open]) .urlbarView-results {
    display: none !important;
}

#urlbar .searchbar-engine-one-off-item {
    pointer-events: none !important;
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
}

#urlbar:is([usertyping], [searchmode], [open][pageproxystate="invalid"]) .searchbar-engine-one-off-item {
    pointer-events: auto !important;
}

.searchbar-engine-one-off-item:not([selected]):hover,
.addengine-item:hover {
    background-color: var(--desaturate-dimmed) !important;
}

:is(.searchbar-engine-one-off-item, .addengine-item):is([selected], :hover:active) {
    background-color: var(--desaturate-dimmed-further) !important;
}

@media screen and (min-height: 600px) {
    .urlbarView .urlbarView-results[wrap] .urlbarView-row:last-child {
        max-height: initial !important;
    }
    #nav-bar[overflowing="true"] #urlbar[breakout][breakout-extend] .search-one-offs {
        display: none !important;
    }
}

/* search one offs visible when pageproxystate=invalid even if urlbar is not focused */
#urlbar .urlbarView {
    top: calc(0.5px + (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    margin: 0 !important;
    width: calc(100% + 6px) !important;
    left: -3px !important;
    position: relative !important;
    align-self: start !important;
}

/* individual search one off adjustments */
#urlbar-engine-one-off-item-Gatherer .button-icon,
#urlbar-engine-one-off-item-Scryfall .button-icon {
    width: 17.5px !important;
    height: 17.5px !important;
}

#urlbar-engine-one-off-item-XVIDEOS .button-icon {
    margin-left: 0.5px !important;
    width: 16.5px !important;
    height: 16.5px !important;
}

#urlbar-engine-one-off-item-Wikipedia .button-icon {
    width: 19px !important;
    height: 19px !important;
    margin-left: -0.3px !important;
    margin-top: 0.7px !important;
}

#urlbar-engine-one-off-item-Amazon .button-icon {
    margin-left: -0.5px !important;
    margin-top: 0.5px !important;
}

:root[lwt-toolbar-field-brighttext] #urlbar-engine-one-off-item-history > .button-box > .button-icon {
    fill: currentColor;
    fill-opacity: 1 !important;
}

:root[lwt-toolbar-field-brighttext] #urlbar-engine-one-off-item-bookmarks > .button-box > .button-icon {
    fill: white !important;
}