/* controls the appearance of the sidebar itself,
as well as the internal appearance of the built-in sidebars, e.g. bookmarks, history, etc. */

/* sidebar view button icons */
#sidebarMenu-popup > .webextension-menuitem > .toolbarbutton-icon {
    opacity: 0.8 !important;
    fill: currentColor !important;
}

#sidebar,
#sidebar-search-container,
#historyTree {
    appearance: none !important;
    --sidebar-background-color: var(--toolbar-bgcolor) !important;
    --sidebar-text-color: var(--toolbar-color) !important;
    background-color: var(--ui-secondary-bg) !important;
    color: var(--toolbar-color) !important;
}

#sidebar-header {
    appearance: none !important;
    padding: 7px !important;
    border-bottom: 0px solid transparent !important;
    background-color: var(--ui-secondary-bg) !important;
    color: #fff !important;
    font-size: 1.2em !important;
}

#sidebar-switcher-target {
    min-height: 27px !important;
    min-width: 27px !important;
    padding-inline: 5px !important;
}

#sidebar-switcher-target #sidebar-title {
    padding-inline: 6px 4px !important;
}

#sidebar-search-container {
    padding-block: 0 var(--menupopup-inner-padding-magnitude) !important;
}

.sidebar-search-container .tabsFilter {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#sidebar-search-container #search-box,
.sidebar-search-container .tabsFilter {
    appearance: none !important;
    padding-inline-start: 5px !important;
    background-color: var(--search-box-color) !important;
    border-radius: var(--general-button-border-radius) !important;
    padding-block: 0 !important;
    transition: 300ms !important;
    color: currentColor !important;
    min-height: 25px !important;
}

.sidebar-search-container .search-box,
.sidebar-search-container .tabsFilter {
    padding-inline-start: 5px !important;
    background-color: var(--search-box-color) !important;
    transition: 300ms background-color !important;
}

.sidebar-search-container .search-box .textbox-input-box {
    padding-inline-start: 13px !important;
}

#sidebar-search-container #viewButton {
    padding-inline: 7px 5px !important;
    margin-inline-start: 6px !important;
    border-radius: var(--general-button-border-radius) !important;
}

#sidebar-search-container #viewButton > .button-box > dropmarker {
    margin-inline-start: 4px !important;
}

/* search-textbox icons (magnifying glass and clear input button) */
@-moz-document url("chrome://browser/content/browser.xhtml"), regexp(".*Sidebar.*"), regexp(".*sidebar.*")
{
    .textbox-search-icons {
        display: flex !important;
        flex-flow: row nowrap;
        align-items: center;
    }

    .textbox-search-icons:not([selectedIndex="1"]) {
        opacity: 0 !important;
        pointer-events: none !important;
        -moz-inert: initial !important;
    }

    .textbox-search-clear {
        list-style-image: url(chrome://userchrome/content/textbox-clear.svg) !important;
        fill: var(--ui-text-80) !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill-opacity: 0 !important;
        width: 16.5px !important;
        height: 16.5px !important;
        min-height: 1px !important;
        border-radius: 100% !important;
        margin: 0 3px 0 0 !important;
        padding: 0 !important;
    }

    .textbox-search-clear:is(:hover, :active) {
        fill: rgba(255, 255, 255, 1) !important;
        background-color: var(--arrowpanel-dimmed-further) !important;
    }

    .textbox-search-sign {
        margin-left: 2px !important;
        margin-top: 0.5px !important;
        margin-inline-end: 6px !important;
        -moz-context-properties: fill, fill-opacity;
        list-style-image: url(chrome://userchrome/content/textbox-search.svg) !important;
        fill: var(--panel-shortcut-color) !important;
        fill-opacity: 1;
    }

    link[href="chrome://global/skin/search-textbox.css"] ~ input::placeholder
    {
        opacity: 1;
        color: var(--panel-shortcut-color);
    }
}

#sidebar-search-container #search-box:focus-within,
.sidebar-search-container :is(.tabsFilter, .search-box):focus-within {
    background-color: var(--search-box-focus) !important;
    transition: 300ms background-color !important;
}

#sidebar-search-container #search-box :is(input, textarea) {
    background: none !important;
    color: #fff !important;
    transition: 300ms !important;
}

#viewButton:hover {
    background-color: var(--arrowpanel-dimmed) !important;
}

#viewButton:is(:active, [open]) {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

#sidebarMenu-popup {
    --arrowpanel-background: var(--toolbar-bgcolor);
    margin-top: 0 !important;
}

#sidebarMenu-popup > .subviewbutton[checked="true"] {
    background: none !important;
}

#sidebarMenu-popup > .subviewbutton[checked="true"] > .toolbarbutton-icon {
    list-style-image: none !important;
    background-image: url(chrome://userchrome/content/radio.svg);
    opacity: 1 !important;
    background-color: var(--uc-checkbox-checked-bgcolor);
    background-size: contain;
    border-radius: 100%;
}

#sidebarMenu-popup > .subviewbutton[checked="true"]:not([disabled], [open]):hover {
    background-color: var(--arrowpanel-faint) !important;
}

#sidebarMenu-popup > .subviewbutton[checked="true"]:not([disabled], [open]):hover:active {
    background-color: var(--arrowpanel-dimmed) !important;
}

#sidebarMenu-popup > .subviewbutton > .toolbarbutton-text {
    padding-inline-start: 8px !important;
}

#sidebarMenu-popup > .subviewbutton > .toolbarbutton-icon {
    margin-inline-start: 0 !important;
    min-width: 16px !important;
    fill-opacity: 0.8;
    width: 16px;
    height: 16px;
}

#sidebar-switcher-target:-moz-focusring,
#sidebar-close:-moz-focusring {
    outline: unset !important;
}

#sidebar-switcher-target:is(:hover, :focus-visible) {
    background: var(--arrowpanel-dimmed) !important;
}

#sidebar-switcher-target.active {
    background: var(--arrowpanel-dimmed-further) !important;
}

#sidebar-close {
    border-radius: var(--general-button-border-radius) !important;
    list-style-image: url(chrome://userchrome/content/close.svg) !important;
    fill-opacity: 0.8 !important;
}

#sidebar-close .toolbarbutton-icon {
    width: 20px !important;
    height: auto !important;
}

#sidebar-close:is(:hover, :focus-visible) {
    background-color: var(--arrowpanel-dimmed) !important;
    fill-opacity: 1 !important;
}

#sidebar-close:is(:hover, :focus-visible):active {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

.sidebar-panel treechildren::-moz-tree-row {
    border-radius: var(--general-button-border-radius) !important;
    margin-inline: 8px !important;
    cursor: default !important;
    min-height: 24px;
}

.sidebar-panel treechildren::-moz-tree-row(empty) {
    min-height: 0 !important;
}

.sidebar-panel treechildren::-moz-tree-cell {
    margin-inline: calc(8px) !important;
    cursor: default !important;
}

.sidebar-panel treechildren::-moz-tree-row(selected) {
    background-color: var(--places-cell-focus-bgcolor) !important;
    outline: none !important;
    border: none !important;
}

.sidebar-panel treechildren::-moz-tree-row(hover),
.sidebar-panel treechildren::-moz-tree-row(selected, hover) {
    background-color: var(--places-cell-hover-bgcolor) !important;
    color: var(--lwt-text-color) !important;
    outline: none !important;
}

.sidebar-panel:-moz-window-inactive treechildren::-moz-tree-row(selected) {
    background-color: transparent !important;
}

.sidebar-panel:-moz-window-inactive treechildren::-moz-tree-row(selected, hover) {
    background-color: var(--places-cell-hover-bgcolor) !important;
    color: var(--lwt-text-color) !important;
    outline: none !important;
}

.sidebar-panel .sidebar-placesTree {
    background-color: var(--ui-secondary-bg) !important;
}

/* .panel-arrow {
    stroke: var(--arrowpanel-background) !important;
} */

treechildren::-moz-tree-row,
treechildren::-moz-tree-row(current, focus),
treechildren::-moz-tree-row(selected, current, focus) {
    border: none !important;
}

treechildren::-moz-tree-row(selected, current, focus) {
    border: none !important;
}

.sidebar-panel treechildren::-moz-tree-cell-text(primary, dropOn) {
    background: none !important;
}

treechildren::-moz-tree-drop-feedback {
    background-color: transparent !important;
    margin-inline-start: -16px !important;
    pointer-events: none;
    background-image: url(chrome://userchrome/content/tree/tree-drop-indicator.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 14px !important;
}

treechildren::-moz-tree-twisty {
    width: 16px !important;
    height: auto !important;
    list-style-image: url(chrome://userchrome/content/tree/tree-twisty-right.svg) !important;
    -moz-context-properties: fill, fill-opacity;
}

.sidebar-placesTreechildren::-moz-tree-twisty {
    margin-inline: 0 3px !important;
    padding-inline: 0 !important;
}

/* removes the empty space where the twisty (arrow) would go if the item was a folder.
when the twisty icon isn't displayed, it still has width, creating an empty space to the left of the item.
there are normally no twistys in sorted trees so it is relatively safe to collapse them. */
/* .sidebar-placesTreechildren::-moz-tree-twisty(sorted) {
    width: 0 !important;
    margin-inline: 0 !important;
} */

.sidebar-placesTreechildren::-moz-tree-image {
    margin-inline: 0 4px !important;
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(closed) {
    list-style-image: url(chrome://userchrome/content/tree/tree-twisty-left.svg) !important;
}

treechildren::-moz-tree-twisty(open) {
    list-style-image: url(chrome://userchrome/content/tree/tree-twisty-down.svg) !important;
}

.item.client .item-twisty-container {
    min-width: 16px !important;
    height: 16px !important;
    padding: 0 !important;
    margin-inline: -1px 1px !important;
    background-image: url(chrome://userchrome/content/tree/tree-twisty-down.svg) !important;
    background-position: center !important;
    background-size: 14px !important;
    -moz-context-properties: fill, fill-opacity;
}

.item.client.closed .item-twisty-container {
    background-image: url(chrome://userchrome/content/tree/tree-twisty-right.svg) !important;
}

.item.client.closed .item-twisty-container:dir(rtl) {
    background-image: url(chrome://userchrome/content/tree/tree-twisty-left.svg) !important;
}

.sidebar-placesTreechildren::-moz-tree-cell-text {
    padding-right: 7px !important;
    cursor: default !important;
}

.sidebar-placesTreechildren::-moz-tree-cell-text,
.sidebar-placesTreechildren::-moz-tree-image,
.sidebar-placesTreechildren::-moz-tree-twisty {
    color: var(--lwt-text-color) !important;
    cursor: default !important;
}

.sidebar-placesTreechildren::-moz-tree-indentation {
    width: 16px;
}

.sidebar-placesTree {
    appearance: none !important;
    color: var(--lwt-text-color) !important;
}

.sidebar-splitter {
    border-inline-end-width: 1px !important;
    border-inline-end-color: transparent !important;
    position: relative !important;
    z-index: 5 !important;
    width: 4px !important;
}

#sidebar-splitter {
    display: none !important;
}

@-moz-document url("chrome://browser/content/syncedtabs/sidebar.xhtml")
{
    body {
        background-color: var(--ui-secondary-bg) !important;
        color: var(--lwt-text-color) !important;
        fill: hsla(213, 43%, 89%, 80%) !important;
    }

    .content-header {
        appearance: none !important;
        padding-inline: 1px !important;
        margin-top: -4px !important;
        border-bottom: 0px solid transparent !important;
        background-color: var(--ui-secondary-bg) !important;
        color: #fff !important;
    }

    .search-box {
        appearance: none !important;
        padding-inline-start: 7px !important;
        background-color: var(--ui-textbox-bgcolor) !important;
        border-radius: var(--general-button-border-radius) !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .sidebar-search-container {
        padding-inline-start: 3px !important;
        padding-inline-end: 3px !important;
    }

    .sidebar-search-container .search-box input {
        background: none !important;
        color: #fff !important;
        padding-inline-start: 5px !important;
    }

    .sidebar-search-container .search-box textarea {
        background-color: var(--ui-textbox-bgcolor) !important;
        color: #fff !important;
    }

    .textbox-input-box {
        line-height: 18px !important;
    }

    .item-icon-container {
        fill-opacity: 0.7 !important;
        -moz-context-properties: fill, fill-opacity !important;
    }

    .item-twisty-container,
    .item-icon-container {
        margin-inline: 3px 6px !important;
    }

    .item-tabs-list .item-icon-container {
        margin-inline: 13px 6px !important;
    }

    .item-title-container {
        border-radius: var(--general-button-border-radius) !important;
        margin-inline: 8px !important;
        min-height: 24px;
        box-sizing: border-box !important;
    }

    .item.selected > .item-title-container:not(:hover) {
        appearance: none !important;
        background-color: var(--places-cell-focus-bgcolor) !important;
        color: var(--lwt-text-color) !important;
    }

    .item.selected:-moz-window-inactive > .item-title-container:not(:hover) {
        background-color: transparent !important;
    }

    .item-title-container:hover {
        appearance: none !important;
        background-color: var(--places-cell-hover-bgcolor) !important;
        color: var(--lwt-text-color) !important;
    }

    .item.empty .item-title-container {
        color: var(--context-menu-disabled-color) !important;
        background: none !important;
    }

    .item.client.selected > .item-title-container:not(:hover) {
        background: none !important;
        color: inherit !important;
    }

    /* .client .item.tab > .item-title-container {
        padding-inline-start: 26px;
    } */

    ::selection {
        background-color: rgba(255, 255, 255, 0.9) !important;
        color: hsl(236, 20%, 16%) !important;
    }
}

#sidebar-box {
    background-color: var(--ui-secondary-bg) !important;
    top: calc(var(--urlbar-container-height) + var(--tab-min-height)) !important;
    bottom: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    position: fixed !important;
    z-index: 1 !important;
    left: 0 !important;
    right: auto !important;
    box-shadow: 0px 0px 8px -4px hsla(240, 4%, 0%, 0.6), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.2) !important;
}

:root[sizemode="normal"] #sidebar-box {
    top: calc(
        var(--urlbar-container-height) + var(--tab-min-height) + var(--space-above-tabbar)
    ) !important;
}

#sidebar-box[hidden] {
    display: none !important;
}

#sidebar-box[positionend] {
    left: auto !important;
    right: 0 !important;
}

#sidebar-header {
    top: 0 !important;
}

#sidebar {
    min-width: -moz-available !important;
    flex-grow: 1 !important;
}
