/* this does nothing on its own — it requires searchModeIndicatorIcons.uc.js.
when you switch to a one-off search engine in the urlbar, or otherwise enable search mode,
this changes the identity icon to one matching the search engine. */

/* built-in history, tabs, bookmarks pseudo-engines */
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="History"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="History"] #identity-icon,
#identity-icon-box[engine="History"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/skin/history.svg) !important;
}

#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="Tabs"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Tabs"] #identity-icon,
#identity-icon-box[engine="Tabs"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/skin/tab.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Bookmarks"]
    #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Bookmarks"] #identity-icon,
#identity-icon-box[engine="Bookmarks"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/skin/bookmark.svg) !important;
    margin-top: -0.6px !important;
}

/* for google */
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="Google"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Google"] #identity-icon,
#identity-icon-box[engine="Google"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/google.svg) !important;
}

/* for google images */
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="Google Images"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Google Images"] #identity-icon,
#identity-icon-box[engine="Google Images"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/notifications/canvas.svg) !important;
}

/* for youtube */
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="YouTube"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="YouTube"] #identity-icon,
#identity-icon-box[engine="YouTube"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/youtube.svg) !important;
}

/* for porn */
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="XVIDEOS"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="XVIDEOS"] #identity-icon,
#identity-icon-box[engine="XVIDEOS"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/xxx.svg) !important;
}

/* etc... */
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="GitHub"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="GitHub"] #identity-icon,
#identity-icon-box[engine="GitHub"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/github.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Wikipedia"]
    #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Wikipedia"] #identity-icon,
#urlbar[searchmode]
    > #urlbar-input-container
    > #identity-box
    #identity-icon-box[engine="Wikipedia"]
    #identity-icon {
    width: 20px !important;
    padding-inline: 1px !important;
    margin-inline: -2px !important;
    margin-block: 1px 0 !important;
    list-style-image: url(chrome://userchrome/content/engines/wiki.svg) !important;
}

#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="Amazon"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Amazon"] #identity-icon,
#identity-icon-box[engine="Amazon"] #identity-icon {
    margin-top: 1.4px !important;
    list-style-image: url(chrome://userchrome/content/engines/amazon.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="DoorDash"]
    #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="DoorDash"] #identity-icon,
#identity-icon-box[engine="DoorDash"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/doordash.svg) !important;
}

#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="Netflix"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Netflix"] #identity-icon,
#identity-icon-box[engine="Netflix"] #identity-icon {
    height: 18px !important;
    list-style-image: url(chrome://userchrome/content/engines/netflix.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Google Maps"]
    #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box
    #identity-icon-box[engine="Google Maps"]
    #identity-icon,
#identity-icon-box[engine="Google Maps"] #identity-icon {
    height: 17px !important;
    list-style-image: url(chrome://userchrome/content/engines/maps.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Google Drive"]
    #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box
    #identity-icon-box[engine="Google Drive"]
    #identity-icon,
#identity-icon-box[engine="Google Drive"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/drive.svg) !important;
}

#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box[engine="Gmail"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Gmail"] #identity-icon,
#identity-icon-box[engine="Gmail"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/mail.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Gatherer"]
    #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Gatherer"] #identity-icon,
#identity-icon-box[engine="Gatherer"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/gatherer.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Scryfall"]
    #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Scryfall"] #identity-icon,
#identity-icon-box[engine="Scryfall"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/scryfall.svg) !important;
}

#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon-box[engine="Searchfox"]
    #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box #identity-icon-box[engine="Searchfox"] #identity-icon,
#identity-icon-box[engine="Searchfox"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/engines/searchfox.svg) !important;
}
