.tabbrowser-tab {
    min-height: var(--tab-min-height) !important;
}

#tabs-newtab-button {
    display: none !important;
}

#new-tab-button {
    display: -moz-box !important;
}

.titlebar-spacer[type="pre-tabs"] {
    display: none;
}

.titlebar-spacer[type="post-tabs"] {
    width: 15.6px !important;
}

:root[privatebrowsingmode="temporary"] .titlebar-spacer[type="post-tabs"] {
    width: 0px !important;
    margin-left: -2px !important;
}

#titlebar {
    -moz-box-orient: horizontal !important;
}

#tabbrowser-tabs {
    background-color: var(--lwt-accent-color) !important;
}

/* menubar next to tabs */
#toolbar-menubar {
    -moz-box-align: center !important;
    padding-inline: 6px !important;
    z-index: 12 !important;
    background: var(--lwt-accent-color) !important;
    position: relative !important;
    -moz-box-ordinal-group: 0;
}

#toolbar-menubar[inactive="true"] {
    opacity: 0 !important;
    height: 0 !important;
    pointer-events: none !important;
    width: 0 !important;
    min-width: 0 !important;
}

:root[sizemode="normal"] #toolbar-menubar:not([inactive]) > .titlebar-buttonbox-container {
    display: block !important;
    position: fixed !important;
    top: calc(10px + var(--space-above-tabbar)) !important;
    right: 0 !important;
    width: -moz-min-content !important;
}

:root[sizemode="maximized"] #toolbar-menubar:not([inactive]) > .titlebar-buttonbox-container {
    display: block !important;
    position: fixed !important;
    top: 17.5px !important;
    right: 0 !important;
    width: -moz-min-content !important;
}

:root[inFullscreen] #toolbar-menubar {
    visibility: visible !important;
}

:root[inFullscreen]
    body
    > box:not([urlbar-status], [popup-status])
    > #navigator-toolbox:not(:hover, :focus-within)
    > #titlebar
    > #toolbar-menubar {
    visibility: collapse !important;
}

/* the drag space should push down everything */
:root[sizemode="normal"]
    #TabsToolbar-customization-target
    > toolbarbutton
    > :is(.toolbarbutton-icon, .toolbarbutton-badge-stack) {
    margin-top: var(--space-above-tabbar);
}

:root[inFullscreen] #toolbar-menubar:not([inactive]) > .titlebar-buttonbox-container {
    display: none !important;
}

/* when drag space is enabled */
#TabsToolbar > .toolbar-items {
    padding-top: 0 !important;
}

:root:not([chromehidden~="menubar"], [inFullscreen="true"])
    #toolbar-menubar:not([autohide="true"])
    ~ #TabsToolbar
    .titlebar-spacer[type="post-tabs"] {
    display: -moz-box !important;
}

:root:not([chromehidden~="menubar"], [inFullscreen="true"])
    #toolbar-menubar:not([autohide="true"])
    + #TabsToolbar
    > .titlebar-buttonbox-container {
    visibility: hidden !important;
    display: -moz-box !important;
}

#toolbar-menubar :is(#menubar-items, #wrapper-menubar-items) {
    position: relative !important;
    top: -3px !important;
    right: 2px !important;
}

#toolbar-menubar #main-menubar > menu {
    border-radius: 2px !important;
    appearance: none !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

#toolbar-menubar #main-menubar > menu[_moz-menuactive] {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#toolbar-menubar #main-menubar > menu[open] {
    background-color: var(--toolbarbutton-active-background) !important;
}

:root[privatebrowsingmode]
    #toolbar-menubar:not([inactive])
    ~ #TabsToolbar
    .private-browsing-indicator {
    display: block !important;
    right: 94px !important;
    top: calc(9.5px + var(--space-above-tabbar)) !important;
    z-index: 0 !important;
    pointer-events: none !important;
    position: fixed !important;
}

:root[privatebrowsingmode] #toolbar-menubar :is(#menubar-items, #wrapper-menubar-items) {
    right: 39px !important;
}

:root[privatebrowsingmode] #toolbar-menubar:not([inactive]) ~ #TabsToolbar .toolbar-items {
    margin-right: 429px !important;
}

:root[inFullscreen][privatebrowsingmode]
    #toolbar-menubar:not([inactive])
    ~ #TabsToolbar
    .toolbar-items {
    margin-right: 329.5px !important;
}

/* get rid of drop shadow drawn on leftmost visible tab */
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator {
    visibility: collapse !important;
}

/* tab dragging and dropping icon */
.tab-drop-indicator {
    background-image: url(chrome://userchrome/content/tab-drag-indicator.svg) !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    fill: var(--lwt-toolbarbutton-icon-fill, currentColor) !important;
    margin-bottom: -40px !important;
    z-index: 2500 !important;
    margin-inline-start: -20px !important;
    background-size: contain !important;
    width: 20px !important;
}

/* hide the pixel above the tabs in windows */
:root[sizemode="normal"][tabsintitlebar] {
    border-top: none !important;
}

#toolbar-menubar:not([inactive]) ~ #TabsToolbar #TabsToolbar-customization-target::before {
    position: relative !important;
    display: block !important;
    content: "" !important;
    pointer-events: none !important;
    box-shadow: 7px 0px 7px 0px rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
    width: 20px !important;
    margin-left: -20px !important;
    height: 46px !important;
    margin-block: -8px !important;
    z-index: 11 !important;
}

#tabbrowser-tabs::after {
    position: relative !important;
    display: block !important;
    content: "" !important;
    pointer-events: none !important;
    box-shadow: -7px 0px 7px 0px rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
    width: 20px !important;
    margin-right: -20px !important;
    height: 46px !important;
    margin-block: -8px !important;
    z-index: 11 !important;
}

#TabsToolbar {
    /* background-image: linear-gradient(180deg, hsl(231, 49%, 11%), hsl(233, 55%, 8%)) !important; */
    background-image: radial-gradient(
        circle at 100% 0%,
        hsl(231, 49%, 11%),
        hsl(233, 55%, 8%) 140px
    ) !important;
    background-color: var(--lwt-accent-color) !important;
}

#new-tab-button,
#tabs-newtab-button {
    padding-left: 4px !important;
    z-index: 1 !important;
    position: relative !important;
}

/* non-overflowing tabs shouldn't draw shadows on new tab button since overflowing tabs don't draw shadows on the special new tab button */
#tabbrowser-tabs:not([overflow]) #tabs-newtab-button {
    z-index: 5 !important;
}

:root:not([sizemode="normal"]) .arrowscrollbox-overflow-end-indicator,
:root:not([sizemode="normal"])
    .tabbrowser-arrowscrollbox
    > .arrowscrollbox-overflow-start-indicator {
    visibility: collapse !important;
}

:is(tabbrowser, #TabsToolbar) toolbarbutton[class^="scrollbutton"] {
    display: none !important;
}

/* hide tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    opacity: 0 !important;
    border-image: unset !important;
    border-image-slice: unset !important;
    width: unset !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border-left: none !important;
}

#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected], [afterselected-visible], [afterhovered], [first-visible-tab], :hover)::before,
#tabbrowser-tabs:not([overflow])
    > .tabbrowser-tab[last-visible-tab]:not([selected], [beforehovered], :hover)::after {
    content: unset !important;
    display: unset !important;
}

/* macOS style window controls */
:is(.titlebar-buttonbox, #window-controls):-moz-window-inactive > toolbarbutton:not(:hover) {
    list-style-image: url(chrome://userchrome/content/window/inactive.svg) !important;
}

:is(.titlebar-buttonbox, #window-controls) .toolbarbutton-icon {
    opacity: 1 !important;
}

.titlebar-button > .toolbarbutton-icon,
#window-controls > toolbarbutton > .toolbarbutton-icon {
    width: 15.3px !important;
    height: 15.3px !important;
    stroke: none !important;
}

.titlebar-buttonbox {
    margin-right: 7px !important;
    margin-left: 0px !important;
}

#window-controls {
    margin-right: 6px !important;
    margin-left: 8px !important;
}

.titlebar-min,
#minimize-button {
    padding: 0px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    list-style-image: url(chrome://userchrome/content/window/minimize.svg) !important;
    grid-column: 2 !important;
}

.titlebar-min:hover,
#minimize-button:hover {
    list-style-image: url(chrome://userchrome/content/window/minimize-hover.svg) !important;
}

.titlebar-max,
.titlebar-restore,
#restore-button {
    padding: 0px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    list-style-image: url(chrome://userchrome/content/window/maximize.svg) !important;
    grid-column: 1 !important;
    -moz-box-ordinal-group: 0 !important;
}

.titlebar-max:hover {
    list-style-image: url(chrome://userchrome/content/window/maximize-hover.svg) !important;
}

:root[sizemode="maximized"] .titlebar-max:hover,
.titlebar-restore:hover,
#restore-button:hover {
    list-style-image: url(chrome://userchrome/content/window/maximize-restore.svg) !important;
}

.titlebar-close,
#close-button {
    padding: 0px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    list-style-image: url(chrome://userchrome/content/window/close.svg) !important;
    grid-column: 3 !important;
}

.titlebar-close:hover,
#close-button:hover {
    list-style-image: url(chrome://userchrome/content/window/close-hover.svg) !important;
}

/* private browsing indicator next to window controls */
.accessibility-indicator,
.private-browsing-indicator {
    width: 16px !important;
    height: 16px !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
}

.private-browsing-indicator {
    background-image: url(chrome://userchrome/content/privateBrowsing.svg) !important;
}

.accessibility-indicator {
    background-image: url(chrome://userchrome/content/devtools/tool-accessibility.svg) !important;
}

/* all tabs button popup */
.all-tabs-item {
    border-radius: var(--arrowpanel-menuitem-border-radius);
    box-shadow: none !important;
    margin-inline: 4px;
    min-height: 28px;
    -moz-box-align: center;
    padding-inline-end: 2px;
}

panelview .all-tabs-button:not([disabled], [open]):focus {
    background: none !important;
}

#allTabsMenu-allTabsViewTabs {
    margin: var(--panel-subview-body-padding) !important;
    padding-block-start: 0 !important;
}

.all-tabs-item[selected],
.all-tabs-item[multiselected],
.all-tabs-item[usercontextid]:is(:hover, [_moz-menuactive]) {
    background-image: linear-gradient(
        to right,
        var(--main-stripe-color) 0,
        var(--main-stripe-color) 4px,
        transparent 4px
    ) !important;
}

.all-tabs-item[selected] {
    font-weight: normal !important;
    background-color: var(--arrowpanel-dimmed-further) !important;
    --main-stripe-color: var(--arrowpanel-dimmed-even-further);
}

.all-tabs-item[usercontextid]:not([multiselected]) {
    --main-stripe-color: var(--identity-tab-color);
}

.all-tabs-item[multiselected] {
    --main-stripe-color: var(--multiselected-color, var(--lwt-selected-tab-background-color));
}

.all-tabs-item:not([selected]):is(:hover, :focus-within, [_moz-menuactive], [multiselected]) {
    background-color: var(--arrowpanel-dimmed) !important;
}

.all-tabs-item[multiselected]:not([selected]):is(:hover, [_moz-menuactive]) {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

.all-tabs-item:not([selected]):is(:hover, [_moz-menuactive]):active {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

.all-tabs-item[pending]:not([selected]):is(:hover, :focus-within, [_moz-menuactive], [multiselected]) {
    background-color: var(
        --arrowpanel-faint,
        color-mix(in srgb, var(--arrowpanel-dimmed) 60%, transparent)
    ) !important;
}

.all-tabs-item[pending] > .all-tabs-button {
    opacity: 0.6;
}

.all-tabs-item .all-tabs-secondary-button,
.all-tabs-item .all-tabs-secondary-button:focus:not([disabled]) {
    max-width: 18px;
    max-height: 18px;
    border-radius: 100% !important;
    color: white !important;
    background-color: transparent !important;
    opacity: 0.7 !important;
    min-height: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
}

.all-tabs-secondary-button > .toolbarbutton-icon {
    min-width: 18px !important;
    min-height: 18px !important;
    fill: inherit !important;
    fill-opacity: inherit !important;
    -moz-context-properties: inherit !important;
}

.all-tabs-item .all-tabs-secondary-button > label:empty {
    display: none !important;
}

.all-tabs-item .all-tabs-secondary-button:is(:hover, :focus):not([disabled]),
.all-tabs-item:is(:hover, :focus-within)
    .all-tabs-secondary-button[close-button]:is(:hover, :focus):not([disabled]) {
    background-color: var(--arrowpanel-dimmed) !important;
    opacity: 1 !important;
    color: white !important;
}

.all-tabs-item .all-tabs-secondary-button:hover:active:not([disabled]),
.all-tabs-item:is(:hover, :focus-within)
    .all-tabs-secondary-button[close-button]:hover:active:not([disabled]) {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

.all-tabs-item .all-tabs-secondary-button[toggle-mute] {
    padding: 2px 2px 2px 1px !important;
    margin-inline-end: 8px !important;
}

.all-tabs-secondary-button[close-button] {
    fill-opacity: 0 !important;
    transform: translateX(28px);
    opacity: 0 !important;
    margin-inline-start: -28px !important;
    transition: 0.075s ease-in-out transform, 0.075s ease-in-out margin, 0.075s linear opacity;
    display: block !important;
    -moz-context-properties: fill, fill-opacity, stroke !important;
    fill: currentColor !important;
    fill-opacity: 0 !important;
    border-radius: 50% !important;
    list-style-image: url(chrome://userchrome/content/textbox-clear.svg) !important;
}

.all-tabs-item:is(:hover, :focus-within) .all-tabs-secondary-button[close-button] {
    transform: none !important;
    opacity: 0.7 !important;
    margin-inline-start: -2px !important;
}
