.urlbarView-row {
    border-radius: 3px !important;
}

.urlbarView-no-wrap {
    min-width: 0 !important;
    max-width: 100% !important;
}

.urlbarView-no-wrap > span:empty,
.urlbarView:not([actionoverride])
    .urlbarView-row[type="switchtab"]
    > .urlbarView-row-inner
    > .urlbarView-url {
    display: none;
}

.urlbarView-row[selected] > .urlbarView-row-inner,
.urlbarView-row:is([dynamicType="calculator"], [has-help="true"]) > .urlbarView-row-inner[selected],
.urlbarView-help[selected] {
    background-color: var(--arrowpanel-dimmed-further) !important;
    fill-opacity: 1;
}

.urlbarView-row:not([selected]):hover > .urlbarView-row-inner:not([selected]),
.urlbarView-help:not([selected]):hover {
    background-color: var(--arrowpanel-dimmed) !important;
}

.urlbarView {
    background: transparent !important;
    border: none !important;
    font-size: 1.04em !important;
}

#urlbarView-results,
#urlbar-results {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#urlbar-results {
    border: none !important;
}

#urlbar-container {
    transform: none !important;
    position: relative;
}

.urlbarView-row {
    padding: 6px 6.5px !important;
}

.urlbarView-favicon {
    align-self: center !important;
    background-position: center !important;
    margin-inline: 0 !important;
}

.urlbarView-row:not([type], [has-url]) .urlbarView-favicon {
    max-width: 16px !important;
    max-height: 16px !important;
}

.urlbarView-type-icon {
    margin-inline: 0px !important;
    display: none;
}

.urlbarView-row:is([type="switchtab"], [type="bookmark"], [type="remotetab"], [type="dynamic"])
    .urlbarView-type-icon {
    fill-opacity: 0.75 !important;
    margin-bottom: 1px !important;
    display: -moz-box !important;
}

.urlbarView-type-icon {
    position: relative !important;
    min-width: 16px !important;
    width: 16px !important;
    height: 16px !important;
    -moz-context-properties: fill, fill-opacity !important;
}

.urlbarView-row[type="bookmark"] .urlbarView-type-icon {
    /* fill: var(--urlbar-bookmark-icon-color) !important;
    fill: var(--lwt-toolbarbutton-icon-fill-attention) !important;
    fill-opacity: 1 !important; */
    position: absolute;
    align-self: center !important;
    stroke: none !important;
    background-position: center !important;
    background-size: 110% !important;
}

.urlbarView-row:is([type="switchtab"], [type="remotetab"]) .urlbarView-type-icon {
    align-self: center !important;
    stroke: none !important;
    background: url(chrome://userchrome/content/skin/tab.svg) no-repeat !important;
    background-position: 0px 0px !important;
    background-size: contain !important;
}

.urlbarView-row[selected]:is([type="switchtab"], [type="remotetab"]) .urlbarView-type-icon {
    fill-opacity: 1 !important;
}

.urlbarView-row[type="remotetab"] .urlbarView-type-icon {
    background: url(chrome://userchrome/content/skin/sync.svg) no-repeat !important;
    background-position: 1px 1px !important;
}

.urlbarView-row[type="dynamic"][dynamicType="calculator"] .urlbarView-favicon {
    box-sizing: border-box !important;
    background: url(chrome://userchrome/content/material/function.svg) no-repeat !important;
    width: 16px !important;
    height: 16px !important;
    padding-left: 16px;
}

.urlbarView-row[type="dynamic"][dynamicType="calculator"] .urlbarView-dynamic-calculator-action {
	color: var(--urlbar-popup-action-color);
}

.urlbarView-row[type="dynamic"][dynamicType="calculator"] .urlbarView-row-inner[selected] .urlbarView-dynamic-calculator-action {
	color: inherit;
}

.urlbarView[actionoverride]
    .urlbarView-row:is([type="switchtab"], [type="remotetab"])
    .urlbarView-type-icon {
    background: url(chrome://userchrome/content/skin/forward.svg) no-repeat !important;
    background-size: 90% !important;
    background-position: 0px 1.5px !important;
}

.urlbarView-row:is([type="switchtab"], [type="remotetab"])
    > .urlbarView-row-inner
    > .urlbarView-no-wrap
    > .urlbarView-action {
    background-color: transparent !important;
    border-radius: unset !important;
}

.urlbarView-row:is([type="switchtab"], [type="remotetab"])
    > .urlbarView-row-inner
    > .urlbarView-no-wrap
    > .urlbarView-title-separator {
    visibility: visible !important;
}

.urlbarView-row-inner,
.urlbarView-no-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: start;
    column-gap: calc(var(--urlbar-icon-padding) + 2px);
}

:root[lwt-toolbar-field-brighttext]
    .urlbarView-row[source]:not([selected])
    > .urlbarView-row-inner
    > .urlbarView-no-wrap
    > .urlbarView-favicon {
    fill: currentColor !important;
    fill-opacity: 0.6 !important;
}

.urlbarView .urlbarView-row[type="tip"] {
    border: none !important;
    padding-block: 0px 0px !important;
    padding-inline: 0px 0px !important;
    padding: 0 !important;
    -moz-box-pack: center !important;
    -moz-box-align: center !important;
    margin: 0 !important;
}

.urlbarView .urlbarView-row[type="tip"] > .urlbarView-row-inner {
    border: none !important;
    padding-block: 6px !important;
    margin: 0 !important;
    min-height: unset !important;
    max-height: -moz-fit-content !important;
    height: unset !important;
    text-transform: lowercase !important;
}

.urlbarView-tip-button,
.urlbarView-tip-help {
    margin-block: unset !important;
    height: unset !important;
    min-height: 16px !important;
    max-height: -moz-fit-content !important;
}

.urlbarView-tip-button-spacer {
    display: none !important;
}

.urlbarView-tip-button {
    padding-inline: 6px !important;
    padding-block: 3px !important;
    margin: unset !important;
    background: none !important;
    margin-inline: unset !important;
    color: var(--urlbar-popup-action-color) !important;
    fill: var(--urlbar-popup-action-color) !important;
}

.urlbarView-tip-help {
    padding-inline: 3px !important;
    padding-block: 3px !important;
    margin: unset !important;
    margin-block: 0 !important;
    margin-inline: unset !important;
    margin-inline-start: 4px !important;
    margin-inline-end: 13px !important;
    height: 16.5px !important;
    width: 16.5px !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    fill-opacity: 1 !important;
    color: var(--urlbar-popup-action-color) !important;
    fill: var(--urlbar-popup-action-color) !important;
}

:is(.urlbarView-tip-help, .urlbarView-tip-button):hover {
    background-color: var(--arrowpanel-dimmed) !important;
    color: currentColor !important;
    fill: currentColor !important;
}

:is(.urlbarView-tip-help, .urlbarView-tip-button):is(:hover, [aria-selected]) {
    box-shadow: none !important;
}

:is(.urlbarView-tip-help, .urlbarView-tip-button)[aria-selected]:not(:hover) {
    background-color: transparent !important;
}

:is(.urlbarView-tip-help, .urlbarView-tip-button):hover:active {
    background-color: var(--arrowpanel-dimmed-further) !important;
    color: currentColor !important;
    fill: currentColor !important;
}

.urlbarView-row[type="tip"] > .urlbarView-row-inner > .urlbarView-favicon {
    min-width: 16px !important;
    max-width: 16px !important;
    height: 16px !important;
    margin-inline-end: 8px !important;
    margin-block-end: 1px !important;
    margin-block-start: unset !important;
    flex-basis: 24px;
    flex-grow: 0;
    flex-shrink: 0;
}

.urlbarView-title-separator,
.urlbarView-dynamic-calculator-action::before {
    -moz-box-align: center;
    display: -moz-box;
    display: none !important;
}

.urlbarView-title-separator::before,
.urlbarView-dynamic-calculator-action::before {
    content: "" !important;
    width: 15px;
    height: 2px;
    display: -moz-box;
    color: var(--panel-shortcut-color);
    border-bottom: 1px solid currentColor;
    opacity: 1 !important;
}

.urlbarView-row[selected] .urlbarView-title-separator::before,
.urlbarView-row-inner[selected] .urlbarView-dynamic-calculator-action::before {
    color: hsla(0, 0%, 100%, 0.6);
}

.urlbarView-row[has-action] .urlbarView-title strong,
.urlbarView-row[has-action] .urlbarView-title[isurl],
.urlbarView-row[has-url] .urlbarView-title,
.urlbarView-dynamic-calculator-input {
    font-weight: 500 !important;
    font-style: normal !important;
    color: var(--panel-shortcut-color);
}

.urlbarView-row[has-action][selected] .urlbarView-title strong,
.urlbarView-row[has-action][selected] .urlbarView-title[isurl],
.urlbarView-row[has-url][selected] .urlbarView-title,
.urlbarView-row-inner[selected] .urlbarView-dynamic-calculator-input {
    color: var(--panel-shortcut-focus);
}

.urlbarView-row[has-action] .urlbarView-title[isurl] strong,
.urlbarView-row[has-url] .urlbarView-title strong {
    font-weight: 500 !important;
    font-style: normal !important;
    color: var(--lwt-toolbar-field-color);
}

.urlbarView-row[sponsored] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
	color: var(--panel-shortcut-color) !important;
	opacity: 1 !important;
}

.urlbarView-row[sponsored] > .urlbarView-row-inner[selected] > .urlbarView-no-wrap > .urlbarView-action {
	color: var(--lwt-toolbar-field-color) !important;
	opacity: 1 !important;
}

.urlbarView-action[slide-in] {
    animation: none !important;
}

.urlbarView-tail-prefix > .urlbarView-tail-prefix-string {
    visibility: visible !important;
}

.urlbarView-tail-prefix > .urlbarView-tail-prefix-char {
    display: none !important;
}

.urlbarView-tail-prefix {
    margin-top: -1px !important;
    margin-bottom: -0.3px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    align-self: center !important;
}

.urlbarView-url > strong {
    text-decoration: underline !important;
    font-weight: initial !important;
}

.urlbarView-favicon:is([src="moz-extension://cd4aad93-9726-49dd-a5cd-9e5f5c4d76f4/favicon.ico"],
    [src="page-icon:https://www.google.com/"],
    [src="page-icon:http://google.com/"],
    [src^="page-icon:https://www.google.com/search?"],
    [src^="page-icon:http://google.com/search?"])
{
    box-sizing: border-box !important;
    background: url(chrome://userchrome/content/engines/google-color.svg) no-repeat !important;
    width: 16px !important;
    height: 16px !important;
    padding-left: 16px;
}

.urlbarView-title,
.urlbarView-dynamic-calculator-input {
    min-height: 20px;
}

.urlbarView-action {
    padding: 0 !important;
    margin-inline: 0 6px !important;
}

.urlbarView-row[type="tabtosearch"]
    > .urlbarView-row-inner
    > .urlbarView-no-wrap
    > .urlbarView-favicon {
    color: var(--urlbar-popup-url-color) !important;
    border-radius: 2px !important;
}

.urlbarView-row[type="tabtosearch"][selected]
    > .urlbarView-row-inner
    > .urlbarView-no-wrap
    > .urlbarView-favicon {
    color: white !important;
    stroke: var(--urlbar-popup-action-color) !important;
    border-radius: 2px !important;
}

#urlbar,
#urlbar[breakout-extend] {
    font-size: 1.15em !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0px !important;
    border-radius: var(--toolbarbutton-border-radius);
}

#urlbar {
    background: none !important;
}

#urlbar[breakout][breakout-extend] > :is(#urlbar-background, .urlbarView) {
    animation-name: none !important;
    animation-timing-function: var(--animation-easing-function);
}

#urlbar[breakout][breakout-extend],
#urlbar[breakout][breakout-extend-disabled][open] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0px !important;
    width: -moz-available !important;
    overflow: visible;
    box-shadow: none !important;
    background: none !important;
    transition: none !important;
}

.urlbarView {
    margin: 0 !important;
    padding: 2px !important;
    width: calc(100% + 6px) !important;
    left: -3px !important;
    position: relative !important;
    overflow: visible !important;
    top: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;
    box-shadow: 0 5px 18px hsla(0, 0%, 0%, 0.2) !important;
    background: var(--urlbar-results-bgcolor) !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#nav-bar:not([overflowing="true"]) .urlbarView[noresults="true"],
#nav-bar:not([overflowing="true"]) .urlbarView[noresults="true"] #urlbar-results {
    padding-block: 0 !important;
    box-shadow: none !important;
}

.urlbarView-row {
    overflow: hidden !important;
    min-width: 0 !important;
    min-height: 34px !important;
    padding: 1px 0 !important;
}

.urlbarView-row-inner {
    padding: 7px 8px !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
    align-items: center !important;
    fill-opacity: 0.6;
    fill: var(--panel-description-color);
}

.urlbarView-help {
    margin-inline: 3.4px 0 !important;
    box-shadow: none !important;
    fill: var(--panel-description-color);
    background-image: url("chrome://userchrome/content/help.svg") !important;
}

.urlbarView .urlbarView-body-inner {
    border-top: none !important;
}

.urlbarView #urlbar-results {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 0px;
    background: var(--urlbar-results-bgcolor) !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    padding: 0.4px 1px !important;
}

/* handle overflowing urlbar result rows. requires multiLineUrlbarResults.uc.js */
.urlbarView-row-inner.overflown {
    flex-flow: column nowrap !important;
    align-items: start !important;
    justify-content: center !important;
}

.urlbarView-row-inner.overflown .urlbarView-url {
    mask-image: linear-gradient(to left, transparent, black 2em);
    max-width: -moz-available !important;
}

/* override firefox's built-in text wrapping */
.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row
    > .urlbarView-row-inner {
    flex-wrap: nowrap !important;
}

.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row
    > .urlbarView-row-inner
    > .urlbarView-no-wrap {
    flex-basis: unset !important;
}

.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row[has-url]
    > .urlbarView-row-inner
    > .urlbarView-url {
    margin-top: 0 !important;
}

.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row[has-url]
    > .urlbarView-row-inner
    > .urlbarView-url:-moz-locale-dir(ltr) {
    padding-left: unset !important;
}

.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row[has-url]
    > .urlbarView-row-inner
    > .urlbarView-url:-moz-locale-dir(rtl) {
    padding-right: unset !important;
}

.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row[type="tabtosearch"]
    > .urlbarView-row-inner
    > .urlbarView-no-wrap {
    flex-wrap: nowrap !important;
}

.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row[type="tabtosearch"]
    > .urlbarView-row-inner
    > .urlbarView-no-wrap
    > .urlbarView-action {
    flex-basis: unset !important;
    margin-inline: 0 6px !important;
}

.urlbarView-results[overflow-handler="userChromeJS"][wrap]
    > .urlbarView-row[type="tip"]
    > .urlbarView-row-inner {
    flex-wrap: nowrap !important;
}
