#unified-extensions-view > .panel-subview-body {
  display: -moz-box !important;
  -moz-box-orient: vertical !important;
  max-height: revert !important;
  max-width: revert !important;
}

unified-extensions-item {
  padding-block: calc((var(--subviewbutton-height) - 20px) / 2) !important;
  padding-inline-end: calc((var(--subviewbutton-height) - 20px) / 2) !important;
  box-sizing: border-box !important;
  align-items: center !important;
  -moz-box-pack: center !important;
}

unified-extensions-item.no-hover:hover {
  background-color: var(--arrowpanel-faint) !important;
}

.unified-extensions-item-icon {
  height: 16px !important;
  width: 16px !important;
  -moz-context-properties: fill, stroke !important;
  fill: currentColor !important;
  stroke: currentColor !important;
}

.unified-extensions-item-contents {
  display: -moz-box !important;
}

.unified-extensions-item-contents > label {
  margin: 0 !important;
  display: -moz-box !important;
}

.unified-extensions-item-contents > label:is(:-moz-only-whitespace, :empty),
.unified-extensions-item-open-menu {
  min-width: 20px !important;
  min-height: 20px !important;
  padding: 0 !important;
  -moz-box-pack: center !important;
}

.unified-extensions-item-open-menu > .toolbarbutton-icon {
  width: 12px !important;
  height: 12px !important;
}

/* extension icons. matches the icons in uc-extensions.css */
unified-extensions-item::before {
  display: -moz-box;
  width: 16px;
  height: 16px;
  margin-inline-end: 6px;
  flex-shrink: 0;
  align-self: center;
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  -moz-context-properties: fill, stroke;
  fill: currentColor;
  stroke: currentColor;
}

unified-extensions-item[extension-id="treestyletab@piro.sakura.ne.jp"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{7962ff4a-5985-4cf2-9777-4bb642ad05b8}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{762f9885-5a13-4abd-9c77-433dcd38b8fd}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="webapps@mendeley.com"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="@testpilot-containers"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="sort-bookmarks@heftig"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="zotero@chnm.gmu.edu"i] > .unified-extensions-item-icon,
unified-extensions-item:is([extension-id="{64b2c525-24ed-4c05-aed1-95ff9e6cef70}"i], [extension-id="wnpc@aminomancer"i])
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{af37054b-3ace-46a2-ac59-709e4412bec6}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="amazondotcom@aminomancer"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="firefoxadd-ons@aminomancer"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="searchfox@aminomancer"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{0981817c-71b3-4853-a801-481c90af2e8e}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="nordvpnproxy@nordvpn.com"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{3507f56d-2ef5-45c1-b6d7-5297a0ba7642}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="jid1-KKzOGWgsW3Ao4Q@jetpack"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="tab-stash@condordes.net"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="private-bookmarks@rharel"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="jid1-BYcQOfYfmBMd9A@jetpack"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{6540f1c5-ab3d-4eff-9ad2-79a95aec93d5}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{446900e4-71c2-419f-a6a7-df9c091e268b}"i]
  > .unified-extensions-item-icon,
unified-extensions-item:is([extension-id="jid1-93WyvpgvxzGATw@jetpack"i], [extension-id="simple-translate@sienori"i])
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="addon@darkreader.org"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{50b26d0f-7926-482d-8ef8-cc760ea4d4f0}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{6b938c0c-fc53-4f27-805f-619778631082}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="uBlock0@raymondhill.net"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="multithreaded-download-manager@qw.linux-2g64.local"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="secure-proxy@mozilla.com"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{aecec67f-0d10-4fa7-b7c7-609a2db280cf}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{7a7a4a92-a2a0-41d1-9fd7-1e92480d612d}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="notes@mozilla.com"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="private-relay@firefox.com"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="gitzip-firefox-addons@gitzip.org"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{3e0e2f7e-1dde-4fee-ab96-031faa42ec52}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{33d43318-bde8-4b88-9658-4b89629dbc4e}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="bookmark-menu-container@robwu.nl"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{3c078156-979c-498b-8990-85f7987dd929}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="youtube@aminomancer"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="bugzilla@aminomancer"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="libgen@aminomancer"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="mdnwebdocs@aminomancer"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="move_tabs_hotkeys@jmmerz.github"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="sponsorBlocker@ajay.app"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="hide-files-on-github@sindresorhus.com"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="bypasspaywalls@bypasspaywalls"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="@react-devtools"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="angular-devtools@aminomancer"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{8c161eb2-86b5-49e8-8e49-c789821be12e}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="bingtogoogle@louisgrasset.fr"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="jid1-xUfzOsOFlzSOXg@jetpack"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{287dcf75-bec6-4eec-b4f6-71948a2eea29}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{bf855ead-d7c3-4c7b-9f88-9a7e75c0efdf}"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="invert-element@aminomancer"i]
  > .unified-extensions-item-icon {
  display: none !important;
}

unified-extensions-item[extension-id="treestyletab@piro.sakura.ne.jp"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/tree-style-tabs-32.svg);
}

unified-extensions-item[extension-id="{7962ff4a-5985-4cf2-9777-4bb642ad05b8}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/svg-gobbler.svg);
}

unified-extensions-item[extension-id="{762f9885-5a13-4abd-9c77-433dcd38b8fd}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/dislike.svg);
}

unified-extensions-item[extension-id="webapps@mendeley.com"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/mendeley.svg);
}

unified-extensions-item[extension-id="@testpilot-containers"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/skin/container-base.svg);
}

unified-extensions-item[extension-id="sort-bookmarks@heftig"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/skin/sort.svg);
}

unified-extensions-item[extension-id="zotero@chnm.gmu.edu"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/zotero.svg);
}

unified-extensions-item:is([extension-id="{64b2c525-24ed-4c05-aed1-95ff9e6cef70}"i], [extension-id="wnpc@aminomancer"i])::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/rainmeter.svg);
}

unified-extensions-item[extension-id="{af37054b-3ace-46a2-ac59-709e4412bec6}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/search-glass.svg);
}

unified-extensions-item[extension-id="amazondotcom@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/amazon.svg);
}

unified-extensions-item[extension-id="firefoxadd-ons@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/firefoxadd-ons.svg);
}

unified-extensions-item[extension-id="searchfox@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/searchfox.svg);
}

unified-extensions-item[extension-id="{0981817c-71b3-4853-a801-481c90af2e8e}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/devtools/tool-dom.svg);
}

unified-extensions-item[extension-id="nordvpnproxy@nordvpn.com"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/nord.svg);
}

unified-extensions-item[extension-id="nordvpnproxy@nordvpn.com"i][badge]::before {
  fill: var(--toolbarbutton-icon-fill-attention) !important;
}

unified-extensions-item[extension-id="{3507f56d-2ef5-45c1-b6d7-5297a0ba7642}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/skin/controlcenter/3rdpartycookies-disabled.svg);
}

unified-extensions-item[extension-id="jid1-KKzOGWgsW3Ao4Q@jetpack"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/skin/controlcenter/3rdpartycookies.svg);
}

unified-extensions-item[extension-id="tab-stash@condordes.net"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/tabstash-logo.svg);
}

unified-extensions-item[extension-id="private-bookmarks@rharel"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/skin/secure-bookmark-hollow.svg);
}

unified-extensions-item[extension-id="jid1-BYcQOfYfmBMd9A@jetpack"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/pushbullet-solid.svg);
}

unified-extensions-item[extension-id="{6540f1c5-ab3d-4eff-9ad2-79a95aec93d5}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/pushbullet-hollow.svg);
}

unified-extensions-item[extension-id="{446900e4-71c2-419f-a6a7-df9c091e268b}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/bitwarden.svg);
}

unified-extensions-item:is([extension-id="jid1-93WyvpgvxzGATw@jetpack"i], [extension-id="simple-translate@sienori"i])::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/translate.svg);
}

unified-extensions-item[extension-id="addon@darkreader.org"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/darkmode.svg);
}

unified-extensions-item[extension-id="{50b26d0f-7926-482d-8ef8-cc760ea4d4f0}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/devtools/tool-inspector.svg);
}

unified-extensions-item[extension-id="{6b938c0c-fc53-4f27-805f-619778631082}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/skin/link.svg);
}

unified-extensions-item[extension-id="uBlock0@raymondhill.net"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/show-password.svg);
}

unified-extensions-item[extension-id="multithreaded-download-manager@qw.linux-2g64.local"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/downloads/double-download.svg);
}

unified-extensions-item[extension-id="secure-proxy@mozilla.com"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/skin/vpn-off-dark.svg);
}

unified-extensions-item[extension-id="{aecec67f-0d10-4fa7-b7c7-609a2db280cf}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/devtools/tool-webconsole.svg);
}

unified-extensions-item[extension-id="{7a7a4a92-a2a0-41d1-9fd7-1e92480d612d}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/stylus.svg);
}

unified-extensions-item[extension-id="notes@mozilla.com"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/notepad-large.svg);
}

unified-extensions-item[extension-id="private-relay@firefox.com"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/firefox-relay.svg);
}

unified-extensions-item[extension-id="gitzip-firefox-addons@gitzip.org"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/zipper.svg);
}

unified-extensions-item[extension-id="FirefoxColor@mozilla.com"i] > .unified-extensions-item-icon,
unified-extensions-item[extension-id="default-bookmark-folder@gustiaux.com"i]
  > .unified-extensions-item-icon,
unified-extensions-item[extension-id="{30399a05-ba09-4c3c-b828-dbc9bb3ab8b9}"i]
  > .unified-extensions-item-icon {
  filter: grayscale(1) invert(1) brightness(3) !important;
}

unified-extensions-item[extension-id="{3e0e2f7e-1dde-4fee-ab96-031faa42ec52}"i]::before,
unified-extensions-item[extension-id="{33d43318-bde8-4b88-9658-4b89629dbc4e}"i]::before,
unified-extensions-item[extension-id="bookmark-menu-container@robwu.nl"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/extension.svg);
}

unified-extensions-item[extension-id="{3c078156-979c-498b-8990-85f7987dd929}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/sidebery.svg);
}

unified-extensions-item[extension-id="youtube@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/youtube.svg);
}

unified-extensions-item[extension-id="bugzilla@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/bugzilla.svg);
}

unified-extensions-item[extension-id="libgen@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/librarygenesis.svg);
}

unified-extensions-item[extension-id="mdnwebdocs@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/mdnwebdocs.svg);
}

unified-extensions-item[extension-id="move_tabs_hotkeys@jmmerz.github"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/keyboard-command.svg);
}

unified-extensions-item[extension-id="sponsorBlocker@ajay.app"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/sponsorblock.svg);
}

unified-extensions-item[extension-id="hide-files-on-github@sindresorhus.com"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/hide-files-on-github.svg);
}

unified-extensions-item[extension-id="bypasspaywalls@bypasspaywalls"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/bypass-paywalls.svg);
}

unified-extensions-item[extension-id="@react-devtools"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/devtools/sources/react.svg);
}

unified-extensions-item[extension-id="angular-devtools@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/devtools/sources/angular.svg);
}

unified-extensions-item[extension-id="{8c161eb2-86b5-49e8-8e49-c789821be12e}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/devtools/sources/angular-state.svg);
}

unified-extensions-item[extension-id="bingtogoogle@louisgrasset.fr"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/engines/bing-to-google.svg);
}

unified-extensions-item[extension-id="jid1-xUfzOsOFlzSOXg@jetpack"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/filter-css.svg);
}

unified-extensions-item[extension-id="{287dcf75-bec6-4eec-b4f6-71948a2eea29}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/google-view-image.svg);
}

unified-extensions-item[extension-id="{bf855ead-d7c3-4c7b-9f88-9a7e75c0efdf}"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/zoom.svg);
}

unified-extensions-item[extension-id="invert-element@aminomancer"i]::before {
  content: "";
  background-image: url(chrome://userchrome/content/material/invert.svg);
}
