#urlbar-container {
    padding-block: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;
}

:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled]):hover,
.urlbar-icon-wrapper:not([disabled]):hover {
    background-color: var(--desaturate-dimmed) !important;
}

:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled]):is([open], :hover:active),
.urlbar-icon-wrapper:not([disabled]):is([open], :hover:active) {
    background-color: var(--desaturate-dimmed-further) !important;
}

/* urlbar buttons */
/* just looks slightly better imo */
#reader-mode-button {
    padding-inline: 6.5px !important;
}

#page-action-buttons > :not([hidden], toolbartabstop) ~ #pageActionSeparator {
    visibility: collapse !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    opacity: 0.5 !important;
}

#pageActionButton,
.urlbar-page-action,
.share-more-button {
    border-radius: 3px !important;
}

#page-action-buttons > :is(.urlbar-icon, .urlbar-icon-wrapper),
#urlbar-go-button,
#urlbar-zoom-button,
#pocket-button {
    margin-inline-start: 2px !important;
}

#urlbar-go-button,
.urlbar-history-dropmarker {
    border-radius: 3px !important;
    width: 28px !important;
}

.urlbar-history-dropmarker {
    list-style-image: none !important;
    background: url(chrome://global/skin/icons/arrow-dropdown-16.svg) center/18.5px no-repeat !important;
}

/* iffy modification to center urlbar buttons not contained in page action button box */
#urlbar-input-container {
    -moz-box-align: center;
}

#plugins-notification-icon {
    margin-top: 1.4px;
}

.default-notification-icon {
    list-style-image: url(chrome://browser/skin/notification-icons/desktop-notification.svg) !important;
}

#star-button-box[animationsenabled] {
    border-radius: 3px !important;
}

#page-action-buttons {
    margin-right: 2px !important;
}

#urlbar-zoom-button {
    height: 20px !important;
    border-radius: 10px !important;
    border-color: var(--desaturate-dimmed) !important;
    background: rgb(0, 0, 0, 0.09) !important;
    mix-blend-mode: luminosity !important;
    margin-right: 4px !important;
    margin-left: 4px !important;
    -moz-box-ordinal-group: 0 !important;
}

#urlbar-zoom-button:hover {
    background-color: var(--desaturate-dimmed) !important;
    border-color: transparent !important;
    mix-blend-mode: normal !important;
}

.pageAction-panel-button[disabled="true"] {
    display: none !important;
}

/* urlbar input highlight/selection color */
#urlbar input::selection {
    background-color: var(--ui-selection-bgcolor) !important;
    color: var(--ui-selection-color) !important;
}

#tracking-protection-icon-box
    > :is(#tracking-protection-icon-animatable-box, #tracking-protection-icon) {
    margin-inline-start: 0px !important;
}

toolbarpaletteitem[removable="false"]
    #tracking-protection-icon-container:is(:hover, [open="true"])
    #tracking-protection-icon-box:not([animate="true"])
    #tracking-protection-icon {
    display: -moz-box !important;
    fill-opacity: 0.6 !important;
}

toolbarpaletteitem[removable="false"]
    #tracking-protection-icon-container:is(:hover, [open="true"])
    #tracking-protection-icon-box:not([animate="true"])
    #tracking-protection-icon-animatable-box {
    display: none !important;
}

/* #tracking-protection-icon-container:not([open="true"]):not(:hover) #tracking-protection-icon-box:not([animate="true"], [active]) #tracking-protection-icon {
    display: -moz-box !important;
}

#tracking-protection-icon-container:not([open="true"]):not(:hover) #tracking-protection-icon-box:not([animate="true"], [active]) #tracking-protection-icon-animatable-box {
    display: none !important;
}

#tracking-protection-icon-container[open="true"] #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container:hover #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container #tracking-protection-icon-box[animate="true"] #tracking-protection-icon-animatable-box {
    filter: brightness(1.15) saturate(1.5) contrast(1.15) !important;
} */

/* #tracking-protection-icon-container #tracking-protection-icon-box[active]:not([animate]) #tracking-protection-icon-animatable-box {
    filter: brightness(1.15) saturate(1.5) contrast(1.15) !important;
} */

#urlbar-input-container
    > #tracking-protection-icon-container:not([hidden])
    > #tracking-protection-icon-box[hasException]
    > #tracking-protection-icon {
    list-style-image: url(chrome://browser/skin/tracking-protection-disabled.svg) !important;
}

#tracking-protection-icon-container:is([open="true"], :hover)
    #tracking-protection-icon-box[active]:not([animate], [hasException])
    #tracking-protection-icon-animatable-box {
    display: block !important;
}

#tracking-protection-icon-container:not([open="true"], :hover)
    #tracking-protection-icon-box[active]:not([animate])
    #tracking-protection-icon {
    display: -moz-box !important;
    fill: hsl(218, 100%, 72%) !important;
    fill-opacity: 1 !important;
}

#tracking-protection-icon-container:not([open="true"], :hover)
    #tracking-protection-icon-box[active]:not([animate], [hasException])
    #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container:is([open="true"], :hover)
    #tracking-protection-icon-box[active]:not([animate], [hasException])
    #tracking-protection-icon {
    display: none !important;
}

#identity-box:is(:hover:active, [open="true"], :hover:not([open="true"])),
#identity-icon-box,
.identity-box-button {
    background-color: transparent !important;
}

#identity-icon-box[open="true"] #identity-icon,
#identity-icon-box:is(:hover:active, :hover:not([open="true"])) #identity-icon:hover {
    fill: var(--lwt-toolbarbutton-icon-fill, currentColor) !important;
    fill-opacity: 1 !important;
}

#urlbar[pageproxystate="valid"]
    #identity-box:is(.verifiedDomain, .verifiedIdentity, .mixedActiveBlocked)
    #identity-icon-box[open="true"]
    #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box:is(.verifiedDomain, .verifiedIdentity, .mixedActiveBlocked)
    #identity-icon-box:is(:hover:active, :hover:not([open="true"]))
    #identity-icon:hover {
    fill: var(--secure-color) !important;
    fill-opacity: 1 !important;
}

#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover
    #identity-icon-box:not([open="true"])
    > #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover:active
    #identity-icon-box
    > #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI
    #identity-icon-box[open="true"]
    > #identity-icon {
    list-style-image: url("chrome://branding/content/about-logo.png") !important;
}

#tracking-protection-icon-container[hidden]
    ~ #identity-box[pageproxystate="valid"].notSecure:not(.chromeUI, .localResource)
    #identity-icon {
    list-style-image: url("data:image/svg+xml;utf8,<svg height='1792' viewBox='-40 0 1792 1792' width='1792' xmlns='http://www.w3.org/2000/svg'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M896 786h725q12 67 12 128 0 217-91 387.5t-259.5 266.5-386.5 96q-157 0-299-60.5t-245-163.5-163.5-245-60.5-299 60.5-299 163.5-245 245-163.5 299-60.5q300 0 515 201l-209 201q-123-119-306-119-129 0-238.5 65t-173.5 176.5-64 243.5 64 243.5 173.5 176.5 238.5 65q87 0 160-24t120-60 82-82 51.5-87 22.5-78h-436v-264z'/></svg>") !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI {
    padding: 0 !important;
    margin: 0 !important;
    margin-inline-end: 6px !important;
    border-image: none !important;
    border-right: 1px solid transparent !important;
    border-image-slice: 1;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI #identity-icon-box {
    background-color: var(--identity-box-solid-bg) !important;
    padding-inline-end: 5px !important;
    padding-inline-start: 8px !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover #identity-icon-box:not([open="true"]),
#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover:active #identity-icon-box,
#urlbar[pageproxystate="valid"] #identity-box.chromeUI #identity-icon-box[open="true"] {
    background-color: var(--identity-box-hover-bg) !important;
}

#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover
    #identity-icon-box:not([open="true"])
    > #identity-icon-label,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover:active
    #identity-icon-box
    > #identity-icon-label,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI
    #identity-icon-box[open="true"]
    > #identity-icon-label {
    opacity: 1 !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI #notification-popup-box {
    opacity: 0 !important;
    display: block !important;
    position: absolute !important;
    pointer-events: none !important;
    top: 7px !important;
    padding-inline: 1px !important;
}

#urlbar[pageproxystate="invalid"] #identity-box {
    padding-inline-start: 4px;
}

#identity-icon-label,
#identity-box.chromeUI #identity-icon-label {
    height: var(--urlbar-height);
    padding-block: 6.6px !important;
}

#identity-box.notSecureText #identity-icon-label {
    color: var(--insecure-text-color) !important;
    display: none !important;
}

#identity-box.verifiedIdentity #identity-icon-label,
#identity-box:not(.chromeUI) #identity-icon-label {
    display: none !important;
}

/* remove little border between identity icon and url */
#identity-box:is(.notSecureText, .verifiedIdentity),
#urlbar-display-box {
    border: none !important;
}

#tracking-protection-icon-container {
    margin-inline: 6px 7px !important;
    padding-inline: 1px !important;
    border: none !important;
    background: none !important;
}

#tracking-protection-icon {
    list-style-image: url(chrome://browser/skin/tracking-protection.svg);
}

#tracking-protection-icon-container::after {
    display: none !important;
}

#identity-box[pageproxystate="valid"]:is(.notSecureText, .verifiedIdentity .extensionPage) {
    padding-inline-end: 6px !important;
    margin-inline-end: 2px !important;
}

.identity-popup-security-connection {
    background-position: 2.1em 50% !important;
}

/* connection security popup yellow "parts of this page" warning styling */
.identity-popup-warning-yellow {
    color: var(--warning-color) !important;
    background-color: transparent !important;
    border: none !important;
}

#identity-popup-mainView
    > #identity-popup-security
    > .identity-popup-security-content
    > .identity-popup-security-connection {
    background-position: 2.05em 40% !important;
    background-size: 18px auto !important;
}

/* url bar popups */
#identity-popup,
#protections-popup,
.popup-notification-panel {
    fill: currentColor;
    -moz-context-properties: fill, fill-opacity, opacity, stroke, stroke-opacity !important;
    margin-top: calc(var(--toolbarbutton-inner-padding) - 4px) !important;
}

/* #protections-popup {
    margin-left: -17px !important;
} */

#identity-popup[connection^="secure"] .identity-popup-security-connection,
:root[lwt-popup-brighttext] .identity-popup-connection-secure {
    /*   fill: hsl(114, 100%, 37%) !important; */
    fill: var(--secure-color) !important;
    color: var(--secure-color) !important;
}

#protections-popup-mainView-panel-header-section {
    background: radial-gradient(
        circle farthest-side at top right,
        hsl(318, 73%, 69%),
        hsl(265, 100%, 69%),
        hsl(217, 90%, 39%)
    ) !important;
}

#protections-popup-milestones {
    border-radius: 4px !important;
    overflow: hidden !important;
    background: radial-gradient(
        circle farthest-side at top left,
        hsla(318, 73%, 69%, 0.1),
        hsla(265, 100%, 69%, 0.25),
        hsla(217, 90%, 39%, 0.5)
    ) !important;
}

#protections-popup-milestones-content {
    border-radius: 4px !important;
}

#identity-popup-security-expander > .button-box {
    border: none !important;
}

#protections-popup-not-blocking-section-why {
    border-radius: 0.1% !important;
}

.identity-popup-warning-box {
    border-radius: 4px !important;
    border-color: transparent !important;
}

.identity-popup-section {
    -moz-box-align: center;
}

.identity-popup-expander {
    width: min-content !important;
    height: min-content !important;
    padding: 10px !important;
    background-clip: content-box !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.identity-popup-expander .button-box {
    border-radius: var(--toolbarbutton-border-radius);
    width: 32px;
    height: 32px;
}

.identity-popup-expander:hover .button-box {
	background-color: var(--arrowpanel-dimmed);
}

.identity-popup-expander:hover:active .button-box {
	background-color: var(--arrowpanel-dimmed-further);
}

.panel-header > .subviewbutton-back {
	list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
	padding: 0 !important;
    width: 32px !important;
    height: 32px !important;
}

.panel-header > .subviewbutton-back > .toolbarbutton-icon {
    width: 16px !important;
    height: auto !important;
}

#identity-popup-multiView .panel-button {
    appearance: none !important;
    color: currentColor !important;
    fill: currentColor !important;
    background-color: var(--arrowpanel-dimmed) !important;
    border-radius: 3px !important;
    padding: 0.15em 0.4em !important;
    align-self: center !important;
}

#identity-popup-multiView .panel-button:not([disabled]):is(:hover:active, [open]) {
    background-color: var(--arrowpanel-dimmed-even-further) !important;
}

#identity-popup-multiView .panel-button:not([disabled]):hover {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

#identity-popup-multiView .panel-button:not([disabled]) {
    background-color: var(--arrowpanel-dimmed) !important;
}

#identity-popup-multiView .panel-button[disabled="true"] {
    opacity: 0.6 !important;
    pointer-events: none !important;
}

/* put animated colored tracking protection icon on every site */
/* #tracking-protection-icon-box:not([animationsenabled]):not([animate="true"]):not([hasException])>#tracking-protection-icon-animatable-box,
#tracking-protection-icon-box:not([animate="true"]):not([hasException])>#tracking-protection-icon-animatable-box {
    display: block !important;
}

#tracking-protection-icon-box:not([animationsenabled]):not([animate="true"]):not([hasException])>#tracking-protection-icon,
#tracking-protection-icon-box:not([animate="true"]):not([hasException])>#tracking-protection-icon {
    display: none !important;
}

#tracking-protection-icon-box:not([animate="true"]):not([hasException]) #tracking-protection-icon-animatable-image {
    background-image: url("chrome://browser/skin/tracking-protection-animation-brighttext.svg");
}

#tracking-protection-icon-box:not([animate="true"]):not([hasException]) #tracking-protection-icon-animatable-image {
    background-image: url("chrome://browser/skin/tracking-protection-animation-brighttext.svg");
    transform: translateX(-256px);
    width: 272px;
    background-size: auto;
    height: 16px;
    min-height: 16px;
    -moz-context-properties: fill, fill-opacity;
} */
/* 
#tracking-protection-icon-box[hasException]::before {
    background: url("chrome://browser/skin/badge-blue.svg");
    content: "";
    position: absolute !important;
    bottom: 8.5px !important;
    right: -3.5px !important;
    height: 14px !important;
    width: 14px !important;
} */

/* hide tracking protection icon on new tab page, and show search identity icon. again, message u/MotherStylus if you want my tab notes addon. */
#main-window[title="Tab Notes - Firefox Nightly"] #tracking-protection-icon-container {
    visibility: collapse;
}

#urlbar-input::placeholder {
    opacity: 0.4 !important;
    color: var(--toolbar-color) !important;
}

#urlbar[focused="true"] .urlbar-input-box > #urlbar-input::placeholder {
    opacity: 0.65 !important;
}

@-moz-document url("chrome://browser/content/webrtcIndicator.xul")
{
    :root {
        display: none !important;
    }
}

/* iffy fix for wide invisible urlbar blocking bookmarks button pointer events */
#urlbar {
    pointer-events: none;
}

#urlbar * {
    pointer-events: auto;
}

/* searchbar */
#searchbar {
    height: 33px !important;
    border: none !important;
}

#PopupSearchAutoComplete {
    margin-top: 3.5px !important;
    border: none !important;
}

#urlbar-background {
    display: none !important;
}

#urlbar > #urlbar-input-container {
    border: none !important;
}

#urlbar > #urlbar-input-container > #urlbar-search-icon {
    display: none;
}

#urlbar > #urlbar-input-container > #identity-box[pageproxystate="invalid"] {
    display: -moz-box !important;
}

#urlbar #urlbar-input {
    height: var(--urlbar-height) !important;
}

#urlbar[pageproxystate="valid"] #identity-box.extensionPage {
    display: -moz-box !important;
}

#urlbar-input-container[pageproxystate="invalid"] > #tracking-protection-icon-container {
    visibility: visible !important;
}

#tracking-protection-icon-container[hidden] {
    display: -moz-box !important;
}

#identity-box:is(:not(.chromeUI), [pageproxystate="invalid"]) {
    margin-inline-start: -8px !important;
    padding-inline-start: 0px !important;
}

#identity-box:not(.chromeUI) #identity-icon-box {
    margin-inline-start: 2px !important;
    margin-inline-end: -3px !important;
}

#identity-box.unknownIdentity #identity-icon-box {
    margin-inline-end: -3px !important;
}

#identity-box {
    padding-inline-end: 6px !important;
    margin-inline-end: 2px !important;
}

#identity-icon-box {
    margin-inline-end: 0 !important;
    padding-inline: 0 !important;
    max-width: unset !important;
}

.identity-box-button {
    padding-inline: unset !important;
}

#identity-box.extensionPage {
    border: none !important;
    border-image: none !important;
    pointer-events: none !important;
    -moz-user-focus: ignore !important;
}

#identity-box.extensionPage :is(#identity-icon, #identity-icon-box) {
    pointer-events: none !important;
}

#identity-box,
#tracking-protection-icon-container {
    fill-opacity: 0.6 !important;
}

#tracking-protection-icon-container:is([open="true"], :hover:not([open="true"])) {
    background-color: transparent !important;
    fill-opacity: 1 !important;
}

#tracking-protection-icon-container:is([open="true"], :hover:not([open="true"]))
    #tracking-protection-icon-box {
    fill-opacity: 1 !important;
    fill: hsl(275, 100%, 75%) !important;
}

#tracking-protection-icon-container:is([open="true"], :hover:not([open="true"]))
    #tracking-protection-icon-box[hasException] {
    fill-opacity: 1 !important;
    fill: hsl(229, 100%, 75%) !important;
}

#identity-box.extensionPage #identity-icon,
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon {
    fill-opacity: 0.6 !important;
    list-style-image: url("data:image/svg+xml;utf8,<svg height='1792' viewBox='-40 0 1792 1792' width='1792' xmlns='http://www.w3.org/2000/svg'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M896 786h725q12 67 12 128 0 217-91 387.5t-259.5 266.5-386.5 96q-157 0-299-60.5t-245-163.5-163.5-245-60.5-299 60.5-299 163.5-245 245-163.5 299-60.5q300 0 515 201l-209 201q-123-119-306-119-129 0-238.5 65t-173.5 176.5-64 243.5 64 243.5 173.5 176.5 238.5 65q87 0 160-24t120-60 82-82 51.5-87 22.5-78h-436v-264z'/></svg>") !important;
}

#identity-box[pageproxystate="valid"].localResource #identity-icon {
    padding: 0.75px !important;
}

#identity-box.extensionPage #identity-icon-box,
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box {
    margin-inline-start: 2px !important;
    margin-inline-end: -3px !important;
}

#urlbar[pageproxystate="valid"] #tracking-protection-icon-container.chromeUI {
    display: none !important;
}

#urlbar-input {
    font-size: 14px !important;
    margin-inline-start: -0.6px !important;
}

#identity-box.chromeUI ~ .urlbar-input-box > #urlbar-input {
    margin-inline-start: -0.6px !important;
}

#identity-box:is(:not(.chromeUI), [pageproxystate="invalid"]),
#tracking-protection-icon-container {
    margin-top: 0.6px !important;
}

#tracking-protection-icon {
    margin-inline-start: 6px !important;
}

#identity-permission-box {
    margin-inline-start: 7px !important;
    margin-inline-end: -1.6px !important;
}

#notification-popup-box {
    padding-inline-end: 0 !important;
}

#notification-popup-box {
    margin-right: -2px !important;
    margin-left: 2px !important;
}

#permission-popup {
    margin-top: 1px !important;
}

#identity-box[pageproxystate="invalid"] .sharing-icon {
    display: none !important;
}

#webrtc-sharing-icon {
    fill-opacity: 0.6 !important;
    fill: white !important;
    animation: none !important;
}

#webrtc-sharing-icon:hover {
    fill-opacity: 1 !important;
    fill: hsl(3.7, 77.1%, 49.6%) !important;
    animation: 1.5s ease identity-popup-permission-icon-in-use-blink infinite !important;
}

#identity-permission-box,
#permissions-granted-icon,
#blocked-permissions-container,
#notification-popup-box,
#remote-control-icon {
    fill-opacity: 0.6 !important;
}

#identity-box:hover:not(.no-hover):not([open="true"]),
#notification-popup-box:hover,
#tracking-protection-icon-container:hover:not([open="true"]) {
    background-color: unset !important;
}

#permissions-granted-icon:hover,
.sharing-icon:hover,
#blocked-permissions-container > :hover,
#notification-popup-box > :hover,
#remote-control-icon:hover,
#identity-permission-box[open="true"] #permissions-granted-icon,
#identity-permission-box[open="true"] .sharing-icon,
#identity-permission-box[open="true"] #blocked-permissions-container > *,
#notification-popup-box > [open],      /* for this selector to do anything, you need urlbarNotificationIconsOpenStatus.uc.js from my repo */
#identity-box[open="true"] #remote-control-icon {
    fill-opacity: 1 !important;
}

#notification-popup menulist {
    color: var(--notification-menu-color) !important;
}

#urlbar[searchmode] #tracking-protection-icon-container,
#urlbar[actiontype="switchtab"]:not([actionoverride="true"]) #tracking-protection-icon-container {
    display: none !important;
}

#urlbar[searchmode][actiontype="switchtab"] #urlbar-label-switchtab {
    display: none !important;
}

#urlbar[searchmode] > #urlbar-input-container > #identity-box,
#urlbar[actiontype="switchtab"]:not([actionoverride="true"])
    > #urlbar-input-container
    > #identity-box {
    background: none !important;
    padding-inline-start: 8px !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
    height: var(--urlbar-height) !important;
    margin-top: 0 !important;
    padding-inline-end: 0 !important;
}

#urlbar[searchmode] > #urlbar-input-container > #identity-box #identity-icon,
#urlbar[actiontype="switchtab"]:not([actionoverride="true"])
    > #urlbar-input-container
    > #identity-box
    #identity-icon {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

#urlbar[searchmode] #identity-box #identity-icon-box,
#urlbar[pageproxystate="invalid"][searchmode] #identity-box #identity-icon-box {
    margin-inline: 0 !important;
}

#urlbar-label-box,
#urlbar-search-mode-indicator {
    background-color: var(--identity-box-solid-bg) !important;
    margin-inline-end: 6px !important;
    padding-inline-end: 5px !important;
    border-radius: 0px !important;
    outline: none !important;
    -moz-outline-radius: 2px !important;
    margin-inline-start: -24px !important;
    margin-inline-end: 6px !important;
    font-size: 14px !important;
    min-width: 16px !important;
    align-items: center !important;
    height: var(--urlbar-height) !important;
    padding-block: calc((var(--urlbar-height) - 19px) / 2) !important;
    padding-inline: 28px 5px !important;
    border: none !important;
    border-right: 1px solid transparent !important;
}

#urlbar-search-mode-indicator-close {
    display: none !important;
    pointer-events: none !important;
}

#urlbar-label-box .urlbar-label,
#urlbar-search-mode-indicator-title,
#urlbar-label-switchtab {
    color: var(--lwt-toolbar-field-color, black) !important;
    opacity: 0.6 !important;
    padding-inline: 0px !important;
    font-size: 14px !important;
}
