#urlbar,
.searchbar-textbox {
    border: none !important;
    box-shadow: none !important;
    min-height: var(--urlbar-height) !important;
}

#urlbar-container {
    margin-inline: 3px !important;
    padding-block: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;
}

toolbarpaletteitem[place="palette"] > #search-container {
    min-height: 32px !important;
    max-height: 32px !important;
    padding-block: 0 !important;
    margin-block: 5px !important;
}

#nav-bar-customization-target #search-container {
    padding-block: 0 !important;
    height: var(--urlbar-container-height) !important;
    min-height: var(--urlbar-container-height) !important;
    margin-inline: 0 !important;
}

#nav-bar-customization-target #searchbar {
    box-shadow: none !important;
    -moz-box-align: center;
    border-radius: 5px !important;
    background-clip: content-box !important;
    border: 3px solid transparent !important;
}

#urlbar-search-splitter {
    min-width: 3px !important;
    margin-inline: -3px !important;
}

#PopupSearchAutoComplete {
    margin-top: 0.5px !important;
    border: none !important;
    background: var(--urlbar-results-bgcolor) !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
    font-size: 1.04em !important;
}

#PopupSearchAutoComplete .search-panel-tree {
    margin-inline: var(--arrowpanel-menuitem-inline-margin) !important;
}

#PopupSearchAutoComplete .autocomplete-richlistitem {
    padding-block: 6px !important;
    min-height: 32px;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

#PopupSearchAutoComplete .autocomplete-richlistitem .ac-title-text {
    font-weight: 500 !important;
    font-style: normal !important;
    color: var(--panel-shortcut-color);
}

.urlbarView-row[has-action][selected] .urlbarView-title strong,
.urlbarView-row[has-action][selected] .urlbarView-title[isurl],
.urlbarView-row[has-url][selected] .urlbarView-title {
    color: var(--panel-shortcut-focus);
}

#PopupSearchAutoComplete .autocomplete-richlistitem .ac-emphasize-text {
    color: var(--lwt-toolbar-field-color);
}

#PopupSearchAutoComplete .ac-type-icon {
    -moz-context-properties: fill, fill-opacity !important;
    fill: var(--panel-description-color) !important;
}

#PopupSearchAutoComplete
    .search-panel-tree
    > .autocomplete-richlistitem:is([originaltype="datalist-first"], [originaltype="null"])
    > .ac-type-icon {
    list-style-image: url(chrome://userchrome/content/search-glass.svg);
    fill-opacity: 0.6;
}

#PopupSearchAutoComplete .search-panel-current-engine {
    padding: 6px 12px !important;
}

#PopupSearchAutoComplete .search-panel-current-engine > label {
    color: var(--panel-shortcut-color) !important;
    opacity: 1 !important;
}

#PopupSearchAutoComplete .searchbar-engine-image[src="moz-extension://cd4aad93-9726-49dd-a5cd-9e5f5c4d76f4/favicon.ico"]
{
    background-image: url(chrome://userchrome/content/engines/google-color.svg) !important;
    padding-inline: 0 16px !important;
}

#searchbar .urlbar-icon {
    margin-right: 2px !important;
}

#searchbar .searchbar-search-icon {
    fill-opacity: var(--urlbar-icon-fill-opacity) !important;
    fill: currentColor !important;
    margin-inline: 8px 4px !important;
    padding: 0.6px !important;
}

#searchbar .searchbar-search-icon-overlay {
    display: none !important;
}

#searchbar:not(:focus-within) .searchbar-search-icon {
    fill-opacity: 0.4 !important;
}

#searchbar .searchbar-search-button:hover > .searchbar-search-icon {
    fill-opacity: 0.8 !important;
}

#searchbar:focus-within .searchbar-search-button:hover > .searchbar-search-icon {
    fill-opacity: 1 !important;
}

#PopupSearchAutoComplete {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

#urlbar-input-container,
#searchbar {
    background-color: var(--urlbar-input-bgcolor) !important;
    margin-top: 0 !important;
}

#urlbar:is([focused="true"], :focus-within) > #urlbar-input-container,
#searchbar:is(:focus-within, :focus-visible) {
    background-color: var(--urlbar-input-bgcolor-even-brighter) !important;
}

:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled]):hover,
.urlbar-icon-wrapper:not([disabled]):hover {
    background-color: var(--desaturate-dimmed) !important;
}

.urlbar-icon:focus-visible,
.urlbar-icon-wrapper:focus-visible {
    outline: unset !important;
    outline-offset: unset !important;
    -moz-outline-radius: unset !important;
    background-color: var(--desaturate-checked-background) !important;
}

:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled]):is([open], :hover:active),
.urlbar-icon-wrapper:not([disabled]):is([open], :hover:active) {
    background-color: var(--desaturate-dimmed-further) !important;
}

/* urlbar buttons */
/* just looks slightly better imo */
#reader-mode-button {
    padding-inline: 6.5px !important;
}

.urlbar-page-action {
    filter: none !important;
}

#page-action-buttons > :not([hidden], toolbartabstop) ~ #pageActionSeparator {
    visibility: collapse !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    opacity: 0.5 !important;
}

#page-action-buttons > :is(.urlbar-icon, .urlbar-icon-wrapper),
#urlbar-go-button,
#urlbar-zoom-button,
#pocket-button {
    margin-inline-start: 2px !important;
}

.urlbar-history-dropmarker {
    list-style-image: none !important;
    background: url(chrome://userchrome/content/arrow-dropdown-16.svg) center/18.5px no-repeat !important;
}

/* iffy modification to center urlbar buttons not contained in page action button box */
#urlbar-input-container {
    -moz-box-align: center;
    z-index: 11;
}

#plugins-notification-icon {
    margin-top: 1.4px;
}

.default-notification-icon {
    list-style-image: url(chrome://userchrome/content/notifications/desktop-notification.svg) !important;
}

#page-action-buttons {
    margin-inline-end: calc(var(--urlbar-container-padding) + 1px) !important;
}

#urlbar-zoom-button {
    height: 20px !important;
    border-radius: 10px !important;
    border: 1px solid var(--desaturate-dimmed) !important;
    background: rgb(0, 0, 0, 0.09) !important;
    margin-inline-end: 4px !important;
    padding: 1px 8px !important;
}

#urlbar-zoom-button .toolbarbutton-text {
    height: 20px !important;
}

#urlbar-zoom-button:hover {
    background-color: var(--desaturate-dimmed) !important;
    border-color: transparent !important;
    mix-blend-mode: normal !important;
}

.pageAction-panel-button[disabled="true"] {
    display: none !important;
}

/* urlbar input highlight/selection color */
#urlbar input::selection {
    background-color: var(--ui-selection-bgcolor) !important;
    color: var(--ui-selection-color) !important;
}

#tracking-protection-icon-box
    > :is(#tracking-protection-icon-animatable-box, #tracking-protection-icon) {
    margin-inline-start: 0px !important;
}

toolbarpaletteitem[removable="false"]
    #tracking-protection-icon-container:is(:hover, [open="true"])
    #tracking-protection-icon-box:not([animate="true"])
    #tracking-protection-icon {
    display: -moz-box !important;
    fill-opacity: var(--urlbar-icon-fill-opacity) !important;
}

toolbarpaletteitem[removable="false"]
    #tracking-protection-icon-container:is(:hover, [open="true"])
    #tracking-protection-icon-box:not([animate="true"])
    #tracking-protection-icon-animatable-box {
    display: none !important;
}

/* #tracking-protection-icon-container:not([open="true"]):not(:hover) #tracking-protection-icon-box:not([animate="true"], [active]) #tracking-protection-icon {
    display: -moz-box !important;
}

#tracking-protection-icon-container:not([open="true"]):not(:hover) #tracking-protection-icon-box:not([animate="true"], [active]) #tracking-protection-icon-animatable-box {
    display: none !important;
}

#tracking-protection-icon-container[open="true"] #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container:hover #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container #tracking-protection-icon-box[animate="true"] #tracking-protection-icon-animatable-box {
    filter: brightness(1.15) saturate(1.5) contrast(1.15) !important;
} */

/* #tracking-protection-icon-container #tracking-protection-icon-box[active]:not([animate]) #tracking-protection-icon-animatable-box {
    filter: brightness(1.15) saturate(1.5) contrast(1.15) !important;
} */

#tracking-protection-icon {
    display: -moz-box !important;
    list-style-image: url(chrome://userchrome/content/material/tracking.svg) !important;
}

#tracking-protection-icon-box[hasException] > #tracking-protection-icon {
    list-style-image: url(chrome://userchrome/content/material/tracking-disabled.svg) !important;
}

#tracking-protection-icon-box:not([hasException])[active] > #tracking-protection-icon {
    list-style-image: url(chrome://userchrome/content/material/tracking-attention.svg) !important;
}

#tracking-protection-icon-animatable-box {
    display: none !important;
}

#identity-icon {
    list-style-image: url(chrome://userchrome/content/identity-icon.svg) !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    list-style-image: url(chrome://userchrome/content/identity-icons-brand.svg) !important;
}

#identity-box[pageproxystate="valid"].localResource #identity-icon {
    list-style-image: url(chrome://userchrome/content/notifications/persistent-storage.svg) !important;
}

#urlbar[actiontype="extension"] > #urlbar-input-container > #identity-box #identity-icon,
#identity-box.extensionPage[pageproxystate="valid"] #identity-icon {
    list-style-image: url(chrome://userchrome/content/material/extension-identity.svg) !important;
}

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    list-style-image: url(chrome://userchrome/content/skin/connection-secure.svg) !important;
}

#identity-box[pageproxystate="valid"].weakCipher #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContent #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked #identity-icon,
#identity-box[pageproxystate="valid"].certUserOverridden #identity-icon,
#identity-box[pageproxystate="valid"].certErrorPage #identity-icon {
    list-style-image: url(chrome://userchrome/content/connection-mixed-passive-loaded.svg) !important;
    fill: unset !important;
}

#identity-box[pageproxystate="valid"].notSecure #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon {
    list-style-image: url(chrome://userchrome/content/connection-mixed-active-loaded.svg) !important;
    fill: unset !important;
}

#identity-box:is(:hover:active, [open="true"], :hover:not([open="true"])),
#identity-icon-box,
.identity-box-button {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"]
    #identity-icon-box:is([open="true"], :focus-visible)
    #identity-icon,
#identity-box[pageproxystate="valid"]
    #identity-icon-box:is(:hover:active, :hover:not([open="true"]))
    #identity-icon:hover {
    fill: var(--lwt-toolbarbutton-icon-fill, currentColor) !important;
    fill-opacity: 1 !important;
}

#urlbar[pageproxystate="valid"]
    #identity-box:is(.verifiedDomain, .verifiedIdentity, .mixedActiveBlocked)
    #identity-icon-box:is([open="true"], :focus-visible)
    #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box:is(.verifiedDomain, .verifiedIdentity, .mixedActiveBlocked)
    #identity-icon-box:is(:hover:active, :hover:not([open="true"]))
    #identity-icon:hover {
    fill: var(--secure-color) !important;
    fill-opacity: 1 !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon-label,
#identity-box[pageproxystate="valid"].extensionPage #identity-icon-label {
    opacity: 0.6 !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI #identity-icon {
    list-style-image: url(chrome://userchrome/content/identity-icons-brand.svg) !important;
}

#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover
    #identity-icon-box:not([open="true"])
    > #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover:active
    #identity-icon-box
    > #identity-icon,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI
    #identity-icon-box:is([open="true"], :focus-visible)
    > #identity-icon {
    list-style-image: url(chrome://userchrome/content/about-logo.png) !important;
    filter: var(--lwt-raster-icon-filter);
}

:root {
    --lwt-raster-icon-filter: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --lwt-raster-icon-filter: brightness(1.1) contrast(0.9) saturate(0.9);
    }
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI {
    padding-inline: 8px !important;
    margin: 0 !important;
    border: none !important;
    background-color: var(--identity-box-solid-bg) !important;
    border-right: 1px solid var(--desaturate-dimmed) !important;
}

#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover
    #identity-icon-box:not([open="true"])
    > #identity-icon-label,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI:hover:active
    #identity-icon-box
    > #identity-icon-label,
#urlbar[pageproxystate="valid"]
    #identity-box.chromeUI
    #identity-icon-box:is([open="true"], :focus-visible)
    > #identity-icon-label {
    opacity: 1 !important;
}

:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar[pageproxystate="invalid"]
    #tracking-protection-icon-container {
    display: none !important;
}

:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar:not([searchmode], [actiontype="switchtab"]:not([actionoverride="true"]))
    #tracking-protection-icon-container[hidden]
    ~ #identity-box:not(.chromeUI),
:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar[pageproxystate="invalid"]:not([searchmode], [actiontype="switchtab"]:not([actionoverride="true"]))
    #identity-box {
    padding: 0 !important;
    margin: 0 !important;
    margin-inline: 0 2px !important;
    padding-inline: 6px 2px !important;
}

:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar:not([searchmode], [actiontype="switchtab"]:not([actionoverride="true"]))
    #tracking-protection-icon-container[hidden]:not([view-source])
    ~ #identity-box:not(.chromeUI, .localResource, .httpsOnlyErrorPage, .unknownIdentity)[pageproxystate="valid"]
    #identity-icon-box,
:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar[pageproxystate="invalid"]:not([searchmode], [actiontype="switchtab"]:not([actionoverride="true"]))
    #identity-box:not(.httpsOnlyErrorPage, .unknownIdentity)
    #identity-icon-box {
    pointer-events: none !important;
}

:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar:not([searchmode], [actiontype="switchtab"]:not([actionoverride="true"]))
    #tracking-protection-icon-container[hidden]
    ~ #identity-box:not(.chromeUI, .httpsOnlyErrorPage, .unknownIdentity)
    #identity-icon-box,
:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar[pageproxystate="invalid"]:not([searchmode], [actiontype="switchtab"]:not([actionoverride="true"]))
    #identity-box:not(.httpsOnlyErrorPage, .unknownIdentity)
    #identity-icon-box {
    margin-inline: 2px -3px !important;
}

:root[hide-tp-icon-on-ntp]:not([customizing])
    #urlbar:not([searchmode], [usertyping="true"], [focused="true"])
    #tracking-protection-icon-container[hidden]:not([view-source])
    ~ #identity-box:not(.chromeUI, .localResource, .httpsOnlyErrorPage, .unknownIdentity)
    #identity-icon {
    fill-opacity: 0.4 !important;
}

#identity-icon-label,
#identity-box.chromeUI #identity-icon-label {
    height: var(--urlbar-height);
    padding-block: 6.6px !important;
}

#identity-box.notSecureText #identity-icon-label {
    color: var(--warning-color) !important;
}

/* uncomment the first line if you want the "not secure" label */
/* #tracking-protection-icon-container[hidden] ~ */
#identity-box:not(.chromeUI[pageproxystate="valid"]) #identity-icon-label {
    display: none !important;
}

#tracking-protection-icon-container {
    margin-inline: 6px 7px !important;
    padding-inline: 1.5px 1px !important;
    border: none !important;
    background: none !important;
}

#tracking-protection-icon-container::after {
    display: none !important;
}

#urlbar-input {
    padding-left: 4px !important;
}

#urlbar[searchmode] #urlbar-input,
#identity-box.chromeUI[pageproxystate="valid"] ~ .urlbar-input-box #urlbar-input {
    padding-left: 7px !important;
}

#urlbar-input::placeholder,
.searchbar-textbox::placeholder {
    opacity: 0.4 !important;
    color: var(--toolbar-color) !important;
}

#urlbar[focused="true"] #urlbar-input::placeholder,
.searchbar-textbox:focus::placeholder {
    opacity: var(--urlbar-icon-fill-opacity) !important;
}

@-moz-document url("chrome://browser/content/webrtcIndicator.xul")
{
    :root {
        display: none !important;
    }
}

#urlbar > #urlbar-input-container {
    border: none !important;
}

#urlbar > #urlbar-input-container > #urlbar-search-icon {
    display: none;
}

#urlbar > #urlbar-input-container > #identity-box[pageproxystate="invalid"] {
    display: -moz-box !important;
}

#urlbar #urlbar-input {
    height: var(--urlbar-height) !important;
}

#urlbar[pageproxystate="valid"] #identity-box.extensionPage {
    display: -moz-box !important;
}

#urlbar-input-container[pageproxystate="invalid"] > #tracking-protection-icon-container {
    visibility: visible !important;
}

:root:not([hide-tp-icon-on-ntp]) #tracking-protection-icon-container[hidden] {
    display: -moz-box !important;
    pointer-events: none !important;
}

#identity-box:is(:not(.chromeUI), [pageproxystate="invalid"]) {
    margin-inline-start: -8px !important;
    padding-inline-start: 0px !important;
}

#identity-box:not(.chromeUI) #identity-icon-box {
    margin-inline-start: 2px !important;
    margin-inline-end: -3px !important;
}

#identity-box.unknownIdentity #identity-icon-box {
    margin-inline-end: -3px !important;
}

#identity-box {
    margin-inline-end: 3px !important;
}

#identity-icon-box {
    margin-inline-end: 0 !important;
    padding-inline: 0 !important;
    max-width: unset !important;
    border-radius: 0 !important;
}

.identity-box-button {
    padding-inline: unset !important;
}

#identity-box,
#tracking-protection-icon-container {
    fill-opacity: var(--urlbar-icon-fill-opacity) !important;
    height: var(--urlbar-height) !important;
}

#identity-box.chromeUI[pageproxystate="valid"] {
    height: var(--urlbar-height) !important;
}

#identity-box[pageproxystate="invalid"] :is(#identity-icon-box, #identity-icon) {
    pointer-events: none !important;
}

#tracking-protection-icon-container:is([open="true"], :focus-visible) #tracking-protection-icon-box,
#tracking-protection-icon-container:not([open="true"]) #tracking-protection-icon-box:hover {
    background-color: transparent !important;
    fill-opacity: 1 !important;
}

#tracking-protection-icon-container:is([open="true"], :focus-visible)
    #tracking-protection-icon-box:not([hasException]),
#tracking-protection-icon-container:not([open="true"])
    #tracking-protection-icon-box:hover:not([hasException]) {
    fill-opacity: 1 !important;
    fill: var(--protection-idle-color) !important;
}

#tracking-protection-icon-container:is([open="true"], :focus-visible)
    #tracking-protection-icon-box[active]:not([hasException]),
#tracking-protection-icon-container:not([open="true"])
    #tracking-protection-icon-box[active]:hover:not([hasException]) {
    fill-opacity: 1 !important;
    fill: var(--protection-active-color) !important;
}

#identity-box.extensionPage #identity-icon[tooltiptext="Loaded by extension: Tab Notes"],
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon,
#tracking-protection-icon-container[hidden]
    ~ #identity-box[pageproxystate="valid"].notSecure:not(.chromeUI, .localResource)
    #identity-icon {
    fill-opacity: var(--urlbar-icon-fill-opacity) !important;
    list-style-image: url(chrome://userchrome/content/engines/google.svg) !important;
}

:root[customizing] #wrapper-urlbar-container[removable="false"] {
    opacity: revert !important;
}

:root[customizing]
    #wrapper-urlbar-container[removable="false"]
    #urlbar
    > #urlbar-input-container
    image {
    fill-opacity: 0.3 !important;
}

:root[customizing] #wrapper-urlbar-container #urlbar-input-container {
    background-color: var(--urlbar-input-bgcolor-disabled) !important;
}

:root[customizing] #urlbar #identity-box #identity-icon {
    list-style-image: url(chrome://global/skin/icons/security.svg) !important;
}

:root[customizing] #tracking-protection-icon-container {
    display: -moz-box !important;
}

#urlbar[searchmode] #identity-box #identity-icon-box #identity-icon {
    fill-opacity: 0.6 !important;
}

#identity-box.extensionPage #identity-icon-box,
#urlbar[pageproxystate="invalid"] #identity-box #identity-icon-box {
    margin-inline-start: 2px !important;
    margin-inline-end: -3px !important;
}

#urlbar[pageproxystate="valid"] #tracking-protection-icon-container.chromeUI,
#identity-box.chromeUI[pageproxystate="valid"] #remote-control-icon {
    display: none !important;
}

.sharing-icon,
.notification-anchor-icon,
#permissions-granted-icon,
.blocked-permission-icon {
    margin-inline-start: 5px !important;
}

#tracking-protection-icon {
    margin-inline-start: 6px !important;
}

#identity-permission-box {
    margin-inline: 2px -2px !important;
}

#permissions-granted-icon {
    list-style-image: url(chrome://userchrome/content/formfill.svg) !important;
    margin-top: 1px;
}

#notification-popup-box {
    padding-inline: 0 !important;
    padding-block: 0 !important;
    margin-block: 0 !important;
    margin-inline: 2px -2px !important;
    background: none !important;
}

#identity-box[pageproxystate="invalid"] :is(#identity-permission-box, #notification-popup-box) {
    display: none !important;
}

#identity-permission-box:not([open]) #webrtc-sharing-icon,
.permission-popup-permission-icon.in-use:is(.camera-icon, .microphone-icon, .screen-icon) {
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity !important;
    animation: 3s linear identity-sharing-icon-pulse infinite;
}

@keyframes identity-sharing-icon-pulse {
    0%,
    16.66%,
    83.33%,
    100% {
        color: white;
        fill-opacity: var(--urlbar-icon-fill-opacity);
    }
    33.33%,
    66.66% {
        color: hsl(3.7, 77.1%, 49.6%);
        fill-opacity: 1;
    }
}

.permission-popup-permission-icon.in-use:is(.camera-icon, .microphone-icon, .screen-icon) {
    fill-opacity: 1 !important;
}

#identity-permission-box[open] #webrtc-sharing-icon {
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity !important;
}

.tab-sharing-icon-overlay {
    position: relative;
    -moz-context-properties: fill;
    fill: hsl(3.7, 77.1%, 49.6%);
}
.tab-icon-image[sharing]:not([selected]),
.tab-sharing-icon-overlay {
    animation: 3s linear tab-sharing-icon-pulse infinite;
}

#webrtc-sharing-icon[sharing="camera"] {
    list-style-image: url(chrome://userchrome/content/notifications/camera.svg) !important;
}

#webrtc-sharing-icon[sharing="microphone"] {
    list-style-image: url(chrome://userchrome/content/notifications/microphone.svg) !important;
}

#webrtc-sharing-icon[sharing="screen"] {
    list-style-image: url(chrome://userchrome/content/notifications/screen.svg) !important;
}

.sharing-icon {
    pointer-events: auto !important;
}

#geo-sharing-icon[sharing] {
    list-style-image: url(chrome://userchrome/content/notifications/geo.svg) !important;
}

#remote-control-icon {
    list-style-image: url(chrome://userchrome/content/material/remote.svg) !important;
    -moz-context-properties: fill, fill-opacity;
}

#identity-permission-box,
#permissions-granted-icon,
#blocked-permissions-container,
#notification-popup-box,
#remote-control-icon {
    fill-opacity: var(--urlbar-icon-fill-opacity) !important;
}

#identity-box:hover:not(.no-hover):not([open="true"]),
#notification-popup-box:hover,
#tracking-protection-icon-container:hover:not([open="true"]) {
    background-color: unset !important;
}

#permissions-granted-icon:hover,
.sharing-icon:hover,
#blocked-permissions-container > :hover,
#notification-popup-box > :hover,
#remote-control-icon:hover,
#identity-permission-box[open="true"] #permissions-granted-icon,
#identity-permission-box[open="true"] .sharing-icon,
#identity-permission-box[open="true"] #blocked-permissions-container > *,
#notification-popup-box > [open],      /* for this selector to do anything, you need urlbarNotificationIconsOpenStatus.uc.js from my repo */
#identity-box[open="true"] #remote-control-icon {
    fill-opacity: 1 !important;
}

/* some permission icons are too big relative to their viewbox.
urlbar icons that display frequently like the tracking icon or the identity icon have a max width/height of 14px but a viewbox of 16px and are drawn to 16px.
so they have at least 1px of virtual "padding" on every side. we could replace all the svg icons and maybe I will, but this is a lot easier.
use 0.6 instead of 1 since 1 will end up being shown as like 1.4px for some window scaling factors.*/
#blocked-permissions-container
    :is(.desktop-notification-icon, .screen-icon, .popup-icon, .autoplay-media-icon, .canvas-icon, .install-icon),
#notification-popup-box
    :is(.drm-icon, .autoplay-media-icon, .install-icon, #canvas-notification-icon, .canvas-icon, .indexedDB-icon, .desktop-notification-icon, .screen-icon, .translation-icon, .storage-access-icon),
#webrtc-sharing-icon[sharing="screen"] {
    padding: 0.6px;
}

.notification-anchor-icon#default-notification-icon {
    list-style-image: url(chrome://userchrome/content/material/notification.svg) !important;
}

.install-icon.blocked-permission-icon,
.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-origin-blocked"] {
    list-style-image: url(chrome://userchrome/content/material/extension-blocked.svg) !important;
}

#urlbar[searchmode] #tracking-protection-icon-container,
#urlbar[actiontype="switchtab"]:not([actionoverride="true"]) #tracking-protection-icon-container {
    display: none !important;
}

#urlbar[searchmode][actiontype="switchtab"] #urlbar-label-switchtab {
    display: none !important;
}

#urlbar[searchmode] > #urlbar-input-container > #identity-box,
#urlbar[actiontype="switchtab"]:not([actionoverride="true"])
    > #urlbar-input-container
    > #identity-box {
    background: none !important;
    padding-inline-start: 8px !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
    height: var(--urlbar-height) !important;
    margin-top: 0 !important;
    padding-inline-end: 0 !important;
}

#urlbar[searchmode] > #urlbar-input-container > #identity-box #identity-icon,
#urlbar[actiontype="switchtab"]:not([actionoverride="true"])
    > #urlbar-input-container
    > #identity-box
    #identity-icon {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

#urlbar[actiontype] #identity-box #identity-icon-box,
#urlbar[pageproxystate="invalid"][actiontype]
    #identity-box
    #identity-icon-box
    #urlbar[searchmode]
    #identity-box
    #identity-icon-box,
#urlbar[pageproxystate="invalid"][searchmode] #identity-box #identity-icon-box {
    margin-inline: 0 !important;
}

#urlbar[focused="true"],
#urlbar-input-container:focus-within {
    --identity-box-solid-bg: var(--identity-box-hover-bg);
}

#urlbar-label-box,
#urlbar-search-mode-indicator {
    background-color: var(--identity-box-solid-bg) !important;
    border-radius: 0 !important;
    outline: none !important;
    margin-inline: -24px 0 !important;
    font-size: 14px !important;
    min-width: 16px !important;
    height: var(--urlbar-height) !important;
    padding-inline: 28px 8px !important;
    border: none !important;
    border-right: 1px solid var(--desaturate-dimmed) !important;
    pointer-events: auto !important;
}

#urlbar-search-mode-indicator-close {
    position: absolute !important;
    background-color: var(--identity-box-solid-bg) !important;
    background-image: url(chrome://userchrome/content/textbox-clear.svg) !important;
    background-size: contain !important;
    fill-opacity: 0 !important;
    z-index: 151 !important;
    left: 7px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 18px !important;
    width: 18px !important;
}

#urlbar[searchmode] #urlbar-search-mode-indicator:is(:hover, :focus-visible, :focus-within) {
    z-index: 151 !important;
    position: relative !important;
}

#urlbar[searchmode]
    #urlbar-search-mode-indicator:is(:hover, :focus-visible, :focus-within)
    #urlbar-search-mode-indicator-close {
    opacity: 0.75 !important;
    pointer-events: auto !important;
}

#urlbar[searchmode]
    #urlbar-search-mode-indicator:is(:hover, :focus-visible, :focus-within)
    #urlbar-search-mode-indicator-close:is(:hover, :focus-visible) {
    opacity: 1 !important;
    fill-opacity: 0.1 !important;
}

#urlbar[searchmode]
    #urlbar-search-mode-indicator:is(:hover, :focus-visible, :focus-within)
    #urlbar-search-mode-indicator-close:active:is(:hover, :focus-visible) {
    fill-opacity: 0.15 !important;
}

#urlbar-label-box .urlbar-label,
#urlbar-search-mode-indicator-title,
#urlbar-label-switchtab {
    color: var(--lwt-toolbar-field-color, black) !important;
    opacity: 0.6 !important;
    padding-inline: 0px !important;
    font-size: 14px !important;
}

/* shorten "Switch to tab:" urlbar indicator to "Tabs" */
#urlbar[actiontype="switchtab"] #urlbar-label-box::before {
    content: "Tabs";
    display: -moz-inline-box;
    color: var(--lwt-toolbar-field-color, hsl(0, 0%, 0%));
    opacity: 0.6;
}

#urlbar-label-switchtab {
    display: none;
}
