:root,
menupopup {
    --panel-font-size: 1em !important;
    --pinned-tab-width: 36px;
    --inline-tab-padding: 10px !important;
    --default_tab_border_roundness: 5px;
    --tab_close_icons_size: 16px;
    --tabs-border: transparent !important;
    --toolbox-border-bottom-color: transparent !important;
    --chrome-nav-bar-controls-border-color: transparent !important;
    --chrome-content-separator-color: rgba(0, 0, 0, 0) !important;
    --tabs-navbar-shadow-size: 0px !important;
    --autocomplete-popup-highlight-background: hsl(234, 21%, 35%) !important;
    --toolbarbutton-border-radius: var(--general-button-border-radius) !important;
    --lwt-accent-color: hsl(233, 61%, 8%) !important;
    --lwt-text-color: hsl(213, 43%, 89%) !important;
    --lwt-toolbar-field-background-color: hsla(233, 25%, 28%, 85%) !important;
    --lwt-toolbar-field-color: hsl(240, 60%, 99%);
    --lwt-toolbar-field-focus: hsla(233, 25%, 28%, 85%) !important;
    --lwt-toolbar-field-focus-color: rgb(255, 255, 255) !important;
    --toolbar-bgcolor: hsl(231, 42%, 15%) !important;
    --toolbar-color: hsl(0, 0%, 100%) !important;
    --lwt-toolbarbutton-icon-fill: hsl(0, 0%, 100%) !important;
    --lwt-background-alignment: top !important;
    --lwt-background-tiling: repeat !important;
    --arrowpanel-background: hsl(233, 36%, 11%) !important;
    --panel-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.4) !important;
    --arrowpanel-color: var(--lwt-text-color) !important;
    --arrowpanel-darker: hsla(236, 70%, 73%, 0.17) !important;
    --arrowpanel-faint: hsla(236, 100%, 83%, 0.1);
    --arrowpanel-dimmed: hsla(236, 100%, 83%, 0.17) !important;
    --arrowpanel-dimmed-further: hsla(236, 100%, 83%, 0.25) !important;
    --arrowpanel-dimmed-even-further: hsla(236, 100%, 85%, 0.3) !important;
    --desaturate-dimmed: hsla(236, 60%, 83%, 0.17) !important;
    --desaturate-dimmed-further: hsla(236, 60%, 83%, 0.25) !important;
    --desaturate-dimmed-even-further: hsla(236, 60%, 85%, 0.3) !important;
    --panel-disabled-color: var(--context-menu-disabled-color) !important;
    --toolbarbutton-hover-background: hsla(236, 82%, 83%, 0.17) !important;
    --toolbarbutton-active-background: hsla(236, 82%, 83%, 0.22) !important;
    --toolbarbutton-checked-background: hsla(236, 82%, 83%, 0.13) !important;
    --desaturate-hover-background: hsla(236, 60%, 83%, 0.17) !important;
    --desaturate-active-background: hsla(236, 60%, 83%, 0.22) !important;
    --desaturate-checked-background: hsla(236, 60%, 83%, 0.13) !important;
    /* --button-bgcolor: var(--arrowpanel-faint) !important; */
    --button-hover-bgcolor: var(--arrowpanel-dimmed) !important;
    --button-active-bgcolor: var(--arrowpanel-dimmed-further) !important;
    --urlbar-input-bgcolor: hsla(233, 24%, 26%, 1) !important;
    --urlbar-input-bgcolor-brighter: hsla(233, 23%, 27.2%, 1) !important;
    --urlbar-input-bgcolor-even-brighter: hsla(233, 21%, 31%, 1) !important;
    --urlbar-toolbar-height: var(--user-urlbar-container-height) !important;
    --urlbar-container-height: var(--user-urlbar-container-height) !important;
    --urlbar-height: calc(var(--urlbar-container-height) - 6px) !important;
    --urlbar-container-padding: 1px !important;
    --urlbar-icon-fill-opacity: 0.6 !important;
    --lwt-toolbarbutton-icon-fill-attention: var(--attention-color) !important;
    --focus-outline-color: var(--attention-color) !important;
    --focus-outline-width: 2px;
    --places-cell-focus-bgcolor: hsl(232, 30%, 19%) !important;
    --places-cell-hover-bgcolor: hsl(232, 30%, 23%) !important;
    --ctrlTab-bgcolor: transparent !important;
    --ctrlTab-panel-disabled-bgcolor: hsla(240, 2%, 9%, 0.8) !important;
    --ctrlTab-panel-disabled-focused-bgcolor: hsla(240, 8%, 3%, 0.9) !important;
    --ctrlTab-panel-bgcolor: hsla(240, 3%, 4%, 0.9) !important;
    --ctrlTab-panel-focused-bgcolor: hsla(10, 12%, 2%, 0.99) !important;
    --in-content-box-background: hsl(232, 32%, 14%) !important;
    --in-content-box-border-color: rgba(249, 249, 250, 0.1) !important;
    --in-content-button-background: var(--arrowpanel-dimmed) !important;
    --in-content-button-background-hover: var(--arrowpanel-dimmed-further) !important;
    --in-content-button-background-active: var(--arrowpanel-dimmed-even-further) !important;
    --in-content-button-border-radius: var(--general-button-border-radius) !important;
    --in-content-item-selected: var(--purple-40) !important;
    --in-content-border-highlight: var(--purple-40) !important;
    --in-content-border-focus: var(--purple-40) !important;
    --in-content-border-active: var(--purple-40) !important;
    --in-content-border-active-shadow: var(--purple-40-a30) !important;
    --in-content-category-outline-focus: 1px solid transparent !important;
    --in-content-link-color: var(--purple-35) !important;
    --in-content-link-color-hover: var(--purple-30) !important;
    --in-content-link-color-active: var(--purple-30) !important;
    --in-content-primary-button-background: var(--purple-40) !important;
    --in-content-primary-button-background-hover: var(--purple-35) !important;
    --in-content-primary-button-background-active: var(--purple-30) !important;
    --autocomplete-popup-background: var(--arrowpanel-background) !important;
    --autocomplete-popup-color: var(--lwt-text-color) !important;
    --urlbarView-bgcolor: hsla(233, 38%, 9%, 0.8) !important;
    --ui-textbox-bgcolor: hsl(233, 24%, 28%) !important;
    --ui-textbox-focus-bgcolor: hsl(232, 22%, 34%) !important;
    --ui-solid-button-bgcolor: var(--ui-textbox-bgcolor) !important;
    --ui-solid-button-hover-bgcolor: hsl(232, 24%, 34%) !important;
    --ui-solid-button-active-bgcolor: hsl(232, 23%, 37%) !important;
    --ebmp-hover-bgcolor: hsl(233, 24%, 33%) !important;
    --ebmp-focus-bgcolor: hsl(233, 24%, 38%) !important;
    --urlbar-popup-url-color: hsl(251, 100%, 64%) !important;
    --urlbar-popup-action-color: hsl(340, 73%, 58%) !important;
    --lwt-popup-brighttext-url-color: var(--urlbar-popup-action-color) !important;
    --toolbarbutton-icon-fill-opacity: 1 !important;
    --tab-min-height: 35px !important;
    --min-tab-height: 35px !important;
    --space-above-tabbar: 0px;
    --context-margin-inline: -14px 0px;
    --context-padding-inline: 27px 0px;
    --menu-color: var(--ui-text-80) !important;
    --menupopup-background: var(--arrowpanel-background);
    --menu-background-color: var(--arrowpanel-background) !important;
    --menupopup-margin: 0px;
    --menupopup-child-margin-block-start: 0px;
    --menupopup-child-margin-inline-start: 0px;
    --menupopup-padding: 0px;
    --menupopup-inner-padding: 0px;
    --context-checkbox-margin: 6px -4.5px;
    --context-iconic-margin: 5px 6px;
    --context-iconic-special-margin: 4px -2px;
    --menupopup-border-radius: 3px;
    --context-menuitem-border-radius: 0px;
    --menu-right-bg: url(chrome://userchrome/content/old-menu-right.svg);
    --menu-right-img: none;
    --menu-right-margin: 2px;
    --menu-right-size: 12px;
    --buttons-secondary-hover-bgcolor: var(--arrowpanel-dimmed) !important;
    --buttons-secondary-active-bgcolor: var(--arrowpanel-dimmed-further) !important;
}

toolbar {
    --toolbarbutton-hover-background: hsla(236, 82%, 83%, 0.17) !important;
    --toolbarbutton-active-background: hsla(236, 82%, 83%, 0.22) !important;
    --toolbarbutton-checked-background: hsla(236, 82%, 83%, 0.13) !important;
}

#urlbar {
    --urlbar-height: calc(var(--urlbar-container-height) - 6px) !important;
}

#confirmation-hint {
    --arrowpanel-background: var(--confirmation-hint-bgcolor) !important;
    --arrowpanel-border-color: var(--confirmation-hint-bgcolor) !important;
}

#browser {
    --sidebar-border-color: transparent !important;
}

.tab-throbber {
    --tab-loading-fill: var(--tab-throbber-fill) !important;
}

.tab-loading-burst {
    --tab-loading-fill: var(--lwt-toolbarbutton-icon-fill-attention) !important;
}

@media (-moz-proton) {
    :root,
    menupopup {
        --panelview-toolbarbutton-hover-bgcolor: var(--arrowpanel-dimmed) !important;
        --panelview-toolbarbutton-active-bgcolor: var(--arrowpanel-dimmed-further) !important;
        --panelview-toolbarbutton-focus-box-shadow: none !important;
        --panel-banner-item-color: HSL(240, 9.1%, 97.8%);
        --panel-banner-item-background-color: hsla(109.9, 90.9%, 47.3%, 0.1);
        --panel-banner-item-hover-bgcolor: hsla(109.9, 90.9%, 47.3%, 0.15);
        --panel-banner-item-active-bgcolor: hsla(109.9, 90.9%, 47.3%, 0.2);
        --arrowpanel-menuitem-inline-margin: 4px;
        --arrowpanel-menuitem-margin: 0px var(--arrowpanel-menuitem-inline-margin) !important;
        --arrowpanel-menuitem-padding: 6px !important;
        --panel-subview-body-padding-magnitude: var(--arrowpanel-menuitem-inline-margin);
        --panel-subview-body-padding: var(--panel-subview-body-padding-magnitude) 0 !important;
        --arrowpanel-menuitem-border-radius: 3px !important;
        --proton-tab-radius: 0px !important;
        --proton-tab-block-margin: 0px !important;
        --panel-description-color: hsl(235, 48%, 89%, 70%) !important;
        --panel-shortcut-color: hsl(235, 27%, 73%, 70%) !important;
        --panel-shortcut-focus: hsl(235, 32%, 75%, 90%) !important;
        --proton-tab-inline-padding: 0px !important;
        --tab-shadow-max-size: 0px !important;
    }

    :root,
    menupopup,
    #TabsToolbar {
        --toolbarbutton-inner-padding: 6px !important;
    }

    #urlbar-container,
    #urlbar {
        --urlbar-toolbar-height: var(--user-urlbar-container-height) !important;
        --urlbar-container-height: var(--user-urlbar-container-height) !important;
    }

    #appMenu-multiView {
        --arrowpanel-menuitem-inline-margin: 6px;
        --arrowpanel-menuitem-margin: 0px var(--arrowpanel-menuitem-inline-margin) !important;
        --arrowpanel-menuitem-padding: 8px !important;
        --panel-subview-body-padding-magnitude: var(--arrowpanel-menuitem-inline-margin);
        --panel-subview-body-padding: var(--panel-subview-body-padding-magnitude) 0 !important;
    }
}

@media (-moz-proton-contextmenus) {
    :root,
    menupopup {
        --menupopup-background: transparent;
        --menu-background-color: var(--arrowpanel-background) !important;
        --menupopup-margin: 0px;
        --menupopup-child-margin-block-start: -4px;
        --menupopup-child-margin-inline-start: 0px;
        --menupopup-padding: 0px;
        --menupopup-inner-padding-magnitude: 4px;
        --menupopup-inner-padding: var(--menupopup-inner-padding-magnitude) 0;
        --context-padding-inline: 28px 0px !important;
        --context-margin-inline: -16px 0px !important;
        --menupopup-shadow: none !important;
        --menupopup-border-radius: 5px !important;
        --context-menuitem-border-radius: var(--arrowpanel-menuitem-border-radius);
        --menu-right-bg: none;
        --menu-right-img: url(chrome://userchrome/content/menu-arrow.svg);
        --menu-right-margin: 4px;
        --menu-right-size: 14px;
        --panel-shadow: none !important;
    }
}
