:root,
toolbar {
    --toolbarbutton-hover-background: hsla(236, 82%, 83%, 0.17) !important;
    --toolbarbutton-active-background: hsla(236, 82%, 83%, 0.22) !important;
    --toolbarbutton-checked-background: hsla(236, 82%, 83%, 0.13) !important;
}

:root:-moz-lwtheme {
    --chrome-content-separator-color: rgba(0, 0, 0, 0);
    --toolbarbutton-icon-fill-opacity: 1;
}

:root {
    --default_tab_border_roundness: 5px;
    --tab_close_icons_size: 16px;
    --tabs-border: transparent !important;
    --toolbox-border-bottom-color: transparent !important;
    --chrome-nav-bar-controls-border-color: transparent !important;
    --tabs-navbar-shadow-size: 0px !important;
    --autocomplete-popup-highlight-background: hsl(234, 21%, 35%) !important;
    --toolbarbutton-border-radius: 3px;
    --lwt-accent-color: hsl(233, 61%, 8%) !important;
    --lwt-text-color: hsl(213, 43%, 89%) !important;
    --lwt-toolbar-field-background-color: hsla(233, 25%, 28%, 85%) !important;
    --lwt-toolbar-field-color: hsl(0, 0%, 100%) !important;
    --lwt-toolbar-field-focus: rgb(255, 255, 255) !important;
    --lwt-toolbar-field-focus-color: rgb(255, 255, 255) !important;
    --toolbar-bgcolor: hsl(231, 42%, 15%) !important;
    --toolbar-color: hsl(0, 0%, 100%) !important;
    --lwt-toolbarbutton-icon-fill: hsl(0, 0%, 100%) !important;
    --lwt-background-alignment: top !important;
    --lwt-background-tiling: repeat !important;
    --arrowpanel-background: hsl(233, 36%, 11%) !important;
    --arrowpanel-color: hsl(213, 43%, 89%) !important;
    --arrowpanel-darker: hsla(236, 70%, 73%, 0.17) !important;
    --arrowpanel-dimmed: hsla(236, 100%, 83%, 0.17) !important;
    --arrowpanel-dimmed-further: hsla(236, 100%, 83%, 0.25) !important;
    --arrowpanel-dimmed-even-further: hsla(236, 100%, 85%, 0.3) !important;
    --desaturate-dimmed: hsla(236,60%,83%,.17) !important;
    --desaturate-dimmed-further: hsla(236,60%,83%,.25) !important;
    --desaturate-dimmed-even-further: hsla(236,60%,85%,.3) !important;
    --panel-disabled-color: hsla(213, 43%, 89%, 0.5) !important;
    --toolbarbutton-hover-background: hsla(236, 85%, 83%, 0.17) !important;
    --toolbarbutton-active-background: hsla(236, 85%, 83%, 0.25) !important;
    --toolbarbutton-checked-background: hsla(236, 85%, 83%, 0.13) !important;
    --urlbar-input-bgcolor: hsla(233, 24%, 26%, 1) !important;
    --urlbar-input-bgcolor-brighter: hsla(233, 23%, 27.2%, 1) !important;
    --urlbar-input-bgcolor-even-brighter: hsla(233, 21%, 31%, 1) !important;
    --tooltip-dark: hsl(234, 39%, 10%);
    --badge-color-dark: hsl(236, 13%, 42%);
/*     --tab-hover: linear-gradient(0deg, hsl(231, 42%, 15%), hsl(233, 61%, 8%));
    --tab-pinned: linear-gradient(0deg, hsl(231, 50%, 11%), hsl(232, 70%, 6%));
    --tab-multi: linear-gradient(0deg, hsl(231, 42%, 15%), hsl(232, 70%, 6%)); */
    --tab-hover: linear-gradient(180deg, hsl(231, 49%, 11%), hsl(233, 55%, 8%));
    --tab-pinned: linear-gradient(0deg, hsl(231, 50%, 11%), hsl(232, 70%, 6%));
    --tab-multi: linear-gradient(180deg, hsl(231, 50%, 11%), hsl(233, 53%, 8%));
    --tab-multi-hover: linear-gradient(180deg, hsl(231, 47%, 13%), hsl(233, 51%, 10%));
    --tab-pinned-hover: linear-gradient(0deg, hsl(231, 42%, 15%), hsl(233, 61%, 8%));
    --search-box-color: hsl(229, 32%, 23%);
    --search-box-focus: hsl(229, 27%, 27%);
    --search-box-null: hsl(230, 30%, 20%);
    --textbox-button-hidden: hsla(240, 100%, 89%, 0);
    --urlbar-results-bgcolor: hsl(233, 32%, 10%);
    --urlbar-height: 33px !important;
    --urlbar-container-height: 39px !important;
    --lwt-toolbarbutton-icon-fill-attention: hsl(224, 100%, 71%) !important;
    --places-cell-focus-bgcolor: hsla(233, 24%, 28%, 50%) !important;
    --ctrlTab-panel-disabled-bgcolor: hsla(240, 2%, 9%, 0.8) !important;
    --ctrlTab-panel-disabled-focused-bgcolor: hsla(240, 8%, 3%, 0.9) !important;
    --ctrlTab-panel-bgcolor: hsla(240, 3%, 4%, 0.9) !important;
    --ctrlTab-panel-focused-bgcolor: hsla(10, 12%, 2%, 0.99) !important;
    --in-content-box-background: hsl(232, 32%, 14%) !important;
    --in-content-box-border-color: rgba(249, 249, 250, 0.1) !important;
    --in-content-button-background: var(--arrowpanel-dimmed) !important;
    --in-content-button-background-hover: var(--arrowpanel-dimmed-further) !important;
    --in-content-button-background-active: var(--arrowpanel-dimmed-even-further) !important;
    --in-content-item-selected: var(--purple-40) !important;
    --in-content-border-highlight: var(--purple-40) !important;
    --in-content-border-focus: var(--purple-40) !important;
    --in-content-border-active: var(--purple-40) !important;
    --in-content-border-active-shadow: var(--purple-40-a30) !important;
    --in-content-category-outline-focus: 1px solid transparent !important;
    --in-content-link-color: var(--purple-35) !important;
    --in-content-link-color-hover: var(--purple-30) !important;
    --in-content-link-color-active: var(--purple-30) !important;
    --in-content-primary-button-background: var(--purple-40) !important;
    --in-content-primary-button-background-hover: var(--purple-35) !important;
    --in-content-primary-button-background-active: var(--purple-30) !important;
    --purple-30: hsl(244, 100%, 70%) !important;
    --purple-30-a50: hsla(240, 100%, 70%, 0.5) !important;
    --purple-35: hsl(245, 100%, 65%) !important;
    --purple-40: hsl(250, 100%, 60%) !important;
    --purple-40-a10: hsla(250, 100%, 60%, 0.1) !important;
    --purple-40-a30: hsla(250, 100%, 60%, 0.5) !important;
    --purple-45: hsl(250, 90%, 55%) !important;
    --purple-50: hsl(256, 100%, 50%) !important;
    --purple-50-a30: hsla(256, 100%, 50%, 0.3) !important;
    --purple-60: hsl(258, 100%, 40%) !important;
    --purple-70: hsl(256, 100%, 30%) !important;
    --purple-80: hsl(254, 100%, 20%) !important;
    --autocomplete-popup-background: hsl(233, 36%, 11%) !important;
    --autocomplete-popup-color: hsl(213, 43%, 89%) !important;
    --urlbarView-bgcolor: hsla(233, 38%, 9%, 0.8) !important;
    --ui-textbox-bgcolor: hsl(233, 24%, 28%) !important;
    --ui-textbox-focus-bgcolor: hsl(232, 20%, 38%) !important;
    --ebmp-hover-bgcolor: hsl(233, 24%, 33%) !important;
    --ebmp-focus-bgcolor: hsl(233, 24%, 38%) !important;
    --urlbar-popup-url-color: hsl(251, 100%, 64%) !important;
    --urlbar-popup-action-color: hsl(340, 73%, 58%) !important;
    --toolbarbutton-icon-fill-opacity: 1 !important;
    --tab-min-height: 35px !important;
    --context-margin-inline: -14px 0;
    --context-padding-inline: -14px 0;
    --menupopup-background: hsl(233, 36%, 11%);
    --menu-background-color: hsl(233, 36%, 11%) !important;
    --menupopup-margin: 0px 0 0 0;
    --menupopup-padding: 0;
    --context-checkbox-margin: 6px -5.5px;
    --context-iconic-special-margin: 4px -2px;
    --menupopup-border-radius: 3px;
    --menu-right-bg: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='5px' height='5px' viewBox='0 0 492 492' xml:space='preserve'><path fill='context-fill' fill-opacity='context-fill-opacity' d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/></svg>");
    --menu-right-img: none;
    --menu-right-margin: 2px;
    --menu-right-size: 12px;
}

toolbar .toolbarbutton-1:not([disabled]):hover:-moz-any([open]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important;
}

toolbar .toolbarbutton-1:not([disabled]):hover:-moz-any([checked]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background) !important;
}

toolbar .toolbarbutton-1:not([disabled]):-moz-any([checked]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-checked-background) !important;
    transition: none !important;
}

#sanitizeEverythingWarningBox {
    background-color: Window !important;
    border: 1px solid hsla(0, 0%, 5%, 0.2) !important;
    border-radius: 5px;
    padding: 16px;
}

#confirmation-hint {
    --arrowpanel-background: hsl(240, 60%, 59%) !important;
    --arrowpanel-border-color: hsl(240, 60%, 59%) !important;
    --arrowpanel-color: hsl(0, 0%, 100%);
    --arrowpanel-padding: 6px 10px;
    font-weight: 400;
    font-size: 1.1rem;
}

#confirmation-hint[data-message-id="hideCheckHint"] #confirmation-hint-message {
    margin-inline: 0 !important;
}

:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled]):hover,
.urlbar-icon-wrapper:not([disabled]):hover {
    background-color: var(--desaturate-dimmed) !important;
}

:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled])[open],
:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled]):hover:active,
.urlbar-icon-wrapper:not([disabled])[open],
.urlbar-icon-wrapper:not([disabled]):hover:active {
    background-color: var(--desaturate-dimmed-further) !important;
}

#main-window #navigator-toolbox #TabsToolbar #closetab_fmarin_com-browser-action .toolbarbutton-icon,
#main-window #navigator-toolbox #TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action .toolbarbutton-icon,
#main-window #navigator-toolbox #TabsToolbar .close-icon>.toolbarbutton-icon,
#main-window #navigator-toolbox #TabsToolbar .tab-content .close-icon {
    min-width: var(--tab_close_icons_size) !important;
    width: var(--tab_close_icons_size) !important;
    min-height: var(--tab_close_icons_size) !important;
    height: var(--tab_close_icons_size) !important;
}

#sidebar,
#sidebar-search-container,
#historyTree {
    -moz-appearance: none !important;
    --sidebar-background-color: hsl(231, 42%, 15%) !important;
    --sidebar-text-color: #FFF !important;
    background-color: var(--tooltip-dark) !important;
    color: #FFF !important;
}

#sidebar-header {
    -moz-appearance: none !important;
    padding: 1px !important;
    padding-bottom: 8px !important;
    border-bottom: 0px solid transparent !important;
    background-color: var(--tooltip-dark) !important;
    color: #FFF !important;
}

#sidebar-search-container {
    padding-top: 1px !important;
}

.sidebar-search-container .tabsFilter {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#sidebar-search-container #search-box,
.sidebar-search-container .tabsFilter {
    -moz-appearance: none !important;
    padding-inline-start: 5px !important;
    background-color: var(--search-box-color) !important;
    border-radius: 3px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    transition: 300ms !important;
    color: currentColor !important;
    min-height: 27px !important;
}

.sidebar-search-container .search-box,
.sidebar-search-container .tabsFilter {
    padding-inline-start: 5px !important;
    background-color: var(--search-box-color) !important;
    transition: 300ms background-color !important;
}

.sidebar-search-container .search-box .textbox-input-box {
    padding-inline-start: 13px !important;
}

.textbox-search-clear {
    list-style-image: url(chrome://global/skin/icons/close.svg) !important;
    fill: rgba(255, 255, 255, 0.8) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill-opacity: 0 !important;
    min-width: var(--tab_close_icons_size) !important;
    width: var(--tab_close_icons_size) !important;
    min-height: var(--tab_close_icons_size) !important;
    height: var(--tab_close_icons_size) !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-radius: 50% !important;
}

.textbox-search-clear {
    background-image: url(chrome://global/skin/icons/close.svg) !important;
    background-size: 100% !important;
    background-position: center center !important;
    fill: rgba(255, 255, 255, 0.8) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill-opacity: 0 !important;
    min-width: var(--tab_close_icons_size) !important;
    width: var(--tab_close_icons_size) !important;
    min-height: var(--tab_close_icons_size) !important;
    height: var(--tab_close_icons_size) !important;
    margin-bottom: 0 !important;
    margin-top: 1px !important;
    border-radius: 50% !important;
    position: relative !important;
}

.textbox-search-clear:-moz-any(:hover, :active),
.textbox-search-clear:-moz-any(:hover, :active) {
    fill: rgba(255, 255, 255, 1) !important;
    background-color: var(--arrowpanel-dimmed-further) !important;
}

#sidebar-search-container #search-box:focus-within,
.sidebar-search-container .tabsFilter:focus-within,
.sidebar-search-container .search-box:focus-within {
    background-color: var(--search-box-focus) !important;
    transition: 300ms background-color !important;
}

#sidebar-search-container #search-box input {
    background: none !important;
    color: #FFF !important;
    transition: 300ms !important;
}

#sidebar-search-container #search-box textarea {
    background: none !important;
    color: #FFF !important;
    transition: 300ms !important;
}

#viewButton:hover {
    background-color: var(--arrowpanel-dimmed) !important;
}

#viewButton:active,
#viewButton[open] {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

#sidebar-switcher-target:hover:-moz-lwtheme {
    background: var(--arrowpanel-dimmed) !important;
}

#sidebar-switcher-target.active:-moz-lwtheme {
    background: var(--arrowpanel-dimmed-further) !important;
}

#sidebar-switcher-target:hover {
    background: var(--arrowpanel-dimmed) !important;
}

#sidebar-switcher-target.active {
    background: var(--arrowpanel-dimmed-further) !important;
}

#sidebar-switcher-target {
    margin-left: 7px !important;
    margin-top: 7px !important;
}

.textbox-search-sign {
    margin-left: 2px !important;
    margin-top: 0.5px !important;
    margin-inline-end: 6px !important;
}

.textbox-search-clear {
    margin-right: 3px !important;
    margin-top: 0px !important;
}

#sidebar-close {
    margin-right: 7px !important;
    margin-top: 7px !important;
    fill-opacity: 0 !important;
}

#sidebar-close:hover .toolbarbutton-icon {
    background-color: var(--arrowpanel-dimmed) !important;
    border-radius: 3px !important;
    opacity: 1 !important;
}

#sidebar-close:hover:active .toolbarbutton-icon {
    background-color: var(--arrowpanel-dimmed-further) !important;
    opacity: 1 !important;
    border-radius: 3px !important;
}

#bookmarks-view treechildren::-moz-tree-row(hover),
#bookmarks-view:focus treechildren::-moz-tree-row(selected),
#historyTree treechildren::-moz-tree-row(hover),
#historyTree:focus treechildren::-moz-tree-row(selected),
#bookmarks-view treechildren::-moz-tree-cell(hover),
#bookmarks-view:focus treechildren::-moz-tree-cell(selected),
#historyTree treechildren::-moz-tree-cell(hover),
#historyTree:focus treechildren::-moz-tree-cell(selected) {
    background-color: var(--places-cell-focus-bgcolor) !important;
    color: var(--lwt-text-color) !important;
    outline: none !important;
}

#sidebar-box {
    z-index: 1 !important;
    position: relative !important;
}

.sidebar-panel .sidebar-placesTree {
    background-color: var(--tooltip-dark) !important;
}

/* .panel-arrow {
    stroke: var(--arrowpanel-background) !important;
} */

.sidebar-panel .sidebar-placesTreechildren::-moz-tree-row(selected),
.sidebar-panel .sidebar-placesTreechildren::-moz-tree-cell(selected) {
    background-color: var(--places-cell-focus-bgcolor) !important;
    outline: none !important;
    border: none !important;
}

treechildren::-moz-tree-row,
treechildren::-moz-tree-row(current, focus),
treechildren::-moz-tree-row(selected, current, focus) {
    border: none !important;
}

treechildren::-moz-tree-row(selected, current, focus) {
    border: none !important;
}

.sidebar-placesTreechildren::-moz-tree-cell-text {
    padding-right: 7px !important;
}

.sidebar-placesTreechildren::-moz-tree-cell-text(selected),
.sidebar-placesTreechildren::-moz-tree-image(selected),
.sidebar-placesTreechildren::-moz-tree-twisty(selected) {
    color: #fff !important;
}

.sidebar-placesTreechildren::-moz-tree-row-text(selected) {
    color: #fff !important;
}

.sidebar-placesTreechildren::-moz-tree-indentation {
    width: 6px !important;
}

#navigator-toolbox {
    z-index: 2 !important;
}

#nav-bar {
    z-index: 5 !important;
}

.sidebar-placesTree {
    -moz-appearance: none !important;
    color: var(--lwt-text-color) !important;
}

#browser {
    --sidebar-border-color: transparent !important;
}

.sidebar-splitter {
    border-inline-end-width: 1px !important;
    border-inline-end-color: transparent !important;
    position: relative !important;
    z-index: 5 !important;
    width: 4px !important;
}

#sidebar-splitter {
    display: none !important;
}

#sidebar-box {
    box-shadow: 0px 0px 8px -4px hsla(240, 4%, 0%, 0.6), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.2) !important;
}

/* tab top border roundness */
#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content {
    border-top-right-radius: 0px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

/* selected tab top border roundness */
#TabsToolbar .tabbrowser-tab[selected]:not([multiselected]),
#TabsToolbar .tabbrowser-tab[selected]:not([multiselected]) .tab-stack,
#TabsToolbar .tabbrowser-tab[selected]:not([multiselected]) .tab-background,
#TabsToolbar .tabbrowser-tab[selected]:not([multiselected]) .tab-content {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

#TabsToolbar .tab-loading-burst::before {
    backface-visibility: hidden;
}

#TabsToolbar .tabbrowser-tab[selected][pinned][multiselected],
#TabsToolbar .tabbrowser-tab[selected][pinned][multiselected] .tab-stack,
#TabsToolbar .tabbrowser-tab[selected][pinned][multiselected] .tab-background {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#TabsToolbar .tabbrowser-tab[multiselected]:not([pinned]) .tab-stack,
#TabsToolbar .tabbrowser-tab[multiselected]:not([pinned]) .tab-background {
    border-radius: 0 !important;
}

#TabsToolbar .tabs-newtab-button {
    border-top-left-radius: var(--default_tab_border_roundness);
    border-top-right-radius: var(--default_tab_border_roundness);
}

/* hide tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    opacity: 0 !important;
    border-image: unset !important;
    border-image-slice: unset !important;
    width: unset !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border-left: none !important;
}

#TabsToolbar .tabbrowser-tab:not([selected]):hover,
#TabsToolbar .tabbrowser-tab:not([selected]):hover .tab-stack,
#TabsToolbar .tabbrowser-tab:not([selected]):hover .tab-background,
#TabsToolbar .tabbrowser-tab:not([selected]):hover .tab-content {
    border-top-right-radius: 5px;
}

#TabsToolbar .tabbrowser-tab[last-visible-tab],
#TabsToolbar .tabbrowser-tab[last-visible-tab] .tab-stack,
#TabsToolbar .tabbrowser-tab[last-visible-tab] .tab-background,
#TabsToolbar .tabbrowser-tab[last-visible-tab] .tab-content,
#TabsToolbar .tabbrowser-tab[last-visible-tab]:hover,
#TabsToolbar .tabbrowser-tab[last-visible-tab]:hover .tab-stack,
#TabsToolbar .tabbrowser-tab[last-visible-tab]:hover .tab-background,
#TabsToolbar .tabbrowser-tab[last-visible-tab]:hover .tab-content {
    border-top-right-radius: 0 !important;
}

#TabsToolbar .tabbrowser-tab[first-visible-tab],
#TabsToolbar .tabbrowser-tab[first-visible-tab] .tab-stack,
#TabsToolbar .tabbrowser-tab[first-visible-tab] .tab-background,
#TabsToolbar .tabbrowser-tab[first-visible-tab] .tab-content,
#TabsToolbar .tabbrowser-tab[first-visible-tab]:hover,
#TabsToolbar .tabbrowser-tab[first-visible-tab]:hover .tab-stack,
#TabsToolbar .tabbrowser-tab[first-visible-tab]:hover .tab-background,
#TabsToolbar .tabbrowser-tab[first-visible-tab]:hover .tab-content {
    border-top-left-radius: 0px !important;
}

tabbrowser toolbarbutton[class^="scrollbutton"],
#TabsToolbar toolbarbutton[class^="scrollbutton"] {
    display: none !important;
}

#tabbrowser-tabs[movingtab]>.tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow])>.tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
    content: unset !important;
    display: unset !important;
}

#urlbar #identity-box.notSecureText #identity-icon-label {
    color: hsla(0, 100%, 50%, 0.867) !important;
}

#ctrlTab-previews {
    border-radius: 0% !important;
}

#ctrlTab-panel {
    -moz-appearance: none !important;
    color: white !important;
    border-style: none !important;
    padding: 40px 20px 30px 50px !important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; */
    font-weight: normal !important;
    text-shadow: 0 0 2px hsl(0, 0%, 8%), 0 0 2px hsl(0, 0%, 8%) !important;
    box-shadow: none !important;
    background: transparent !important;
}

.ctrlTab-preview:not(#ctrlTab-showAll)>*>.ctrlTab-preview-inner {
    margin: -10px -10px 0 !important;
}

.ctrlTab-preview-inner img:-moz-broken {
    visibility: hidden !important;
}

.ctrlTab-canvas {
    box-shadow: none !important;
    background-color: transparent !important;
    border: none !important;
    fill: white !important;
    fill-opacity: 0.7 !important;
    -moz-context-properties: fill, fill-opacity !important;
    background: url("chrome://browser/skin/restore-session.svg") center no-repeat !important;
    background-size: 42% !important;
}

#ctrlTab-showAll-container {
    margin-top: 8px !important;
    margin-left: -28px !important;
}

#ctrlTab-showAll {
    background-color: var(--ctrlTab-panel-bgcolor) !important;
}

#ctrlTab-showAll:focus,
#ctrlTab-showAll:focus-within {
    background-color: var(--ctrlTab-panel-focused-bgcolor) !important;
    border: 2px solid transparent !important;
}

.ctrlTab-preview-inner {
    padding: 10px !important;
    border: 0px solid transparent !important;
    border-radius: 5px !important;
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.2), 0 0 25px -2px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--ctrlTab-panel-bgcolor) !important;
}

.ctrlTab-preview:focus>.ctrlTab-preview-inner {
    background-color: var(--ctrlTab-panel-focused-bgcolor) !important;
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.2), 0 0 25px -2px rgba(0, 0, 0, 0.2), inset 0 0 20px 5px hsla(0, 0%, 0%, 0.5) !important;
}

.ctrlTab-canvas > * {
    border-radius: 3px !important;
}

.ctrlTab-favicon-container {
    -moz-box-align: start !important;
    -moz-box-pack: start !important;
    box-shadow: none !important;
    margin-inline-start: 7px !important;
    margin-top: -47px !important;
    padding-bottom: 13px !important;
    height: 45px !important;
    position: absolute !important;
}

.ctrlTab-favicon {
    margin: 0 !important;
}

.ctrlTab-favicon[src] {
    background: hsla(0, 0%, 49%, 0.3) !important;
    width: 32px !important;
    height: 32px !important;
    padding: 3px !important;
    box-shadow: none !important;
    border-radius: 3px !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    fill: currentColor !important;
}

.ctrlTab-label {
    margin-bottom: -1.5px !important;
}

/* urlbar buttons */
#reader-mode-button {
    padding-left: 6px !important;
    padding-right: 7px !important;
    border-radius: 3px !important;
}

#page-action-buttons> :not([hidden]):not(toolbartabstop)~#pageActionSeparator {
    visibility: collapse !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    opacity: 0.5 !important;
}

#pageActionButton,
.urlbar-page-action,
.share-more-button {
    border-radius: 3px !important;
}

#page-action-buttons>:is(.urlbar-icon, .urlbar-icon-wrapper),
#urlbar-go-button,
#urlbar-zoom-button,
#pocket-button {
    margin-inline-start: 2px !important;
}

#urlbar-go-button,
.urlbar-history-dropmarker {
    border-radius: 3px !important;
    width: 28px !important;
}

.urlbar-history-dropmarker {
    list-style-image: none !important;
    background: url(chrome://global/skin/icons/arrow-dropdown-16.svg) center/18.5px no-repeat !important;
}

/* iffy modification to center urlbar buttons not contained in page action button box */
#urlbar-input-container {
    -moz-box-align: center;
}

#identity-icon-label,
#identity-box.chromeUI #identity-icon-label {
    height: var(--urlbar-height);
    padding-block: 6.6px !important;
}

#plugins-notification-icon {
    margin-top: 1.4px;
}

.default-notification-icon {
    list-style-image: url(chrome://browser/skin/notification-icons/desktop-notification.svg) !important;
}

#star-button-box[animationsenabled] {
    border-radius: 3px !important;
}

#page-action-buttons {
    margin-right: 2.5px !important;
}

.urlbar-icon {
    width: 27px !important;
    height: 27px !important;
}

.toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem="true"])>toolbarbutton {
    border-radius: 3px !important;
}

#appMenu-zoomReduce-button,
#appMenu-zoomEnlarge-button {
    border-radius: 50% !important;
    min-width: 24px !important;
    width: 24px !important;
    height: 24px !important;
}

#appMenu-zoomReset-button {
    border-radius: 100px !important;
    border-color: var(--arrowpanel-dimmed) !important;
    min-height: 20px !important;
    height: 20px !important;
}

#appMenu-zoomReset-button:not([disabled]):-moz-any(:hover, :focus) {
    border-color: transparent !important;
}

#urlbar-zoom-button {
    height: 20px !important;
    border-radius: 10px !important;
    border-color: var(--desaturate-dimmed) !important;
    background: rgb(0, 0, 0, 0.09) !important;
    mix-blend-mode: luminosity !important;
    margin-right: 4px !important;
    margin-left: 4px !important;
    -moz-box-ordinal-group: 0 !important;
}

#urlbar-zoom-button:hover {
    background-color: var(--desaturate-dimmed) !important;
    border-color: transparent !important;
    mix-blend-mode: normal !important;
}

/* hide the pixel above the tabs in windows */
:root[sizemode="normal"][tabsintitlebar] {
    border-top: none !important;
}

/* remove white flash and make default unloaded background dark gray (matching my new tab page addon, message u/MotherStylus on reddit for a download link) */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content]>html {
    background: hsl(240, 4%, 10%) !important;
}

/* replace border to the left of new tab button with drop shadow */
.tabbrowser-arrowscrollbox>.arrowscrollbox-overflow-start-indicator:not([collapsed]),
.tabbrowser-arrowscrollbox>.arrowscrollbox-overflow-end-indicator:not([collapsed]) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) -10%, transparent 50%) !important;
    background-size: 17px 100% !important;
    background-position-y: 0px !important;
    filter: brightness(0) !important;
    border: none !important;
    z-index: 2 !important;
    mix-blend-mode: luminosity !important;
    opacity: 0 !important;
}

/* get rid of drop shadow drawn on leftmost visible tab */
.tabbrowser-arrowscrollbox>.arrowscrollbox-overflow-start-indicator {
    visibility: collapse !important;
}

.tabbrowser-tab[selected], .tabbrowser-tab[pinned][selected] {
    z-index: 5 !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover {
    z-index: 3 !important;
    position: relative !important;
}

.tabbrowser-tab:not([selected])[multiselected="true"] {
    z-index: 3 !important;
}

.tabbrowser-tab[pinned] {
    z-index: 3 !important;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.35), 0px 0px 25px 3px rgba(0, 0, 0, 0.2) !important;
}

.tabbrowser-tab[pinned]:hover {
    z-index: 4 !important;
}

#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] > .tab-stack {
    border-inline: none !important;
}

/* tab dragging and dropping icon */
.tab-drop-indicator {
    background-image: url("chrome://global/skin/icons/arrow-up-12.svg") !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    fill: var(--lwt-toolbarbutton-icon-fill, currentColor) !important;
    margin-bottom: -39px !important;
    z-index: 6 !important;
    margin-inline-start: -20px !important;
    background-size: 17px !important;
    background-position-x: 1.4px !important;
    width: 20px !important;
    max-width: 20px !important;
}

#tabbrowser-tabs[positionpinnedtabs] .tabbrowser-tab[pinned] .tab-content {
    min-width: 42.2px !important;
    max-width: 42.2px !important;
    margin-left: 2.4px !important;
}

#tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] > .tab-stack {
    border: none !important;
}

#tabbrowser-tabs[positionpinnedtabs] .tabbrowser-tab[pinned] .tab-label-container {
    visibility: collapse !important;
}

#tabbrowser-tabs::after {
    position: relative !important;
    display: block !important;
    content: "" !important;
    pointer-events: none !important;
    box-shadow: -7px 0px 7px 0px rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
    width: 20px !important;
    margin-right: -20px !important;
    z-index: 5 !important;
}

#TabsToolbar {
/*     background-image: linear-gradient(180deg, hsl(231, 49%, 11%), hsl(233, 55%, 8%)) !important; */
    background-image: radial-gradient(circle at 100% 0%, hsl(231, 49%, 11%), hsl(233, 55%, 8%) 140px) !important;
    background-color: var(--lwt-accent-color) !important;
}

#new-tab-button, #tabs-newtab-button {
    padding-left: 4px !important;
    z-index: 1 !important;
    position: relative !important;
}

/* non-overflowing tabs shouldn't draw shadows on new tab button since overflowing tabs don't draw shadows on the special new tab button */
#tabbrowser-tabs:not([overflow]) #tabs-newtab-button {
    z-index: 5 !important;
}

/* invisible fix for fullscreen/maximized mode */
:root:not([sizemode="normal"]) .arrowscrollbox-overflow-end-indicator {
    visibility: collapse !important;
}

:root:not([sizemode="normal"]) .tabbrowser-arrowscrollbox>.arrowscrollbox-overflow-start-indicator {
    visibility: collapse !important;
}
