/* get rid of ugly outline on focused and clicked buttons and shit */
:not(#browser) *:-moz-focusring,
:not(#browser) *:focus,
:not(#browser) button::-moz-focus-inner,
:not(#browser) *:-moz-focusring *,
:not(#browser) *:focus * {
    outline: unset !important;
    outline-offset: unset !important;
    -moz-outline-radius: unset !important;
}

#mainPopupSet ::selection,
#browser ::selection,
#navigator-toolbox ::selection,
.sidebar-panel ::selection,
link[href="chrome://global/skin/search-textbox.css"] ~ ::selection {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: hsl(236, 20%, 16%) !important;
}

/* urlbar input highlight/selection color */
#urlbar input::selection {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: hsl(236, 20%, 16%) !important;
}

@-moz-document url-prefix("chrome://") {
    ::selection {
        background-color: rgba(142, 132, 255, 0.5) !important;
        color: #fff !important;
    }
}

/* hide update popups. i use a script for this now, updateNotificationSlayer.uc.js. use that instead, it's MUCH better. */
/* #appMenu-notification-popup {
    display: none !important;
} */

/* popupnotification:-moz-any([popupid="update-available"]) {
    display: none !important;
} */

/* fullscreen button */
#fullscreen-button .toolbarbutton-icon {
    transition: none !important;
    list-style-image: url("chrome://browser/skin/fullscreen.svg") !important;
}

#fullscreen-button[checked="true"] .toolbarbutton-icon {
    background: var(--toolbarbutton-checked-background) !important;
    list-style-image: url("chrome://browser/skin/fullscreen-exit.svg") !important;
}

#fullscreen-button[checked="true"]:hover .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#fullscreen-button[checked="true"]:hover:active .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important;
}

:root:not([chromehidden~="toolbar"]) #nav-bar>#PanelUI-button {
    border-image-source: linear-gradient(transparent 4px, var(--lwt-toolbar-vertical-separator, hsla(240, 100%, 89%, 0.2)) 5.5px, var(--lwt-toolbar-vertical-separator, hsla(240, 100%, 89%, 0.2)) calc(100% - 6.5px), transparent calc(100% - 5px)) !important;
}

#PanelUI-menu-button[badge-status=""]>.toolbarbutton-badge-stack>.toolbarbutton-badge {
    display: none !important;
}

#PanelUI-menu-button[badge-status^="update"]>.toolbarbutton-badge-stack>.toolbarbutton-badge {
    background: hsl(125, 81%, 57%) url("data:image/svg+xml;utf8,<svg fill='context-fill' fill-opacity='context-fill-opacity' stroke='context-stroke' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'><path d='M7.707 3.293l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L4 2.414l2.293 2.293a.997.997 0 001.414 0 1 1 0 000-1.414z'/></svg>") no-repeat center !important;
    fill: transparent !important;
    background-size: 72% !important;
    -moz-context-properties: fill !important;
    padding: 0 !important;
}

#PanelUI-menu-button[badge-status^="addon"]>.toolbarbutton-badge-stack>.toolbarbutton-badge,
#PanelUI-menu-button[badge-status^="extension"]>.toolbarbutton-badge-stack>.toolbarbutton-badge {
    display: none !important;
    background: hsl(125, 81%, 57%) url("chrome://browser/skin/addons/addon-install-installed.svg") !important;
    background-color: transparent !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    box-shadow: none !important;
    width: 11.5px !important;
    min-width: 0px !important;
    height: 12px !important;
    margin: -6px 0 0 !important;
    margin-inline-end: -5px !important;
    stroke: transparent !important;
    fill: currentColor !important;
    -moz-context-properties: fill, stroke !important;
}

#PanelUI-menu-button[badge-status^="update"]:is(:hover, [open])>.toolbarbutton-badge-stack>.toolbarbutton-badge {
    fill: hsl(118, 89%, 24%) !important;
}

.panel-banner-item[notificationid^="update"]::after {
    background: hsl(125, 81%, 57%) url("data:image/svg+xml;utf8,<svg fill='context-fill' fill-opacity='context-fill-opacity' stroke='context-stroke' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'><path d='M7.707 3.293l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L4 2.414l2.293 2.293a.997.997 0 001.414 0 1 1 0 000-1.414z'/></svg>") no-repeat center !important;
    fill: hsl(118, 89%, 24%) !important;
    background-size: 72% !important;
    background-position: 45% 50% !important;
    -moz-context-properties: fill !important;
    padding: 0 !important;
}

#PanelUI-menu-button[badge-status] > .toolbarbutton-badge-stack > .toolbarbutton-badge:-moz-window-inactive {
    filter: brightness(0.65) sepia(1) hue-rotate(185deg) !important;
}

#PanelUI-menu-button[badge-status^="update"] > .toolbarbutton-badge-stack > .toolbarbutton-badge:-moz-window-inactive {
/*     filter: brightness(0.65) sepia(1) hue-rotate(185deg) !important; */
    filter: none !important;
    background-color: hsl(227, 19%, 48%) !important;
}

#PanelUI-menu-button[badge-status^="update"]:is(:hover, [open]) > .toolbarbutton-badge-stack > .toolbarbutton-badge:-moz-window-inactive {
    background-color: hsl(125, 81%, 57%) !important;
}

#tracking-protection-icon-box>#tracking-protection-icon-animatable-box {
    margin-inline-start: 0px !important;
}

#tracking-protection-icon-box>#tracking-protection-icon {
    margin-inline-start: 0px !important;
}

toolbarpaletteitem[removable="false"] #tracking-protection-icon-container:is(:hover, [open="true"]) #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon {
    display: -moz-box !important;
    fill-opacity: 0.6 !important;
}

toolbarpaletteitem[removable="false"] #tracking-protection-icon-container:is(:hover, [open="true"]) #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon-animatable-box {
    display: none !important;
}

/* #tracking-protection-icon-container:not([open="true"]):not(:hover) #tracking-protection-icon-box:not([animate="true"], [active]) #tracking-protection-icon {
    display: -moz-box !important;
}

#tracking-protection-icon-container:not([open="true"]):not(:hover) #tracking-protection-icon-box:not([animate="true"], [active]) #tracking-protection-icon-animatable-box {
    display: none !important;
}

#tracking-protection-icon-container[open="true"] #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container:hover #tracking-protection-icon-box:not([animate="true"]) #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container #tracking-protection-icon-box[animate="true"] #tracking-protection-icon-animatable-box {
    filter: brightness(1.15) saturate(1.5) contrast(1.15) !important;
} */

/* #tracking-protection-icon-container #tracking-protection-icon-box[active]:not([animate]) #tracking-protection-icon-animatable-box {
    filter: brightness(1.15) saturate(1.5) contrast(1.15) !important;
} */

#tracking-protection-icon-container:is([open="true"], :hover) #tracking-protection-icon-box[active]:not([animate]) #tracking-protection-icon-animatable-box {
    display: block !important;
}

#tracking-protection-icon-container:not([open="true"], :hover) #tracking-protection-icon-box[active]:not([animate]) #tracking-protection-icon {
    display: -moz-box !important;
    fill: hsl(218, 100%, 72%) !important;
    fill-opacity: 1 !important;
}

#tracking-protection-icon-container:not([open="true"], :hover) #tracking-protection-icon-box[active]:not([animate]) #tracking-protection-icon-animatable-box,
#tracking-protection-icon-container:is([open="true"], :hover) #tracking-protection-icon-box[active]:not([animate]) #tracking-protection-icon {
    display: none !important;
}

#identity-box:-moz-any(:hover:active, [open="true"], :hover:not([open="true"])),
#identity-icon-box,
.identity-box-button {
    background-color: transparent !important;
}

#identity-icon-box[open="true"] #identity-icon,
#identity-icon-box:-moz-any(:hover:active, :hover:not([open="true"])) #identity-icon:hover {
    fill: #fff !important;
    fill-opacity: 1 !important;
}

#urlbar[pageproxystate="valid"] #identity-box.verifiedDomain #identity-icon-box[open="true"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box.verifiedDomain #identity-icon-box:-moz-any(:hover:active, :hover:not([open="true"])) #identity-icon:hover,
#urlbar[pageproxystate="valid"] #identity-box.verifiedIdentity #identity-icon-box[open="true"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box.verifiedIdentity #identity-icon-box:-moz-any(:hover:active, :hover:not([open="true"])) #identity-icon:hover,
#urlbar[pageproxystate="valid"] #identity-box.mixedActiveBlocked #identity-icon-box[open="true"] #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box.mixedActiveBlocked #identity-icon-box:-moz-any(:hover:active, :hover:not([open="true"])) #identity-icon:hover {
/*     fill: hsl(119, 100%, 43%) !important; */
    fill: hsl(119, 80%, 60%) !important;
    fill-opacity: 1 !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover #identity-icon-box:not([open="true"]) > #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover:active #identity-icon-box > #identity-icon,
#urlbar[pageproxystate="valid"] #identity-box.chromeUI #identity-icon-box[open="true"] > #identity-icon {
    list-style-image: url("chrome://branding/content/about-logo.png") !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI {
    padding: 0 !important;
    margin: 0 !important;
    margin-inline-end: 6px !important;
    border-image: none !important;
    border-right: 1px solid transparent !important;
    border-image-slice: 1;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI #identity-icon-box {
    background-color: hsla(236, 52%, 18%, 0.4) !important;
    padding-inline-end: 5px !important;
    padding-inline-start: 8px !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover #identity-icon-box:not([open="true"]),
#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover:active #identity-icon-box,
#urlbar[pageproxystate="valid"] #identity-box.chromeUI #identity-icon-box[open="true"] {
    background-color: hsla(236, 49%, 25%, 0.4) !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover #identity-icon-box:not([open="true"]) > #identity-icon-label,
#urlbar[pageproxystate="valid"] #identity-box.chromeUI:hover:active #identity-icon-box > #identity-icon-label,
#urlbar[pageproxystate="valid"] #identity-box.chromeUI #identity-icon-box[open="true"] > #identity-icon-label {
    opacity: 1 !important;
}

#urlbar[pageproxystate="valid"] #identity-box.chromeUI #notification-popup-box {
    opacity: 0 !important;
    display: block !important;
    position: absolute !important;
    pointer-events: none !important;
    top: 7px !important;
    padding-inline: 1px !important;
}

#urlbar[pageproxystate="invalid"] #identity-box {
    padding-inline-start: 4px;
}

#identity-box.notSecureText #identity-icon-label {
    display: none !important;
}

#identity-box.verifiedIdentity #identity-icon-label {
    display: none !important;
}

#identity-box:not(.chromeUI) #identity-icon-label {
    display: none !important;
}

/* remove little border between identity icon and url */
#identity-box.notSecureText,
#identity-box.verifiedIdentity,
#urlbar-display-box {
    border: none !important;
}

#tracking-protection-icon-container {
    margin-inline-end: 7px !important;
    padding-inline-end: 1px !important;
    margin-inline-start: 0px !important;
    padding-inline-start: 7px !important;
    border: none !important;
    background: none !important;
}

#tracking-protection-icon {
    list-style-image: url(chrome://browser/skin/tracking-protection.svg);
}

#tracking-protection-icon-container::after {
    display: none !important;
}

#identity-box[pageproxystate="valid"].notSecureText,
#identity-box[pageproxystate="valid"].verifiedIdentity,
#identity-box[pageproxystate="valid"].extensionPage {
    padding-inline-end: 6px !important;
    margin-inline-end: 2px !important;
}

.identity-popup-security-connection {
    background-position: 2.1em 50% !important;
}

/* connection security popup yellow "parts of this page" warning styling */
.identity-popup-warning-yellow {
    color: hsl(0, 100%, 66%) !important;
    background-color: transparent !important;
    border: none !important;
}

#identity-popup-mainView > #identity-popup-security > .identity-popup-security-content > .identity-popup-security-connection {
    background-position: 2.05em 40% !important;
    background-size: 18px auto !important;
}

/* url bar popups */
#identity-popup,
#protections-popup,
.popup-notification-panel {
    fill: currentColor;
    -moz-context-properties: fill, fill-opacity, opacity, stroke, stroke-opacity !important;
    margin-top: calc(var(--toolbarbutton-inner-padding) - 4px) !important;
}

#protections-popup {
    margin-left: -17px !important;
}

#identity-popup[connection^=secure] .identity-popup-security-connection,
:root[lwt-popup-brighttext] .identity-popup-connection-secure {
/*   fill: hsl(114, 100%, 37%) !important; */
    fill: hsl(119, 80%, 60%) !important;
    color: hsl(119, 80%, 60%) !important;
}

#protections-popup-mainView-panel-header-section {
  background: radial-gradient(circle farthest-side at top right, hsl(318, 73%, 69%), hsl(265, 100%, 69%), hsl(217, 90%, 39%)) !important;
}

#protections-popup-milestones {
    border-radius: 4px !important;
    overflow: hidden !important;
    background: radial-gradient(circle farthest-side at top left, hsla(318, 73%, 69%, 0.1), hsla(265, 100%, 69%, 0.25), hsla(217, 90%, 39%, 0.5)) !important;
}

#protections-popup-milestones-content {
    border-radius: 4px !important;
}

#identity-popup-security-expander > .button-box {
    border: none !important;
}

#protections-popup-not-blocking-section-why {
	border-radius: 0.1% !important;
}

.identity-popup-warning-box {
    border-radius: 4px !important;
    border-color: transparent !important;
}

#identity-popup-securityView-body {
    display: inline-flex !important;
    flex-direction: column !important;
}

#identity-popup[customroot="true"] [when-customroot="true"],
#identity-popup[connection="not-secure"] [when-connection~="not-secure"],
#identity-popup[connection="secure-cert-user-overridden"] [when-connection~="secure-cert-user-overridden"],
#identity-popup[connection="secure-ev"] [when-connection~="secure-ev"],
#identity-popup[connection="secure"] [when-connection~="secure"],
#identity-popup[connection="chrome"] [when-connection~="chrome"],
#identity-popup[connection="file"] [when-connection~="file"],
#identity-popup[connection="extension"] [when-connection~="extension"],
#identity-popup[connection="cert-error-page"] [when-connection~="cert-error-page"],
#identity-popup[connection="https-only-error-page"] [when-connection~="https-only-error-page"],
#identity-popup[ciphers="weak"] [when-ciphers~="weak"],
#identity-popup[mixedcontent~="active-loaded"] [when-mixedcontent="active-loaded"],
#identity-popup[mixedcontent~="passive-loaded"]:not([mixedcontent~="active-loaded"]) [when-mixedcontent="passive-loaded"],
#identity-popup[mixedcontent~="active-blocked"]:not([mixedcontent~="passive-loaded"]) [when-mixedcontent="active-blocked"],
#identity-popup[mixedcontent~="active-blocked"][mixedcontent~="passive-loaded"] [when-mixedcontent~="active-blocked"][when-mixedcontent~="passive-loaded"],
#identity-popup[httpsonlystatus="exception"] [when-httpsonlystatus~="exception"],
#identity-popup[httpsonlystatus="upgraded"] [when-httpsonlystatus~="upgraded"],
#identity-popup[httpsonlystatus="failed-top"] [when-httpsonlystatus~="failed-top"],
#identity-popup[httpsonlystatus="failed-sub"] [when-httpsonlystatus~="failed-sub"],
#identity-popup-securityView-body[mixedcontent~="active-blocked"]>button[when-mixedcontent="active-blocked"] {
    display: -moz-box !important;
}

#identity-popup-multiView .panel-button {
    appearance: none !important;
    color: currentColor !important;
    fill: currentColor !important;
    background-color: var(--arrowpanel-dimmed) !important;
    border-radius: 3px !important;
    padding: 0.15em 0.4em !important;
    align-self: center !important;
}

#identity-popup-multiView .panel-button:not([disabled]):hover:active,
#identity-popup-multiView .panel-button:not([disabled])[open] {
    background-color: var(--arrowpanel-dimmed-even-further) !important;
}

#identity-popup-multiView .panel-button:not([disabled]):hover {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

#identity-popup-multiView .panel-button:not([disabled]) {
    background-color: var(--arrowpanel-dimmed) !important;
}

#identity-popup-multiView .panel-button[disabled="true"] {
    opacity: 0.6 !important;
    pointer-events: none !important;
}

.panel-header > .subviewbutton-back,
.panel-header > .subviewbutton-back > .toolbarbutton-icon {
    -moz-context-properties: fill, fill-opacity !important;
    fill-opacity: 0.6;
}

.panel-header > .subviewbutton-back:hover,
.panel-header > .subviewbutton-back:hover > .toolbarbutton-icon {
    fill-opacity: 0.8;
}

/* put animated colored tracking protection icon on every site */
/* #tracking-protection-icon-box:not([animationsenabled]):not([animate="true"]):not([hasException])>#tracking-protection-icon-animatable-box,
#tracking-protection-icon-box:not([animate="true"]):not([hasException])>#tracking-protection-icon-animatable-box {
    display: block !important;
}

#tracking-protection-icon-box:not([animationsenabled]):not([animate="true"]):not([hasException])>#tracking-protection-icon,
#tracking-protection-icon-box:not([animate="true"]):not([hasException])>#tracking-protection-icon {
    display: none !important;
}

#tracking-protection-icon-box:not([animate="true"]):not([hasException]) #tracking-protection-icon-animatable-image {
    background-image: url("chrome://browser/skin/tracking-protection-animation-brighttext.svg");
}

#tracking-protection-icon-box:not([animate="true"]):not([hasException]) #tracking-protection-icon-animatable-image {
    background-image: url("chrome://browser/skin/tracking-protection-animation-brighttext.svg");
    transform: translateX(-256px);
    width: 272px;
    background-size: auto;
    height: 16px;
    min-height: 16px;
    -moz-context-properties: fill, fill-opacity;
} */
/* 
#tracking-protection-icon-box[hasException]::before {
    background: url("chrome://browser/skin/badge-blue.svg");
    content: "";
    position: absolute !important;
    bottom: 8.5px !important;
    right: -3.5px !important;
    height: 14px !important;
    width: 14px !important;
} */


/* hide tracking protection icon on new tab page, and show search identity icon. again, message u/MotherStylus if you want my tab notes addon. */
#main-window[title="Tab Notes - Firefox Nightly"] #tracking-protection-icon-container {
    visibility: collapse;
}

#urlbar-input::placeholder {
    opacity: 0.4 !important;
    color: rgb(255, 255, 255) !important;
}

#urlbar[focused="true"] .urlbar-input-box>#urlbar-input::placeholder {
    opacity: 0.65 !important;
}

.install-icon.blocked-permission-icon,
.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-origin-blocked"] {
/*     list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='64' height='64' viewBox='0 0 64 64'><defs><style>.style-puzzle-piece {fill: white; fill-opacity: context-fill-opacity;} .style-badge-shadow {fill: %230d131a; fill-opacity: .15;} .style-badge-background {fill: %23fff;} .style-badge-inside {fill: %23e62117;} .style-badge-icon {fill: %23fff;}</style></defs><path class='style-puzzle-piece' d='M42,62c2.2,0,4-1.8,4-4l0-14.2c0,0,0.4-3.7,2.8-3.7c2.4,0,2.2,3.9,6.7,3.9c2.3,0,6.2-1.2,6.2-8.2 c0-7-3.9-7.9-6.2-7.9c-4.5,0-4.3,3.7-6.7,3.7c-2.4,0-2.8-3.8-2.8-3.8V22c0-2.2-1.8-4-4-4H31.5c0,0-3.4-0.6-3.4-3 c0-2.4,3.8-2.6,3.8-7.1c0-2.3-1.3-5.9-8.3-5.9s-8,3.6-8,5.9c0,4.5,3.4,4.7,3.4,7.1c0,2.4-3.4,3-3.4,3H6c-2.2,0-4,1.8-4,4l0,7.8 c0,0-0.4,6,4.4,6c3.1,0,3.2-4.1,7.3-4.1c2,0,4,1.9,4,6c0,4.2-2,6.3-4,6.3c-4,0-4.2-4.1-7.3-4.1c-4.8,0-4.4,5.8-4.4,5.8L2,58 c0,2.2,1.8,4,4,4H19c0,0,6.3,0.4,6.3-4.4c0-3.1-4-3.6-4-7.7c0-2,2.2-4.5,6.4-4.5c4.2,0,6.6,2.5,6.6,4.5c0,4-3.9,4.6-3.9,7.7 c0,4.9,6.3,4.4,6.3,4.4H42z'/><svg width='32' height='32' x='32' y='0'><ellipse class='style-badge-shadow' rx='14' ry='15' cx='16' cy='17'/><circle class='style-badge-background' r='15' cy='15' cx='16'/><circle class='style-badge-inside' r='12' cy='15' cx='16'/><rect class='style-badge-icon' x='9' y='13' width='14' height='4' rx='1' ry='1'/></svg></svg>") !important; */
    list-style-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='16' height='16' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M15.7.3c-.4-.4-1.2-.4-1.6 0L12.4 2h-1.3c0-1.1-.9-2-2.1-2S7 .9 7 2.1H3.7c-.9 0-1.6.7-1.6 1.6V7C.9 7 0 7.9 0 9s.9 2.1 2.1 2.1v1.3L.3 14c-.5.4-.5 1.2 0 1.6s1.2.5 1.6 0L15.7 2c.4-.5.4-1.2 0-1.7zM13.5 9c0-.4.2-2.2 2.5-2.2V3.7c0-.2 0-.4-.1-.6L3 15.9c.2.1.5.1.7.1h3.1c0-2.2 1.8-2.5 2.2-2.5.4 0 2.2.2 2.2 2.5h3.1c.9 0 1.6-.7 1.6-1.6v-3.1c-2.1-.1-2.4-1.8-2.4-2.3z'/></svg>") !important;
}

#addons-notification-icon,
#add-ons-button,
#appMenu-addons-button {
    list-style-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='16' height='16' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M7 2.1H3.7c-.9 0-1.6.7-1.6 1.6V7C.9 7 0 7.9 0 9s.9 2.1 2.1 2.1v3.3c0 .9.7 1.6 1.6 1.6h3.1c0-2.2 1.8-2.5 2.2-2.5s2.2.2 2.2 2.5h3.1c.9 0 1.6-.7 1.6-1.6v-3.1c-2.2 0-2.5-1.8-2.5-2.2 0-.4.2-2.2 2.5-2.2V3.7c0-.9-.7-1.6-1.6-1.6H11C11.1.9 10.2 0 9 0S7 .9 7 2.1z'/></svg>") !important;
}

.tabbrowser-tab[image="chrome://mozapps/skin/extensions/extension.svg"] .tab-sharing-icon-overlay {
    list-style-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='16' height='16' fill='context-fill' fill-opacity='context-fill-opacity'><path d='M7 2.1H3.7c-.9 0-1.6.7-1.6 1.6V7C.9 7 0 7.9 0 9s.9 2.1 2.1 2.1v3.3c0 .9.7 1.6 1.6 1.6h3.1c0-2.2 1.8-2.5 2.2-2.5s2.2.2 2.2 2.5h3.1c.9 0 1.6-.7 1.6-1.6v-3.1c-2.2 0-2.5-1.8-2.5-2.2 0-.4.2-2.2 2.5-2.2V3.7c0-.9-.7-1.6-1.6-1.6H11C11.1.9 10.2 0 9 0S7 .9 7 2.1z'/></svg>") !important;
    display: block !important;
    fill: currentColor !important;
}

.tabbrowser-tab[image="chrome://mozapps/skin/extensions/extension.svg"] .tab-icon-image {
    visibility: hidden !important;
}

#plugins-notification-icon[extraAttr="inactive"] > .plugin-icon {
    fill: currentColor !important;
}

#plugins-notification-icon[extraAttr="inactive"] > #plugin-icon-badge {
    fill-opacity: 1;
}

findbar {
    overflow: hidden;
}

/* context menus */
#toolbar-context-menu,
#tabContextMenu,
#contentAreaContextMenu,
#back-button menupopup,
#forward-button menupopup,
#backForwardMenu,
#placesContext,
#viewButton menupopup,
#pageActionContextMenu,
.urlbar-input-box .textbox-contextmenu,
#widget-overflow #customizationPanelItemContextMenu,
.search-one-offs-context-menu,
#SyncedTabsSidebarContext,
.textbox-contextmenu,
#customizationPanelItemContextMenu,
#customizationPaletteItemContextMenu,
#customization-toolbar-menu,
#main-menubar menupopup,
#new-tab-button-popup,
.new-tab-popup,
#downloadsContextMenu,
menupopup[menu-api],
#PlacesToolbar menupopup,
#ContentSelectDropdown,
#toolbar-context-menu menupopup,
#tabContextMenu menupopup,
#contentAreaContextMenu menupopup,
#backForwardMenu menupopup,
#placesContext menupopup,
#pageActionContextMenu menupopup,
.urlbar-input-box .textbox-contextmenu menupopup,
#widget-overflow #customizationPanelItemContextMenu menupopup,
.search-one-offs-context-menu menupopup,
#SyncedTabsSidebarContext menupopup,
.textbox-contextmenu menupopup,
#customizationPanelItemContextMenu menupopup,
#customizationPaletteItemContextMenu menupopup,
#customization-toolbar-menu menupopup,
#new-tab-button-popup menupopup,
#new-tab-button menupopup,
.popup-notification-dropmarker menupopup,
menupopup[menu-api] menupopup,
#ContentSelectDropdown menupopup,
.new-tab-popup menupopup,
#openHandlerPopup {
    -moz-appearance: none !important;
    background: var(--menupopup-background) !important;
    border: none !important;
    border-radius: var(--menupopup-border-radius) !important;
    margin: var(--menupopup-margin) !important;
    overflow: hidden !important;
}

.panel-arrowcontent {
    border-radius: 5px !important;
    overflow: hidden !important;
    border: none !important;
}

#toolbar-context-menu menuseparator,
#tabContextMenu menuseparator,
#contentAreaContextMenu menuseparator,
#back-button>menupopup menuseparator,
#forward-button>menupopup menuseparator,
#backForwardMenu menuseparator,
#toolbar-context-menu menuseparator,
#placesContext menuseparator,
#viewButton>menupopup menuseparator,
#pageActionContextMenu menuseparator,
.urlbar-input-box .textbox-contextmenu menuseparator,
#widget-overflow #customizationPanelItemContextMenu menuseparator,
.search-one-offs-context-menu menuseparator,
#SyncedTabsSidebarContext menuseparator,
.textbox-contextmenu menuseparator,
#customizationPanelItemContextMenu menuseparator,
#customizationPaletteItemContextMenu menuseparator,
#customization-toolbar-menu menuseparator,
#main-menubar menupopup menuseparator,
#new-tab-button-popup menuseparator,
#new-tab-button menuseparator,
.popup-notification-dropmarker menuseparator,
#downloadsContextMenu menuseparator,
menupopup[menu-api] menuseparator,
#PlacesToolbar menupopup menuseparator,
#ContentSelectDropdown menuseparator,
.new-tab-popup menuseparator,
#openHandlerPopup menuseparator {
    /*     -moz-appearance: none !important;
    max-height: 1px !important;
    border: none !important;
    padding: 0.5px 0 !important;
    margin: 0 10px !important;
    background-color: var(--ui-textbox-bgcolor) !important; */
    visibility: hidden !important;
    display: none !important;
}

#toolbar-context-menu :-moz-any(menuitem, menu),
#tabContextMenu :-moz-any(menuitem, menu),
#contentAreaContextMenu :-moz-any(menuitem, menu),
#back-button>menupopup :-moz-any(menuitem, menu),
#forward-button>menupopup :-moz-any(menuitem, menu),
#backForwardMenu :-moz-any(menuitem, menu),
#toolbar-context-menu :-moz-any(menuitem, menu),
#placesContext :-moz-any(menuitem, menu),
#viewButton>menupopup :-moz-any(menuitem, menu),
#pageActionContextMenu :-moz-any(menuitem, menu),
.urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu),
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu),
.search-one-offs-context-menu :-moz-any(menuitem, menu),
#SyncedTabsSidebarContext :-moz-any(menuitem, menu),
.textbox-contextmenu :-moz-any(menuitem, menu),
#customizationPanelItemContextMenu :-moz-any(menuitem, menu),
#customizationPaletteItemContextMenu :-moz-any(menuitem, menu),
#customization-toolbar-menu :-moz-any(menuitem, menu),
#main-menubar menupopup :-moz-any(menuitem, menu),
#new-tab-button-popup :-moz-any(menuitem, menu),
#new-tab-button :is(menuitem, menu),
.popup-notification-dropmarker menupopup :-moz-any(menuitem, menu),
#downloadsContextMenu :is(menuitem, menu),
menupopup[menu-api] :is(menuitem, menu),
#PlacesToolbar menupopup :is(menuitem, menu),
#ContentSelectDropdown :is(menuitem, menu),
.new-tab-popup :is(menuitem, menu),
#openHandlerPopup :is(menuitem, menu) {
    -moz-appearance: none !important;
    color: rgba(255, 255, 255, 0.8) !important;
    padding: 0 0 0 0 !important;
    min-height: 25px !important;
}

#openHandlerPopup :is(menuitem, menu) {
    padding-inline-start: 5px !important;
}

#toolbar-context-menu :-moz-any(menuitem, menu)[disabled="true"],
#tabContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#contentAreaContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#back-button>menupopup :-moz-any(menuitem, menu)[disabled="true"],
#forward-button>menupopup :-moz-any(menuitem, menu)[disabled="true"],
#backForwardMenu :-moz-any(menuitem, menu)[disabled="true"],
#toolbar-context-menu :-moz-any(menuitem, menu)[disabled="true"],
#placesContext :-moz-any(menuitem, menu)[disabled="true"],
#viewButton>menupopup :-moz-any(menuitem, menu)[disabled="true"],
#pageActionContextMenu :-moz-any(menuitem, menu)[disabled="true"],
.urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"],
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"],
.search-one-offs-context-menu :-moz-any(menuitem, menu)[disabled="true"],
#SyncedTabsSidebarContext :-moz-any(menuitem, menu)[disabled="true"],
.textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"],
#customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customizationPaletteItemContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customization-toolbar-menu :-moz-any(menuitem, menu)[disabled="true"],
#main-menubar menupopup :-moz-any(menuitem, menu)[disabled="true"],
#new-tab-button-popup :-moz-any(menuitem, menu)[disabled="true"],
#new-tab-button :-moz-any(menuitem, menu)[disabled="true"],
.popup-notification-dropmarker menupopup :-moz-any(menuitem, menu)[disabled="true"],
#downloadsContextMenu :is(menuitem, menu)[disabled="true"],
menupopup[menu-api] :is(menuitem, menu)[disabled="true"],
#PlacesToolbar menupopup :is(menuitem, menu)[disabled="true"],
#ContentSelectDropdown :is(menuitem, menu)[disabled="true"],
.new-tab-popup :is(menuitem, menu)[disabled="true"],
#openHandlerPopup :is(menuitem, menu)[disabled="true"] {
    -moz-appearance: none !important;
    color: rgba(255, 255, 255, 0.45) !important;
    background-color: initial !important;
}

/* menuseparator:not(:first-of-type) + :-moz-any(menu, menuitem) {
    border-top: 1px solid #363A59 !important;
    padding-top: 3px !important;
} */

#toolbar-context-menu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#tabContextMenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#contentAreaContextMenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#back-button>menupopup menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#forward-button>menupopup menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#backForwardMenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#toolbar-context-menu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#placesContext menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#viewButton>menupopup menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#pageActionContextMenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
.urlbar-input-box .textbox-contextmenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#widget-overflow #customizationPanelItemContextMenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
.search-one-offs-context-menu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#SyncedTabsSidebarContext menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
.textbox-contextmenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#customizationPanelItemContextMenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#customizationPaletteItemContextMenu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#customization-toolbar-menu menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#main-menubar menupopup menuseparator:not(:first-of-type):not([hidden="true"])+ :-moz-any(menu, menuitem),
#new-tab-button-popup menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
#new-tab-button menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
.popup-notification-dropmarker menupopup menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
#downloadsContextMenu menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
menupopup[menu-api] menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
#PlacesToolbar menupopup menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
#ContentSelectDropdown menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
.new-tab-popup menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem),
#openHandlerPopup menuseparator:not([hidden="true"])+ :-moz-any(menu, menuitem) {
    /*     border-top: 1px solid hsla(233, 24%, 28%, 0.47) !important; */
    border-image: linear-gradient(to right, transparent 1%, hsl(233, 25%, 23%) 50%, transparent 99%) !important;
    border-image-slice: 1 !important;
    border-top-width: 1px !important;
    border-top-style: solid !important;
}

/* #toolbar-context-menu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#tabContextMenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#contentAreaContextMenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#back-button>menupopup menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#forward-button>menupopup menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#backForwardMenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#toolbar-context-menu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#placesContext menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#viewButton>menupopup menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#pageActionContextMenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
.urlbar-input-box .textbox-contextmenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#widget-overflow #customizationPanelItemContextMenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
.search-one-offs-context-menu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#SyncedTabsSidebarContext menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
.textbox-contextmenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#customizationPanelItemContextMenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#customizationPaletteItemContextMenu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text),
#customization-toolbar-menu menuseparator:not(:first-of-type):not([hidden="true"]) + :-moz-any(menu, menuitem) > :-moz-any(.menu-text, .menu-iconic-text) {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
} */

#toolbar-context-menu :-moz-any(menuitem, menu) image,
#tabContextMenu :-moz-any(menuitem, menu) image,
#contentAreaContextMenu :-moz-any(menuitem, menu) image,
#back-button>menupopup :-moz-any(menuitem, menu) image,
#forward-button>menupopup :-moz-any(menuitem, menu) image,
#backForwardMenu :-moz-any(menuitem, menu) image,
#toolbar-context-menu :-moz-any(menuitem, menu) image,
#placesContext :-moz-any(menuitem, menu) image,
#viewButton>menupopup :-moz-any(menuitem, menu) image,
#pageActionContextMenu :-moz-any(menuitem, menu) image,
.urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu) image,
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu) image,
.search-one-offs-context-menu :-moz-any(menuitem, menu) image,
#SyncedTabsSidebarContext :-moz-any(menuitem, menu) image,
.textbox-contextmenu :-moz-any(menuitem, menu) image,
#customizationPanelItemContextMenu :-moz-any(menuitem, menu) image,
#customizationPaletteItemContextMenu :-moz-any(menuitem, menu) image,
#customization-toolbar-menu :-moz-any(menuitem, menu) image,
#main-menubar menupopup :-moz-any(menuitem, menu) image,
#new-tab-button-popup :-moz-any(menuitem, menu) image,
#new-tab-button :is(menuitem, menu) image,
.popup-notification-dropmarker menupopup :-moz-any(menuitem, menu) image,
#downloadsContextMenu :is(menuitem, menu) image,
menupopup[menu-api] :is(menuitem, menu) image,
#PlacesToolbar menupopup :is(menuitem, menu) image,
#ContentSelectDropdown :is(menuitem, menu) image,
.new-tab-popup :is(menuitem, menu) image,
#openHandlerPopup :is(menuitem, menu) image {
    margin-left: 3px;
    margin-right: -3px;
}

#contentAreaContextMenu>*>*>image {
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke !important;
}

#toolbar-context-menu menugroup,
#tabContextMenu menugroup,
#contentAreaContextMenu menugroup,
#back-button>menupopup menugroup,
#forward-button>menupopup menugroup,
#backForwardMenu menugroup,
#toolbar-context-menu menugroup,
#placesContext menugroup,
#viewButton>menupopup menugroup,
#pageActionContextMenu menugroup,
.urlbar-input-box .textbox-contextmenu menugroup,
#widget-overflow #customizationPanelItemContextMenu menugroup,
.search-one-offs-context-menu menugroup,
#SyncedTabsSidebarContext menugroup,
.textbox-contextmenu menugroup,
#customizationPanelItemContextMenu menugroup,
#customizationPaletteItemContextMenu menugroup,
#customization-toolbar-menu menugroup,
#main-menubar menupopup menugroup,
#new-tab-button-popup menugroup,
#new-tab-button menugroup,
.popup-notification-dropmarker menupopup menugroup,
#downloadsContextMenu menugroup,
menupopup[menu-api] menugroup,
#PlacesToolbar menupopup menugroup,
#ContentSelectDropdown menugroup,
.new-tab-popup menugroup,
#openHandlerPopup menugroup {
    padding: 0 !important;
    background-color: transparent !important;
}

#toolbar-context-menu .menu-right,
#tabContextMenu .menu-right,
#contentAreaContextMenu .menu-right,
#back-button>menupopup .menu-right,
#forward-button>menupopup .menu-right,
#backForwardMenu .menu-right,
#toolbar-context-menu .menu-right,
#placesContext .menu-right,
#viewButton>menupopup .menu-right,
#pageActionContextMenu .menu-right,
.urlbar-input-box .textbox-contextmenu .menu-right,
#widget-overflow #customizationPanelItemContextMenu .menu-right,
.search-one-offs-context-menu .menu-right,
#SyncedTabsSidebarContext .menu-right,
.textbox-contextmenu .menu-right,
#customizationPanelItemContextMenu .menu-right,
#customizationPaletteItemContextMenu .menu-right,
#customization-toolbar-menu .menu-right,
#main-menubar menupopup .menu-right,
#new-tab-button-popup .menu-right,
#new-tab-button .menu-right,
.popup-notification-dropmarker menupopup .menu-right,
#downloadsContextMenu .menu-right,
menupopup[menu-api] .menu-right,
#PlacesToolbar menupopup .menu-right,
#ContentSelectDropdown .menu-right,
.new-tab-popup .menu-right,
#openHandlerPopup .menu-right {
    -moz-appearance: none !important;
    padding: 0px !important;
    margin-right: var(--menu-right-margin) !important;
    width: var(--menu-right-size) !important;
    height: var(--menu-right-size) !important;
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    background-size: 10px 10px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: var(--menu-right-bg) !important;
    list-style-image: var(--menu-right-img) !important;
}

#toolbar-context-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#tabContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#contentAreaContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#back-button>menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#forward-button>menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#backForwardMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#toolbar-context-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#placesContext :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#viewButton>menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#pageActionContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.urlbar-input-box .textbox-contextmenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.search-one-offs-context-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#SyncedTabsSidebarContext :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.textbox-contextmenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customizationPanelItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customizationPaletteItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customization-toolbar-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#main-menubar menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#new-tab-button-popup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#new-tab-button :is(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.popup-notification-dropmarker menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#downloadsContextMenu :is(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
menupopup[menu-api] :is(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#PlacesToolbar menupopup :is(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#ContentSelectDropdown :is(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.new-tab-popup :is(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#openHandlerPopup :is(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]) {
    -moz-appearance: none !important;
    background-color: var(--arrowpanel-dimmed) !important;
}

:-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"])[disabled="true"] {
    background: none !important;
    -moz-appearance: none !important;
}

.subviewbutton:-moz-any(:hover, [_moz-menuactive="true"])[disabled="true"] {
    color: var(--panel-disabled-color) !important;
}

menu.subviewbutton:not([disabled])[_moz-menuactive]:active {
    background: var(--arrowpanel-dimmed) !important;
    box-shadow: none !important;
}

#ContentSelectDropdown > menupopup > menucaption > .menu-iconic-text,
#ContentSelectDropdown > menupopup > menuitem > .menu-iconic-text {
    padding-block: unset !important
}

#ContentSelectDropdown :is(menu, menuitem, menucaption) {
    padding-inline-start: 8px !important;
}

.contentSelectDropdown-ingroup > .menu-iconic-text {
	padding-inline-start: 8px !important;
}

#ContentSelectDropdown > menupopup {
	font: menu !important;
}

#ContentSelectDropdown > menupopup > menuitem:not([_moz-menuactive="true"]) {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

#ContentSelectDropdown > menupopup {
    color: rgba(255, 255, 255, 0.8) !important;
    background-image: unset !important;
}

#backForwardMenu menuitem[type="checkbox"]>.menu-iconic-left>.menu-iconic-icon,
#backForwardMenu menuitem[checked="true"]>.menu-iconic-left>.menu-iconic-icon,
#backForwardMenu menuitem[type="radio"]>.menu-iconic-left>.menu-iconic-icon,
#back-button menuitem[type="checkbox"]>.menu-iconic-left>.menu-iconic-icon,
#back-button menuitem[checked="true"]>.menu-iconic-left>.menu-iconic-icon,
#back-button menuitem[type="radio"]>.menu-iconic-left>.menu-iconic-icon,
#forward-button menuitem[type="checkbox"]>.menu-iconic-left>.menu-iconic-icon,
#forward-button menuitem[checked="true"]>.menu-iconic-left>.menu-iconic-icon,
#forward-button menuitem[type="radio"]>.menu-iconic-left>.menu-iconic-icon {
    display: -moz-inline-box !important;
}

#backForwardMenu menuitem[type="radio"]>.menu-iconic-left,
#back-button menuitem[type="radio"]>.menu-iconic-left,
#forward-button menuitem[type="radio"]>.menu-iconic-left {
    -moz-appearance: none !important;
    padding-right: 7px !important;
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity !important;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0wIDZjLTMuMzEzIDAtNiAyLjY4Ny02IDZzMi42ODcgNiA2IDZjMy4zMTQgMCA2LTIuNjg3IDYtNnMtMi42ODYtNi02LTZ6IiBmaWxsPSJjb250ZXh0LWZpbGwiIGZpbGwtb3BhY2l0eT0iY29udGV4dC1maWxsLW9wYWNpdHkiLz48L3N2Zz4=") 5.5px 0px no-repeat !important;
    background-size: 16px !important;
    padding-left: 3px !important;
    margin-left: 0 !important;
}

#backForwardMenu menuitem[type="radio"],
#back-button menuitem[type="radio"],
#forward-button menuitem[type="radio"] {
    padding: 0px !important;
    color: white !important;
}

.menuitem-with-favicon[uri="moz-extension://341da70b-415b-44de-979b-de30458e8a84/newtab.html"]:not([_moz-menuactive="true"]) {
    list-style-image: url("data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA3d3dAP///wB3d3cAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADMzMzMzMwAAMiIiIiIjAAAyIiIiIiMAADIjMzMyIwAAMiIiIiIjAAAyIiIiIiMAADIjMzMyIwAAMiIiIiIjAAAyIiIiIiMAADIjMzMyIwAAMiIiIiIjAAAyIiIiIiMAADIiIiIzMwAAMiIiIjEwAAAyIiIiMwAAADMzMzMwAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAcAAMAPAADAHwAA") !important;
}
