/* 
@name           duskFox
@version        2.7.7
@author         aminomancer
@homepage       https://github.com/aminomancer
@description    A dark indigo theme integrated with extensive functional and visual scripts.
                This stylesheet is just used to load all the other parent-process stylesheets into the chrome window.
*/

@import url(uc-globals.css);
@import url(uc-variables.css);
@import url(uc-extensions.css);
@import url(uc-tabs-bar.css);
@import url(uc-context-menu-icons.css);
@import url(uc-app-menu.css);
@import url(uc-panels.css);
@import url(uc-tabs.css);
@import url(uc-urlbar.css);
@import url(uc-findbar.css);
@import url(uc-navbar.css);
@import url(uc-urlbar-results.css);
@import url(uc-search-one-offs.css);
@import url(uc-ctrl-tab.css);
@import url(uc-sidebar.css);
@import url(uc-bookmarks.css);
@import url(uc-context-menus.css);
@import url(uc-fullscreen.css);
@import url(uc-popups.css);
@import url(uc-search-mode-icons.css);
@import url(uc-misc.css);
@import url(custom-chrome.css);
