/* this stylesheet is used to style native anonymous content
and in particular, tooltips and scrollbars. */

@import url(uc-globals.css);

/* firefox UI scrollbars */
.hidevscroll-scrollbar {
    -moz-appearance: none !important;
    appearance: none !important;
    margin-left: 4px !important;
    border: none !important;
    position: relative !important;
    background-color: transparent !important;
    padding: 0px !important;
    z-index: 20 !important;
}

.hidehscroll-scrollbar {
    -moz-appearance: none !important;
    appearance: none !important;
    border: none !important;
    position: relative !important;
    background-color: transparent !important;
    padding: 0px !important;
    z-index: 20 !important;
}

.hidevscroll-scrollbar[orient="vertical"] {
    -moz-margin-start: -11px !important;
    min-width: 11px !important;
    padding-block: 2px !important;
}

.hidehscroll-scrollbar[orient="horizontal"] {
    margin-block-start: -11px !important;
    min-height: 11px !important;
    padding-inline: 2px !important;
}

.hidevscroll-scrollbar[orient="vertical"] thumb {
    min-height: 20px !important;
    transform-origin: right !important;
}

.hidehscroll-scrollbar[orient="horizontal"] thumb {
    min-width: 20px !important;
    transform-origin: bottom !important;
}

.hidevscroll-scrollbar[orient="vertical"]:not(:hover) thumb:not(:active) {
    transform: scaleX(20%) !important;
}

.hidehscroll-scrollbar[orient="horizontal"]:not(:hover) thumb:not(:active) {
    transform: scaleY(20%) !important;
}

.hidevscroll-scrollbar thumb,
.hidehscroll-scrollbar thumb {
    -moz-appearance: none !important;
    appearance: none !important;
    border-width: 0px !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    opacity: 0.3 !important;
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out !important;
}

.hidevscroll-scrollbar thumb::before,
.hidehscroll-scrollbar thumb::before {
    content: "" !important;
    display: -moz-box !important;
    border-radius: 5px !important;
    background-color: rgba(124, 124, 131, 1) !important;
    -moz-box-flex: 1 !important;
}

.hidevscroll-scrollbar[orient="vertical"] thumb::before {
    margin-inline-end: 2px !important;
    min-width: 9px !important;
}

.hidehscroll-scrollbar[orient="horizontal"] thumb::before {
    margin-block-end: 2px !important;
    min-height: 9px !important;
}

.hidevscroll-scrollbar:hover thumb,
.hidehscroll-scrollbar:hover thumb {
    background-color: transparent !important;
    opacity: 0.5 !important;
    transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out !important;
}

.hidevscroll-scrollbar thumb:active,
.hidehscroll-scrollbar thumb:active {
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: opacity 0.06s ease-in-out, transform 0.1s ease-in-out !important;
}

.hidevscroll-scrollbar scrollbarbutton,
.hidevscroll-scrollbar gripper,
.hidehscroll-scrollbar scrollbarbutton,
.hidehscroll-scrollbar gripper {
    display: none !important;
}

/* browser scrollbars */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tooltips */
/* I recommend using tooltipShadowSupport.uc.js if you want the thin border on all tooltips.
If you don't want the border then set userChrome.css.remove-tooltip-borders to true in about:config */
tooltip {
    -moz-default-appearance: none;
    display: -moz-popup;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: var(--tooltip-color);
    border: none;
    padding: 5px;
    pointer-events: none;
    --uc-tooltip-inner-padding: 2px 6px 4px 6px;
}

tooltip:not([position]) {
    margin-block-start: 16px;
    margin-inline-start: -5px;
}

tooltip > description {
    background-color: var(--tooltip-bgcolor);
    color: var(--tooltip-color);
    border: 1px solid var(--uc-menu-border-color);
    border-radius: var(--tooltip-border-radius);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: var(--uc-tooltip-inner-padding, 2px 6px 4px 6px);
    margin: 0;
}

@supports -moz-bool-pref("userChrome.css.remove-tooltip-borders") {
    tooltip > description {
        border: none;
    }
}

@supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
    @-moz-document url(chrome://browser/content/browser.xhtml)
    {
        tooltip {
            font-family: SF Pro Text, Segoe UI, sans-serif;
            font-kerning: normal;
            --uc-tooltip-inner-padding: 3px 6px 4px 6px;
        }
    }
}

:not(select):not(hbox) > scrollbar {
    -moz-appearance: none !important;
    appearance: none !important;
    position: relative;
    background-color: transparent;
    background-image: none;
    z-index: 20;
    padding: 0px;
}

:not(select):not(hbox) > scrollbar[orient="vertical"] {
    -moz-margin-start: -11px;
    min-width: 11px;
    max-width: 11px;
    padding-block: 2px !important;
}

:not(select):not(hbox) > scrollbar[orient="vertical"] thumb {
    min-height: 20px;
    transform-origin: right;
}

:not(select):not(hbox) > scrollbar[orient="vertical"]:not(:hover) thumb:not(:active) {
    transform: scaleX(20%);
}

:not(select):not(hbox) > scrollbar[orient="horizontal"] {
    margin-top: -11px;
    min-height: 11px;
    max-height: 11px;
    padding-inline: 2px !important;
}

:not(select):not(hbox) > scrollbar[orient="horizontal"] thumb {
    min-width: 20px;
    transform-origin: bottom;
}

:not(select):not(hbox) > scrollbar[orient="horizontal"]:not(:hover) thumb:not(:active) {
    transform: scaleY(20%);
}

/* reduce the scrollbar edge padding on menupopup arrowscrollboxes
(not the gutter — e.g. for a vertical scrollbox, reduce the padding-block) */
scrollbox:not(select):not(hbox) > scrollbar[orient="horizontal"],
scrollbox:not(select):not(hbox) > scrollbar[orient="vertical"] {
    padding: 0 !important;
}

:not(select):not(hbox) > scrollbar thumb {
    -moz-appearance: none !important;
    appearance: none !important;
    border-width: 0px !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    opacity: 0.3 !important;
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out;
}

:not(select):not(hbox) > scrollbar thumb::before {
    content: "" !important;
    display: -moz-box !important;
    border-radius: 5px !important;
    background-color: rgba(124, 124, 131, 1) !important;
    -moz-box-flex: 1 !important;
}

:not(select):not(hbox) > scrollbar[orient="vertical"] thumb::before {
    margin-inline-end: 2px !important;
    min-width: 9px !important;
}

:not(select):not(hbox) > scrollbar[orient="horizontal"] thumb::before {
    margin-block-end: 2px !important;
    min-height: 9px !important;
}

:not(select):not(hbox) > scrollbar:hover thumb {
    opacity: 0.5 !important;
    transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out;
}

:not(select):not(hbox) > scrollbar thumb:active {
    opacity: 0.9 !important;
    transition: opacity 0.06s ease-in-out, transform 0.1s ease-in-out;
}

:not(select):not(hbox) > scrollbar scrollbarbutton,
:not(select):not(hbox) > scrollbar gripper {
    display: none;
}
