/* this stylesheet is used to style native anonymous content
and in particular, tooltips and scrollbars. */

@import url(uc-globals.css);

/* tree scrollbars — these only show up in the firefox UI and system pages, e.g. bookmarks sidebar */
.hidevscroll-scrollbar,
.hidehscroll-box scrollbar {
    appearance: none !important;
    border: none;
    position: relative;
    background-color: transparent;
    padding: 0px;
    z-index: 20;
}

.hidevscroll-scrollbar[orient="vertical"] {
    -moz-margin-start: -11px;
    min-width: 11px;
    padding-block: 2px;
}

.hidehscroll-box scrollbar[orient="horizontal"] {
    margin-block-start: -11px;
    min-height: 11px;
    padding-inline: 2px;
}

.hidevscroll-scrollbar thumb,
.hidehscroll-box scrollbar thumb {
    appearance: none !important;
    border-width: 0px;
    background-color: transparent;
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out;
}

.hidevscroll-scrollbar[orient="vertical"] thumb {
    min-height: 20px;
    transform-origin: right;
}

.hidehscroll-box scrollbar[orient="horizontal"] thumb {
    min-width: 20px;
    transform-origin: bottom;
}

.hidevscroll-scrollbar:hover thumb,
.hidehscroll-box scrollbar:hover thumb {
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out;
}

.hidevscroll-scrollbar thumb:active,
.hidehscroll-box scrollbar thumb:active {
    background-color: transparent;
    opacity: 0.9;
    transition: opacity 0.06s ease-in-out, transform 0.1s ease-in-out;
}

.hidevscroll-scrollbar[orient="vertical"]:not(:hover) thumb:not(:active) {
    transform: scaleX(20%);
}

.hidehscroll-box scrollbar[orient="horizontal"]:not(:hover) thumb:not(:active) {
    transform: scaleY(20%);
}

.hidevscroll-scrollbar thumb:before,
.hidehscroll-box scrollbar thumb:before {
    content: "";
    display: -moz-box;
    background-color: rgba(124, 124, 131, 1);
    -moz-box-flex: 1;
    border-radius: 5px;
}

.hidevscroll-scrollbar[orient="vertical"] thumb:before {
    margin-inline-end: 2px;
    min-width: 9px;
}

.hidehscroll-box scrollbar[orient="horizontal"] thumb:before {
    margin-block-end: 2px;
    min-height: 9px;
}

.hidevscroll-scrollbar scrollbarbutton,
.hidevscroll-scrollbar gripper,
.hidehscroll-box scrollbar scrollbarbutton,
.hidehscroll-box scrollbar gripper {
    display: none;
}

select > scrollbar,
select > scrollbar > thumb {
    appearance: initial !important;
    -moz-margin-start: 0 !important;
    margin-top: 0 !important;
}

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* browser scrollbars */
scrollbar {
    appearance: none !important;
    position: relative;
    background-color: transparent;
    background-image: none;
    z-index: 20;
    padding: 0px;
}

scrollbar[orient="vertical"] {
    -moz-margin-start: -11px;
    min-width: 11px;
    max-width: 11px;
    padding-block: 2px;
}

scrollbar[orient="horizontal"] {
    margin-top: -11px;
    min-height: 11px;
    max-height: 11px;
    padding-inline: 2px;
}

/* reduce the scrollbar edge padding on menupopup arrowscrollboxes
(not the gutter — e.g. for a vertical scrollbox, reduce the padding-block) */
scrollbox > scrollbar[orient="horizontal"],
scrollbox > scrollbar[orient="vertical"] {
    padding: 0;
}

scrollbar thumb {
    appearance: none !important;
    border-width: 0px;
    background-color: transparent;
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out;
}

scrollbar[orient="vertical"] thumb {
    min-height: 20px;
    transform-origin: right;
}

scrollbar[orient="horizontal"] thumb {
    min-width: 20px;
    transform-origin: bottom;
}

scrollbar:hover thumb {
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out;
}

scrollbar thumb:active {
    opacity: 0.9;
    transition: opacity 0.06s ease-in-out, transform 0.1s ease-in-out;
}

scrollbar[orient="horizontal"]:not(:hover) thumb:not(:active) {
    transform: scaleY(20%);
}

scrollbar[orient="vertical"]:not(:hover) thumb:not(:active) {
    transform: scaleX(20%);
}

scrollbar thumb:before {
    content: "";
    display: -moz-box;
    background-color: rgba(124, 124, 131, 1);
    -moz-box-flex: 1;
    border-radius: 5px;
}

scrollbar[orient="vertical"] thumb:before {
    margin-inline-end: 2px;
    min-width: 9px;
}

scrollbar[orient="horizontal"] thumb:before {
    margin-block-end: 2px;
    min-height: 9px;
}

scrollbar scrollbarbutton,
scrollbar gripper {
    display: none;
}

select > scrollbar,
select > scrollbar > thumb {
    appearance: initial !important;
    -moz-margin-start: 0 !important;
    margin-top: 0 !important;
}

/* tooltips */
/* I recommend using tooltipShadowSupport.uc.js if you want the thin border on all tooltips.
If you don't want the border then set userChrome.css.remove-tooltip-borders to true in about:config */
tooltip {
    -moz-default-appearance: none;
    display: -moz-popup;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: var(--tooltip-color);
    border: none;
    padding: 5px;
    pointer-events: none;
    --uc-tooltip-inner-padding: 2px 6px 4px 6px;
}

tooltip:not([position]) {
    margin-block-start: 16px;
    margin-inline-start: -5px;
}

tooltip > description {
    background-color: var(--tooltip-bgcolor);
    color: var(--tooltip-color);
    border: 1px solid var(--uc-menu-border-color);
    border-radius: var(--tooltip-border-radius);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: var(--uc-tooltip-inner-padding, 2px 6px 4px 6px);
    margin: 0;
}

@supports -moz-bool-pref("userChrome.css.remove-tooltip-borders") {
    tooltip > description {
        border: none;
    }
}

@supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
    @-moz-document url(chrome://browser/content/browser.xhtml)
    {
        tooltip {
            font-family: SF Pro Text, Segoe UI, sans-serif;
            font-kerning: normal;
            --uc-tooltip-inner-padding: 3px 6px 4px 6px;
        }
    }
}
