@import url(uc-globals.css);
/* tooltips */
tooltip[default][page] {
    -moz-default-appearance: none !important;
    display: -moz-popup;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: transparent !important;
    color: var(--tooltip-color) !important;
    border: none !important;
    padding: 5px !important;
    margin-inline-start: -5px !important;
    margin-block-start: 16px !important;
    /* font-family: FreeMono !important; */
}

tooltip[default][page] > description {
    background-color: var(--tooltip-bgcolor) !important;
    color: var(--tooltip-color) !important;
    border: none !important;
    border-radius: var(--tooltip-border-radius) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
    padding: 2px 6px 4px 6px !important;
}

/* blur filter */
#statuspanel-label {
    background-image: url("texture/noise-512x512.png") !important;
    background-color: var(--blur-bgcolor) !important;
    backdrop-filter: blur(10px);
    color: var(--statuspanel-color) !important;
    border: none !important;
    border-top-right-radius: var(--tooltip-border-radius) !important;
    /* font-family: FreeMono !important; */
    transition: opacity 70ms ease-in-out !important;
    opacity: 1;
}

/* i prefer about:config => alerts.useSystemBackend = true */
@-moz-document url("chrome://global/content/alerts/alert.xhtml")
{
    #alertBox {
        background-color: var(--alertbox-bgcolor) !important;
        background-image: url("texture/noise-512x512.png") !important;
        backdrop-filter: blur(10px) !important;
    }
}

@-moz-document url(chrome://global/content/commonDialog.xhtml),
               url("chrome://mozapps/content/handling/permissionDialog.xhtml"),
               url("chrome://mozapps/content/handling/appChooser.xhtml")
{
    #commonDialog::part(content-box) {
        padding-block: 5px;
    }
}

:is(.content-prompt-dialog, .tab-prompt-dialog) .dialogFrame {
    background-color: var(--dialog-bgcolor) !important;
    background-image: url("texture/noise-512x512.png") !important;
    backdrop-filter: blur(5px) !important;
}

.tab-prompt-dialog :is(.dialogBox, .dialogFrame) {
    border-radius: 0 0 5px 5px;
}

.content-prompt-dialog :is(.dialogBox, .dialogFrame) {
    border-radius: 5px;
}

#fullscreen-warning {
    background-image: url("texture/noise-512x512.png") !important;
    background-color: var(--blur-bgcolor) !important;
    backdrop-filter: blur(10px) !important;
}

/* bookmarks popup scroll buttons (requires bookmarksPopupShadowRoot.uc.js...
but that script isn't necessary if you put this in your regular userChrome.css:
link[href="chrome://global/skin/arrowscrollbox.css"] ~ :is(#scrollbutton-up, #scrollbutton-down) {
        visibility: collapse;
} */
.BMB-special-scrollbutton-up,
.BMB-special-scrollbutton-down {
    visibility: collapse;
}

/* firefox UI scrollbars */
.hidevscroll-scrollbar {
    -moz-appearance: none !important;
    margin-left: 4px !important;
    border: none !important;
    position: relative !important;
    background-color: transparent !important;
    padding: 0px !important;
    z-index: 2147483647 !important;
}

.hidehscroll-scrollbar {
    -moz-appearance: none !important;
    border: none !important;
    position: relative !important;
    background-color: transparent !important;
    padding: 0px !important;
    z-index: 2147483647 !important;
}

.hidevscroll-scrollbar[orient="vertical"] {
    -moz-margin-start: -11px !important;
    min-width: 11px !important;
    padding-block: 2px !important;
}

.hidehscroll-scrollbar[orient="horizontal"] {
    margin-block-start: -11px !important;
    min-height: 11px !important;
    padding-inline: 2px !important;
}

.hidevscroll-scrollbar[orient="vertical"] thumb {
    min-height: 20px !important;
    transform-origin: right !important;
}

.hidehscroll-scrollbar[orient="horizontal"] thumb {
    min-width: 20px !important;
    transform-origin: bottom !important;
}

.hidevscroll-scrollbar[orient="vertical"]:not(:hover) thumb:not(:active) {
    transform: scaleX(20%) !important;
}

.hidehscroll-scrollbar[orient="horizontal"]:not(:hover) thumb:not(:active) {
    transform: scaleY(20%) !important;
}

.hidevscroll-scrollbar thumb,
.hidehscroll-scrollbar thumb {
    -moz-appearance: none !important;
    border-width: 0px !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    opacity: 0.3 !important;
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out !important;
}

.hidevscroll-scrollbar thumb::before,
.hidehscroll-scrollbar thumb::before {
    content: "" !important;
    display: -moz-box !important;
    border-radius: 5px !important;
    background-color: rgba(124, 124, 131, 1) !important;
    -moz-box-flex: 1 !important;
}

.hidevscroll-scrollbar[orient="vertical"] thumb::before {
    margin-inline-end: 2px !important;
    min-width: 9px !important;
}

.hidehscroll-scrollbar[orient="horizontal"] thumb::before {
    margin-block-end: 2px !important;
    min-height: 9px !important;
}

.hidevscroll-scrollbar:hover thumb,
.hidehscroll-scrollbar:hover thumb {
    background-color: transparent !important;
    opacity: 0.5 !important;
    transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out !important;
}

.hidevscroll-scrollbar thumb:active,
.hidehscroll-scrollbar thumb:active {
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: opacity 0.06s ease-in-out, transform 0.1s ease-in-out !important;
}

.hidevscroll-scrollbar scrollbarbutton,
.hidevscroll-scrollbar gripper,
.hidehscroll-scrollbar scrollbarbutton,
.hidehscroll-scrollbar gripper {
    display: none !important;
}

/* browser scrollbars */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:not(select):not(hbox) > scrollbar {
    -moz-appearance: none !important;
    position: relative;
    background-color: transparent;
    background-image: none;
    z-index: 2147483647;
    padding: 0px;
}

:not(select):not(hbox) > scrollbar[orient="vertical"] {
    -moz-margin-start: -11px;
    min-width: 11px;
    max-width: 11px;
    padding-block: 2px !important;
}

:not(select):not(hbox) > scrollbar[orient="vertical"] thumb {
    min-height: 20px;
    transform-origin: right;
}

:not(select):not(hbox) > scrollbar[orient="vertical"]:not(:hover) thumb:not(:active) {
    transform: scaleX(20%);
}

:not(select):not(hbox) > scrollbar[orient="horizontal"] {
    margin-top: -11px;
    min-height: 11px;
    max-height: 11px;
    padding-inline: 2px !important;
}

:not(select):not(hbox) > scrollbar[orient="horizontal"] thumb {
    min-width: 20px;
    transform-origin: bottom;
}

:not(select):not(hbox) > scrollbar[orient="horizontal"]:not(:hover) thumb:not(:active) {
    transform: scaleY(20%);
}

:not(select):not(hbox) > scrollbar thumb {
    -moz-appearance: none !important;
    border-width: 0px !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    opacity: 0.3 !important;
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out;
}

:not(select):not(hbox) > scrollbar thumb::before {
    content: "" !important;
    display: -moz-box !important;
    border-radius: 5px !important;
    background-color: rgba(124, 124, 131, 1) !important;
    -moz-box-flex: 1 !important;
}

:not(select):not(hbox) > scrollbar[orient="vertical"] thumb::before {
    margin-inline-end: 2px !important;
    min-width: 9px !important;
}

:not(select):not(hbox) > scrollbar[orient="horizontal"] thumb::before {
    margin-block-end: 2px !important;
    min-height: 9px !important;
}

:not(select):not(hbox) > scrollbar:hover thumb {
    opacity: 0.5 !important;
    transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out;
}

:not(select):not(hbox) > scrollbar thumb:active {
    opacity: 0.9 !important;
    transition: opacity 0.06s ease-in-out, transform 0.1s ease-in-out;
}

:not(select):not(hbox) > scrollbar scrollbarbutton,
:not(select):not(hbox) > scrollbar gripper {
    display: none;
}
