/* This Source Code Form is subject to the terms of the Creative Commons
 * Attribution-NonCommercial-ShareAlike International License, v. 4.0.
 * If a copy of the CC BY-NC-SA 4.0 was not distributed with this file,
 * You can obtain one at http://creativecommons.org/licenses/by-nc-sa/4.0/ */

:root {
  --script-icon-size: 32px;
}

#categories > .category {
  cursor: default;
  text-decoration: none;
}

#scripts-header {
  display: inline;
}

#main {
  margin-block: 30px;
}

.main-heading {
  padding-top: 30px;
}

.header-button-description {
  margin-inline: 8px;
}

.script.card {
  margin-bottom: var(--card-padding);
  transition: opacity 150ms, box-shadow 150ms;
  overflow: hidden;
  border: 0;
  padding: var(--card-padding);
}

.script.card[active="false"]:not([expanded], :hover) {
  opacity: 0.6;
}

.script.card:hover {
  box-shadow: var(--card-shadow);
  cursor: pointer;
}

.script.card:not([expanded]) {
  user-select: none;
}

.script.card:not([expanded]):hover {
  box-shadow: var(--card-shadow-hover);
}

.card-expanded .script.card {
  padding-bottom: 0;
}

.script-card-collapsed {
  display: flex;
}

.script-icon {
  flex-shrink: 0;
  width: var(--script-icon-size);
  height: var(--script-icon-size);
  margin-inline-end: 16px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.card-contents {
  word-break: break-word;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.script-name-container {
  /* Subtract the top line-height so the text and icon align at the top. */
  margin-top: -3px;
  display: flex;
  align-items: center;
}

.script-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
  margin-inline-end: 8px;
}

.script-version {
  font-size: 14px;
  color: var(--in-content-deemphasized-text);
  font-weight: 400;
  white-space: nowrap;
}

.script-name-container > .spacer {
  min-width: 10px;
}

.script-description {
  font-size: 14px;
  line-height: 20px;
  color: var(--in-content-deemphasized-text);
  font-weight: 400;
}

.script.card:not([expanded]) .card-contents {
  width: 1px;
  white-space: nowrap;
}

.script.card:not([expanded]) .script-name,
.script.card .script-description {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.script.card[expanded] .card-contents {
  width: 100%;
}

.script.card[expanded] .script-description {
  white-space: nowrap;
}

.update-button {
  margin-inline: 10px;
  margin-block: 0;
}

.script-card-message {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  margin: calc(var(--card-padding) * -1);
  margin-top: var(--card-padding);
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 8px calc(var(--card-padding) * -1) calc(var(--card-padding) * -1);
  --info-icon-url: url("chrome://global/skin/icons/info-filled.svg");
  --warn-icon-url: url("chrome://global/skin/icons/warning.svg");
  --success-icon-url: url("chrome://global/skin/icons/check.svg");
  --error-icon-url: url("chrome://global/skin/icons/error.svg");
  --icon-size: 16px;
  --message-bar-background-color: var(--in-content-box-info-background);
  --message-bar-text-color: var(--in-content-text-color);
  --message-bar-icon-url: var(--info-icon-url);
}

.script-card-message[type="warning"] {
  --message-bar-background-color: hsla(48, 100%, 66%, 0.2);
  --message-bar-icon-url: var(--warn-icon-url);
}

.script-card-message[type="success"] {
  --message-bar-background-color: hsla(119, 80%, 66%, 0.2);
  --message-bar-icon-url: var(--success-icon-url);
}

.script-card-message[type="error"] {
  --message-bar-background-color: hsla(2, 100%, 66%, 0.15);
  --message-bar-icon-url: var(--error-icon-url);
}

.script-card-message[type="critical"] {
  --message-bar-background-color: hsla(0, 100%, 60%, 0.25);
  --message-bar-icon-url: var(--error-icon-url);
}

.script.card .script-card-message .message-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  flex-grow: 1;
  background: var(--message-bar-background-color);
  color: var(--message-bar-text-color);
}

.script-card-message .message-icon {
  padding: 4px;
  width: var(--icon-size);
  height: var(--icon-size);
  flex-shrink: 0;
}

.script-card-message .message-icon::after {
  appearance: none;
  -moz-context-properties: fill, stroke;
  fill: currentColor;
  stroke: currentColor;
  content: var(--message-bar-icon-url);
}

.script-card-message .message-content {
  margin-inline-start: 8px;
  display: flex;
  align-items: center;
  word-break: break-word;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: space-between;
  white-space: nowrap;
}

.script-card-message .message-content .message-text {
  white-space: break-spaces;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  text-align: start;
}

.script-card-message .message-content .update-button {
  min-width: -moz-fit-content !important;
  display: inline-block;
  flex-shrink: 0;
  margin: 0;
}

.script.card[expanded] {
  padding-bottom: 0;
}

.script.card[expanded] .script-card-message {
  border-radius: 0;
  margin-bottom: 0;
}

.script-card-expanded {
  color: var(--in-content-deemphasized-text);
}

.script-detail-description-wrapper {
  margin: 0 calc(var(--card-padding) * -1);
  padding: var(--card-padding);
  color: var(--in-content-text-color);
  cursor: default;
}

.script-detail-description-collapse .script-detail-description {
  max-height: 20rem;
  overflow: hidden;
}

.script-detail-description > * {
  margin: 0;
}

.script-detail-description code {
  background: var(--grey-60);
  border-radius: 4px;
  padding: 1px 4px;
  cursor: text;
}

button.script-detail-description-toggle {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-weight: normal;
  gap: 4px;
}

.script-detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--in-content-border-color);
  margin: 0 calc(var(--card-padding) * -1);
  padding: var(--card-padding);
  color: var(--in-content-text-color);
  cursor: default;
}

.script-detail-rows > :first-child {
  border-top: none;
}

.script-detail-row > :last-child {
  text-align: end;
}
