/* This Source Code Form is subject to the terms of the Creative Commons
 * Attribution-NonCommercial-ShareAlike International License, v. 4.0.
 * If a copy of the CC BY-NC-SA 4.0 was not distributed with this
 * file, You can obtain one at http://creativecommons.org/licenses/by-nc-sa/4.0/
 * or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA. */

@import url(chrome://userchrome/content/layout/uc-low-globals.css);

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  -moz-control-character-visibility: visible;
}

.nowrap pre {
  white-space: pre;
}

html:not([dir]) pre {
  unicode-bidi: plaintext;
}

@-moz-document unobservable-document() {
  :root {
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background-color: var(--in-content-bg-dark);
      color: var(--plaintext-color);
    }
  }
}

@media (width: 0) or (height: 0) {
  :root {
    display: none;
  }
}
