/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:host([scrolledtostart="true"])::part(overflow-start-indicator),
:host([scrolledtoend="true"])::part(overflow-end-indicator),
:host(:not([overflowing="true"])) > toolbarbutton {
  visibility: collapse;
}

toolbarbutton {
  color: inherit !important; /* override any color changes for toolbar buttons in e.g. disabled or hover states */
  list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 1;
  padding: 2px;
}

toolbarbutton[disabled="true"] {
  fill-opacity: 0.4;
}

:host([orient="horizontal"]) > toolbarbutton {
  list-style-image: url("chrome://global/skin/icons/arrow-left.svg");
}

#scrollbutton-up > .toolbarbutton-icon {
  transform: scaleY(-1);
}

:host([orient="horizontal"]) > #scrollbutton-down:-moz-locale-dir(ltr) > .toolbarbutton-icon,
:host([orient="horizontal"]) > #scrollbutton-up:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

toolbarbutton > .toolbarbutton-text {
  display: none;
}

:host(:not([clicktoscroll="true"])) > toolbarbutton {
  appearance: none;
}

/* replace scrollbuttons with scrollbars for vertical scrollboxes.
this works best with the overlay scrollbars from userChrome.ag.css */
:host([orient="vertical"]) > #scrollbutton-up,
:host([orient="vertical"]) > #scrollbutton-down,
:host([orient="vertical"])::part(overflow-end-indicator),
:host([orient="vertical"])::part(overflow-start-indicator) {
  visibility: collapse;
}

/* reveal the vertical scrollbar */
:host(.menupopup-arrowscrollbox[orient="vertical"])::part(scrollbox) {
  overflow-y: auto;
  padding-block: 0;
  margin-block: 0 !important;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
