/* simple translate extension by sienori */

@-moz-document url(moz-extension://482959ea-7a4a-4baa-900a-86fb03b08903/popup/index.html)
{
    :root {
        border-radius: 3px !important;
        background: none !important;
    }
    
    :root,
    body {
        --sub-text: var(--ui-text-60) !important;
        --highlight: var(--in-parent-link-color) !important;
    }

    body {
        background-color: var(--uc-arrowpanel-background) !important;
        color: var(--uc-arrowpanel-color) !important;
        border-radius: 3px !important;
    }

    @supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
        body {
            font-family: SF Pro Text, Segoe UI, sans-serif !important;
            font-kerning: normal !important;
        }

        .title {
            font-family: SF Pro Display, Segoe UI, sans-serif !important;
        }
    }

    button:not([disabled="true"], :disabled) {
        display: flex;
    }

    #header {
        background: none !important;
    }

    .title {
        color: var(--arrowpanel-color) !important;
    }

    textarea, select {
        background-color: var(--search-box-color) !important;
        color: var(--ui-text-100) !important;
        border: 1px solid transparent !important;
        outline: none !important;
    }

    :is(textarea, select):focus-within {
        background-color: var(--search-box-focus) !important;
        color: var(--ui-text-100) !important;
        border-color: var(--highlight) !important;
    }

    #footer .selectWrap::before {
        background: none !important;
        color: var(--uc-toolbar-color) !important;
        fill: var(--uc-toolbar-color) !important;
    }

    #footer .selectWrap:hover::before {
        border-color: white !important;
    }

    #footer .selectWrap select:is(:focus-within, :hover) {
        background-color: var(--search-box-focus) !important;
    }

    body hr {
        border-color: var(--uc-desaturate-dimmed) !important;
    }

    #resultArea {
        background-color: transparent !important;
        color: var(--uc-arrowpanel-color) !important;
    }

    .resultText,
    .candidateText,
    .mediaButtons,
    .mediaButtons * {
        background: none !important;
    }

    .copy {
        display: none !important;
    }

    a {
        color: var(--in-parent-link-color) !important;
    }

    a:is(:hover, :focus-visible) {
        color: var(--in-parent-link-color-hover) !important;
    }

    a:hover:active {
        color: var(--in-parent-link-color-active) !important;
    }

    .react-toggle .react-toggle-track {
        background-color: var(--sub-text) !important;
    }

    .react-toggle:is(:hover, :focus-within):not(.react-toggle--disabled) .react-toggle-track {
        background-color: color-mix(in srgb, black 20%, var(--sub-text)) !important;
    }

    .react-toggle--checked .react-toggle-track {
        background-color: var(--in-parent-link-color) !important;
    }

    .react-toggle--checked:is(:hover, :focus-within):not(.react-toggle--disabled) .react-toggle-track {
        background-color: var(--in-parent-link-color-hover) !important;
    }

    .react-toggle--disabled {
        cursor: not-allowed !important;
    }

    .react-toggle-thumb {
        border-color: transparent !important;
    }

    #header .rightButtons .settingsButton:is(:hover, :focus-visible) svg {
        fill: var(--highlight) !important;
        transform: rotate(90deg) !important;
    }

    #header .rightButtons .heartButton:is(:hover, :focus-visible) svg {
        fill: var(--confirm) !important;
    }
}

#simple-translate .simple-translate-button {
    background-color: rgba(48, 48, 50, 0.97) !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    fill: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.23), 0 0 2px 1px rgba(0, 0, 0, 0.02) !important;
}
