/* This Source Code Form is subject to the terms of the Creative Commons
 * Attribution-NonCommercial-ShareAlike International License, v. 4.0.
 * If a copy of the CC BY-NC-SA 4.0 was not distributed with this
 * file, You can obtain one at http://creativecommons.org/licenses/by-nc-sa/4.0/
 * or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA. */

/* this is for my custom new tab page extension,
which you can download from the extensions folder in the main directory. */

@-moz-document regexp("moz-extension://.*/newtab.html")
{
  :root[uc-extension-id="note-tab@aminomancer"] textarea::selection,
  :root[uc-extension-id="note-tab@aminomancer"] ::selection {
    color: var(--content-selection-color) !important;
    background-color: var(--content-selection-bgcolor) !important;
  }
}
