/* uBlock Origin dark theme */

@-moz-document regexp("moz-extension://8d413415-fec4-4612-9717-941c64de177b/.*")
{
    @media (prefers-color-scheme: dark) {
        :root {
            --link-ink: hsl(266.9, 95.2%, 75.7%) !important;
            --checkbox-checked-ink: hsl(266.9, 95.2%, 75.7%) !important;
            --dashboard-tab-active-ink: hsl(266.9, 95.2%, 75.7%) !important;
            --fg-icon-info-lvl-0-dimmed: hsl(0, 0%, 53.3%) !important;
            --fg-icon-info-lvl-1-dimmed: hsla(258, 57%, 35%, 1) !important;
            --fg-icon-info-lvl-1: hsla(258, 66%, 48%, 1) !important;
            --fg-icon-info-lvl-3: hsla(16, 100%, 50%, 1) !important;
            --fg-icon-info-lvl-4: hsla(0, 100%, 35%, 1) !important;
            --large-icon-info-lvl-2: hsla(41, 100%, 47%, 1) !important;
            --bg-popup-cell-allow: hsla(120, 40%, 75%, 1) !important;
            --bg-popup-cell-allow-own: hsla(120, 100%, 30%, 1) !important;
            --bg-popup-cell-noop: hsla(0, 0%, 75%, 1) !important;
            --bg-popup-cell-noop-own: hsla(0, 0%, 45%, 1) !important;
            --bg-popup-cell-block: hsla(0, 50%, 80%, 1) !important;
            --bg-popup-cell-block-own: hsla(0, 100%, 40%, 1) !important;
            --bg-popup-cell-label-mixed: hsla(45, 100%, 38%, 1) !important;
            --popup-icon-x-ink: hsl(347.1, 76.2%, 52.2%) !important;
            --default-ink: var(--light-gray-10) !important;
            --default-ink-a4: var(--light-gray-10-a4) !important;
            --default-ink-a50: var(--light-gray-30-a50) !important;
            --default-surface: var(--dark-gray-90) !important;
            --default-surface-hover: var(--dark-gray-50) !important;
            --bg-1: hsl(250, 13%, 9%) !important;
            --bg-1-border: hsl(250.9, 13.6%, 15.9%) !important;
            --bg-overlay-50: hsla(0, 0%, 0%, 0.5) !important;
            --bg-code: hsla(0, 2%, 0%, 0.8) !important;
            --fg-0-80: hsla(0, 0%, 53%, 0.8) !important;
            --fg-0-70: hsla(0, 0%, 53%, 0.7) !important;
            --fg-0-60: hsla(0, 0%, 53%, 0.6) !important;
            --fg-0-50: hsla(0, 0%, 53%, 0.5) !important;
            --fg-0-40: hsla(0, 0%, 53%, 0.4) !important;
            --fg-0-30: hsla(0, 0%, 53%, 0.3) !important;
            --fg-0-20: hsla(0, 0%, 53%, 0.2) !important;
            --link-ink: hsl(266.9, 95.2%, 75.7%) !important;
            --fieldset-header-surface: transparent !important;
            --fieldset-header-ink: var(--light-gray-30) !important;
            --hr-ink: var(--dark-gray-50) !important;
            --button-surface-hover: var(--light-gray-10-a12) !important;
            --button-disabled-filter: opacity(38%) !important;
            --button-disabled-surface: var(--dark-gray-50) !important;
            --bg-transient-notice: var(--dark-gray-50) !important;
            --dashboard-bar-shadow: 0px 0px 0px 1px var(--default-ink-a4) !important;
            --dashboard-tab-active-ink: hsl(266.9, 95.2%, 75.7%) !important;
            --dashboard-tab-surface-hover: var(--default-surface-hover) !important;
            --fg-icon-info-lvl-0-dimmed: hsl(0, 0%, 53.3%) !important;
            --fg-icon-info-lvl-0: inherit !important;
            --fg-icon-info-lvl-1-dimmed: hsl(258.2, 57.3%, 34.9%) !important;
            --fg-icon-info-lvl-1: hsl(257.9, 65.7%, 48%) !important;
            --info-lvl-2-ink: var(--yellow-50) !important;
            --info-lvl-2-ink-hover: var(--yellow-60) !important;
            --fg-icon-info-lvl-3-dimmed: hsla(16, 100%, 50%, 0.5) !important;
            --fg-icon-info-lvl-3: hsl(16, 100%, 50%) !important;
            --fg-icon-info-lvl-4-dimmed: hsla(0, 100%, 35%, 0.5) !important;
            --fg-icon-info-lvl-4: hsl(0, 100%, 35.1%) !important;
            --large-icon-info-lvl-2: hsl(41, 100%, 47.1%) !important;
            --bg-tooltip: var(--dark-gray-50) !important;
            --fg-tooltip: var(--light-gray-30) !important;
            --bg-popup-cell-1: var(--dark-gray-50) !important;
            --popup-power-disabled-ink: var(--light-gray-60) !important;
            --popup-power-ink-hover: var(--dark-gray-30) !important;
            --bg-popup-cell-2: var(--dark-gray-50) !important;
            --bg-popup-cell-label-filter: opacity(40%) !important;
            --fg-popup-cell-cname: hsla(0, 0%, 53%, 0.3) !important;
            --bg-popup-cell-allow: hsl(120, 40.2%, 75.1%) !important;
            --bg-popup-cell-allow-own: hsl(120, 100%, 30%) !important;
            --bg-popup-cell-noop: hsl(0, 0%, 74.9%) !important;
            --bg-popup-cell-noop-own: hsl(0, 0%, 45.1%) !important;
            --bg-popup-cell-block: hsl(0, 50.5%, 80.2%) !important;
            --bg-popup-cell-block-own: hsl(0, 100%, 40%) !important;
            --bg-popup-cell-label-mixed: hsl(44.8, 100%, 38%) !important;
            --popup-icon-x-ink: hsl(347.1, 76.2%, 52.2%) !important;
            --cloud-widget-surface: var(--dark-gray-70) !important;
            --cm-gutter-border: var(--dark-gray-70) !important;
            --cm-gutter-ink: var(--light-gray-40) !important;
            --cm-gutter-surface: var(--dark-gray-70) !important;
            --cm-selection-surface: var(--dark-gray-30) !important;
            --select-surface: var(--dark-gray-30) !important;
            --cm-selection-ink: var(--default-ink) !important;
            --button-surface: var(--light-gray-10-a12) !important;
            --button-ink: var(--default-ink) !important;
            --sf-keyword-ink: var(--purple-25) !important;
            --button-surface-hover: var(--dark-gray-30) !important;
            --button-active-surface: var(--light-gray-70) !important;
            --button-important-surface: var(--dark-gray-30) !important;
            --button-important-surface-hover: var(--light-gray-60) !important;
            --button-disabled-filter: opacity(68%) !important;
            --button-disabled-surface: var(--dark-gray-70) !important;
            --button-disabled-ink: var(--light-gray-30-a50) !important;
            --button-preferred-surface: var(--dark-gray-50) !important;
            --button-preferred-ink: var(--light-gray-70) !important;
            --checkbox-size: calc(var(--font-size) + 2px) !important;
            --checkbox-ink: var(--default-ink) !important;
            --checkbox-checked-ink: hsl(266.9, 95.2%, 75.7%) !important;
            --checkbox-hover-ink: hsl(266.9, 35.2%, 35.7%) !important;
        }

        :root:not([#ublock0-epicker]) body {
            background-color: hsl(250, 13%, 9%) !important;
        }

        @supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
            body {
                font-family: SF Pro Text, Segoe UI, sans-serif !important;
            }

            #hostname > span + span {
                font-weight: 500 !important;
            }
        }

        button:not(.disabled, [disabled]) {
            cursor: pointer !important;
        }

        #cloudWidget {
            background-color: hsl(246.7, 11.7%, 15.1%) !important;
        }

        #actions {
            background-color: hsl(250, 13%, 9%) !important;
        }

        .CodeMirror-cursor {
            caret-color: white !important;
            color: white !important;
            border-color: white !important;
        }

        .CodeMirror-selected {
            background: var(--dark-gray-70) !important;
        }

        .CodeMirror-focused .CodeMirror-selected {
            background: var(--dark-gray-50) !important;
        }

        a:hover {
            color: hsl(266.9, 99.2%, 85.7%) !important;
        }

        #cloudCapacity {
            background-color: var(--dark-gray-30) !important;
        }

        .CodeMirror-activeline-background {
            background: var(--dark-gray-70) !important;
        }

        .checkbox > input[type="checkbox"] + svg {
            border: 1.5px solid var(--checkbox-ink) !important;
        }

        .checkbox > input[type="checkbox"]:checked + svg {
            background-color: var(--checkbox-checked-ink);
            border-color: var(--checkbox-checked-ink) !important;
            stroke: var(--default-surface);
        }

        .checkbox > input[type="checkbox"]:not(:checked):hover + svg {
            border-color: var(--checkbox-checked-ink) !important;
            background-color: var(--checkbox-hover-ink) !important;
            stroke: transparent !important;
        }

        select {
            appearance: none !important;
            background-color: var(--dark-gray-30) !important;
            color: var(--default-ink) !important;
            border: none !important;
            border-radius: 3px !important;
            padding-block: 3px !important;
            padding-inline: 3px !important;
        }

        select > option {
            appearance: none !important;
            background-color: var(--dark-gray-30) !important;
            color: var(--default-ink) !important;
            border: none !important;
        }

        input[type="number"],
        input[type="search"] {
            appearance: none !important;
            background-color: var(--dark-gray-30) !important;
            color: var(--default-ink) !important;
            border: none !important;
            border-radius: 3px !important;
            padding-block: 3px !important;
            padding-inline: 3px !important;
        }

        .cm-search-widget .fa-icon:not(.fa-icon-ro):hover {
            fill: white !important;
        }

        .cm-search-widget .cm-search-widget-button:hover {
            color: white !important;
        }

        #diff,
        #advancedSettings {
            border-color: var(--cm-gutter-border) !important;
        }
    }
}
