/* This Source Code Form is subject to the terms of the Creative Commons
 * Attribution-NonCommercial-ShareAlike International License, v. 4.0.
 * If a copy of the CC BY-NC-SA 4.0 was not distributed with this
 * file, You can obtain one at http://creativecommons.org/licenses/by-nc-sa/4.0/
 * or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA. */

/* nord VPN extension */

@-moz-document regexp("^moz-extension://.*/.*")
{
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] {
    --UNIT-BASE-VALUE: 16px;
    --UNIT-DOUBLE: 2rem;
    --UNIT: 1rem;
    --UNIT-HALF: 0.5rem;
    --UNIT-QUATER: 0.25rem;
    --UNIT-HAIR: 0.125rem;
    --COLOR-BASE: var(--in-content-page-color) !important;
    --COLOR-BASE-STRONG: var(--ui-text-100) !important;
    --COLOR-BASE-INVERTED: var(--in-content-bg-darker) !important;
    --COLOR-ERROR: hsl(352.5, 96%, 68.7%) !important;
    --COLOR-WARNING: hsl(24.8, 100%, 62.9%) !important;
    --COLOR-MUTED: var(--ui-text-50) !important;
    --COLOR-SUCCESS: hsl(138.7, 86%, 54.9%) !important;
    --COLOR-LOGO: var(--purple-30) !important;
    --COLOR-ACTION-BUTTONS: hsl(218.9, 100%, 63.7%);
    --FONT-CAPTION: calc(var(--UNIT) * 0.75);
    --FONT-CAPTION-HEIGHT: --UNIT;
    --FONT-PRIMARY: calc(var(--UNIT) * 0.875);
    --FONT-PRIMARY-HEIGHT: calc(var(--UNIT) * 1.25);
    --FONT-SUBTITLE: --UNIT;
    --FONT-SUBTITLE-HEIGHT: calc(var(--UNIT) * 1.5);
    --FONT-TITLE: calc(var(--UNIT) * 1.5);
    --FONT-TITLE-HEIGHT: calc(var(--UNIT) * 1.75);
    --BACKGROUND-APP: var(--in-content-bg-darker) !important;
    --BACKGROUND-CONTENT: var(--in-content-bg-dark) !important;
    --BACKGROUND-ELEMENT-HOVER: var(--in-content-button-background-hover) !important;
    --Z-BACK: 0;
    --Z-NORMAL: 1;
    --Z-TOOLTIP: 10;
    --Z-FRONT: 100;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .bg-white.Container {
    background-color: transparent !important;
  }

  @supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
    :root[uc-extension-id="nordvpnproxy@nordvpn.com"] {
      --FONT-FAMILY-APP: SF Pro Text !important;
    }

    :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .connect-section-details-header h5 {
      font-weight: var(--uc-font-weight-bold, 700) !important;
    }
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .locations-link {
    display: flex !important;
    align-items: center !important;
    flex-flow: row nowrap !important;
    gap: 6px;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] :not(.nord-button) > svg:not(.svg-no-color) *:is([fill], [stroke]) {
    filter: invert(1) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .locations-link-text > svg {
    display: none !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .locations-link::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url(chrome://userchrome/content/search-glass.svg) center/contain no-repeat;
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .tooltip-base {
    left: 0;
    padding: calc(var(--UNIT) * 0.375);
    background: var(--BACKGROUND-CONTENT);
    border: 1px solid var(--in-content-box-border-color) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Container {
    min-height: auto !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Container__wrapper {
    min-height: 350px !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .c-bw-12,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .CountryItem .Text {
    color: var(--ui-text-80) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .text-grey-darkest {
    color: var(--ui-text-90) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .text-black {
    color: var(--ui-text-100) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .TopBar .py-5 > .nord-image {
    stroke: var(--in-content-primary-button-background-hover);
    fill: var(--in-content-page-color);
    background-image: url(chrome://userchrome/content/in-content/nordvpn-logo.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 31px;
    -moz-context-properties: fill, stroke;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .c-bw-14 * {
    fill: var(--ui-text-60) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    .TopBar
    .Link:hover
    .SVG--inline:not(.SVG--no-hover)
    * {
    fill: var(--in-content-primary-button-background-hover) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Button--small {
    min-height: 32px !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Button--blue,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .nord-button--v-contained.nord-button--c-blue {
    background-color: var(--in-content-primary-button-background) !important;
    border-color: transparent !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Button--blue:hover,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    .nord-button--v-contained.nord-button--c-blue:is(:hover, :focus-visible):not([disabled]) {
    background-color: var(--in-content-primary-button-background-active) !important;
    border-color: transparent !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] :is(.Link--alt, .text-blue) {
    color: var(--purple-35) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Link--alt.Link--active,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] :is(.Link--alt, .text-blue):hover {
    color: color-mix(in srgb, var(--attention-color) 50%, var(--purple-30)) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .c-blu-6,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .c-blu-6 * {
    color: var(--purple-35) !important;
    fill: var(--purple-35) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    .Link--alt:is(:active, :focus, :hover)
    .SVG--inline:not(.SVG--no-hover)
    * {
    fill: color-mix(in srgb, var(--attention-color) 50%, var(--purple-30)) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Link--dark:is(.Link--active, :hover) {
    color: var(--in-content-page-color) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .country-item:hover {
    background-color: var(--in-content-button-background-hover) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] hr {
    background: none !important;
    border-bottom: 1px solid var(--in-content-button-background) !important;
    height: 0 !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Toggle__track {
    background-color: var(--in-content-button-background-hover) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    .Toggle:hover:not(.Toggle--disabled)
    .Toggle__track {
    background-color: var(--in-content-button-background-active) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Toggle__thumb {
    background-color: var(--ui-text-80) !important;
    border-color: transparent !important;
    background-clip: content-box !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    .Toggle:hover:not(.Toggle--disabled)
    .Toggle__thumb {
    background-color: var(--ui-text-100) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Toggle--checked .Toggle__track {
    background-color: var(--in-content-primary-button-background) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    .Toggle--checked:hover:not(.Toggle--disabled)
    .Toggle__track {
    background-color: var(--in-content-primary-button-background-hover) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Toggle--checked .Toggle__thumb {
    background-color: var(--ui-text-100) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .Button--destructive.Button--outline,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .nord-button.text-red {
    border-color: transparent !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    .Button--destructive.Button--outline:not(:hover) {
    background-color: var(--in-content-button-background) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .nord-button.text-red:not(:hover) {
    background-color: var(--in-content-button-background) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .nord-button.text-red:hover {
    background-color: var(--in-content-button-background-hover) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .form-control,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .nord-input {
    background-color: var(--in-content-box-background) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .TextField__element,
  :root[uc-extension-id="nordvpnproxy@nordvpn.com"] .nord-input {
    border-color: var(--in-content-box-border-color) !important;
  }

  :root[uc-extension-id="nordvpnproxy@nordvpn.com"]
    :is(.form-control, .TextField__element, .nord-input):focus {
    border-color: var(--purple-40) !important;
  }
}
