/* This Source Code Form is subject to the terms of the Creative Commons
* Attribution-NonCommercial-ShareAlike International License, v. 4.0.
* If a copy of the CC BY-NC-SA 4.0 was not distributed with this
* file, You can obtain one at http://creativecommons.org/licenses/by-nc-sa/4.0/
* or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA. */

/* nord VPN extension */

@-moz-document url-prefix("moz-extension://54896d1f-a658-4fd5-ab86-4ad739b06f69")
{
    @supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
        body {
            font-family: SF Pro Text, Segoe UI, sans-serif !important;
        }

        .fwm {
            font-family: SF Pro Display, Segoe UI, sans-serif !important;
        }
    }

    body,
    .Container {
        background-color: var(--in-content-page-background) !important;
        color: var(--in-content-page-color) !important;
    }

    .Container {
        min-height: auto !important;
    }

    .Container__wrapper {
        min-height: 350px !important;
    }

    .c-bw-12,
    .CountryItem .Text {
        color: var(--ui-text-80) !important;
    }

    .text-grey-darkest {
        color: var(--ui-text-90) !important;
    }

    .text-black {
        color: var(--ui-text-100) !important;
    }

    .TopBar .py-5 > .nord-image {
        stroke: var(--in-content-primary-button-background-hover);
        fill: var(--in-content-page-color);
        background-image: url(chrome://userchrome/content/in-content/nordvpn-logo.svg) !important;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 31px;
        -moz-context-properties: fill, stroke;
    }

    .c-bw-14 * {
        fill: var(--ui-text-60) !important;
    }

    .TopBar .Link:hover .SVG--inline:not(.SVG--no-hover) * {
        fill: var(--in-content-primary-button-background-hover) !important;
    }

    .Button--small {
        min-height: 32px !important;
    }

    .Button--blue,
    .nord-button--v-contained.nord-button--c-blue {
        background-color: var(--in-content-primary-button-background) !important;
        border-color: transparent !important;
    }

    .Button--blue:hover,
    .nord-button--v-contained.nord-button--c-blue:is(:hover, :focus-visible):not([disabled]) {
        background-color: var(--in-content-primary-button-background-active) !important;
        border-color: transparent !important;
    }

    .Link--alt,
    .text-blue {
        color: var(--purple-35) !important;
    }

    .Link--alt.Link--active,
    .Link--alt:hover,
    .text-blue:hover {
        color: color-mix(in srgb, var(--attention-color) 50%, var(--purple-30)) !important;
    }

    .c-blu-6,
    .c-blu-6 * {
        color: var(--purple-35) !important;
        fill: var(--purple-35) !important;
    }

    .Link--alt:is(:active, :focus, :hover) .SVG--inline:not(.SVG--no-hover) * {
        fill: color-mix(in srgb, var(--attention-color) 50%, var(--purple-30)) !important;
    }

    .Link--dark.Link--active,
    .Link--dark:hover {
        color: var(--in-content-page-color) !important;
    }

    .CountryItem--active,
    .CountryItem:hover {
        background: var(--in-content-button-background) !important;
    }

    hr {
        background: none !important;
        border-bottom: 1px solid var(--in-content-button-background) !important;
        height: 0 !important;
    }

    .Toggle__track {
        background-color: var(--in-content-button-background-hover) !important;
    }

    .Toggle:hover:not(.Toggle--disabled) .Toggle__track {
        background-color: var(--in-content-button-background-active) !important;
    }

    .Toggle__thumb {
        background-color: var(--ui-text-80) !important;
        border-color: transparent !important;
        background-clip: content-box !important;
    }

    .Toggle:hover:not(.Toggle--disabled) .Toggle__thumb {
        background-color: var(--ui-text-100) !important;
    }

    .Toggle--checked .Toggle__track {
        background-color: var(--in-content-primary-button-background) !important;
    }

    .Toggle--checked:hover:not(.Toggle--disabled) .Toggle__track {
        background-color: var(--in-content-primary-button-background-hover) !important;
    }

    .Toggle--checked .Toggle__thumb {
        background-color: var(--ui-text-100) !important;
    }

    .Button--destructive.Button--outline,
    .nord-button.text-red {
        border-color: transparent !important;
    }

    .Button--destructive.Button--outline:not(:hover) {
        background-color: var(--in-content-button-background) !important;
    }

    .nord-button.text-red:not(:hover) {
        background-color: var(--in-content-button-background) !important;
    }

    .nord-button.text-red:hover {
        background-color: var(--in-content-button-background-hover) !important;
    }

    .form-control,
    .nord-input {
        background-color: var(--in-content-box-background) !important;
    }

    .TextField__element,
    .nord-input {
        border-color: var(--in-content-box-border-color) !important;
    }

    .form-control:focus,
    .TextField__element:focus,
    .nord-input:focus {
        border-color: var(--purple-40) !important;
    }
}
