/* This Source Code Form is subject to the terms of the Creative Commons
 * Attribution-NonCommercial-ShareAlike International License, v. 4.0.
 * If a copy of the CC BY-NC-SA 4.0 was not distributed with this
 * file, You can obtain one at http://creativecommons.org/licenses/by-nc-sa/4.0/
 * or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA. */

/* CSS fixes for github dark: https://github.com/StylishThemes/GitHub-Dark
which requires Stylus. don't use this stylesheet if you don't have that theme, it'll just make things ugly. */

@-moz-document domain("github.com"), domain("gist.github.com"), domain("github.community") {
  .rgh-monospace-textareas #merge_title_field,
  .rgh-monospace-textareas #commit-summary-input,
  .rgh-monospace-textareas textarea {
    font-family: Fira Code UC, Fira Code, SF Mono, ui-monospace, SFMono-Regular, SF Mono, Menlo,
      Consolas, Liberation Mono, monospace !important;
/*     font-weight: 300 !important; */
    font-size: 14px !important;
  }

  .previewable-comment-form textarea {
    min-height: 350px !important;
  }

  tt, code, samp,
  .input-monospace {
    font-family: Fira Code UC, Fira Code, SF Mono, ui-monospace, SFMono-Regular, SF Mono, Menlo,
      Consolas, Liberation Mono, monospace !important;
/*     font-weight: 300 !important; */
  }

  .blob-code-inner,
  .markdown-body pre > code,
  .markdown-body .highlight > pre {
/*     white-space: pre-wrap !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    display: block !important; */
    font-family: Fira Code UC, Fira Code, SF Mono, ui-monospace, SFMono-Regular, SF Mono, Menlo,
      Consolas, Liberation Mono, monospace !important;
/*     font-weight: 300 !important; */
    font-size: 14px !important;
  }

/*   td.blob-code-inner {
    display: table-cell !important;
  } */

  a.btn[href*="github1s.com"] {
    color: transparent !important;
    width: min-content !important;
    font-size: 0 !important;
  }

  a.btn[href*="github1s.com"]::after {
    color: var(--color-btn-primary-text) !important;
    content: "Github1s" !important;
    display: inline-block !important;
    position: relative !important;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
  }

  .container-xl {
    max-width: 75% !important;
  }

  virtual-list#tree-finder-results {
    overflow-y: auto !important;
  }
}

/* fix a bug on github1s.com */
@-moz-document domain("github1s.com") {
  body {
    background-color: hsl(0, 0%, 11.8%);
  }

  .lds-roller div::after {
    background: hsla(0, 0%, 100%, 0.9) !important;
  }
}

.gitzip-check-mark {
  color: white !important;
}
