@-moz-document domain("youtube.com") {
    #movie_player .ytp-ce-element {
        display: none !important;
    }

    .ytp-probably-keyboard-focus :is(.ytp-button, .ytp-progress-bar):focus {
        box-shadow: unset !important;
    }

    .focused-line.paper-input-container {
        border-color: hsl(0, 0%, 74.3%) !important;
    }

    .ytp-chapter-container {
        max-width: -moz-fit-content;
    }
}
